USE [dwh_test]
GO
ALTER TABLE [survey_views].[etl_extract_types] DROP CONSTRAINT [DF_etl_extract_configurations_extract_format]
GO
ALTER TABLE [survey_views].[etl_extract_types] DROP CONSTRAINT [DF_etl_extract_configurations_include_at_risk]
GO
ALTER TABLE [survey_views].[etl_extract_types] DROP CONSTRAINT [DF_etl_extract_configurations_include_tribal]
GO
ALTER TABLE [survey_views].[etl_extract_types] DROP CONSTRAINT [DF_etl_extract_configurations_field_hashing]
GO
/****** Object:  Index [IX_etl_extract_configurations]    Script Date: 11/22/2017 2:55:46 PM ******/
DROP INDEX [IX_etl_extract_configurations] ON [survey_views].[etl_extract_types]
GO
/****** Object:  Table [survey_views].[pseudo_security]    Script Date: 11/22/2017 2:55:46 PM ******/
DROP TABLE [survey_views].[pseudo_security]
GO
/****** Object:  Table [survey_views].[ExportProfile]    Script Date: 11/22/2017 2:55:46 PM ******/
DROP TABLE [survey_views].[ExportProfile]
GO
/****** Object:  Table [survey_views].[ExportEntities]    Script Date: 11/22/2017 2:55:46 PM ******/
DROP TABLE [survey_views].[ExportEntities]
GO
/****** Object:  Table [survey_views].[etl_extract_types]    Script Date: 11/22/2017 2:55:46 PM ******/
DROP TABLE [survey_views].[etl_extract_types]
GO
/****** Object:  Table [survey_views].[etl_extract_types]    Script Date: 11/22/2017 2:55:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [survey_views].[etl_extract_types](
	[export_type_id] [int] NOT NULL,
	[export_profile_code] [char](1) NOT NULL,
	[extract_procedure] [varchar](500) NOT NULL,
	[extract_file_name] [varchar](100) NOT NULL,
	[field_hashing] [bit] NOT NULL,
	[include_tribal] [bit] NOT NULL,
	[include_at_risk] [bit] NOT NULL,
	[extract_format] [char](3) NOT NULL,
 CONSTRAINT [PK_etl_extract_types] PRIMARY KEY CLUSTERED 
(
	[export_profile_code] ASC,
	[export_type_id] ASC,
	[extract_procedure] ASC,
	[extract_file_name] ASC,
	[field_hashing] ASC,
	[include_tribal] ASC,
	[include_at_risk] ASC,
	[extract_format] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [survey_views].[ExportEntities]    Script Date: 11/22/2017 2:55:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [survey_views].[ExportEntities](
	[ExportProfileID] [int] NOT NULL,
	[ExportEntitiesID] [bigint] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NULL,
	[AgencyName] [nvarchar](200) NULL,
	[State] [varchar](2) NULL,
	[ExcludeTribal] [int] NULL,
	[ExportDisabled] [bit] NULL,
 CONSTRAINT [PK_ExportEntities] PRIMARY KEY CLUSTERED 
(
	[ExportEntitiesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [survey_views].[ExportProfile]    Script Date: 11/22/2017 2:55:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [survey_views].[ExportProfile](
	[ExportProfileID] [int] IDENTITY(1,1) NOT NULL,
	[ProfileName] [nvarchar](200) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[ExportTypeID] [int] NULL,
	[EntityID] [bigint] NULL,
	[Active] [bit] NULL,
	[Web3FTPPath] [nvarchar](200) NULL,
	[Web3FTPFolder] [nvarchar](100) NULL,
	[IsSingleSite] [bit] NULL,
	[ExportDT] [datetime] NULL,
	[PublicKey] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [survey_views].[pseudo_security]    Script Date: 11/22/2017 2:55:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [survey_views].[pseudo_security](
	[pseudonym] [varchar](150) NULL,
	[policy_codifier] [char](10) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [survey_views].[ExportEntities] ON 

INSERT [survey_views].[ExportEntities] ([ExportProfileID], [ExportEntitiesID], [SiteID], [AgencyName], [State], [ExcludeTribal], [ExportDisabled]) VALUES (1, 2, 288, N'ADH Nurse-Family Partnership', N'AR', 0, 0)
INSERT [survey_views].[ExportEntities] ([ExportProfileID], [ExportEntitiesID], [SiteID], [AgencyName], [State], [ExcludeTribal], [ExportDisabled]) VALUES (3, 3, 170, N'Care Ring NFP', N'NC', 0, 0)
INSERT [survey_views].[ExportEntities] ([ExportProfileID], [ExportEntitiesID], [SiteID], [AgencyName], [State], [ExcludeTribal], [ExportDisabled]) VALUES (4, 4, 289, N'Goodwill Indy NFP', N'IN', 0, 0)
GO
SET IDENTITY_INSERT [survey_views].[ExportEntities] OFF
SET IDENTITY_INSERT [survey_views].[ExportProfile] ON 

INSERT [survey_views].[ExportProfile] ([ExportProfileID], [ProfileName], [StartDate], [EndDate], [ExportTypeID], [EntityID], [Active], [Web3FTPPath], [Web3FTPFolder], [IsSingleSite], [ExportDT], [PublicKey]) VALUES (2, N'Arkansas DOH', CAST(N'2012-10-17' AS Date), NULL, 0, NULL, 1, N'\\web3\UserFolders', N'AR_DOH', 0, CAST(N'2017-11-08T01:00:57.897' AS DateTime), NULL)
INSERT [survey_views].[ExportProfile] ([ExportProfileID], [ProfileName], [StartDate], [EndDate], [ExportTypeID], [EntityID], [Active], [Web3FTPPath], [Web3FTPFolder], [IsSingleSite], [ExportDT], [PublicKey]) VALUES (3, N'Brighter Futures NFP', CAST(N'2011-06-29' AS Date), NULL, 0, NULL, 1, N'\\web3\UserFolders', N'daytonoh', 0, CAST(N'2016-03-08T12:15:34.877' AS DateTime), NULL)
INSERT [survey_views].[ExportProfile] ([ExportProfileID], [ProfileName], [StartDate], [EndDate], [ExportTypeID], [EntityID], [Active], [Web3FTPPath], [Web3FTPFolder], [IsSingleSite], [ExportDT], [PublicKey]) VALUES (4, N'Care Ring NFP', CAST(N'2011-12-14' AS Date), NULL, 0, NULL, 1, N'\\web3\UserFolders', N'Care_Ring', 0, CAST(N'2017-11-08T01:21:30.870' AS DateTime), NULL)
SET IDENTITY_INSERT [survey_views].[ExportProfile] OFF
INSERT [survey_views].[pseudo_security] ([pseudonym], [policy_codifier]) VALUES (N'Address1', N'DUA       ')
INSERT [survey_views].[pseudo_security] ([pseudonym], [policy_codifier]) VALUES (N'Address2', N'DUA       ')
INSERT [survey_views].[pseudo_security] ([pseudonym], [policy_codifier]) VALUES (N'CaseNumber', N'DUA       ')
GO
/****** Object:  Index [IX_etl_extract_configurations]    Script Date: 11/22/2017 2:55:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_etl_extract_configurations] ON [survey_views].[etl_extract_types]
(
	[export_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [survey_views].[etl_extract_types] ADD  CONSTRAINT [DF_etl_extract_configurations_field_hashing]  DEFAULT ((1)) FOR [field_hashing]
GO
ALTER TABLE [survey_views].[etl_extract_types] ADD  CONSTRAINT [DF_etl_extract_configurations_include_tribal]  DEFAULT ((0)) FOR [include_tribal]
GO
ALTER TABLE [survey_views].[etl_extract_types] ADD  CONSTRAINT [DF_etl_extract_configurations_include_at_risk]  DEFAULT ((0)) FOR [include_at_risk]
GO
ALTER TABLE [survey_views].[etl_extract_types] ADD  CONSTRAINT [DF_etl_extract_configurations_extract_format]  DEFAULT ('BCP') FOR [extract_format]
GO
