USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[SSISMCV_Star]    Script Date: 11/16/2017 10:44:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Michael Osborn
-- Create date: 2/15/2015
-- Description:	Extract of MICHVEI data where the SiteID from the Survey is the
--				same as ExportEntities SiteID and ExportProfileID is the same as the passed ProfileID
-- *********************************************
-- Modified by: Jingjing
-- Modified Date: 11/29/2016
-- Decription: Change it from "select ClientID from dbo.ExportExcludeClients" to "select ISNULL(ClientID,'') from dbo.ExportExcludeClients" 
--			   since the ClientID could be NULL which will affect the data extract pulling data from data warehouse and result in blank files in some 
--             recipients folders.
-- =============================================
CREATE PROCEDURE [dbo].[SSISMCV_Star]
	-- Add the parameters for the stored procedure here
	@ProfileID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
--DECLARE @ProfileID AS INT
--SET @ProfileID = 27


	SELECT [SurveyResponseID]
		  ,[ElementsProcessed]
		  ,[SurveyID]
		  ,[Master_SurveyID]
		  ,[SurveyDate]
		  ,[AuditDate]
		  ,[CL_EN_GEN_ID]
		  ,[SiteID]
		  ,[ProgramID]
		  ,[IA_StaffID]
		  ,[ClientID]
		  ,[RespondentID]
		  ,[DW_AuditDate]
		  ,[DataSource]
		  ,[CLIENT_GLOBAL_FACTORS]
		  ,[CLIENT_CAREGIVING_FRIENDS_FAM]
		  ,[CLIENT_CAREGIVING_RISK_LEVEL]
		  ,[CLIENT_CAREGIVING_SERVICES_GOALS]
		  ,[CLIENT_CAREGIVING_STAGE_CHANGE]
		  ,[CLIENT_CAREGIVING_UNDERSTANDS_RISK]
		  ,[CLIENT_CHLD_CARE_FRIENDS_FAM]
		  ,[CLIENT_CHLD_CARE_RISK_LEVEL]
		  ,[CLIENT_CHLD_CARE_SERVICES_GOALS]
		  ,[CLIENT_CHLD_CARE_STAGE_CHANGE]
		  ,[CLIENT_CHLD_CARE_UNDERSTANDS_RISK]
		  ,[CLIENT_CHLD_HEALTH_FRIENDS_FAM]
		  ,[CLIENT_CHLD_HEALTH_RISK_LEVEL]
		  ,[CLIENT_CHLD_HEALTH_SERVICES_GOALS]
		  ,[CLIENT_CHLD_HEALTH_STAGE_CHANGE]
		  ,[CLIENT_CHLD_HEALTH_UNDERSTANDS_RISK]
		  ,[CLIENT_CHLD_WELL_FRIENDS_FAM]
		  ,[CLIENT_CHLD_WELL_RISK_LEVEL]
		  ,[CLIENT_CHLD_WELL_SERVICES_GOALS]
		  ,[CLIENT_CHLD_WELL_STAGE_CHANGE]
		  ,[CLIENT_CHLD_WELL_UNDERSTANDS_RISK]
		  ,[CLIENT_COMM_SVCS_FRIENDS_FAM]
		  ,[CLIENT_COMM_SVCS_RISK_LEVEL]
		  ,[CLIENT_COMM_SVCS_SERVICES_GOALS]
		  ,[CLIENT_COMM_SVCS_STAGE_CHANGE]
		  ,[CLIENT_COMM_SVCS_UNDERSTANDS_RISK]
		  ,[CLIENT_COMPLICATION_ILL_FRIENDS_FAM]
		  ,[CLIENT_COMPLICATION_ILL_RISK_LEVEL]
		  ,[CLIENT_COMPLICATION_ILL_SERVICES_GOALS]
		  ,[CLIENT_COMPLICATION_ILL_STAGE_CHANGE]
		  ,[CLIENT_COMPLICATION_ILL_UNDERSTANDS_RISK]
		  ,[CLIENT_CRIMINAL_FRIENDS_FAM]
		  ,[CLIENT_CRIMINAL_RISK_LEVEL]
		  ,[CLIENT_CRIMINAL_SERVICES_GOALS]
		  ,[CLIENT_CRIMINAL_STAGE_CHANGE]
		  ,[CLIENT_CRIMINAL_UNDERSTANDS_RISK]
		  ,[CLIENT_DISABILITY_FRIENDS_FAM]
		  ,[CLIENT_DISABILITY_RISK_LEVEL]
		  ,[CLIENT_DISABILITY_SERVICES_GOALS]
		  ,[CLIENT_DISABILITY_STAGE_CHANGE]
		  ,[CLIENT_DISABILITY_UNDERSTANDS_RISK]
		  ,[CLIENT_ECONOMIC_FRIENDS_FAM]
		  ,[CLIENT_ECONOMIC_RISK_LEVEL]
		  ,[CLIENT_ECONOMIC_SERVICES_GOALS]
		  ,[CLIENT_ECONOMIC_STAGE_CHANGE]
		  ,[CLIENT_ECONOMIC_UNDERSTANDS_RISK]
		  ,[CLIENT_EDUC_FRIENDS_FAM]
		  ,[CLIENT_EDUC_RISK_LEVEL]
		  ,[CLIENT_EDUC_SERVICES_GOALS]
		  ,[CLIENT_EDUC_STAGE_CHANGE]
		  ,[CLIENT_EDUC_UNDERSTANDS_RISK]
		  ,[CLIENT_ENGLIT_FRIENDS_FAM]
		  ,[CLIENT_ENGLIT_RISK_LEVEL]
		  ,[CLIENT_ENGLIT_SERVICES_GOALS]
		  ,[CLIENT_ENGLIT_STAGE_CHANGE]
		  ,[CLIENT_ENGLIT_UNDERSTANDS_RISK]
		  ,[CLIENT_ENVIRO_HEALTH_FRIENDS_FAM]
		  ,[CLIENT_ENVIRO_HEALTH_RISK_LEVEL]
		  ,[CLIENT_ENVIRO_HEALTH_SERVICES_GOALS]
		  ,[CLIENT_ENVIRO_HEALTH_STAGE_CHANGE]
		  ,[CLIENT_ENVIRO_HEALTH_UNDERSTANDS_RISK]
		  ,[CLIENT_HLTH_SVCS_FRIENDS_FAM]
		  ,[CLIENT_HLTH_SVCS_RISK_LEVEL]
		  ,[CLIENT_HLTH_SVCS_SERVICES_GOALS]
		  ,[CLIENT_HLTH_SVCS_STAGE_CHANGE]
		  ,[CLIENT_HLTH_SVCS_UNDERSTANDS_RISK]
		  ,[CLIENT_HOME_SAFETY_FRIENDS_FAM]
		  ,[CLIENT_HOME_SAFETY_RISK_LEVEL]
		  ,[CLIENT_HOME_SAFETY_SERVICES_GOALS]
		  ,[CLIENT_HOME_SAFETY_STAGE_CHANGE]
		  ,[CLIENT_HOME_SAFETY_UNDERSTANDS_RISK]
		  ,[CLIENT_HOMELESS_FRIENDS_FAM]
		  ,[CLIENT_HOMELESS_RISK_LEVEL]
		  ,[CLIENT_HOMELESS_SERVICES_GOALS]
		  ,[CLIENT_HOMELESS_STAGE_CHANGE]
		  ,[CLIENT_HOMELESS_UNDERSTANDS_RISK]
		  ,[CLIENT_IPV_FRIENDS_FAM]
		  ,[CLIENT_IPV_RISK_LEVEL]
		  ,[CLIENT_IPV_SERVICES_GOALS]
		  ,[CLIENT_IPV_STAGE_CHANGE]
		  ,[CLIENT_IPV_UNDERSTANDS_RISK]
		  ,[CLIENT_LONELY_FRIENDS_FAM]
		  ,[CLIENT_LONELY_RISK_LEVEL]
		  ,[CLIENT_LONELY_SERVICES_GOALS]
		  ,[CLIENT_LONELY_STAGE_CHANGE]
		  ,[CLIENT_LONELY_UNDERSTANDS_RISK]
		  ,[CLIENT_MENTAL_HEALTH_FRIENDS_FAM]
		  ,[CLIENT_MENTAL_HEALTH_RISK_LEVEL]
		  ,[CLIENT_MENTAL_HEALTH_SERVICES_GOALS]
		  ,[CLIENT_MENTAL_HEALTH_STAGE_CHANGE]
		  ,[CLIENT_MENTAL_HEALTH_UNDERSTANDS_RISK]
		  ,[CLIENT_PREGPLAN_FRIENDS_FAM]
		  ,[CLIENT_PREGPLAN_RISK_LEVEL]
		  ,[CLIENT_PREGPLAN_SERVICES_GOALS]
		  ,[CLIENT_PREGPLAN_STAGE_CHANGE]
		  ,[CLIENT_PREGPLAN_UNDERSTANDS_RISK]
		  ,[CLIENT_SUBSTANCE_FRIENDS_FAM]
		  ,[CLIENT_SUBSTANCE_RISK_LEVEL]
		  ,[CLIENT_SUBSTANCE_SERVICES_GOALS]
		  ,[CLIENT_SUBSTANCE_STAGE_CHANGE]
		  ,[CLIENT_SUBSTANCE_UNDERSTANDS_RISK]
		  ,[CLIENT_UNSAFE_NTWK_FRIENDS_FAM]
		  ,[CLIENT_UNSAFE_NTWK_RISK_LEVEL]
		  ,[CLIENT_UNSAFE_NTWK_SERVICES_GOALS]
		  ,[CLIENT_UNSAFE_NTWK_STAGE_CHANGE]
		  ,[CLIENT_UNSAFE_NTWK_UNDERSTANDS_RISK]
		  ,[CLIENT_PERSONAL_0_NAME_FIRST]
		  ,[CLIENT_PERSONAL_0_NAME_LAST]
		  ,[CLIENT_0_ID_NSO]
		  ,[CLIENT_0_ID_AGENCY]
		  ,[CLIENT_PERSONAL_0_DOB_INTAKE]
		  ,[NURSE_PERSONAL_0_NAME]
	  FROM [DataWarehouse].[dbo].[Star_Survey] s
	WHERE CL_EN_GEN_ID in (select CL_EN_GEN_ID from View_MIECHVP_Cleints 
						   where siteid in(SELECT SiteID FROM [DataWarehouse].dbo.ExportEntities WHERE ExportProfileID = @ProfileID AND ISNULL(ExportDisabled,0) != 1))
	AND ProgramID not in (select ProgramID from dbo.Export_Program_Exclusions where ExportProfileID = @ProfileID)
	AND CL_EN_GEN_ID NOT IN (select ISNULL(ClientID,'') from dbo.ExportExcludeClients where SiteID = s.SiteID)
  
END


GO
