USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[usp_COMIECV_CLID]    Script Date: 11/16/2017 10:44:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_COMIECV_CLID]
AS



--IF OBJECT_ID('dbo.UC_COMIECV_CLID', 'U') IS NOT NULL 

TRUNCATE TABLE dbo.UC_COMIECV_CLID;


INSERT INTO dbo.UC_COMIECV_CLID


SELECT 

	EAD.CLID
	,EAD.ProgramID
	,PAS.SiteID
	,CASE WHEN CFS.CLIENT_FUNDING_0_SOURCE_MIECHVP_COM IS NOT NULL THEN 'Competitive'
		WHEN CFS.CLIENT_FUNDING_0_SOURCE_MIECHVP_FORM IS NOT NULL THEN 'Formula' END FundingSource
	,MAX(CLIENT_FUNDING_1_START_MIECHVP_COM) CompetitiveStartDate
	,MAX(CLIENT_FUNDING_1_START_MIECHVP_FORM) FormulaStartDate
	,MAX(CLIENT_FUNDING_1_End_MIECHVP_COM) CompetitiveEndDate
	,MAX(CLIENT_FUNDING_1_End_MIECHVP_FORM) FormulaEndDate
	,MAX(EAD.ProgramStartDate) ProgramStartDate
	,MAX(EAD.EndDate) EndDate
	,MAX(EDD.CLIENT_HEALTH_PREGNANCY_0_EDD) EDD
	,MAX(DATEADD(DAY,-28,EDD.CLIENT_HEALTH_PREGNANCY_0_EDD)) Preg36
	,MAX(IDoB.INFANT_BIRTH_0_DOB) InfantDOB
	,MAX(DATEADD(DAY,84,IDoB.INFANT_BIRTH_0_DOB)) Inf12Wks
	,MAX(DATEADD(DAY,182.625,IDoB.INFANT_BIRTH_0_DOB)) Inf6Mo
	,MAX(DATEADD(DAY,365.25,IDoB.INFANT_BIRTH_0_DOB)) Tod12Mo
	,MAX(DATEADD(DAY,547.875,IDoB.INFANT_BIRTH_0_DOB)) Tod18Mo
	,MAX(DATEADD(DAY,730.5,IDoB.INFANT_BIRTH_0_DOB)) Tod24Mo
	,MAX(B1C1T.SurveyDate) B1C1T
	,MAX(B1C1T1.SurveyDate) B1C1T1
	,MAX(B1C2T.SurveyDate) B1C2T
	,MAX(B1C2T1.SurveyDate) B1C2T1
	,MAX(CASE 
		WHEN ISNULL(EAD.EndDate,DATEADD(DAY,1,GETDATE())) >= DATEADD(DAY,182.625,IDoB.INFANT_BIRTH_0_DOB)
		THEN EAD.CLID
	END) B1C3D
	,MAX(B1C3.SurveyDate) B1C3N
	,MAX(CASE 
		WHEN ISNULL(EAD.EndDate,DATEADD(DAY,1,GETDATE())) >= DATEADD(DAY,182.625,IDoB.INFANT_BIRTH_0_DOB)
		THEN EAD.CLID
	END) B1C4D
	,MAX(B1C4.SurveyDate) B1C4N
	,MAX(B1C5.SurveyDate) B1C5N
	,MAX(CASE 
		WHEN ISNULL(EAD.EndDate,DATEADD(DAY,1,GETDATE())) >= DATEADD(DAY,182.625,IDoB.INFANT_BIRTH_0_DOB)
		THEN EAD.CLID
	END) B1C5D
	,MAX(B1C6N.SurveyDate) B1C6N
	,MAX(CASE 
		WHEN EAD.ProgramStartDate > IDoB.INFANT_BIRTH_0_DOB
		THEN EAD.CLID
	END) B1C6D	
	,MAX(B1C7.SurveyDate) B1C7N
	,MAX(CASE 
		WHEN ISNULL(EAD.EndDate,DATEADD(DAY,1,GETDATE())) >= DATEADD(DAY,182.625,IDoB.INFANT_BIRTH_0_DOB)
		THEN EAD.CLID
	END) B1C7D
	,MAX(B1C8A.SurveyDate) B1C8A
	,MAX(B1C8B.SurveyDate) B1C8B
	,MAX(B1C8T1A.SurveyDate) B1C8T1A
	,MAX(B1C8T1B.SurveyDate) B1C8T1B
	,MAX(B2C1.SurveyDate) B2C1C1N
	,MAX(CASE 
		WHEN ISNULL(EAD.EndDate,DATEADD(DAY,1,GETDATE())) >= IDoB.INFANT_BIRTH_0_DOB
		THEN IDoB.INFANT_BIRTH_0_DOB
	END) B2C1D
	,MAX(B2C1C2.SurveyDate) B2C1C2N
	--,MAX(CASE WHEN B2C2.FormName LIKE '%INTAKE%' THEN CAST(B2C2.ER AS DECIMAL(18,2)) END) B2C2C1N -- 5/12/2014 removed - changed to count of clients not visits (below)
	,MAX(CASE WHEN B2C2.FormName LIKE '%INTAKE%' AND CASE WHEN ISNUMERIC(B2C2.ER)=1 THEN CAST(B2C2.ER AS DECIMAL(18,2)) END > 0  THEN EAD.CLID END) B2C2C1N --added case to code around ER non number 10/20/2014 TW
	,MAX(CASE WHEN B2C2.FormName LIKE '%INTAKE%' THEN B2C2.SurveyDate END) B2C2C1NDate
	--,MAX(CASE WHEN B2C2.FormName LIKE '%6%' THEN CAST(B2C2.ER AS DECIMAL(18,2)) END) B2C2C2N-- 5/12/2014 removed - changed to count of clients not visits (below)
	,MAX(CASE WHEN B2C2.FormName LIKE '%6%' AND CASE WHEN ISNUMERIC(B2C2.ER)=1 THEN CAST(B2C2.ER AS DECIMAL(18,2)) END > 0 THEN EAD.CLID END) B2C2C2N --added case to code around ER non number 10/20/2014 TW
	,MAX(CASE WHEN B2C2.FormName LIKE '%6%' THEN B2C2.SurveyDate END) B2C2C2NDate
	,MAX(CASE WHEN B2C3.CLIENT_CHILD_INJURY_0_PREVENTION = 'YES' THEN B2C3.SurveyDate END) B2C3N
	,MAX(B2C3.SurveyDate) B2C3D
	,MAX(CASE WHEN B2C4.FormName LIKE '%6%' THEN B2C4.SurveyDate END) B2C4C1N
	,MAX(CASE WHEN B2C4.FormName LIKE '%12%' THEN B2C4.SurveyDate END) B2C4C2N
	,MAX(B2C5.SurveyDate) B2C5N
	,MAX(B3C1.SurveyDate) B3C1N
	,MAX(B3C2.SurveyDate) B3C2TN
	,MAX(B3C2T1.SurveyDate) B3C2T1N
	,MAX(B3C2.INFANT_HOME_0_TOTAL) B3C2T16
	,MAX(B3C2T1.INFANT_HOME_0_TOTAL) B3C2T118
	
	,MAX(B3C3.SurveyDate) B3C3TN
	,MAX(B3C3T1.SurveyDate) B3C3T1N
	,MAX(CASE WHEN B3C3.INFANT_HOME_1_ACCEPTANCE + B3C3.INFANT_HOME_1_RESPONSIVITY IS NOT NULL THEN ISNULL(B3C3.INFANT_HOME_1_ACCEPTANCE,0) + ISNULL(B3C3.INFANT_HOME_1_RESPONSIVITY,0) END) B3C3T16
	,MAX(CASE WHEN B3C3T1.INFANT_HOME_1_ACCEPTANCE + B3C3T1.INFANT_HOME_1_RESPONSIVITY IS NOT NULL THEN ISNULL(B3C3T1.INFANT_HOME_1_ACCEPTANCE,0) + ISNULL(B3C3T1.INFANT_HOME_1_RESPONSIVITY,0) END)  B3C3T118	
	,MAX(B1C5.SurveyDate) B3C4N
	,MAX(B3C5.SurveyDate) B3C5N
	,MAX(B3C5D.SurveyDate) B3C5D
	,MAX(B3C6.SurveyDate) B3C6N
	,MAX(B3C6D.SurveyDate) B3C6D
	,MAX(B3C7.SurveyDate) B3C7N
	,MAX(B3C7D.SurveyDate) B3C7D
	,MAX(B3C8.SurveyDate) B3C8N
	,MAX(B3C8D.SurveyDate) B3C8D
	,MAX(B3C9.SurveyDate) B3C9N
	,MAX(B3C9D.SurveyDate) B3C9D
	,MAX(B4C3.SurveyDate) B4C3N
	,MAX(B4C4N.SurveyDate) B4C4N
	,MAX(B4C4D.SurveyDate) B4C4D
	,MAX(B4C5N.SurveyDate) B4C5N
	,MAX(B5C1T1.SurveyDate) B5C1T1Date
	,MAX(CASE WHEN B5C1T1.FormName LIKE '%INTAKE%' THEN B5C1T1.[Household Income] END) B5C1T1Int
	,MAX(CASE WHEN B5C1T1.FormName LIKE '%12%' THEN B5C1T1.[Household Income] END) B5C1T112
	,MAX(B5C2T.SurveyDate) B5C2T
	,MAX(B5C2T.HighestEdLvl) B5C2TEd
	,MAX(B5C2T1.SurveyDate) B5C2T1
	,MAX(B5C2T1.HighestEdLvl) B5C2T1eD		
	,MAX(B1C8A.SurveyDate) B5C3A
	,MAX(B1C8B.SurveyDate) B5C3B
	,MAX(B1C8T1A.SurveyDate) B5C3T1A
	,MAX(B1C8T1B.SurveyDate) B5C3T1B
	,MAX(B6C1.SurveyDate) B6C1N
	,MAX(B6C2.SurveyDate) B6C2N
	,MAX(B6C5.SurveyDate) B6C5
--INTO UC_COMIECV_CLID
FROM UV_EADT EAD

	INNER JOIN UV_PAS PAS
		ON PAS.ProgramID = EAD.ProgramID
	INNER JOIN [DataWarehouse].[dbo].[Client_Funding_Survey] CFS -- logic regarding funding
		ON CFS.CL_EN_GEN_ID = EAD.CLID
		AND CFS.ProgramID = EAD.ProgramID
		AND (CFS.CLIENT_FUNDING_1_START_MIECHVP_COM >= '10/1/2010'
			OR CFS.CLIENT_FUNDING_1_START_MIECHVP_FORM >= '10/1/2010')
	LEFT JOIN Maternal_Health_Survey EDD
		ON EDD.ProgramID = EAD.ProgramID
		AND EDD.CL_EN_GEN_ID = EAD.CLID
		AND EDD.CLIENT_HEALTH_PREGNANCY_0_EDD IS NOT NULL
	LEFT JOIN Infant_Birth_Survey IDoB
		ON IDoB.CL_EN_GEN_ID = EAD.CLID
		AND IDoB.ProgramID = EAD.ProgramID
		AND IDoB.INFANT_BIRTH_0_DOB IS NOT NULL

LEFT OUTER JOIN   -- clients with a gcss intake from and all insurances blank
	(SELECT
		GCSS.CL_EN_GEN_ID
		,MAX(GCSS.SurveyDate) SurveyDate
		,ProgramId
	FROM Govt_Comm_Srvcs_Survey GCSS
	WHERE 
		(ISNULL(GCSS.SERVICE_USE_0_MEDICAID_CLIENT,0) NOT IN (2,5)
		AND ISNULL(GCSS.SERVICE_USE_0_PRIVATE_INSURANCE_CLIENT,0) NOT IN (2,5)
		AND ISNULL(GCSS.SERVICE_USE_0_SCHIP_CLIENT,0) NOT IN (2,5)
		AND ISNULL(GCSS.[SERVICE_USE_MILITARY_INS_CLIENT ],0) NOT IN (2,5))
		AND dbo.fnGetFormName(GCSS.SurveyID) like '%INTAKE%'
	GROUP BY GCSS.CL_EN_GEN_ID,ProgramID) B1C1T
	ON EAD.CLID = B1C1T.CL_EN_GEN_ID
	AND EAD.ProgramID = B1C1T.ProgramID

LEFT JOIN
	(SELECT 
		GCSS.ProgramID
		,GCSS.CL_EN_GEN_ID
		,MAX(GCSS.SurveyDate) SurveyDate
	FROM Govt_Comm_Srvcs_Survey GCSS
	WHERE GCSS.SERVICE_USE_PCP_CLIENT_PRENATAL <> 2
		AND GCSS.SERVICE_USE_PCP_CLIENT_WELLWOMAN <> 2
		AND dbo.fnGetFormName(GCSS.SurveyID) like '%INTAKE%'
	GROUP BY GCSS.CL_EN_GEN_ID, GCSS.ProgramID) B1C1T_new
	ON EAD.CLID = B1C1T_new.CL_EN_GEN_ID
	AND EAD.ProgramID = B1C1T_new.ProgramID

LEFT OUTER JOIN  -- clients with a gcss 36preg from and  insurance
	(SELECT
		GCSS.CL_EN_GEN_ID
		,MAX(GCSS.SurveyDate) SurveyDate, ProgramID
	FROM Govt_Comm_Srvcs_Survey GCSS
	WHERE 
		(GCSS.SERVICE_USE_0_MEDICAID_CLIENT IN (2,5)
		OR GCSS.SERVICE_USE_0_PRIVATE_INSURANCE_CLIENT IN (2,5)
		OR GCSS.SERVICE_USE_0_SCHIP_CLIENT IN (2,5)
		OR GCSS.[SERVICE_USE_MILITARY_INS_CLIENT ] IN (2,5))
		AND dbo.fnGetFormName(GCSS.SurveyID) like '%Birth%'
	GROUP BY ProgramID, GCSS.CL_EN_GEN_ID) B1C1T1
	ON EAD.CLID = B1C1T1.CL_EN_GEN_ID 
	AND EAD.ProgramID = B1C1T1.ProgramID
	
LEFT OUTER JOIN -- added 11/4/14 to replace B1C1
	(SELECT EAD.ProgramID, EAD.CLID, MAX(CASE WHEN HVES.CLIENT_PRENATAL_VISITS = 'Yes' THEN 1 ELSE 0 END) PrenatalVisits
	FROM UV_EADT EAD
	LEFT JOIN Home_Visit_Encounter_Survey HVES ON EAD.ProgramID = HVES.ProgramID AND EAD.CLID = HVES.CL_EN_GEN_ID
	WHERE HVES.SurveyDate <= DATEADD(WEEK,12,EAD.ProgramStartDate)
	GROUP BY EAD.ProgramID, EAD.CLID) B1C1T1_new
	ON B1C1T1_new.ProgramID = EAD.ProgramID
	AND EAD.CLID = B1C1T1.CL_EN_GEN_ID

LEFT OUTER JOIN
	(SELECT HHS.CL_EN_GEN_ID, MAX(HHS.SurveyDate) SurveyDate, ProgramID
	FROM Health_Habits_Survey HHS
	WHERE HHS.CLIENT_SUBSTANCE_CIG_1_LAST_48 > 0 
	AND dbo.fnGetFormName(HHS.SurveyID) = 'Health Habits: Pregnancy-Intake'
	GROUP BY ProgramID, HHS.CL_EN_GEN_ID) B1C2T
	ON B1C2T.CL_EN_GEN_ID = EAD.CLID
	AND EAD.ProgramID = B1C2T.ProgramID
	
LEFT OUTER JOIN
	(SELECT HHS.CL_EN_GEN_ID, MAX(HHS.SurveyDate) SurveyDate, ProgramID
	FROM Health_Habits_Survey HHS
	WHERE HHS.CLIENT_SUBSTANCE_CIG_1_LAST_48 > 0 
	AND dbo.fnGetFormName(HHS.SurveyID) = 'Health Habits: Pregnancy-36 Weeks'
	GROUP BY ProgramID, HHS.CL_EN_GEN_ID) B1C2T1
	ON B1C2T1.CL_EN_GEN_ID = EAD.CLID
	AND EAD.ProgramID = B1C2T1.ProgramID


LEFT OUTER JOIN
	(SELECT GCSS.CL_EN_GEN_ID, MAX(GCSS.SurveyDate) SurveyDate, ProgramID
	FROM Govt_Comm_Srvcs_Survey GCSS
	WHERE (GCSS.SERVICE_USE_PCP_CLIENT_WELLWOMAN IN (2,5)  OR GCSS.SERVICE_USE_0_PCP_WELL_CLIENT IN (2,5) OR GCSS.SERVICE_USE_PCP_CLIENT_POSTPARTUM IN (2,5))
		AND dbo.fnGetFormName(GCSS.SurveyID) IN ('Use of Government & Community Services-Infancy 6','Use of Government & Community Services-Birth','Use of Government & Community Services-Intake')
	GROUP BY ProgramID, GCSS.CL_EN_GEN_ID) B1C3
	ON EAD.CLID = B1C3.CL_EN_GEN_ID
	AND EAD.ProgramID = B1C3.ProgramID
	
LEFT OUTER JOIN
	(SELECT DISTINCT DS.CL_EN_GEN_ID, MAX(DS.SurveyDate) SurveyDate, ProgramID
	FROM Demographics_Survey DS
	WHERE DS.CLIENT_BC_0_USED_6MONTHS = 'Yes'
		AND DBO.fnGetFormName(DS.SurveyID) = 'Demographics Update: Infancy 6 Months'
	GROUP BY ProgramID, DS.CL_EN_GEN_ID) B1C4
	ON EAD.CLID = B1C4.CL_EN_GEN_ID
	AND EAD.ProgramID = B1C4.ProgramID

LEFT OUTER JOIN --Most recent instance of client being screened for depression w/ edinburgh prior to 6 mos
	(SELECT CL_EN_GEN_ID, MAX(SurveyDate) SurveyDate, ProgramID
	FROM 
	(SELECT DISTINCT PH.CL_EN_GEN_ID, MAX(PH.SurveyDate) SurveyDate, ProgramID
	FROM PHQ_Survey  PH
	WHERE DBO.fnGetFormName(PH.SurveyID) IN ('PHQ-9-Infancy 4-6 mos'
											,'PHQ-9-Infancy 1-4 wks'
											,'PHQ-9-Intake'
											,'PHQ-9-Infancy 1-8 wks'
											,'PHQ-9-Pregnancy 36 wks')
	GROUP BY ProgramID, PH.CL_EN_GEN_ID
	
	UNION

	SELECT DISTINCT ES.CL_EN_GEN_ID, MAX(ES.SurveyDate) SurveyDate, ProgramID
	FROM Edinburgh_Survey  ES
	WHERE DBO.fnGetFormName(ES.SurveyID) IN ('Edinburgh Postnatal Depression-Infancy 4-6 mos'
											,'Edinburgh Postnatal Depression-Pregnancy-36 wks'
											,'Edinburgh Postnatal Depression-Infancy 1-8 wks'
											,'Edinburgh Postnatal Depression-Infancy 1-4 wks'
											,'Edinburgh Postnatal Depression-Intake')
	GROUP BY ProgramID, ES.CL_EN_GEN_ID
	) Data
	GROUP BY ProgramID,CL_EN_GEN_ID) B1C5
	ON EAD.CLID = B1C5.CL_EN_GEN_ID
	AND EAD.ProgramID = B1C5.ProgramID






LEFT OUTER JOIN
	(SELECT DISTINCT IBS.CL_EN_GEN_ID, MAX(IBS.SurveyDate) SurveyDate, ProgramID
	FROM Infant_Birth_Survey IBS
	WHERE IBS.INFANT_BREASTMILK_0_EVER_BIRTH = 'YES'
	GROUP BY ProgramID, IBS.CL_EN_GEN_ID) B1C6N
	ON EAD.CLID = B1C6N.CL_EN_GEN_ID
	AND EAD.ProgramID = B1C6N.ProgramId


LEFT OUTER JOIN
	(SELECT DISTINCT IHS.CL_EN_GEN_ID, MAX(IHS.SurveyDate) SurveyDate, ProgramID
	FROM Infant_Health_Survey IHS
	WHERE IHS.INFANT_HEALTH_PROVIDER_0_APPT_R2 = 'Yes' 
		AND dbo.fnGetFormName(IHS.SurveyID) LIKE '%6%'
	GROUP BY ProgramID, IHS.CL_EN_GEN_ID) B1C7
	ON EAD.CLID = B1C7.CL_EN_GEN_ID
	AND EAD.ProgramID = B1C7.ProgramID
	
LEFT OUTER JOIN
	(SELECT GCSS.CL_EN_GEN_ID, MAX(GCSS.SurveyDate) SurveyDate, ProgramID
	FROM Govt_Comm_Srvcs_Survey GCSS
	WHERE ISNULL(SERVICE_USE_0_MEDICAID_CHILD,0) NOT IN (2,5)
		  AND ISNULL(SERVICE_USE_0_PRIVATE_INSURANCE_CHILD,0) NOT IN (2,5)
		  AND ISNULL(SERVICE_USE_0_SCHIP_CHILD,0) NOT IN (2,5)
		  AND ISNULL([SERVICE_USE_MILITARY_INS_CHILD],0) NOT IN (2,5)
		  AND dbo.fnGetFormName(GCSS.SurveyID) LIKE '%INTAKE%'
	GROUP BY ProgramID, GCSS.CL_EN_GEN_ID) B1C8B
	ON EAD.CLID = B1C8B.CL_EN_GEN_ID
	AND EAD.ProgramID = B1C8B.ProgramID

LEFT OUTER JOIN
	(SELECT GCSS.CL_EN_GEN_ID, MAX(GCSS.SurveyDate) SurveyDate, ProgramID
	FROM Govt_Comm_Srvcs_Survey GCSS 
	WHERE ISNULL(SERVICE_USE_0_MEDICAID_CLIENT,0) NOT IN (2,5)
		  AND ISNULL(SERVICE_USE_0_PRIVATE_INSURANCE_CLIENT,0) NOT IN (2,5)
		  AND ISNULL(SERVICE_USE_0_SCHIP_CLIENT,0) NOT IN (2,5)
		  AND ISNULL([SERVICE_USE_MILITARY_INS_CLIENT ],0) NOT IN (2,5)
		  AND dbo.fnGetFormName(GCSS.SurveyID) LIKE '%INTAKE%'
	GROUP BY ProgramID, GCSS.CL_EN_GEN_ID) B1C8A
	ON EAD.CLID = B1C8A.CL_EN_GEN_ID
	AND EAD.ProgramID = B1C8A.ProgramID
	
LEFT OUTER JOIN
	(SELECT GCSS.CL_EN_GEN_ID, MAX(GCSS.SurveyDate) SurveyDate, ProgramID
	FROM Govt_Comm_Srvcs_Survey GCSS
	WHERE (SERVICE_USE_0_MEDICAID_CHILD IN (2,5)
		  OR SERVICE_USE_0_PRIVATE_INSURANCE_CHILD IN (2,5)
		  OR SERVICE_USE_0_SCHIP_CHILD IN (2,5)
		  OR [SERVICE_USE_MILITARY_INS_CHILD] IN (2,5))
		  AND dbo.fnGetFormName(GCSS.SurveyID) LIKE '%6%'
	GROUP BY ProgramID, GCSS.CL_EN_GEN_ID) B1C8T1A
	ON EAD.CLID = B1C8T1A.CL_EN_GEN_ID
	AND EAD.ProgramID = B1C8T1A.ProgramID

LEFT OUTER JOIN
	(SELECT GCSS.CL_EN_GEN_ID, MAX(GCSS.SurveyDate) SurveyDate, ProgramID
	FROM Govt_Comm_Srvcs_Survey GCSS 
	WHERE (SERVICE_USE_0_MEDICAID_CLIENT IN (2,5)
		  OR SERVICE_USE_0_PRIVATE_INSURANCE_CLIENT IN (2,5)
		  OR SERVICE_USE_0_SCHIP_CLIENT IN (2,5)
		  OR [SERVICE_USE_MILITARY_INS_CLIENT ] IN (2,5))
		  AND dbo.fnGetFormName(GCSS.SurveyID) LIKE '%6%'
	GROUP BY ProgramID, GCSS.CL_EN_GEN_ID) B1C8T1B
	ON EAD.CLID = B1C8T1B.CL_EN_GEN_ID
	AND EAD.ProgramID = B1C8T1B.ProgramID
	
LEFT OUTER JOIN
	(SELECT IHS.CL_EN_GEN_ID, MAX(IHS.SurveyDate) SurveyDate, ProgramID
	FROM Infant_Health_Survey IHS
	WHERE INFANT_HEALTH_ER_0_HAD_VISIT = 'YES'
		AND dbo.fnGetFormName(IHS.SurveyID) LIKE '%6%'
	GROUP BY ProgramID, IHS.CL_EN_GEN_ID) B2C1
	ON EAD.CLID = B2C1.CL_EN_GEN_ID
	AND EAD.ProgramID = B2C1.ProgramID


LEFT OUTER JOIN
	(SELECT IHS.CL_EN_GEN_ID, MAX(IHS.SurveyDate) SurveyDate, ProgramID
	FROM Infant_Health_Survey IHS
	WHERE IHS.INFANT_HEALTH_ER_0_HAD_VISIT = 'YES'
	AND dbo.fnGetFormName(IHS.SurveyID) LIKE '%12%'
	GROUP BY ProgramID, IHS.CL_EN_GEN_ID) B2C1C2
	ON EAD.CLID = B2C1C2.CL_EN_GEN_ID
	AND EAD.ProgramID = B2C1C2.ProgramID
	
LEFT OUTER JOIN
	(SELECT IHS.CL_EN_GEN_ID, MAX(IHS.SurveyDate) SurveyDate, ProgramID
	FROM Infant_Health_Survey IHS
	WHERE INFANT_BIRTH_0_DOB IS NOT NULL AND dbo.fnGetFormName(SurveyID) LIKE '%12%' 
		--AND SurveyDate BETWEEN @StartDate AND @EndDate
	GROUP BY ProgramID, IHS.CL_EN_GEN_ID) B2C1C2D
	ON EAD.CLID = B2C1C2D.CL_EN_GEN_ID
	AND EAD.ProgramID = B2C1C2D.ProgramID

LEFT OUTER JOIN
	(SELECT DS.CL_EN_GEN_ID, MAX(DS.CLIENT_CARE_0_ER_TIMES) ER,MAX(DS.SurveyDate) SurveyDate, ProgramID,dbo.fnGetFormName(DS.SurveyID) FormName
	FROM Demographics_Survey DS
	WHERE dbo.fnGetFormName(DS.SurveyID) LIKE '%6%'
		OR dbo.fnGetFormName(DS.SurveyID) LIKE '%Intake%'
	GROUP BY ProgramID, DS.CL_EN_GEN_ID,dbo.fnGetFormName(DS.SurveyID)) B2C2
	ON EAD.CLID = B2C2.CL_EN_GEN_ID
	AND EAD.ProgramID = B2C2.ProgramID

LEFT OUTER JOIN
	(SELECT HVES.CL_EN_GEN_ID, MIN(HVES.SurveyDate) SurveyDate, HVES.ProgramID,HVES.CLIENT_CHILD_INJURY_0_PREVENTION
	FROM Home_Visit_Encounter_Survey HVES
		INNER JOIN Infant_Birth_Survey IB
			ON IB.CL_EN_GEN_ID = HVES.CL_EN_GEN_ID 
			AND IB.ProgramID = HVES.ProgramID
			AND DATEADD(DAY,365.25,IB.INFANT_BIRTH_0_DOB) > HVES.SurveyDate
	WHERE HVES.CLIENT_COMPLETE_0_VISIT = 'COMPLETED'
		AND HVES.CLIENT_CHILD_INJURY_0_PREVENTION IS NOT NULL
	GROUP BY HVES.ProgramID, HVES.CL_EN_GEN_ID,HVES.CLIENT_CHILD_INJURY_0_PREVENTION) B2C3
	ON EAD.CLID = B2C3.CL_EN_GEN_ID
	AND EAD.ProgramID = B2C3.ProgramID
	
	
LEFT OUTER JOIN 
	(SELECT HVES.CL_EN_GEN_ID, MIN(HVES.SurveyDate) SurveyDate, HVES.ProgramID
	FROM Home_Visit_Encounter_Survey HVES
		INNER JOIN Infant_Birth_Survey IB
			ON IB.CL_EN_GEN_ID = HVES.CL_EN_GEN_ID 
			AND IB.ProgramID = HVES.ProgramID
			AND DATEADD(DAY,365.25,IB.INFANT_BIRTH_0_DOB) > HVES.SurveyDate
	WHERE HVES.CLIENT_COMPLETE_0_VISIT = 'COMPLETED'
		--AND HVES.CLIENT_CHILD_INJURY_0_PREVENTION IS NOT NULL
	GROUP BY HVES.ProgramID, HVES.CL_EN_GEN_ID) B2C3D
	ON EAD.CLID = B2C3D.CL_EN_GEN_ID
	AND B2C3D.SurveyDate <= DATEADD(DAY,365.25,EAD.ProgramStartDate)
	AND EAD.ProgramID = B2C3D.ProgramID

LEFT OUTER JOIN
	(SELECT IHS.CL_EN_GEN_ID, MAX(IHS.SurveyDate) SurveyDate, ProgramID,dbo.fnGetFormName(IHS.SurveyID) FormName
	FROM Infant_Health_Survey IHS
	WHERE IHS.INFANT_HEALTH_ER_0_HAD_VISIT = 'Yes' AND IHS.INFANT_HEALTH_ER_1_TYPE LIKE '%INJURY%' 
	AND (dbo.fnGetFormName(IHS.SurveyID) LIKE '%6%'
		OR dbo.fnGetFormName(IHS.SurveyID) LIKE '%12%') 
	GROUP BY ProgramID, IHS.CL_EN_GEN_ID,dbo.fnGetFormName(IHS.SurveyID)) B2C4
	ON EAD.CLID = B2C4.CL_EN_GEN_ID
	AND EAD.ProgramID = B2C4.ProgramID

LEFT OUTER JOIN
	(SELECT IHS.CL_EN_GEN_ID, MAX(IHS.SurveyDate) SurveyDate, ProgramID
	FROM Infant_Health_Survey IHS
	WHERE (IHS.INFANT_SOCIAL_SERVICES_1_NHV_REFERRAL = 'Yes' OR IHS.INFANT_SOCIAL_SERVICES_0_REFERRAL = 'Yes')
		AND dbo.fnGetFormName(IHS.SurveyID) LIKE '%12%'
	GROUP BY ProgramID, IHS.CL_EN_GEN_ID) B2C5
	ON EAD.CLID = B2C5.CL_EN_GEN_ID
	AND EAD.ProgramID = B2C5.ProgramID

LEFT JOIN 
	(
		SELECT IHS.CL_EN_GEN_ID,MAX(IHS.SurveyDate) SurveyDate, IHS.ProgramID
		FROM Infant_Health_Survey IHS
		WHERE IHS.INFANT_HOME_1_LEARNING IS NOT NULL
			AND dbo.fnGetFormName(IHS.SurveyID) LIKE '%6%'
		GROUP BY IHS.CL_EN_GEN_ID,IHS.ProgramID
	) B3C1
	ON B3C1.CL_EN_GEN_ID = EAD.CLID
	AND B3C1.ProgramID = EAD.ProgramID

LEFT JOIN 
	(
		SELECT IHS.CL_EN_GEN_ID,MAX(IHS.SurveyDate) SurveyDate, IHS.ProgramID,MAX(IHS.INFANT_HOME_0_TOTAL) INFANT_HOME_0_TOTAL 
		FROM Infant_Health_Survey IHS
		WHERE IHS.INFANT_HOME_0_TOTAL IS NOT NULL
			AND dbo.fnGetFormName(IHS.SurveyID) LIKE '%6%'
		GROUP BY IHS.CL_EN_GEN_ID,IHS.ProgramID
	) B3C2
	ON B3C2.CL_EN_GEN_ID = EAD.CLID
	AND B3C2.ProgramID = EAD.ProgramID


LEFT JOIN 
	(
		SELECT IHS.CL_EN_GEN_ID,MAX(IHS.SurveyDate) SurveyDate, IHS.ProgramID,MAX(IHS.INFANT_HOME_0_TOTAL) INFANT_HOME_0_TOTAL 
		FROM Infant_Health_Survey IHS
		WHERE IHS.INFANT_HOME_0_TOTAL IS NOT NULL
			AND dbo.fnGetFormName(IHS.SurveyID) LIKE '%18%'
		GROUP BY IHS.CL_EN_GEN_ID,IHS.ProgramID
	) B3C2T1
	ON B3C2T1.CL_EN_GEN_ID = EAD.CLID
	AND B3C2T1.ProgramID = EAD.ProgramID

LEFT JOIN 
	(
		SELECT IHS.CL_EN_GEN_ID,MAX(IHS.SurveyDate) SurveyDate, IHS.ProgramID,MAX(IHS.INFANT_HOME_1_ACCEPTANCE) INFANT_HOME_1_ACCEPTANCE 
			,MAX(IHS.INFANT_HOME_1_RESPONSIVITY) INFANT_HOME_1_RESPONSIVITY
		FROM Infant_Health_Survey IHS
		WHERE IHS.INFANT_HOME_1_ACCEPTANCE IS NOT NULL
			AND IHS.INFANT_HOME_1_RESPONSIVITY IS NOT NULL
			AND dbo.fnGetFormName(IHS.SurveyID) LIKE '%6%'
		GROUP BY IHS.CL_EN_GEN_ID,IHS.ProgramID
	) B3C3
	ON B3C3.CL_EN_GEN_ID = EAD.CLID
	AND B3C3.ProgramID = EAD.ProgramID


LEFT JOIN 
	(
		SELECT IHS.CL_EN_GEN_ID,MAX(IHS.SurveyDate) SurveyDate, IHS.ProgramID,MAX(IHS.INFANT_HOME_1_ACCEPTANCE) INFANT_HOME_1_ACCEPTANCE 
			,MAX(IHS.INFANT_HOME_1_RESPONSIVITY) INFANT_HOME_1_RESPONSIVITY
		FROM Infant_Health_Survey IHS
		WHERE IHS.INFANT_HOME_1_ACCEPTANCE IS NOT NULL
			AND IHS.INFANT_HOME_1_RESPONSIVITY IS NOT NULL
			AND dbo.fnGetFormName(IHS.SurveyID) LIKE '%18%'
		GROUP BY IHS.CL_EN_GEN_ID,IHS.ProgramID
	) B3C3T1
	ON B3C3T1.CL_EN_GEN_ID = EAD.CLID
	AND B3C3T1.ProgramID = EAD.ProgramID

LEFT JOIN 
	(
		SELECT IHS.CL_EN_GEN_ID,MAX(IHS.SurveyDate) SurveyDate, IHS.ProgramID
		FROM Infant_Health_Survey IHS
		WHERE IHS.INFANT_AGES_STAGES_1_COMM IS NOT NULL
			AND IHS.INFANT_HEALTH_NO_ASQ_COMM IS NULL
			AND (dbo.fnGetFormName(IHS.SurveyID) LIKE '%6%'
					OR dbo.fnGetFormName(IHS.SurveyID) LIKE '%12%')
		GROUP BY IHS.CL_EN_GEN_ID,IHS.ProgramID
	) B3C5
	ON B3C5.CL_EN_GEN_ID = EAD.CLID
	AND B3C5.ProgramID = EAD.ProgramID

LEFT JOIN 
	(
		SELECT IHS.CL_EN_GEN_ID,MAX(IHS.SurveyDate) SurveyDate, IHS.ProgramID
		FROM Infant_Health_Survey IHS
		WHERE (IHS.INFANT_HEALTH_NO_ASQ_COMM IS NULL OR IHS.INFANT_HEALTH_NO_ASQ_COMM = 'Parent declined further screening')
			AND (dbo.fnGetFormName(IHS.SurveyID) LIKE '%6%'
					OR dbo.fnGetFormName(IHS.SurveyID) LIKE '%12%')
		GROUP BY IHS.CL_EN_GEN_ID,IHS.ProgramID
	) B3C5D
	ON B3C5D.CL_EN_GEN_ID = EAD.CLID
	AND B3C5D.ProgramID = EAD.ProgramID

LEFT JOIN 
	(
		SELECT IHS.CL_EN_GEN_ID,MAX(IHS.SurveyDate) SurveyDate, IHS.ProgramID
		FROM Infant_Health_Survey IHS
		WHERE IHS.INFANT_AGES_STAGES_1_PSOLVE IS NOT NULL
			AND IHS.INFANT_HEALTH_NO_ASQ_PROBLEM IS NULL
			AND (dbo.fnGetFormName(IHS.SurveyID) LIKE '%6%'
					OR dbo.fnGetFormName(IHS.SurveyID) LIKE '%12%')
		GROUP BY IHS.CL_EN_GEN_ID,IHS.ProgramID
	) B3C6
	ON B3C6.CL_EN_GEN_ID = EAD.CLID
	AND B3C6.ProgramID = EAD.ProgramID

LEFT JOIN 
	(
		SELECT IHS.CL_EN_GEN_ID,MAX(IHS.SurveyDate) SurveyDate, IHS.ProgramID
		FROM Infant_Health_Survey IHS
		WHERE (IHS.INFANT_HEALTH_NO_ASQ_PROBLEM IS NULL OR IHS.INFANT_HEALTH_NO_ASQ_PROBLEM = 'Parent declined further screening')
			AND (dbo.fnGetFormName(IHS.SurveyID) LIKE '%6%'
					OR dbo.fnGetFormName(IHS.SurveyID) LIKE '%12%')
		GROUP BY IHS.CL_EN_GEN_ID,IHS.ProgramID
	) B3C6D
	ON B3C6D.CL_EN_GEN_ID = EAD.CLID
	AND B3C6D.ProgramID = EAD.ProgramID

LEFT JOIN 
	(
		SELECT IHS.CL_EN_GEN_ID,MAX(IHS.SurveyDate) SurveyDate, IHS.ProgramID
		FROM Infant_Health_Survey IHS
		WHERE IHS.INFANT_AGES_STAGES_1_PSOCIAL IS NOT NULL
			AND IHS.INFANT_HEALTH_NO_ASQ_PERSONAL IS NULL
			AND (dbo.fnGetFormName(IHS.SurveyID) LIKE '%6%'
					OR dbo.fnGetFormName(IHS.SurveyID) LIKE '%12%')
		GROUP BY IHS.CL_EN_GEN_ID,IHS.ProgramID
	) B3C7
	ON B3C7.CL_EN_GEN_ID = EAD.CLID
	AND B3C7.ProgramID = EAD.ProgramID

LEFT JOIN 
	(
		SELECT IHS.CL_EN_GEN_ID,MAX(IHS.SurveyDate) SurveyDate, IHS.ProgramID
		FROM Infant_Health_Survey IHS
		WHERE (IHS.INFANT_HEALTH_NO_ASQ_PERSONAL IS NULL OR IHS.INFANT_HEALTH_NO_ASQ_PERSONAL = 'Parent declined further screening')
			AND (dbo.fnGetFormName(IHS.SurveyID) LIKE '%6%'
					OR dbo.fnGetFormName(IHS.SurveyID) LIKE '%12%')
		GROUP BY IHS.CL_EN_GEN_ID,IHS.ProgramID
	) B3C7D
	ON B3C7D.CL_EN_GEN_ID = EAD.CLID
	AND B3C7D.ProgramID = EAD.ProgramID

LEFT JOIN 
	(
		SELECT IHS.CL_EN_GEN_ID,MAX(IHS.SurveyDate) SurveyDate, IHS.ProgramID
		FROM Infant_Health_Survey IHS
		WHERE IHS.INFANT_AGES_STAGES_SE_0_EMOTIONAL IS NOT NULL
			AND IHS.INFANT_HEALTH_NO_ASQ_TOTAL IS NULL
			AND (dbo.fnGetFormName(IHS.SurveyID) LIKE '%6%'
					OR dbo.fnGetFormName(IHS.SurveyID) LIKE '%12%')
		GROUP BY IHS.CL_EN_GEN_ID,IHS.ProgramID
	) B3C8
	ON B3C8.CL_EN_GEN_ID = EAD.CLID
	AND B3C8.ProgramID = EAD.ProgramID

LEFT JOIN 
	(
		SELECT IHS.CL_EN_GEN_ID,MAX(IHS.SurveyDate) SurveyDate, IHS.ProgramID
		FROM Infant_Health_Survey IHS
		WHERE (IHS.INFANT_HEALTH_NO_ASQ_TOTAL IS NULL OR IHS.INFANT_HEALTH_NO_ASQ_TOTAL = 'Parent declined further screening')
			AND (dbo.fnGetFormName(IHS.SurveyID) LIKE '%6%'
					OR dbo.fnGetFormName(IHS.SurveyID) LIKE '%12%')
		GROUP BY IHS.CL_EN_GEN_ID,IHS.ProgramID
	) B3C8D
	ON B3C8D.CL_EN_GEN_ID = EAD.CLID
	AND B3C8D.ProgramID = EAD.ProgramID

LEFT JOIN 
	(
		SELECT IHS.CL_EN_GEN_ID,MAX(IHS.SurveyDate) SurveyDate, IHS.ProgramID
		FROM Infant_Health_Survey IHS
		WHERE IHS.INFANT_AGES_STAGES_1_GMOTOR IS NOT NULL
			AND IHS.INFANT_AGES_STAGES_1_FMOTOR IS NOT NULL
			AND IHS.INFANT_HEALTH_NO_ASQ_GROSS IS NULL
			AND IHS.INFANT_HEALTH_NO_ASQ_FINE IS NULL
			AND (dbo.fnGetFormName(IHS.SurveyID) LIKE '%6%'
					OR dbo.fnGetFormName(IHS.SurveyID) LIKE '%12%')
		GROUP BY IHS.CL_EN_GEN_ID,IHS.ProgramID
	) B3C9
	ON B3C9.CL_EN_GEN_ID = EAD.CLID
	AND B3C9.ProgramID = EAD.ProgramID

LEFT JOIN 
	(
		SELECT IHS.CL_EN_GEN_ID,MAX(IHS.SurveyDate) SurveyDate, IHS.ProgramID
		FROM Infant_Health_Survey IHS
		WHERE (IHS.INFANT_HEALTH_NO_ASQ_GROSS IS NULL OR IHS.INFANT_HEALTH_NO_ASQ_GROSS = 'Parent declined further screening')
			AND (IHS.INFANT_HEALTH_NO_ASQ_FINE IS NULL OR IHS.INFANT_HEALTH_NO_ASQ_FINE = 'Parent declined further screening')
			AND (dbo.fnGetFormName(IHS.SurveyID) LIKE '%6%'
					OR dbo.fnGetFormName(IHS.SurveyID) LIKE '%12%')
		GROUP BY IHS.CL_EN_GEN_ID,IHS.ProgramID
	) B3C9D
	ON B3C9D.CL_EN_GEN_ID = EAD.CLID
	AND B3C9D.ProgramID = EAD.ProgramID

LEFT JOIN 
	(
		SELECT RS.CL_EN_GEN_ID, MAX(RS.SurveyDate) SurveyDate, RS.ProgramID
		FROM Relationship_Survey RS
		WHERE dbo.fnGetFormName(RS.SurveyID) LIKE '%INTAKE%'
		GROUP BY RS.CL_EN_GEN_ID, RS.ProgramID
	) B4C3
	ON B4C3.CL_EN_GEN_ID = EAD.CLID
	AND B4C3.ProgramID = EAD.ProgramID
LEFT JOIN 
	(
		SELECT RS.CL_EN_GEN_ID, MAX(RS.SurveyDate) SurveyDate, RS.ProgramID
		FROM Relationship_Survey RS
		WHERE (dbo.fnGetFormName(RS.SurveyID) LIKE '%INTAKE%' OR dbo.fnGetFormName(RS.SurveyID)  LIKE '%36%')
			AND CASE
				WHEN (
						(
							CLIENT_ABUSE_HIT_0_SLAP_LAST_TIME = 'Yes' 
							OR (
									CLIENT_ABUSE_TIMES_0_HURT_SINCE_LAST_TIME <> 'None' 
									AND  CLIENT_ABUSE_TIMES_0_HURT_SINCE_LAST_TIME IS NOT NULL
								) 
							OR CLIENT_ABUSE_AFRAID_0_PARTNER = 'Yes'
						)
						AND dbo.fngetFormName(RS.SurveyID) LIKE '%INTAKE%'
					 ) 
					OR (
							(
								CLIENT_ABUSE_EMOTION_0_PHYSICAL_PARTNER = 'Yes'
								OR CLIENT_ABUSE_HIT_0_SLAP_PARTNER = 'Yes'
								OR (
										CLIENT_ABUSE_TIMES_0_HURT_LAST_YR  <> 'None'
										AND CLIENT_ABUSE_TIMES_0_HURT_LAST_YR IS NOT NULL
									)
								OR (
										CLIENT_ABUSE_TIMES_0_SLAP_PUSH_PARTNER  <> 'None'
										AND CLIENT_ABUSE_TIMES_0_SLAP_PUSH_PARTNER IS NOT NULL
									)
								OR (
										CLIENT_ABUSE_TIMES_0_PUNCH_KICK_PARTNER  <> 'None'
										AND CLIENT_ABUSE_TIMES_0_PUNCH_KICK_PARTNER IS NOT NULL
									)
								OR (
										CLIENT_ABUSE_TIMES_0_BURN_BRUISE_PARTNER  <> 'None'
										AND CLIENT_ABUSE_TIMES_0_BURN_BRUISE_PARTNER IS NOT NULL
									)
								OR (
										CLIENT_ABUSE_TIMES_0_HEAD_PERM_INJURY_PARTNER  <> 'None'
										AND CLIENT_ABUSE_TIMES_0_HEAD_PERM_INJURY_PARTNER IS NOT NULL
									)
								OR (
										CLIENT_ABUSE_TIMES_0_ABUSE_WEAPON_PARTNER  <> 'None'
										AND CLIENT_ABUSE_TIMES_0_ABUSE_WEAPON_PARTNER IS NOT NULL
									)
								OR CLIENT_ABUSE_FORCED_0_SEX  = 'Yes'
								OR (
										CLIENT_ABUSE_FORCED_1_SEX_LAST_YR  <> 'None'
										AND CLIENT_ABUSE_FORCED_1_SEX_LAST_YR IS NOT NULL
									)
								OR CLIENT_ABUSE_AFRAID_0_PARTNER = 'Yes'
							)
							AND (
									dbo.fngetFormName(RS.SurveyID) LIKE '%36%'
									OR dbo.fngetFormName(RS.SurveyID) LIKE '%12%'
								)
						)
				THEN 1
		 END = 1
		GROUP BY RS.CL_EN_GEN_ID, RS.ProgramID
	) B4C4D
	ON B4C4D.CL_EN_GEN_ID = EAD.CLID
	AND B4C4D.ProgramID = EAD.ProgramID
	
LEFT JOIN
	(
		SELECT RSS.CL_EN_GEN_ID, MAX(RSS.SurveyDate) SurveyDate, RSS.ProgramID
		FROM Referrals_to_Services_Survey RSS
			INNER JOIN UV_EADT E ON E.CLID = RSS.CL_EN_GEN_ID AND E.ProgramID = RSS.ProgramID
				AND DATEADD(DAY,365.25,E.ProgramStartDate) >= RSS.SurveyDate
		WHERE RSS.SERVICE_REFER_0_IPV = 'CLIENT'
		GROUP BY RSS.CL_EN_GEN_ID, RSS.ProgramID
	) B4C4N
	ON B4C4N.CL_EN_GEN_ID = EAD.CLID
	AND B4C4N.ProgramID = EAD.ProgramID
LEFT JOIN
	(
	SELECT H.CL_EN_GEN_ID, MAX(H.SurveyDate) SurveyDate, H.ProgramID
	FROM Home_Visit_Encounter_Survey H
		INNER JOIN UV_EADT E 
			ON E.CLID = H.CL_EN_GEN_ID 
			AND E.ProgramID = H.ProgramID 
			AND DATEADD(DAY,365.25,E.ProgramStartDate) > = H.SurveyDate
	WHERE H.CLIENT_IPV_0_SAFETY_PLAN IS NOT NULL
	GROUP BY H.CL_EN_GEN_ID, H.ProgramID
	) B4C5N
	ON B4C5N.CL_EN_GEN_ID = EAD.CLID
	AND B4C5N.ProgramID = EAD.ProgramID

LEFT JOIN 
	(
		SELECT D.CL_EN_GEN_ID, MAX(D.SurveyDate) SurveyDate, D.ProgramID, MAX(CASE 
							WHEN ISNULL(D.CLIENT_INCOME_0_HH_INCOME,D.CLIENT_INCOME_AMOUNT) LIKE '%dependent%' THEN 0
							WHEN ISNULL(D.CLIENT_INCOME_0_HH_INCOME,D.CLIENT_INCOME_AMOUNT) LIKE 'Less than %6%000' THEN 3000
							WHEN ISNULL(D.CLIENT_INCOME_0_HH_INCOME,D.CLIENT_INCOME_AMOUNT) LIKE '%6%001%9%000' THEN 7500
							WHEN ISNULL(D.CLIENT_INCOME_0_HH_INCOME,D.CLIENT_INCOME_AMOUNT) LIKE '%6%001%12%000' THEN 9000
							WHEN ISNULL(D.CLIENT_INCOME_0_HH_INCOME,D.CLIENT_INCOME_AMOUNT) LIKE '%9%001%12%000' THEN 10500
							WHEN ISNULL(D.CLIENT_INCOME_0_HH_INCOME,D.CLIENT_INCOME_AMOUNT) LIKE '%12%001%16%000' THEN 14000
							WHEN ISNULL(D.CLIENT_INCOME_0_HH_INCOME,D.CLIENT_INCOME_AMOUNT) LIKE '%12%001%20%000' THEN 16000
							WHEN ISNULL(D.CLIENT_INCOME_0_HH_INCOME,D.CLIENT_INCOME_AMOUNT) LIKE '%16%001%20%000' THEN 18000
							WHEN ISNULL(D.CLIENT_INCOME_0_HH_INCOME,D.CLIENT_INCOME_AMOUNT) LIKE '%20%001%30%000' THEN 25000
							WHEN ISNULL(D.CLIENT_INCOME_0_HH_INCOME,D.CLIENT_INCOME_AMOUNT) LIKE '%30%001%40%000' THEN 35000
							WHEN ISNULL(D.CLIENT_INCOME_0_HH_INCOME,D.CLIENT_INCOME_AMOUNT) LIKE 'Over%30%000' THEN 35000
							WHEN ISNULL(D.CLIENT_INCOME_0_HH_INCOME,D.CLIENT_INCOME_AMOUNT) LIKE 'Over%40%000' THEN 45000
						END) [Household Income]
			,dbo.fnGetFormName(D.SurveyID) FormName
		FROM Demographics_Survey D
		WHERE ISNULL(D.CLIENT_INCOME_0_HH_INCOME,D.CLIENT_INCOME_AMOUNT) IS NOT NULL 
			AND (dbo.fnGetFormName(D.SurveyID) LIKE '%INTAKE%' OR dbo.fnGetFormName(D.SurveyID) LIKE '%12%')
		GROUP BY D.CL_EN_GEN_ID, D.ProgramID,dbo.fnGetFormName(D.SurveyID)
	)B5C1T1
		ON B5C1T1.CL_EN_GEN_ID = EAD.CLID
		AND B5C1T1.ProgramID = EAD.ProgramID

LEFT JOIN 
	(
		SELECT D.CL_EN_GEN_ID, MAX(D.SurveyDate) SurveyDate, D.ProgramID
			,MAX(CASE 
				WHEN D.CLIENT_EDUCATION_0_HS_GED LIKE '%YES%' THEN 12
				WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%Vocational%' THEN 13
				WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%Some%college%' THEN 14
				WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%Associate%' THEN 15
				WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%Bachelor%' THEN 16
				WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%Master%' THEN 17
				WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%Professional%' THEN 18
				WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%Doctorate%' THEN 19
				ELSE D.CLIENT_EDUCATION_1_HS_GED_LAST_GRADE
			END) HighestEdLvl
		FROM Demographics_Survey D
		WHERE D.CLIENT_EDUCATION_1_ENROLLED_PLAN = 'Yes'
			AND dbo.fnGetFormName(D.SurveyID) IN ('Demographics: Pregnancy Intake')
		GROUP BY D.CL_EN_GEN_ID,D.ProgramID,dbo.fnGetFormName(D.SurveyID)
	) B5C2T
	ON B5C2T.CL_EN_GEN_ID = EAD.CLID
	AND B5C2T.ProgramID = EAD.ProgramID

LEFT JOIN
	(
		SELECT D.CL_EN_GEN_ID, MAX(D.SurveyDate) SurveyDate, D.ProgramID
			,MAX(CASE 
				WHEN D.CLIENT_EDUCATION_0_HS_GED LIKE '%YES%' THEN 12
				WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%Vocational%' THEN 13
				WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%Some%college%' THEN 14
				WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%Associate%' THEN 15
				WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%Bachelor%' THEN 16
				WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%Master%' THEN 17
				WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%Professional%' THEN 18
				WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%Doctorate%' THEN 19
				ELSE D.CLIENT_EDUCATION_1_HS_GED_LAST_GRADE
			END) HighestEdLvl
		FROM Demographics_Survey D
		WHERE D.CLIENT_EDUCATION_1_ENROLLED_PLAN = 'Yes'
			AND dbo.fnGetFormName(D.SurveyID) = 'Demographics Update: Infancy 12 Months'
		GROUP BY D.CL_EN_GEN_ID,D.ProgramID,dbo.fnGetFormName(D.SurveyID)
	) B5C2T1
	ON B5C2T1.CL_EN_GEN_ID = EAD.CLID
	AND B5C2T1.ProgramID = EAD.ProgramID

LEFT JOIN --Earliest date that client was screened for services need post partum, before 12 months postpartum
	(
		SELECT H.CL_EN_GEN_ID, MIN(H.SurveyDate) SurveyDate, H.ProgramID
		FROM Home_Visit_Encounter_Survey H
			INNER JOIN Infant_Birth_Survey I
				ON I.CL_EN_GEN_ID = H.CL_EN_GEN_ID
				AND I.ProgramID = H.ProgramID
				AND H.SurveyDate BETWEEN I.INFANT_BIRTH_0_DOB AND DATEADD(DAY,365.25,I.INFANT_BIRTH_0_DOB)
		WHERE H.CLIENT_SCREENED_SRVCS = 'YES'
		GROUP BY H.CL_EN_GEN_ID, H.ProgramID
	) B6C1
	ON B6C1.CL_EN_GEN_ID = EAD.CLID
	AND B6C1.ProgramID = EAD.ProgramID

LEFT JOIN 
	(
		SELECT RSS.CL_EN_GEN_ID, MIN(RSS.SurveyDate) SurveyDate, RSS.ProgramID
		FROM Referrals_to_Services_Survey RSS
			INNER JOIN Infant_Birth_Survey I
				ON I.CL_EN_GEN_ID = RSS.CL_EN_GEN_ID
				AND I.ProgramID = RSS.ProgramID
				--AND RSS.SurveyDate BETWEEN I.INFANT_BIRTH_0_DOB AND DATEADD(DAY,365.25,I.INFANT_BIRTH_0_DOB)
		GROUP BY RSS.CL_EN_GEN_ID,RSS.ProgramID
	) B6C2
	ON B6C2.CL_EN_GEN_ID = EAD.CLID
	AND B6C2.ProgramID = B6C2.ProgramID

LEFT JOIN 
	(
SELECT 
	GCSS.CL_EN_GEN_ID
	,GCSS.ProgramID
	,MIN(GCSS.SurveyDate) SurveyDate -- takes the earliest instance of the client receiving services for which they were referred
	,ISNULL(MAX(CASE
		WHEN GCSS.[SERVICE_USE_0_ADOPTION_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_ADOPTION IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_ALCOHOL_ABUSE_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_ALCOHOL_ABUSE IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_BIRTH_EDUC_CLASS_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_BIRTH_EDUC_CLASS IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_CHARITY_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_CHARITY IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_CHILD_CARE_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_CHILD_CARE IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_CHILD_SUPPORT_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_CHILD_SUPPORT IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN (GCSS.[SERVICE_USE_0_CPS_CHILD]  IN (2,5)
		 OR GCSS.[SERVICE_USE_0_CPS_CLIENT]  IN (2,5))
			AND RSS2.SERVICE_REFER_0_CPS IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		 THEN 1
	  
		WHEN (GCSS.[SERVICE_USE_0_DENTAL_CHILD]  IN (2,5)
		 OR GCSS.[SERVICE_USE_0_DENTAL_CLIENT]  IN (2,5))
			AND RSS2.SERVICE_REFER_0_DENTAL IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		 THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_DEVELOPMENTAL_DISABILITY_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_DEVELOPMENTAL_DISABILITY IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_DRUG_ABUSE_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_DRUG_ABUSE IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_FOODSTAMP_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_FOODSTAMP IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_GED_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_GED IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_HIGHER_EDUC_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_HIGHER_EDUC IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_HOUSING_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_HOUSING IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_INTERVENTION]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_INTERVENTION IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_IPV_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_IPV IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_JOB_TRAINING_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_JOB_TRAINING IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_LACTATION_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_LACTATION IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_LEGAL_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_LEGAL_CLIENT IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN (GCSS.[SERVICE_USE_0_MEDICAID_CHILD]  IN (2,5)
		 OR GCSS.[SERVICE_USE_0_MEDICAID_CLIENT]  IN (2,5))
			AND RSS2.SERVICE_REFER_0_MEDICAID IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate			
		 THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_MENTAL_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_MENTAL IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN (GCSS.[SERVICE_USE_0_OTHER1]  IN (2,5)
		 OR GCSS.[SERVICE_USE_0_CHILD_OTHER1]  IN (2,5)
		 OR GCSS.[SERVICE_USE_0_OTHER3]  IN (2,5)
		 OR GCSS.[SERVICE_USE_0_CHILD_OTHER3]  IN (2,5)
		 OR GCSS.[SERVICE_USE_0_OTHER2]  IN (2,5)
		 OR GCSS.[SERVICE_USE_0_CHILD_OTHER2]  IN (2,5))
			AND RSS2.SERVICE_REFER_0_OTHER IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		 THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_PATERNITY_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_PATERNITY IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_PCP_CLIENT]  IN (2,5)
			AND (RSS2.SERVICE_REFER_0_PCP IS NOT NULL OR RSS2.SERVICE_REFER_0_PCP_R2 IS NOT NULL)
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		 THEN 1
	  
		WHEN  GCSS.[SERVICE_USE_0_PCP_SICK_CHILD]  IN (2,5)
			AND (RSS2.SERVICE_REFER_0_PCP IS NOT NULL OR RSS2.SERVICE_REFER_0_PCP_R2 IS NOT NULL)
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		 THEN 1
	  
		WHEN  GCSS.[SERVICE_USE_0_PCP_WELL_CHILD]  IN (2,5)
			AND (RSS2.SERVICE_REFER_0_PCP IS NOT NULL OR RSS2.SERVICE_REFER_0_PCP_R2 IS NOT NULL)
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		 THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_PCP_WELL_CLIENT]  IN (2,5)
			AND (RSS2.SERVICE_REFER_0_PCP IS NOT NULL OR RSS2.SERVICE_REFER_0_PCP_R2 IS NOT NULL)
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		 THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_PREVENT_INJURY_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_PREVENT_INJURY IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN (GCSS.[SERVICE_USE_0_PRIVATE_INSURANCE_CHILD]  IN (2,5)
		 OR GCSS.[SERVICE_USE_0_PRIVATE_INSURANCE_CLIENT]  IN (2,5))
			AND RSS2.SERVICE_REFER_0_PRIVATE_INSURANCE IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		 THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_RELATIONSHIP_COUNSELING_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_RELATIONSHIP_COUNSELING IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_SCHIP_CHILD]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_SCHIP IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_SMOKE_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_SMOKE IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_SOCIAL_SECURITY_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_SOCIAL_SECURITY IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN (GCSS.[SERVICE_USE_0_SPECIAL_NEEDS_CHILD]  IN (2,5)
		 OR GCSS.[SERVICE_USE_0_SPECIAL_NEEDS_CLIENT]  IN (2,5))
			AND RSS2.SERVICE_REFER_0_SPECIAL_NEEDS IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		 THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_SUBSID_CHILD_CARE_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_SUBSID_CHILD_CARE IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_TANF_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_TANF IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_TRANSPORTATION_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_TRANSPORTATION IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_UNEMPLOYMENT_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_UNEMPLOYMENT IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN GCSS.[SERVICE_USE_0_WIC_CLIENT]  IN (2,5)
			AND RSS2.SERVICE_REFER_0_WIC_CLIENT IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	  
		WHEN (
				GCSS.SERVICE_USE_MILITARY_INS_CHILD  IN (2,5)
				OR GCSS.[SERVICE_USE_MILITARY_INS_CLIENT ]  IN (2,5)
			)
			AND RSS2.SERVICE_REFER_MILITARY_INS IS NOT NULL
			AND RSS2.SurveyDate < = GCSS.SurveyDate
		THEN 1
	   END),0) ServiceWithReferral
	,dbo.fnGetFormName(GCSS.SurveyID) FormName


FROM Govt_Comm_Srvcs_Survey GCSS
	INNER JOIN DataWarehouse..Referrals_to_Services_Survey RSS2
		ON RSS2.CL_EN_GEN_ID = GCSS.CL_EN_GEN_ID
		AND RSS2.ProgramID = GCSS.ProgramID
		AND RSS2.SurveyDate < = GCSS.SurveyDate
		AND (dbo.fnGetFormName(GCSS.SurveyID) NOT LIKE '%18%' AND dbo.fnGetFormName(GCSS.SurveyID) NOT LIKE '%24%')
		
GROUP BY GCSS.CL_EN_GEN_ID,GCSS.ProgramID,dbo.fnGetFormName(GCSS.SurveyID) 
	) B6C5
	ON B6C5.CL_EN_GEN_ID = EAD.CLID
	AND B6C5.ProgramID = EAD.ProgramID
	AND B6C5.ServiceWithReferral = 1

	
GROUP BY 	EAD.CLID
	,EAD.ProgramID
	,PAS.SiteID
	,CASE WHEN CFS.CLIENT_FUNDING_0_SOURCE_MIECHVP_COM IS NOT NULL THEN 'Competitive'
		WHEN CFS.CLIENT_FUNDING_0_SOURCE_MIECHVP_FORM IS NOT NULL THEN 'Formula' END 
GO
