USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[usp_HRSA_Form_1_v2]    Script Date: 11/16/2017 10:44:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_HRSA_Form_1_v2]
(@StartDate DATE
 ,@EndDate Date
 ,@FundingType VARCHAR(MAX)
 ,@Teams VARCHAR(MAX)
 ,@NHV VARCHAR(MAX))

AS

--declare @startdate date set @startdate = '05/1/2014'
--declare @enddate date set @enddate = '4/30/2015'
--declare @fundingtype int set @fundingtype = 4
--declare @Teams INT SET @Teams = 1001
--DECLARE @NHV INT SET @NHV = 7926;

--declare @startdate date set @startdate = '05/1/2014'
--declare @enddate date set @enddate = '4/30/2015'
--declare @fundingtype VARCHAR(500) set @fundingtype = '1'
--declare @Teams VARCHAR(500) SET @Teams = '1001,1004,1007,1010,1013,1576,1887,1922,1925,1943,1988,854,857,860,863,866,869,971,974,977,980,983,986,989,992,995,998,'
--declare @NHV VARCHAR(500) SET @NHV = '6165,6174,6176,6178,6180,6272,6274,6276,6278,6282,6288,6290,6292,6294,6296';--7926;
--;

WITH --HM AS (SELECT * FROM DBO.udf_HRSA_MIECHV_ServedEnrolled_v2(@StartDate, @EndDate,@FundingType,@Teams))
--,
SXC AS 
(			
	SELECT StaffID,CLID,ProgramID,NULL EndDate
	FROM StaffxClient
	UNION ALL
	SELECT StaffID,CLID,ProgramID,EndDate
	FROM StaffxClientHx
)
, StaffxCL AS
(
	SELECT 
		StaffID,CLID,ProgramID,EndDate 
		,RANK() OVER(PARTITION BY CLID,ProgramID ORDER BY EndDate DESC) Ranking

	FROM SXC
	WHERE ISNULL(SXC.EndDate,DATEADD(DAY,1,@EndDate)) >= @StartDate

)

SELECT DISTINCT
  P.AGENCY_INFO_0_NAME
  ,P.SiteID AS [Agencies Site_ID]
  ,P.ProgramID
  ,P.ProgramName
  ,P.Abbreviation [State]
  ,EAD.CLID
  ,EAD.ProgramStartDate
  
  
  	,--MAX
  	(CASE	
		WHEN EAD.ProgramStartDate BETWEEN @StartDate AND @EndDate
			--AND CF.CL_EN_GEN_ID IS NOT NULL
		THEN EAD.CLID
	END) [Newly Enrolled MIECHV During Reporting Period]
	,--MAX
	([MIECHV Served During Reporting Period])[MIECHV Served During Reporting Period]
	,--MAX
	([MIECHV Infants Born During Reporting Period])[MIECHV Infants Born During Reporting Period]
	,--MAX
	([MIECHV Infants Served During Reporting Period])[MIECHV Infants Served During Reporting Period]
	
  
  ,--MAX
  ( [Home visits during reporting period]) [Home visits during reporting period]
  ,[Currently Rcv Svcs]
  
  
  
  
  
  
  ,D.CLIENT_INCOME_0_HH_INCOME
  ,D.CLIENT_INCOME_1_LOW_INCOME_QUALIFY
  ,D.CLIENT_INCOME_AMOUNT
  ,D.CLIENT_MILITARY
  ,CASE
	WHEN CLIENT_FUNDING_0_SOURCE_MIECHVP_COM IS NOT NULL THEN 1
	WHEN CLIENT_FUNDING_0_SOURCE_MIECHVP_FORM IS NOT NULL THEN 2
	WHEN CLIENT_FUNDING_0_SOURCE_MIECHVP_TRIBAL IS NOT NULL THEN 3
	ELSE 4
END FundingSort
  ,(CASE WHEN CF.CLIENT_FUNDING_0_SOURCE_MIECHVP_COM IS NOT NULL THEN EAD.CLID END) CLIENT_FUNDING_0_SOURCE_MIECHVP_COM
  ,(CASE WHEN CF.CLIENT_FUNDING_0_SOURCE_MIECHVP_FORM IS NOT NULL THEN EAD.CLID END) CLIENT_FUNDING_0_SOURCE_MIECHVP_FORM
	,ISNULL(CASE
		WHEN ISNULL(IBS.INFANT_BIRTH_0_DOB,@EndDate) BETWEEN @StartDate AND @EndDate
		THEN 1
	 END,0) [Pregnant during reporting period]
  ,CASE
		WHEN C.DEMO_CLIENT_INTAKE_0_ETHNICITY = 'Hispanic or Latina'
		THEN EAD.CLID 
   END [Hispanic or Latino]
  ,CASE
		WHEN C.DEMO_CLIENT_INTAKE_0_ETHNICITY = 'Not Hispanic or Latina'
		THEN EAD.CLID 
   END [Not Hispanic or Latino]
  ,CASE
		WHEN C.DEMO_CLIENT_INTAKE_0_ETHNICITY ='Declined to self-identify'
		THEN EAD.CLID 
   END [Declined Ethnicity]
  ,CASE
		WHEN C.DEMO_CLIENT_INTAKE_0_ETHNICITY IS NULL
		THEN EAD.CLID 
   END [Unrecorded Ethnicity]
  ,CASE 
		WHEN C.DEMO_CLIENT_INTAKE_0_RACE LIKE '%AMERICAN INDIAN%' AND C.DEMO_CLIENT_INTAKE_0_RACE NOT LIKE '%;%'
		THEN EAD.CLID 
   END [American Indian]
  ,CASE 
		WHEN C.DEMO_CLIENT_INTAKE_0_RACE LIKE '%Asian%' AND C.DEMO_CLIENT_INTAKE_0_RACE NOT LIKE '%;%'
		THEN EAD.CLID 
   END [Asian]
  ,CASE 
		WHEN C.DEMO_CLIENT_INTAKE_0_RACE LIKE '%Black%' AND C.DEMO_CLIENT_INTAKE_0_RACE NOT LIKE '%;%'
		THEN EAD.CLID 
   END [Black]
  ,CASE 
		WHEN C.DEMO_CLIENT_INTAKE_0_RACE LIKE '%Native Hawaiian%' AND C.DEMO_CLIENT_INTAKE_0_RACE NOT LIKE '%;%'
		THEN EAD.CLID 
   END [Native Hawaiian]
  ,CASE 
		WHEN C.DEMO_CLIENT_INTAKE_0_RACE LIKE '%White%' AND C.DEMO_CLIENT_INTAKE_0_RACE NOT LIKE '%;%'
		THEN EAD.CLID 
   END [White]
  ,CASE 
		WHEN C.DEMO_CLIENT_INTAKE_0_RACE LIKE '%;%'
		THEN EAD.CLID 
   END [More than one race]
  ,CASE 
		WHEN C.DEMO_CLIENT_INTAKE_0_RACE = 'Declined to self-identify'
		THEN EAD.CLID 
   END [Declined Race]
  ,CASE 
		WHEN C.DEMO_CLIENT_INTAKE_0_RACE IS NULL
		THEN EAD.CLID 
   END [Unrecorded Race]
  ,D.CLIENT_EDUCATION_0_HS_GED
  ,CASE 
	WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 4748.25 AND 6939.75
		AND (D.CLIENT_EDUCATION_1_ENROLLED_CURRENT LIKE '%NO%' 
				OR D.CLIENT_SCHOOL_MIDDLE_HS LIKE '%NOT%')
	THEN EAD.CLID END [HS Age Not Enrolled]
  ,D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP
  ,D.CLIENT_EDUCATION_1_ENROLLED_CURRENT
  ,D.CLIENT_EDUCATION_1_ENROLLED_TYPE
  ,D.CLIENT_WORKING_1_CURRENTLY_WORKING_HRS
  ,D.CLIENT_WORKING_2_CURRENTLY_WORKING_NO
  ,D.CLIENT_WORKING_1_CURRENTLY_WORKING_NO
  ,D.CLIENT_SCHOOL_MIDDLE_HS
  ,C.DOB
  ,C.DEMO_CLIENT_INTAKE_0_LANGUAGE
  ,C.CLIENT_PERSONAL_LANGUAGE_1_DESC
  ,ISNULL(IBS.INFANT_BIRTH_0_DOB,DATEADD(D,1,@EndDate)) INFANT_BIRTH_0_DOB
  ,HH.CLIENT_SUBSTANCE_CIG_1_LAST_48
  ,CASE
	WHEN (GC.SERVICE_USE_0_MEDICAID_CLIENT NOT IN (2,5) OR GC.SERVICE_USE_0_MEDICAID_CLIENT IS NULL)
		AND (GC.SERVICE_USE_0_SCHIP_CLIENT NOT IN (2,5) OR GC.SERVICE_USE_0_SCHIP_CLIENT IS NULL)
		AND (GC.[SERVICE_USE_MILITARY_INS_CLIENT ] NOT IN (2,5) OR GC.[SERVICE_USE_MILITARY_INS_CLIENT ] IS NULL)
		AND (GC.SERVICE_USE_0_PRIVATE_INSURANCE_CLIENT NOT IN (2,5) OR GC.SERVICE_USE_0_PRIVATE_INSURANCE_CLIENT IS NULL)
		AND GC.CL_EN_GEN_ID IS NOT NULL
	THEN EAD.CLID
   END [Client Insurance - None]
  ,CASE
	WHEN (GC.SERVICE_USE_0_MEDICAID_CHILD NOT IN (2,5) OR GC.SERVICE_USE_0_MEDICAID_CHILD IS NULL)
		AND (GC.SERVICE_USE_0_SCHIP_CHILD NOT IN (2,5) OR GC.SERVICE_USE_0_SCHIP_CHILD IS NULL)
		AND (GC.[SERVICE_USE_MILITARY_INS_CHILD] NOT IN (2,5) OR GC.[SERVICE_USE_MILITARY_INS_CHILD] IS NULL)
		AND (GC.SERVICE_USE_0_PRIVATE_INSURANCE_CHILD NOT IN (2,5) OR GC.SERVICE_USE_0_PRIVATE_INSURANCE_CHILD IS NULL)
		AND GC.CL_EN_GEN_ID IS NOT NULL
		AND IBS.INFANT_BIRTH_0_DOB IS NOT NULL
	THEN EAD.CLID
   END [Child Insurance - None]
  ,CASE
	WHEN GC.CL_EN_GEN_ID IS NULL
	THEN EAD.CLID
   END [Client Insurance - Unknown]
  ,CASE
	WHEN GC.CL_EN_GEN_ID IS NULL
		AND IBS.INFANT_BIRTH_0_DOB IS NOT NULL
	THEN EAD.CLID
   END [Child Insurance - Unknown]
	,CASE WHEN GC.SERVICE_USE_0_MEDICAID_CLIENT IN (2,5) OR GC.SERVICE_USE_0_SCHIP_CLIENT IN (2,5) THEN EAD.CLID END [Medicaid Client]
	,CASE WHEN (GC.SERVICE_USE_0_MEDICAID_CHILD IN (2,5) OR GC.SERVICE_USE_0_SCHIP_CHILD IN (2,5)) AND IBS.INFANT_BIRTH_0_DOB IS NOT NULL THEN EAD.CLID END [Medicaid Child]
	,CASE WHEN GC.SERVICE_USE_0_PRIVATE_INSURANCE_CLIENT IN (2,5) THEN EAD.CLID END [Private Client]
	,CASE WHEN (GC.SERVICE_USE_0_PRIVATE_INSURANCE_CHILD IN (2,5)) AND IBS.INFANT_BIRTH_0_DOB IS NOT NULL THEN EAD.CLID END [Private Child]
	,CASE WHEN GC.SERVICE_USE_MILITARY_INS_CHILD IN (2,5) AND IBS.INFANT_BIRTH_0_DOB IS NOT NULL THEN EAD.CLID END [Military Child]
	,CASE WHEN GC.[SERVICE_USE_MILITARY_INS_CLIENT ] IN (2,5) THEN EAD.CLID END [Military Client]
  ,ISNULL(D.CLIENT_MARITAL_0_STATUS,'Unknown') CLIENT_MARITAL_0_STATUS
  ,ISNULL(CASE
	WHEN D.CLIENT_SCHOOL_MIDDLE_HS = 'Yes – high school or GED program (includes alternative and technical programs)'
		OR (D.CLIENT_EDUCATION_0_HS_GED LIKE '%NO%' AND D.CLIENT_EDUCATION_1_ENROLLED_CURRENT = 'YES')
	THEN 'Currently enrolled in high school'
	WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 4748.25 AND 6939.75
		AND (D.CLIENT_EDUCATION_1_ENROLLED_CURRENT LIKE '%NO%' 
				OR D.CLIENT_SCHOOL_MIDDLE_HS LIKE '%NOT%')
	THEN 'Of high school age, not enrolled'
	WHEN (D.CLIENT_EDUCATION_0_HS_GED LIKE '%NO%' AND (D.CLIENT_EDUCATION_1_ENROLLED_CURRENT LIKE '%NO%' 
				OR D.CLIENT_SCHOOL_MIDDLE_HS LIKE '%NOT%'))
			AND (D.CLIENT_SCHOOL_MIDDLE_HS <>'Yes – high school or GED program (includes alternative and technical programs)'
				OR D.CLIENT_SCHOOL_MIDDLE_HS LIKE '%MIDDLE%')
	THEN 'Less than HS diploma'
	WHEN D.CLIENT_EDUCATION_0_HS_GED LIKE '%GED%'
	THEN 'GED'
	WHEN D.CLIENT_EDUCATION_0_HS_GED LIKE '%HIGH%'
	THEN 'HS diploma'
	WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%SOME COLLEGE%'
	THEN 'Some college/training'
	WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%ASSOC%'
		OR D.CLIENT_EDUCATION_0_HS_GED LIKE '%VOCA%'
		OR D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%VOCA%'
	THEN 'Technical Training Certification, Associate''s Degree'
	WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%BACH%'
		OR D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%MAST%'
		OR D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%DOCT%'
	THEN 'Bachelor''s Degree, or higher'
   END,'Unknown/Did Not Report') [Education Level]
  ,ISNULL(CASE
	WHEN D.CLIENT_SCHOOL_MIDDLE_HS = 'Yes – high school or GED program (includes alternative and technical programs)'
		OR (D.CLIENT_EDUCATION_0_HS_GED LIKE '%NO%' AND D.CLIENT_EDUCATION_1_ENROLLED_CURRENT = 'YES')
	THEN 1
	WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 4748.25 AND 6939.75
		AND (D.CLIENT_EDUCATION_1_ENROLLED_CURRENT LIKE '%NO%' 
				OR D.CLIENT_SCHOOL_MIDDLE_HS LIKE '%NOT%')
	THEN 2
	WHEN (D.CLIENT_EDUCATION_0_HS_GED LIKE '%NO%' AND (D.CLIENT_EDUCATION_1_ENROLLED_CURRENT LIKE '%NO%' 
				OR D.CLIENT_SCHOOL_MIDDLE_HS LIKE '%NOT%'))
	THEN 3
	WHEN D.CLIENT_EDUCATION_0_HS_GED LIKE '%GED%'
	THEN 4
	WHEN D.CLIENT_EDUCATION_0_HS_GED LIKE '%HIGH%'
	THEN 5
	WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%SOME COLLEGE%'
	THEN 6
	WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%ASSOC%'
		OR D.CLIENT_EDUCATION_0_HS_GED LIKE '%VOCA%'
		OR D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%VOCA%'
	THEN 7
	WHEN D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%BACH%'
		OR D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%MAST%'
		OR D.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%DOCT%'
	THEN 8
   END,10) [Education Level Sorting]
	,CASE
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 0 AND 3652.49 THEN 'Under 10'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 3652.5 AND 5478.74 THEN '10-14' 
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 5478.75 AND 6574.49 THEN '15-17'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 6574.5 AND 7304.99 THEN '18-19'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN  7305 AND 8035.49 THEN '20-21'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN  8035.5 AND 9131.24 THEN '22-24'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 9131.25 AND 10957.49 THEN '25-29'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 10957.5 AND 12783.74 THEN '30-34'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 12783.75 AND 16436.24 THEN '35-44'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 16436.25 AND 20088.74 THEN '45-54'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 20088.75 AND 23741.24 THEN '55-64'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) >= 23741.25 THEN '65+'
		ELSE 'Unknown/Did Not Report'
	 END [Clients Age]
	,CASE
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 0 AND 3652.49 THEN 1
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 3652.5 AND 5478.74 THEN 2
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 5478.75 AND 6574.49 THEN 3
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 6574.5 AND 7304.99 THEN 4
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN  7305 AND 8035.49 THEN 5
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN  8035.5 AND 9131.24 THEN 6
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 9131.25 AND 10957.49 THEN 7
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 10957.5 AND 12783.74 THEN 8
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 12783.75 AND 16436.24 THEN 9
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 16436.25 AND 20088.74 THEN 10
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 20088.75 AND 23741.24 THEN 11
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) >= 23741.25 THEN 12
		ELSE 13
	 END [Clients Age Sorting]
  ,CASE
		WHEN [MIECHV Infants Served During Reporting Period] IS NOT NULL AND DATEDIFF(D,IBS.INFANT_BIRTH_0_DOB,@EndDate)/365.25 < 1 THEN 'Under 1 year' 
		WHEN [MIECHV Infants Served During Reporting Period] IS NOT NULL AND DATEDIFF(D,IBS.INFANT_BIRTH_0_DOB,@EndDate)/365.25 BETWEEN 1 AND 2 THEN '1-2 years'
		WHEN [MIECHV Infants Served During Reporting Period] IS NOT NULL AND DATEDIFF(D,IBS.INFANT_BIRTH_0_DOB,@EndDate)/365.25 > 2 THEN 'Over 2 years' 
	END	[Child Age at End of Quarter]
  ,IBS.INFANT_PERSONAL_0_GENDER
  ,ISNULL(CASE
		WHEN D.CLIENT_WORKING_0_CURRENTLY_WORKING LIKE '%FULL%' THEN 'Employed Full-Time'
		WHEN D.CLIENT_WORKING_0_CURRENTLY_WORKING LIKE '%part%' THEN 'Employed Part-Time'
		WHEN D.CLIENT_WORKING_0_CURRENTLY_WORKING LIKE '%no%' THEN 'Not Employed'
	END,'Unknown/Did Not Report') [Employment Status]
  ,ISNULL(CASE
		WHEN D.CLIENT_EDUCATION_1_ENROLLED_FTPT LIKE '%TIME%' OR D.CLIENT_SCHOOL_MIDDLE_HS <> 'NOT ENROLLED' THEN 'Student/Trainee'
		WHEN D.CLIENT_EDUCATION_1_ENROLLED_CURRENT LIKE '%NO%' OR D.CLIENT_SCHOOL_MIDDLE_HS = 'NOT ENROLLED' THEN 'Not a Student/Trainee'
		WHEN D.CLIENT_EDUCATION_1_ENROLLED_FTPT IS NULL AND D.CLIENT_SCHOOL_MIDDLE_HS IS NULL THEN 'Unknown/Did Not Report'
	END,'Unknown/Did Not Report') [Education/Training Status]
  ,ISNULL(CASE
		WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%english%' OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%ENGLISH%'
			THEN 'English'
		WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Spanish%' OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%Spanish%'
			THEN 'Spanish'
		WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Arabic%' OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%Arabic%'
			THEN 'Arabic'
		WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Russian%' OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%Russian%'
			THEN 'Russian'
		WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Vietnamese%' OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%Vietnamese%'
			THEN 'Vietnamese'
		WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Cantonese%' OR LOWER(C.CLIENT_PERSONAL_LANGUAGE_1_DESC) LIKE '%cantonese%' OR LOWER(C.CLIENT_PERSONAL_LANGUAGE_1_DESC) LIKE '%chinese%'
			THEN 'Chinese*'
		WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%French%' OR LOWER(C.CLIENT_PERSONAL_LANGUAGE_1_DESC) LIKE '%french%' 
			THEN 'French'
		WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Italian%' OR LOWER(C.CLIENT_PERSONAL_LANGUAGE_1_DESC) LIKE '%italian%' 
			THEN 'Italian'
		WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Japanese%' OR LOWER(C.CLIENT_PERSONAL_LANGUAGE_1_DESC) LIKE '%japanese%' 
			THEN 'Japanese'
		WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Korean%' OR LOWER(C.CLIENT_PERSONAL_LANGUAGE_1_DESC) LIKE '%korean%' 
			THEN 'Korean'
		WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Polish%' OR LOWER(C.CLIENT_PERSONAL_LANGUAGE_1_DESC) LIKE '%polish%' 
			THEN 'Polish'
		WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Tagalog%' OR LOWER(C.CLIENT_PERSONAL_LANGUAGE_1_DESC) LIKE '%tagalog%' 
			THEN 'Tagalog'
		WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Tribal Languages%' OR LOWER(C.CLIENT_PERSONAL_LANGUAGE_1_DESC) LIKE '%tribal%' 
			THEN 'Tribal Languages'
		--WHEN (C.DEMO_CLIENT_INTAKE_0_LANGUAGE NOT IN ('English','Spanish','Arabic','Russian','Vietnamese','Cantonese','French','Italian','Japanese','Korean','Polish','Tagalog','Tribal Languages')
		--		--AND C.DEMO_CLIENT_INTAKE_0_LANGUAGE IS NOT NULL
		--		)
		--	 OR (C.CLIENT_PERSONAL_LANGUAGE_1_DESC NOT IN ('English','Spanish','Arabic','Russian','Vietnamese','cantonese','french','italian','japanese','korean','polish','tagalog')
		--		--AND C.CLIENT_PERSONAL_LANGUAGE_1_DESC IS NOT NULL
		--		)
		--	THEN 'Other'
		else
		'Other'
	END,'Unknown/Did Not Report') [Primary Language]
	,CASE 
		WHEN CLIENT_FUNDING_0_SOURCE_MIECHVP_COM IS NOT NULL THEN 'Competitive'
		WHEN CLIENT_FUNDING_0_SOURCE_MIECHVP_FORM IS NOT NULL THEN 'Formula'
		WHEN CLIENT_FUNDING_0_SOURCE_MIECHVP_TRIBAL IS NOT NULL THEN 'Tribal'
		ELSE 'Other'
	 END FundingType

FROM UV_EADT EAD
	left outer JOIN UV_PAS P 
		ON P.ProgramID = EAD.ProgramID
	INNER JOIN DataWarehouse..Clients C
		ON EAD.CLID = C.Client_Id
	--INNER JOIN DataWarehouse..Home_Visit_Encounter_Survey HVES
	--	ON EAD.CLID = HVES.CL_EN_GEN_ID 
	--	AND EAD.ProgramID = HVES.ProgramID
	--	AND HVES.SurveyDate BETWEEN @StartDate AND @EndDate
	--	AND HVES.CLIENT_COMPLETE_0_VISIT ='Completed'
	INNER JOIN DBO.udf_HRSA_MIECHV_ServedEnrolled_v2(@StartDate, @EndDate,@FundingType,@Teams) HM
		ON HM.CLID = EAD.CLID
		AND HM.ProgramID = EAD.ProgramID
		AND HM.[Served During Reporting Period] IS NOT NULL
		
	LEFT JOIN Infant_Birth_Survey IBS
		ON IBS.CL_EN_GEN_ID = EAD.CLID
		AND IBS.ProgramID = EAD.ProgramID
		AND IBS.SurveyDate < = @EndDate
	LEFT JOIN Demographics_Survey D
		ON EAD.ProgramID = D.ProgramID 
		AND EAD.CLID = D.CL_EN_GEN_ID
		AND D.SurveyDate < = @EndDate
		AND D.SurveyResponseID IN (SELECT MAX(DD.SurveyResponseID)
									FROM Demographics_Survey DD
									WHERE DD.CL_EN_GEN_ID = EAD.CLID
										AND DD.SurveyDate <= @EndDate
										AND DD.ProgramID = EAD.ProgramID
										AND dbo.fnGetFormName(DD.SurveyID) IN ('Demographics: Pregnancy Intake','Demographics Update: Infancy 12 Months','Demographics Update: Toddler 24 Months')
									)
	LEFT JOIN DataWarehouse..Client_Funding_Survey CF
		ON EAD.CLID = CF.CL_EN_GEN_ID
		AND EAD.ProgramID = CF.ProgramID
		AND (CF.CLIENT_FUNDING_1_START_MIECHVP_COM >= '10/1/2010'
			OR CF.CLIENT_FUNDING_1_START_MIECHVP_FORM >= '10/1/2010'
			OR CF.CLIENT_FUNDING_1_START_MIECHVP_TRIBAL >= '10/1/2010')
	LEFT JOIN DataWarehouse..Health_Habits_Survey HH
		ON HH.CL_EN_GEN_ID = EAD.CLID
		AND HH.ProgramID = EAD.ProgramID
		AND HH.SurveyDate < = @EndDate
		AND dbo.fnGetFormName(HH.SurveyID) LIKE '%INTAKE%'
	LEFT JOIN Govt_Comm_Srvcs_Survey GC
		ON EAD.ProgramID = GC.ProgramID 
		AND EAD.CLID = GC.CL_EN_GEN_ID
		AND GC.SurveyDate BETWEEN @StartDate AND @EndDate
		AND GC.SurveyResponseID IN (SELECT MAX(GGC.SurveyResponseID)
									FROM Govt_Comm_Srvcs_Survey GGC
									WHERE GGC.CL_EN_GEN_ID = EAD.CLID
										AND GGC.ProgramID = EAD.ProgramID
										AND dbo.fnGetFormName(GGC.SurveyID) like ('Use of Government & Community Services%')
										AND GGC.SurveyDate BETWEEN @StartDate AND @EndDate
										)
	INNER JOIN StaffxCL SC
		ON SC.CLID = EAD.CLID
		AND SC.ProgramID = EAD.ProgramID
		AND SC.Ranking = 1
	INNER JOIN StaffXEntities SE
		ON SE.StaffID = SC.StaffID
	INNER JOIN dbo.fn_FID_Staff_list('1/1/1900',@EndDate) S
		ON S.Entity_ID = SE.EntityID
		AND S.ProgramID = P.ProgramID
WHERE 
	EAD.ProgramStartDate < = @EndDate
	AND ISNULL(EAD.EndDate,GETDATE()) > = @StartDate
	AND EAD.RankingLatest = 1
	AND P.ProgramID IN (SELECT * FROM dbo.udf_ParseMultiParam(@Teams))
	AND CASE
			WHEN CLIENT_FUNDING_0_SOURCE_MIECHVP_COM IS NOT NULL THEN 1
			WHEN CLIENT_FUNDING_0_SOURCE_MIECHVP_FORM IS NOT NULL THEN 2
			WHEN CLIENT_FUNDING_0_SOURCE_MIECHVP_TRIBAL IS NOT NULL THEN 3
			ELSE 4
		END IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType))
	AND S.Entity_ID IN (SELECT * FROM dbo.udf_ParseMultiParam(@NHV))
	--and ead.clid in (515295,539817)	
--------change null to 0
UNION ALL
SELECT 
	NULL,0,NULL,NULL,NULL,NULL,NULL,0,0,0,0,0,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL	
	,'Single - never married'
,'Currently enrolled in high school',1,'Under 10',1,'Under 1 year','Male','Employed Full-Time'
,'Student/Trainee','English',CASE WHEN 1 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Competitive' WHEN 2 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Formula' WHEN 3 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Tribal' ELSE 'Other'END

UNION ALL
SELECT  
	NULL,0,NULL,NULL,NULL,NULL,NULL,0,0,0,0,0,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL	
	,'Widowed'
,'Of high school age, not enrolled',2,'10-14',2,'1-2 years','Male','Employed Part-Time'
,'Not a Student/Trainee','Spanish',CASE WHEN 1 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Competitive' WHEN 2 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Formula' WHEN 3 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Tribal' ELSE 'Other'END

UNION ALL
SELECT  
	NULL,0,NULL,NULL,NULL,NULL,NULL,0,0,0,0,0,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL	
	,'Divorced'
,'Less than HS diploma',3,'15-17',3,'Under 1 year','Female','Not Employed'
,'Unknown/Did Not Report','Arabic',CASE WHEN 1 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Competitive' WHEN 2 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Formula' WHEN 3 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Tribal' ELSE 'Other'END

UNION ALL
SELECT 
	NULL,0,NULL,NULL,NULL,NULL,NULL,0,0,0,0,0,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL	
	,'Married (legal or common law)'
,'GED',4,'18-19',4,'1-2 years','Female','Unknown/Did Not Report'
,'Unknown/Did Not Report','Russian',CASE WHEN 1 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Competitive' WHEN 2 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Formula' WHEN 3 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Tribal' ELSE 'Other'END

UNION ALL
SELECT  
	NULL,0,NULL,NULL,NULL,NULL,NULL,0,0,0,0,0,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL	
	,'Separated'
,'HS diploma',5,'20-21',5,'Over 2 years','Male','Unknown/Did Not Report'
,'Unknown/Did Not Report','Vietnamese',CASE WHEN 1 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Competitive' WHEN 2 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Formula' WHEN 3 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Tribal' ELSE 'Other'END

UNION ALL
SELECT 
	NULL,0,NULL,NULL,NULL,NULL,NULL,0,0,0,0,0,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL	
	,'Unknown'
,'Some college/training',6,'22-24',6,'Over 2 years','Female','Unknown/Did Not Report'
,'Unknown/Did Not Report','Other',CASE WHEN 1 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Competitive' WHEN 2 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Formula' WHEN 3 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Tribal' ELSE 'Other'END

UNION ALL
SELECT  
	NULL,0,NULL,NULL,NULL,NULL,NULL,0,0,0,0,0,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL	
	,'Unknown'
,'Technical Training Certification, Associate''s Degree',7,'25-29',7,NULL,NULL,'Unknown/Did Not Report'
,'Unknown/Did Not Report','Chinese*',CASE WHEN 1 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Competitive' WHEN 2 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Formula' WHEN 3 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Tribal' ELSE 'Other'END

UNION ALL
SELECT 
	NULL,0,NULL,NULL,NULL,NULL,NULL,0,0,0,0,0,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL	
	,'Unknown'
,'Bachelor''s Degree, or higher',8,'30-34',8,NULL,NULL,'Unknown/Did Not Report'
,'Unknown/Did Not Report','French',CASE WHEN 1 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Competitive' WHEN 2 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Formula' WHEN 3 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Tribal' ELSE 'Other'END

UNION ALL
SELECT  
	NULL,0,NULL,NULL,NULL,NULL,NULL,0,0,0,0,0,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL	
	,'Unknown'
,'Other',9,'35-44',9,NULL,NULL,'Unknown/Did Not Report'
,'Unknown/Did Not Report','Italian',CASE WHEN 1 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Competitive' WHEN 2 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Formula' WHEN 3 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Tribal' ELSE 'Other'END

UNION ALL
SELECT  
	NULL,0,NULL,NULL,NULL,NULL,NULL,0,0,0,0,0,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL	
	,'Unknown'
,'Unknown/Did Not Report',10,'45-54',10,NULL,NULL,'Unknown/Did Not Report'
,'Unknown/Did Not Report','Japanese',CASE WHEN 1 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Competitive' WHEN 2 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Formula' WHEN 3 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Tribal' ELSE 'Other'END

UNION ALL
SELECT  
	NULL,0,NULL,NULL,NULL,NULL,NULL,0,0,0,0,0,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL	
	,'Unknown'
,'Unknown/Did Not Report',10,'55-64',11,NULL,NULL,'Unknown/Did Not Report'
,'Unknown/Did Not Report','Korean',CASE WHEN 1 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Competitive' WHEN 2 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Formula' WHEN 3 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Tribal' ELSE 'Other'END

UNION ALL
SELECT  
	NULL,0,NULL,NULL,NULL,NULL,NULL,0,0,0,0,0,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL	
	,'Unknown'
,'Unknown/Did Not Report',10,'65+',12,NULL,NULL,'Unknown/Did Not Report'
,'Unknown/Did Not Report','Polish',CASE WHEN 1 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Competitive' WHEN 2 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Formula' WHEN 3 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Tribal' ELSE 'Other'END

UNION ALL
SELECT  
	NULL,0,NULL,NULL,NULL,NULL,NULL,0,0,0,0,0,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL	
	,'Unknown'
,'Unknown/Did Not Report',10,'Unknown/Did Not Report',13,NULL,NULL,'Unknown/Did Not Report'
,'Unknown/Did Not Report','Tagalog',CASE WHEN 1 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Competitive' WHEN 2 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Formula' WHEN 3 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Tribal' ELSE 'Other'END

UNION ALL 
SELECT  
	NULL,0,NULL,NULL,NULL,NULL,NULL,0,0,0,0,0,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL	
	,NULL
,'Unknown/Did Not Report',10,'Unknown/Did Not Report',13,NULL,NULL,'Unknown/Did Not Report'
,'Unknown/Did Not Report','Tribal Languages',CASE WHEN 1 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Competitive' WHEN 2 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Formula' WHEN 3 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Tribal' ELSE 'Other'END

UNION ALL 
SELECT  
	NULL,0,NULL,NULL,NULL,NULL,NULL,0,0,0,0,0,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
	,NULL	
	,NULL
,'Unknown/Did Not Report',10,'Unknown/Did Not Report',13,NULL,NULL,'Unknown/Did Not Report'
,'Unknown/Did Not Report','Unknown/Did Not Report',CASE WHEN 1 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Competitive' WHEN 2 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Formula' WHEN 3 IN (SELECT * FROM dbo.udf_ParseMultiParam(@FundingType)) THEN 'Tribal' ELSE 'Other'END
GO
