USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[usp_ClientsEverServedWVisits]    Script Date: 11/16/2017 10:44:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[usp_ClientsEverServedWVisits]
(	@StartDate		Date 
	,@EndDate		Date 
)

AS
--DECLARE 
--	@StartDate		Date 
--	,@EndDate		Date 

--SET @StartDate	 = CAST('1/1/2016' AS DATE)
--SET @EndDate		 = DATEADD(D,-1,DATEADD(YEAR,1,@StartDate))

SELECT COUNT(DISTINCT EAD.CaseNumber) [Client Count]
	,A.AGENCY_INFO_0_NAME
	,PAS.ProgramName
	,CASE WHEN A.AGENCY_INFO_0_NAME LIKE 'PALM BEACH COUNTY%'
		THEN 'FL' ELSE A.State END [State]
	,ISNULL(A.AGENCY_INFO_1_INITIATION_DATE,A.AGENCY_DATE_FIRST_HOME_VISIT) AGENCY_INFO_1_INITIATION_DATE
FROM DataWarehouse..UV_EADT EAD
	INNER JOIN DataWarehouse..UV_PAS PAS	
		ON PAS.ProgramID = EAD.ProgramID

	INNER JOIN DataWarehouse..Clients C
		ON C.Client_Id = EAD.CLID
		AND C.Last_Name <> 'Fake'
	INNER JOIN DataWarehouse..Agencies A
		ON A.Site_ID = PAS.SiteID
	INNER JOIN DataWarehouse..Home_Visit_Encounter_Survey hv 
		ON EAD.CLID = hv.CL_EN_GEN_ID
WHERE EAD.ProgramStartDate < = @EndDate
and hv.SurveyDate between @StartDate and @EndDate
and hv.CLIENT_COMPLETE_0_VISIT = 'Completed'

GROUP BY A.AGENCY_INFO_0_NAME
	,PAS.ProgramName
	,CASE WHEN A.AGENCY_INFO_0_NAME LIKE 'PALM BEACH COUNTY%'
		THEN 'FL' ELSE A.State END
	,ISNULL(A.AGENCY_INFO_1_INITIATION_DATE,A.AGENCY_DATE_FIRST_HOME_VISIT) 

--This logic gets Client Counts from Closed Agencies

UNION ALL

SELECT COUNT(DISTINCT C.CLIENTID) [Client Count]
	,S.NAME
	,''
	,s.REGIONALCODE--,S.SITECODE
	--,V1.FORMDATEMIN1
	--,V2.FORMDATEMIN2
	--,V3.FORMDATEMIN3
	,MIN(CASE
		WHEN DATEDIFF(DAY,V2.FORMDATEMIN2,V3.FORMDATEMIN3) > 60
		THEN V3.FORMDATEMIN3
		WHEN DATEDIFF(DAY,V1.FORMDATEMIN1,V2.FORMDATEMIN2) > 60
		THEN V2.FORMDATEMIN2
		ELSE V1.FORMDATEMIN1
	 END) [Min Visit]
FROM NFP_Master.PRCLIVE.CLIENT_TBL C
	INNER JOIN NFP_Master.PRCLIVE.SITE_TBL S
		ON S.SITECODE = C.SITECODE
	INNER JOIN NFP_Master.PRCLIVE.VISIT_TBL visit
		ON visit.[CLIENTID] = C.[CLIENTID]

	INNER JOIN (
					SELECT MIN(V.FORMDATE) FORMDATEMIN1 ,V.SITECODE
					FROM NFP_Master.PRCLIVE.VISIT_TBL V
					WHERE V.COMPLETE = 1
					GROUP BY V.SITECODE
				) V1
		ON V1.SITECODE = S.SITECODE
	LEFT JOIN (
					SELECT MIN(V.FORMDATE) FORMDATEMIN2 ,V.SITECODE
					FROM NFP_Master.PRCLIVE.VISIT_TBL V
					WHERE V.FORMDATE > (
											SELECT MIN(VV.FORMDATE) FORMDATEMIN
											FROM NFP_Master.PRCLIVE.VISIT_TBL VV
											WHERE VV.SITECODE = V.SITECODE
												AND VV.COMPLETE = 1
										)
						AND V.COMPLETE = 1
					GROUP BY V.SITECODE
				) V2
		ON V2.SITECODE = S.SITECODE
	LEFT JOIN (
					SELECT MIN(V.FORMDATE) FORMDATEMIN3 ,V.SITECODE
					FROM NFP_Master.PRCLIVE.VISIT_TBL V
					WHERE V.FORMDATE > (
											SELECT MIN(VV.FORMDATE) FORMDATEMIN
											FROM NFP_Master.PRCLIVE.VISIT_TBL VV
											WHERE VV.SITECODE = V.SITECODE
												AND VV.FORMDATE > (
																	SELECT MIN(VVV.FORMDATE)
																	FROM NFP_Master.PRCLIVE.VISIT_TBL VVV
																	WHERE VV.SITECODE = VVV.SITECODE
																		AND VVV.COMPLETE = 1
																  )
												AND VV.COMPLETE = 1
										)
						AND V.COMPLETE = 1
					GROUP BY V.SITECODE
				) V3
		ON V3.SITECODE = S.SITECODE
WHERE visit.FORMDATE between @StartDate and @EndDate
	AND visit.COMPLETE = 1
	AND S.NAME LIKE '%CLOSE%'
	
GROUP BY S.NAME
	,s.REGIONALCODE--,S.SITECODE
	--	,V1.FORMDATEMIN1
	--,V2.FORMDATEMIN2
	--,V3.FORMDATEMIN3







GO
