USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[SSISPFS_InfantHealth]    Script Date: 11/16/2017 10:44:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sheri Scott
-- Create date: 1/13/2016
-- Description:	Extract of InfantHealth data where the SiteID from Infant_Health_Survey is the
--				same as ExportPFSEntities SiteID and ExportProfileID is the same as the passed ProfileID
--				for Pay For Success where clients are over the age of 14
-- *********************************************
-- Modified by: Jingjing Gao
-- Modified on: 02/14/2017
-- Description: Per Kyla's ticket#[00019665]:JPAL Raw Data Extract Modification, remove the filter "PFS_STUDY_VULNERABLE_POP = 0" because JPAL want to include all 
--              clients regardless the clients is vulnerable or not. In addition, joining condition need to be changed. Use [CL_EN_GEN_ID] instead of [CLIENT_0_ID_NSO]
--              to join [dbo].[Clients] table.
-- =============================================
CREATE PROCEDURE [dbo].[SSISPFS_InfantHealth]
	@ProfileID INT
AS
BEGIN

	SET NOCOUNT ON;
	
	SELECT s.[SurveyResponseID]
      ,s.[ElementsProcessed]
      ,s.[SurveyID]
      ,s.[SurveyDate]
      ,s.[AuditDate]
      ,s.[CL_EN_GEN_ID]
      ,s.[SiteID]
      ,s.[ProgramID]
      ,s.[IA_StaffID]
      ,s.[ClientID]
      ,s.[RespondentID]
      ,s.[INFANT_0_ID_NSO]
      ,s.[INFANT_PERSONAL_0_NAME_FIRST]
      ,s.[INFANT_BIRTH_0_DOB]
      ,s.[CLIENT_0_ID_NSO]
      ,s.[CLIENT_PERSONAL_0_NAME_FIRST]
      ,s.[CLIENT_PERSONAL_0_NAME_LAST]
      ,s.[NURSE_PERSONAL_0_NAME]
      ,s.[INFANT_HEALTH_PROVIDER_0_PRIMARY]
      ,s.[INFANT_HEALTH_IMMUNIZ_0_UPDATE]
      ,s.[INFANT_HEALTH_IMMUNIZ_1_RECORD]
      ,s.[INFANT_HEALTH_LEAD_0_TEST]
      ,s.[INFANT_HEALTH_HEIGHT_0_INCHES]
      ,s.[INFANT_HEALTH_HEIGHT_1_PERCENT]
      ,s.[INFANT_HEALTH_HEAD_0_CIRC_INCHES]
      ,s.[INFANT_HEALTH_ER_0_HAD_VISIT]
      ,s.[INFANT_HEALTH_ER_1_TYPE]
      ,s.[INFANT_HEALTH_ER_1_INJ_DATE1]
      ,s.[INFANT_HEALTH_ER_1_INJ_DATE2]
      ,s.[INFANT_HEALTH_ER_1_INJ_DATE3]
      ,s.[INFANT_HEALTH_ER_1_INGEST_DATE1]
      ,s.[INFANT_HEALTH_ER_1_INGEST_DATE2]
      ,s.[INFANT_HEALTH_ER_1_INGEST_DATE3]
      ,s.[INFANT_HEALTH_HOSP_0_HAD_VISIT]
      ,s.[INFANT_BREASTMILK_0_EVER_IHC]
      ,s.[INFANT_BREASTMILK_1_CONT]
      ,s.[INFANT_HEALTH_HOSP_1_INJ_DATE1]
      ,s.[INFANT_HEALTH_HOSP_1_INJ_DATE2]
      ,s.[INFANT_HEALTH_HOSP_1_INJ_DATE3]
      ,s.[INFANT_HEALTH_HOSP_1_INGEST_DATE1]
      ,s.[INFANT_HEALTH_HOSP_1_INGEST_DATE2]
      ,s.[INFANT_HEALTH_HOSP_1_INGEST_DATE3]
      ,s.[INFANT_HEALTH_HOSP_1_TYPE]
      ,s.[INFANT_BREASTMILK_1_AGE_STOP]
      ,s.[INFANT_BREASTMILK_1_WEEK_STOP]
      ,s.[INFANT_BREASTMILK_1_EXCLUSIVE_WKS]
      ,s.[INFANT_SOCIAL_SERVICES_0_REFERRAL]
      ,s.[INFANT_SOCIAL_SERVICES_1_REFDATE1]
      ,s.[INFANT_SOCIAL_SERVICES_1_REFDATE2]
      ,s.[INFANT_SOCIAL_SERVICES_1_REFDATE3]
      ,s.[INFANT_SOCIAL_SERVICES_1_NHV_REFERRAL]
      ,s.[INFANT_SOCIAL_SERVICES_1_NHV_REFDATE1]
      ,s.[INFANT_SOCIAL_SERVICES_1_NHV_REFDATE2]
      ,s.[INFANT_SOCIAL_SERVICES_1_NHV_REFDATE3]
      ,s.[INFANT_HEALTH_WEIGHT_0_POUNDS]
      ,s.[INFANT_HEALTH_WEIGHT_1_OUNCES]
      ,s.[INFANT_HEALTH_WEIGHT_1_OZ]
      ,s.[INFANT_HEALTH_WEIGHT_1_PERCENT]
      ,s.[CLIENT_0_ID_AGENCY]
      ,s.[INFANT_AGES_STAGES_1_COMM]
      ,s.[INFANT_AGES_STAGES_0_VERSION]
      ,s.[INFANT_AGES_STAGES_1_GMOTOR]
      ,s.[INFANT_AGES_STAGES_1_FMOTOR]
      ,s.[INFANT_AGES_STAGES_1_PSOLVE]
      ,s.[INFANT_AGES_STAGES_1_PSOCIAL]
      ,s.[INFANT_AGES_STAGES_SE_0_EMOTIONAL]
      ,s.[INFANT_PERSONAL_0_NAME_LAST]
      ,s.[INFANT_HEALTH_HEAD_1_REPORT]
      ,s.[INFANT_HEALTH_HEIGHT_1_REPORT]
      ,s.[INFANT_HEALTH_PROVIDER_0_APPT]
      ,s.[INFANT_HEALTH_WEIGHT_1_REPORT]
      ,s.[INFANT_HEALTH_ER_1_OTHERDT1]
      ,s.[INFANT_HEALTH_ER_1_INGEST_TREAT1]
      ,s.[INFANT_HEALTH_ER_1_INGEST_TREAT2]
      ,s.[INFANT_HEALTH_ER_1_INGEST_TREAT3]
      ,s.[INFANT_HEALTH_ER_1_INJ_TREAT1]
      ,s.[INFANT_HEALTH_ER_1_INJ_TREAT2]
      ,s.[INFANT_HEALTH_ER_1_OTHER]
      ,s.[INFANT_HEALTH_ER_1_OTHER_REASON1]
      ,s.[INFANT_HEALTH_ER_1_OTHER_REASON2]
      ,s.[INFANT_HEALTH_ER_1_OTHER_REASON3]
      ,s.[INFANT_HEALTH_ER_1_OTHERDT2]
      ,s.[INFANT_HEALTH_ER_1_OTHERDT3]
      ,s.[INFANT_HOME_0_TOTAL]
      ,s.[INFANT_HOME_1_ACCEPTANCE]
      ,s.[INFANT_HOME_1_EXPERIENCE]
      ,s.[INFANT_HOME_1_INVOLVEMENT]
      ,s.[INFANT_HOME_1_LEARNING]
      ,s.[INFANT_HOME_1_ORGANIZATION]
      ,s.[INFANT_HOME_1_RESPONSIVITY]
      ,s.[INFANT_SOCIAL_SERVICES_1_NHV_REASON1]
      ,s.[INFANT_SOCIAL_SERVICES_1_NHV_REASON2]
      ,s.[INFANT_SOCIAL_SERVICES_1_NHV_REASON3]
      ,s.[INFANT_SOCIAL_SERVICES_1_REASON1]
      ,s.[INFANT_SOCIAL_SERVICES_1_REASON2]
      ,s.[INFANT_SOCIAL_SERVICES_1_REASON3]
      ,s.[NFANT_HEALTH_ER_1_INJ_TREAT3]
      ,s.[DW_AuditDate]
      ,s.[DataSource]
      ,s.[INFANT_HEALTH_ER_1_INJ_ERvsUC1]
      ,s.[INFANT_HEALTH_PROVIDER_0_APPT_R2]
      ,s.[INFANT_HEALTH_PROVIDER_0_APPT_DETAILSR2]
      ,s.[INFANT_HEALTH_ER_1_INGEST_ERvsUC1]
      ,s.[INFANT_HEALTH_ER_1_INGEST_ERvsUC2]
      ,s.[INFANT_HEALTH_ER_1_INGEST_ERvsUC3]
      ,s.[INFANT_HEALTH_ER_1_INJ_ERvsUC2]
      ,s.[INFANT_HEALTH_ER_1_OTHER_ERvsUC1]
      ,s.[INFANT_HEALTH_ER_1_OTHER_ERvsUC2]
      ,s.[INFANT_HEALTH_NO_ASQ_COMM]
      ,s.[INFANT_HEALTH_NO_ASQ_FINE]
      ,s.[INFANT_HEALTH_NO_ASQ_GROSS]
      ,s.[INFANT_HEALTH_NO_ASQ_PERSONAL]
      ,s.[INFANT_HEALTH_NO_ASQ_PROBLEM]
      ,s.[INFANT_HEALTH_NO_ASQ_TOTAL]
      ,s.[INFANT_HEALTH_ER_1_INJ_ERvsUC3]
      ,s.[INFANT_HEALTH_ER_1_OTHER_ERvsUC3]
      ,s.[INFANT_HEALTH_ER_1_INJ_TREAT3]
      ,s.[INFANT_PERSONAL_0_SSN]
      ,s.[INFANT_HEALTH_ER_1_INGEST_DAYS1]
      ,s.[INFANT_HEALTH_ER_1_INGEST_DAYS2]
      ,s.[INFANT_HEALTH_ER_1_INGEST_DAYS3]
      ,s.[INFANT_HEALTH_ER_1_INJ_DAYS1]
      ,s.[INFANT_HEALTH_ER_1_INJ_DAYS2]
      ,s.[INFANT_HEALTH_ER_1_INJ_DAYS3]
      ,s.[Master_SurveyID]
      ,s.[INFANT_HEALTH_IMMUNIZ_UPDATE_NO]
      ,s.[INFANT_HEALTH_IMMUNIZ_UPDATE_YES]
      ,s.[INFANT_HEALTH_DENTIST]
      ,s.[INFANT_HEALTH_DENTIST_STILL_EBF]
      ,s.[INFANT_SOCIAL_SERVICES_1_NHV_REASON1_OTHER]
      ,s.[INFANT_SOCIAL_SERVICES_1_NHV_REASON2_OTHER]
      ,s.[INFANT_SOCIAL_SERVICES_1_NHV_REASON3_OTHER]
      ,s.[INFANT_SOCIAL_SERVICES_1_REASON1_OTHER]
      ,s.[INFANT_SOCIAL_SERVICES_1_REASON2_OTHER]
      ,s.[INFANT_SOCIAL_SERVICES_1_REASON3_OTHER]
      ,s.[Archive_Record]
      ,s.[INFANT_INSURANCE_TYPE]
      ,s.[INFANT_AGES_STAGES_SE_VERSION]
      ,s.[INFANT_BIRTH_COSLEEP]
      ,s.[INFANT_BIRTH_READ]
      ,s.[INFANT_BIRTH_SLEEP_BACK]
      ,s.[INFANT_BIRTH_SLEEP_BEDDING]
      ,s.[INFANT_HEALTH_DENTAL_SOURCE]
      ,s.[INFANT_INSURANCE]
      ,s.[INFANT_INSURANCE_OTHER]   
	FROM dbo.[Infant_Health_Survey] s
	INNER JOIN dbo.Clients c ON c.Client_Id = s.[CL_EN_GEN_ID]
	WHERE SiteID in (SELECT SiteID FROM [DataWarehouse].dbo.ExportEntities 
					  WHERE ExportProfileID = @ProfileID)
	--AND c.PFS_STUDY_VULNERABLE_POP = 0
	
END

GO
