USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[SSISPFS_AgencyProfile]    Script Date: 11/16/2017 10:44:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Create date: 1/11/2016
-- Description:	Extract of AgencyProfile data where the SiteID from Agency_Profile_Survey is the
--				same as ExportEntities SiteID and ExportProfileID is the same as the passed ProfileID
--				for Pay for Success
-- =============================================
CREATE PROCEDURE [dbo].[SSISPFS_AgencyProfile] 
	@ProfileID INT
AS
BEGIN
	
	SET NOCOUNT ON;

SELECT [SurveyResponseID]
      ,[ElementsProcessed]
      ,[SurveyID]
      ,[SurveyDate]
      ,[AuditDate]
      ,[CL_EN_GEN_ID]
      ,[SiteID]
      ,[ProgramID]
      ,[IA_StaffID]
      ,[ClientID]
      ,[RespondentID]
      ,[Entity_ID_Mapped]
      ,[AGENCY_INFO_1_FUNDED_CAPACITY_FTE]
      ,[AGENCY_FUNDING01_0_FUNDER_NAME]
      ,[AGENCY_FUNDING01_1_START_DATE]
      ,[AGENCY_FUNDING01_1_END_DATE]
      ,[AGENCY_FUNDING01_1_AMOUNT]
      ,[AGENCY_FUNDING02_0_FUNDER_NAME]
      ,[AGENCY_FUNDING02_1_START_DATE]
      ,[AGENCY_FUNDING02_1_END_DATE]
      ,[AGENCY_FUNDING02_1_AMOUNT]
      ,[AGENCY_RESEARCH_0_INVOLVEMENT]
      ,[AGENCY_RESEARCH01_1_PI1]
      ,[AGENCY_RESEARCH01_0_PROJECT_NAME]
      ,REPLACE(REPLACE(REPLACE([AGENCY_RESEARCH01_1_PROJECT_DESCRIPTION], CHAR(13), ' '), CHAR(10), ' '), CHAR(9), ' ') AS [AGENCY_RESEARCH01_1_PROJECT_DESCRIPTION]
	  ,[AGENCY_RESEARCH01_1_START_DATE]
      ,[AGENCY_RESEARCH01_1_END_DATE]
      ,[AGENCY_RESEARCH01_1_APPROVAL]
      ,[AGENCY_INFO_1_CONTRACT_CAPACITY_FTE]
      ,[AGENCY_INFO_BOARD_0_MEETING_DATE01]
      ,[AGENCY_INFO_BOARD_0_MEETING_DATE02]
      ,[AGENCY_INFO_BOARD_0_MEETING_DATE03]
      ,[AGENCY_INFO_BOARD_0_MEETING_DATE04]
      ,[AGENCY_FUNDING01_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING02_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING02_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING03_0_FUNDER_NAME]
      ,[AGENCY_FUNDING04_0_FUNDER_NAME]
      ,[AGENCY_FUNDING05_0_FUNDER_NAME]
      ,[AGENCY_FUNDING06_0_FUNDER_NAME]
      ,[AGENCY_FUNDING07_0_FUNDER_NAME]
      ,[AGENCY_FUNDING08_0_FUNDER_NAME]
      ,[AGENCY_FUNDING10_0_FUNDER_NAME]
      ,[AGENCY_FUNDING11_0_FUNDER_NAME]
      ,[AGENCY_FUNDING12_0_FUNDER_NAME]
      ,[AGENCY_FUNDING13_0_FUNDER_NAME]
      ,[AGENCY_FUNDING14_0_FUNDER_NAME]
      ,[AGENCY_FUNDING15_0_FUNDER_NAME]
      ,[AGENCY_FUNDING16_0_FUNDER_NAME]
      ,[AGENCY_FUNDING17_0_FUNDER_NAME]
      ,[AGENCY_FUNDING09_0_FUNDER_NAME]
      ,[AGENCY_FUNDING18_0_FUNDER_NAME]
      ,[AGENCY_FUNDING19_0_FUNDER_NAME]
      ,[AGENCY_FUNDING20_0_FUNDER_NAME]
      ,[AGENCY_FUNDING03_1_START_DATE]
      ,[AGENCY_FUNDING04_1_START_DATE]
      ,[AGENCY_FUNDING05_1_START_DATE]
      ,[AGENCY_FUNDING06_1_START_DATE]
      ,[AGENCY_FUNDING07_1_START_DATE]
      ,[AGENCY_FUNDING08_1_START_DATE]
      ,[AGENCY_FUNDING09_1_START_DATE]
      ,[AGENCY_FUNDING10_1_START_DATE]
      ,[AGENCY_FUNDING11_1_START_DATE]
      ,[AGENCY_FUNDING12_1_START_DATE]
      ,[AGENCY_FUNDING13_1_START_DATE]
      ,[AGENCY_FUNDING14_1_START_DATE]
      ,[AGENCY_FUNDING15_1_START_DATE]
      ,[AGENCY_FUNDING16_1_START_DATE]
      ,[AGENCY_FUNDING17_1_START_DATE]
      ,[AGENCY_FUNDING18_1_START_DATE]
      ,[AGENCY_FUNDING19_1_START_DATE]
      ,[AGENCY_FUNDING20_1_START_DATE]
      ,[AGENCY_FUNDING03_1_END_DATE]
      ,[AGENCY_FUNDING04_1_END_DATE]
      ,[AGENCY_FUNDING05_1_END_DATE]
      ,[AGENCY_FUNDING06_1_END_DATE]
      ,[AGENCY_FUNDING07_1_END_DATE]
      ,[AGENCY_FUNDING08_1_END_DATE]
      ,[AGENCY_FUNDING09_1_END_DATE]
      ,[AGENCY_FUNDING10_1_END_DATE]
      ,[AGENCY_FUNDING11_1_END_DATE]
      ,[AGENCY_FUNDING12_1_END_DATE]
      ,[AGENCY_FUNDING13_1_END_DATE]
      ,[AGENCY_FUNDING14_1_END_DATE]
      ,[AGENCY_FUNDING15_1_END_DATE]
      ,[AGENCY_FUNDING16_1_END_DATE]
      ,[AGENCY_FUNDING17_1_END_DATE]
      ,[AGENCY_FUNDING18_1_END_DATE]
      ,[AGENCY_FUNDING19_1_END_DATE]
      ,[AGENCY_FUNDING20_1_END_DATE]
      ,[AGENCY_FUNDING03_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING04_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING05_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING06_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING07_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING08_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING09_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING10_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING11_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING12_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING13_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING14_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING15_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING16_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING17_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING18_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING19_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING20_1_FUNDER_TYPE]
      ,[AGENCY_FUNDING03_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING04_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING05_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING06_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING07_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING08_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING09_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING10_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING11_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING12_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING13_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING14_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING15_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING16_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING17_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING18_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING19_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING20_1_DF_GRANT_TYPE]
      ,[AGENCY_FUNDING03_1_AMOUNT]
      ,[AGENCY_FUNDING04_1_AMOUNT]
      ,[AGENCY_FUNDING05_1_AMOUNT]
      ,[AGENCY_FUNDING06_1_AMOUNT]
      ,[AGENCY_FUNDING07_1_AMOUNT]
      ,[AGENCY_FUNDING08_1_AMOUNT]
      ,[AGENCY_FUNDING09_1_AMOUNT]
      ,[AGENCY_FUNDING10_1_AMOUNT]
      ,[AGENCY_FUNDING11_1_AMOUNT]
      ,[AGENCY_FUNDING12_1_AMOUNT]
      ,[AGENCY_FUNDING13_1_AMOUNT]
      ,[AGENCY_FUNDING14_1_AMOUNT]
      ,[AGENCY_FUNDING15_1_AMOUNT]
      ,[AGENCY_FUNDING16_1_AMOUNT]
      ,[AGENCY_FUNDING17_1_AMOUNT]
      ,[AGENCY_FUNDING18_1_AMOUNT]
      ,[AGENCY_FUNDING19_1_AMOUNT]
      ,[AGENCY_FUNDING20_1_AMOUNT]
      ,[DW_AuditDate]
      ,[DataSource]
      ,[AGENCY_FUNDING01_1_DF_GRANT_TYPE]
      ,[Master_SurveyID]
      ,[AGENCY_FUNDING01_MEDICAID_TYPE]
      ,[AGENCY_FUNDING02_MEDICAID_TYPE]
      ,[AGENCY_FUNDING03_MEDICAID_TYPE]
      ,[AGENCY_FUNDING04_MEDICAID_TYPE]
      ,[AGENCY_FUNDING05_MEDICAID_TYPE]
      ,[AGENCY_FUNDING06_MEDICAID_TYPE]
      ,[AGENCY_FUNDING07_MEDICAID_TYPE]
      ,[AGENCY_FUNDING08_MEDICAID_TYPE]
      ,[AGENCY_FUNDING09_MEDICAID_TYPE]
      ,[AGENCY_FUNDING10_MEDICAID_TYPE]
      ,[AGENCY_FUNDING11_MEDICAID_TYPE]
      ,[AGENCY_FUNDING12_MEDICAID_TYPE]
      ,[AGENCY_FUNDING13_MEDICAID_TYPE]
      ,[AGENCY_FUNDING14_MEDICAID_TYPE]
      ,[AGENCY_FUNDING15_MEDICAID_TYPE]
      ,[AGENCY_FUNDING16_MEDICAID_TYPE]
      ,[AGENCY_FUNDING17_MEDICAID_TYPE]
      ,[AGENCY_FUNDING18_MEDICAID_TYPE]
      ,[AGENCY_FUNDING19_MEDICAID_TYPE]
      ,[AGENCY_FUNDING20_MEDICAID_TYPE]
  FROM [DataWarehouse].[dbo].[Agency_Profile_Survey]
  WHERE
	SiteID IN (SELECT SiteID FROM [DataWarehouse].dbo.ExportEntities WHERE ExportProfileID = @ProfileID)

END

GO
