USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[usp_SP_TippingPoint]    Script Date: 11/16/2017 10:44:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_SP_TippingPoint]
( @StartDate DATE, @EndDate DATE --@Team VARCHAR(4000),
)


--DECLARE 
--@Team VARCHAR(4000), @StartDate DATE, @EndDate DATE

--SET @Team = '1394'
--SET @StartDate = CAST('7/1/2013' AS DATE)
--SET @EndDate = CAST('6/30/2014' AS DATE)

AS


SELECT
	P.Site
	,P.SiteID
	,P.[US State]
	,P.StateID
	--,C.CLID
	,COUNT(DISTINCT C.CLID) Families_Served
	,COUNT(DISTINCT CASE WHEN C.Immuniz6_Data BETWEEN @StartDate AND @EndDate THEN C.CLID END) Imm6_Den
	,COUNT(DISTINCT CASE WHEN C.Immuniz6_Yes BETWEEN @StartDate AND @EndDate THEN C.CLID END) Imm6_Num
	,COUNT(DISTINCT CASE WHEN C.BreastMilk IS NOT NULL THEN C.CLID END) BreastFbirth_Den
	,COUNT(DISTINCT CASE WHEN C.BreastMilk = 'Yes' THEN C.CLID END) BreastFbirth_Num
	,COUNT(DISTINCT CASE WHEN C.Breast6_Data BETWEEN @StartDate AND @EndDate THEN C.CLID END) BF6_Den
	,COUNT(DISTINCT CASE WHEN C.Breast6_Yes BETWEEN @StartDate AND @EndDate THEN C.CLID END) BF6_Num
	,COUNT(DISTINCT CASE WHEN C.DOB BETWEEN @StartDate AND @EndDate AND C.GestAge >= 18 THEN C.CLID END) GestAge_Den
	,COUNT(DISTINCT CASE WHEN C.DOB BETWEEN @StartDate AND @EndDate AND C.GestAge >= 39  THEN C.CLID END) GestAge_Num
	,COUNT(DISTINCT CASE WHEN C.DOB BETWEEN @StartDate AND @EndDate AND C.GestAge >= 37  THEN C.CLID END) GestAge37_Num
	--,Max(C.GestAge) gestage
	,COUNT(DISTINCT CASE WHEN C.DOB BETWEEN @StartDate AND @EndDate THEN C.CLID END) Weight_Den
	,COUNT(DISTINCT CASE WHEN C.DOB BETWEEN @StartDate AND @EndDate AND C.Grams > 2500 THEN C.CLID END) Weight_Num
	,COUNT(DISTINCT CASE WHEN RS36.CLIENT_ABUSE_HIT_0_SLAP_PARTNER IS NOT NULL 
								AND RS36.SurveyDate BETWEEN @StartDate AND @EndDate 
								AND RSIn.CLIENT_ABUSE_HIT_0_SLAP_PARTNER IS NOT NULL THEN C.CLID END) DVIn_Den
	,COUNT(DISTINCT CASE WHEN RSIn.CLIENT_ABUSE_HIT_0_SLAP_PARTNER = 'Yes'
								AND RS36.CLIENT_ABUSE_HIT_0_SLAP_PARTNER IS NOT NULL
								AND RS36.SurveyDate BETWEEN @StartDate AND @EndDate 
								AND RSIn.CLIENT_ABUSE_HIT_0_SLAP_PARTNER IS NOT NULL THEN C.CLID END) DVIn_Num
	,COUNT(DISTINCT CASE WHEN RS36.CLIENT_ABUSE_HIT_0_SLAP_PARTNER IS NOT NULL 
								AND RS36.SurveyDate BETWEEN @StartDate AND @EndDate 
								AND RSIn.CLIENT_ABUSE_HIT_0_SLAP_PARTNER IS NOT NULL THEN C.CLID END) DV36_Den
	,COUNT(DISTINCT CASE WHEN RS36.CLIENT_ABUSE_HIT_0_SLAP_PARTNER = 'Yes'
								AND RS36.SurveyDate BETWEEN @StartDate AND @EndDate 
								AND RSIn.CLIENT_ABUSE_HIT_0_SLAP_PARTNER IS NOT NULL THEN C.CLID END) DV36_Num

	,COUNT(DISTINCT CASE WHEN HSEd.CLIENT_EDUCATION_0_HS_GED = 'No' THEN C.CLID END) EdHS_Den
	,COUNT(DISTINCT CASE WHEN HSEd.CLIENT_EDUCATION_0_HS_GED = 'No' AND HSEd.CLIENT_SCHOOL_MIDDLE_HS LIKE '%Yes%' THEN C.CLID END) EdHS_Num
	,COUNT(DISTINCT CASE WHEN HSEd.CLIENT_EDUCATION_0_HS_GED LIKE '%Yes%' THEN C.CLID END) EdHS_cont_Den
	,COUNT(DISTINCT CASE WHEN HSEd.CLIENT_EDUCATION_0_HS_GED LIKE '%Yes%' AND HSEd.CLIENT_EDUCATION_1_ENROLLED_CURRENT LIKE '%Yes%' THEN C.CLID END) EdHS_cont_Num

	,ISNULL(AVG(DATEDIFF(Day,C.DOB,sub.CLIENT_SECOND_0_CHILD_DOB)),0) Avg_Days_Btw_Preg
	,ISNULL(COUNT(sub.CLIENT_SECOND_0_CHILD_DOB),0) SecondBirthCount

	,COUNT(DISTINCT CASE WHEN Cl.DEMO_CLIENT_INTAKE_0_RACE = 'American Indian or Alaska Native' THEN C.CLID END) Native
	,COUNT(DISTINCT CASE WHEN Cl.DEMO_CLIENT_INTAKE_0_RACE = 'Asian' THEN C.CLID END) Asian
	,COUNT(DISTINCT CASE WHEN Cl.DEMO_CLIENT_INTAKE_0_RACE = 'Black or African American' THEN C.CLID END) Black
	,COUNT(DISTINCT CASE WHEN Cl.DEMO_CLIENT_INTAKE_0_RACE = 'Native Hawaiian or other Pacific Islander' THEN C.CLID END) Pacific
	,COUNT(DISTINCT CASE WHEN Cl.DEMO_CLIENT_INTAKE_0_RACE = 'White' THEN C.CLID END) White
	,COUNT(DISTINCT CASE WHEN Cl.DEMO_CLIENT_INTAKE_0_RACE LIKE '%;%' THEN C.CLID END) Multi
	,COUNT(DISTINCT CASE WHEN Cl.DEMO_CLIENT_INTAKE_0_RACE = 'Declined to self-identify' THEN C.CLID END) Race_Declined
	,COUNT(DISTINCT CASE WHEN Cl.DEMO_CLIENT_INTAKE_0_RACE IS NULL THEN C.CLID END) Race_Missing
	,COUNT(DISTINCT CASE WHEN Cl.DEMO_CLIENT_INTAKE_0_ETHNICITY='Declined to self-identify' THEN C.CLID END) Eth_declined
	,COUNT(DISTINCT CASE WHEN Cl.DEMO_CLIENT_INTAKE_0_ETHNICITY='Hispanic or Latina' THEN C.CLID END) Eth_Hispanic_or_Latina
	,COUNT(DISTINCT CASE WHEN Cl.DEMO_CLIENT_INTAKE_0_ETHNICITY='Not Hispanic or Latina' THEN C.CLID END) Eth_Not_Hispanic_or_Latina
	,COUNT(DISTINCT CASE WHEN Cl.DEMO_CLIENT_INTAKE_0_ETHNICITY IS NULL THEN C.CLID END) Eth_Missing


FROM UV_Fidelity_CLID C
INNER JOIN UV_PAS P ON C.ProgramID = P.ProgramID
INNER JOIN
	(SELECT V.CL_EN_GEN_ID,V.ProgramID
	FROM UV_Fidelity_aHVES V
	WHERE V.SurveyDate BETWEEN @StartDate AND @EndDate
	AND V.CLIENT_COMPLETE_0_VISIT = 'Completed'
	--AND V.ProgramID IN (SELECT * FROM dbo.udf_ParseMultiParam(@Team))
	GROUP BY V.CL_EN_GEN_ID,V.ProgramID) Visit ON C.CLID = Visit.CL_EN_GEN_ID and C.ProgramID = Visit.ProgramID
JOIN Clients Cl ON C.CLID = Cl.Client_Id
LEFT JOIN -- last RS Intake
	(SELECT 
		RS.CL_EN_GEN_ID
		,RS.ProgramID
		,ROW_NUMBER() OVER(Partition By RS.CL_EN_GEN_ID, RS.ProgramID ORDER BY RS.SurveyDate DESC) rank 
		,RS.CLIENT_ABUSE_HIT_0_SLAP_PARTNER
		,RS.SurveyDate
	FROM Relationship_Survey RS WHERE dbo.fnGetFormName(RS.SurveyID) LIKE '%intake%') RSIn 
		ON C.CLID = RSIn.CL_EN_GEN_ID 
		AND C.ProgramID = RSIn.ProgramID
		AND RSIn.rank = 1
LEFT JOIN --last RS 36
	(SELECT 
		RS.CL_EN_GEN_ID
		,RS.ProgramID
		,ROW_NUMBER() OVER(Partition By RS.CL_EN_GEN_ID, RS.ProgramID ORDER BY RS.SurveyDate DESC) rank 
		,RS.CLIENT_ABUSE_HIT_0_SLAP_PARTNER
		,RS.SurveyDate
	FROM Relationship_Survey RS WHERE dbo.fnGetFormName(RS.SurveyID) LIKE '%36%') RS36 
		ON C.CLID = RS36.CL_EN_GEN_ID 
		AND C.ProgramID = RS36.ProgramID
		AND RS36.rank = 1
LEFT JOIN --- last DS during period
	(SELECT 
		DS.CL_EN_GEN_ID
		,DS.ProgramID
		,Row_Number() OVER(Partition By DS.CL_EN_GEN_ID,DS.ProgramID Order By DS.SurveyDate DESC) rank 
		,DS.CLIENT_EDUCATION_0_HS_GED -- no for HS denominator or yes for continue denom "Have you completed hs or a GED or v/c program"
		,DS.CLIENT_SCHOOL_MIDDLE_HS -- yes for numerator "Are you currently enrolled in m or hs"
		,DS.CLIENT_EDUCATION_1_ENROLLED_CURRENT
		FROM Demographics_Survey DS WHERE DS.SurveyDate BETWEEN @StartDate AND @EndDate) HSEd
	ON C.CLID = HSEd.CL_EN_GEN_ID
	AND C.ProgramID = HSEd.ProgramID
	AND HSEd.rank = 1
LEFT JOIN --- last DS during period
	(SELECT 
		DS.CL_EN_GEN_ID
		,DS.ProgramID
		,Row_Number() OVER(Partition By DS.CL_EN_GEN_ID,DS.ProgramID Order By DS.SurveyDate DESC) rank 
		,DS.CLIENT_SECOND_0_CHILD_DOB 
		FROM Demographics_Survey DS WHERE DS.SurveyDate BETWEEN @StartDate AND @EndDate AND DS.CLIENT_SECOND_0_CHILD_DOB IS NOT NULL ) sub
	ON C.CLID = sub.CL_EN_GEN_ID
	AND C.ProgramID = sub.ProgramID
	AND sub.rank = 1
WHERE C.RankingLatest = 1
--AND P.SiteID = 257
GROUP BY P.SiteID,P.Site
	,P.[US State]--,C.CLID
	,P.StateID

GO
