USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[usp_QR_Table_36]    Script Date: 11/16/2017 10:44:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_QR_Table_36] 
	-- Add the parameters for the stored procedure here
	@Quarter INT
	,@QuarterYear INT
	,@ReportType VARCHAR(50)
	,@State VARCHAR(5)
	,@AgencyID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
DECLARE @QuarterDate VARCHAR(50) 
SET @QuarterDate =	(
						CASE 
							WHEN @Quarter = 1 THEN '3/31/'+CAST(@QuarterYear AS VARCHAR(4)) 
							WHEN @Quarter = 2 THEN '6/30/'+CAST(@QuarterYear AS VARCHAR(4)) 
							WHEN @Quarter = 3 THEN '9/30/'+CAST(@QuarterYear AS VARCHAR(4)) 
							WHEN @Quarter = 4 THEN '12/31/'+CAST(@QuarterYear AS VARCHAR(4)) 
						END
					)
DECLARE @QuarterStart DATE SET @QuarterStart = DATEADD(DD,1,DATEADD(M,-3,CAST(@QuarterDate AS DATE))) 
IF OBJECT_ID('dbo.UC_QR_Table_36', 'U') IS NOT NULL DROP TABLE dbo.UC_QR_Table_36;

SET QUOTED_IDENTIFIER ON


SET NOCOUNT ON;



SELECT 
	DataWarehouse.dbo.udf_StateVSTribal(A.State,PAS.SiteID) [State]
	,PAS.SITE 
	,PAS.SiteID,MAX(CASE WHEN PAS.ProgramName LIKE '%BRONX%' AND A.State = 'NY' THEN 1 END) [VNS]
	,DataWarehouse.dbo.udf_fn_GetCleanProg(PAS.ProgramID) ProgramName
	,CASE
		WHEN @ReportType = 'National' THEN 1
	END [National]
	,COUNT(DISTINCT
			CASE
				WHEN DIN.CLIENT_WORKING_0_CURRENTLY_WORKING IS NOT NULL
				THEN C.Client_ID
			END) [Data Intake]
	,COUNT(DISTINCT
			CASE
				WHEN DIN.CLIENT_WORKING_0_CURRENTLY_WORKING LIKE '%YES%'
				THEN C.Client_ID
			END) [at Intake]
			
	,COUNT(DISTINCT
			CASE
				WHEN D6.CLIENT_WORKING_0_CURRENTLY_WORKING IS NOT NULL
				THEN C.Client_ID
			END) [Data 6 Mos]
	,COUNT(DISTINCT
			CASE
				WHEN D6.CLIENT_WORKING_0_CURRENTLY_WORKING IS NOT NULL
					AND D6.CLIENT_WORKING_0_CURRENTLY_WORKING LIKE '%YES%'
				THEN C.Client_ID
			END) [at 6 Mos]
			
	,COUNT(DISTINCT
			CASE
				WHEN D12.CLIENT_WORKING_0_CURRENTLY_WORKING IS NOT NULL
				THEN C.Client_ID
			END) [Data 12 Mos]
	,COUNT(DISTINCT
			CASE
				WHEN D12.CLIENT_WORKING_0_CURRENTLY_WORKING IS NOT NULL
					AND D12.CLIENT_WORKING_0_CURRENTLY_WORKING LIKE '%YES%'
				THEN C.Client_ID
			END) [at 12 Mos]
			
	,COUNT(DISTINCT
			CASE
				WHEN D18.CLIENT_WORKING_0_CURRENTLY_WORKING IS NOT NULL
				THEN C.Client_ID
			END) [Data 18 Mos]
	,COUNT(DISTINCT
			CASE
				WHEN D18.CLIENT_WORKING_0_CURRENTLY_WORKING IS NOT NULL
					AND D18.CLIENT_WORKING_0_CURRENTLY_WORKING LIKE '%YES%'
				THEN C.Client_ID
			END) [at 18 Mos]
			
	,COUNT(DISTINCT
			CASE
				WHEN D24.CLIENT_WORKING_0_CURRENTLY_WORKING IS NOT NULL
				THEN C.Client_ID
			END) [Data 24 Mos]
	,COUNT(DISTINCT
			CASE
				WHEN D24.CLIENT_WORKING_0_CURRENTLY_WORKING IS NOT NULL
					AND D24.CLIENT_WORKING_0_CURRENTLY_WORKING LIKE '%YES%'
				THEN C.Client_ID
			END) [at 24 Mos]
	,[CLIENT_TRIBAL_0_PARITY]

INTO datawarehouse.[dbo].[UC_QR_Table_36]
FROM DataWarehouse..Clients C
	INNER JOIN DataWarehouse..UV_EADT EAD
		ON EAD.CLID = C.Client_Id
		AND EAD.ProgramStartDate < = @QuarterDate 
	--INNER JOIN EADT EAD2
	--	ON EAD2.CaseNumber = EAD.CaseNumber
	--	AND EAD2.RankingLatest = 1
	--	AND EAD2.ProgramStartDate < = @QuarterDate 
	INNER JOIN DataWarehouse..UV_PAS PAS
		ON PAS.ProgramID = EAD.ProgramID 
		
		INNER JOIN DataWarehouse..Agencies A
			ON A.Site_ID = PAS.SiteID
	LEFT JOIN DataWarehouse..Demographics_Survey DIN
		ON DIN.CL_EN_GEN_ID = EAD.CLID
		AND DIN.ProgramID = EAD.ProgramID
		AND DIN.SurveyDate < = @QuarterDate
		AND DataWarehouse.dbo.fnGetFormName( DIN.SurveyID) LIKE '%DEMOGRAP%intake%'
	LEFT JOIN DataWarehouse..Demographics_Survey D6
		ON D6.CL_EN_GEN_ID = EAD.CLID
		AND D6.ProgramID = EAD.ProgramID
		AND D6.SurveyDate < = @QuarterDate
		AND DataWarehouse.dbo.fnGetFormName( D6.SurveyID) LIKE '%DEMOGRAP%6%'
	LEFT JOIN DataWarehouse..Demographics_Survey D12
		ON D12.CL_EN_GEN_ID = EAD.CLID
		AND D12.ProgramID = EAD.ProgramID
		AND D12.SurveyDate < = @QuarterDate
		AND DataWarehouse.dbo.fnGetFormName( D12.SurveyID) LIKE '%DEMOGRAP%12%'
	LEFT JOIN DataWarehouse..Demographics_Survey D18
		ON D18.CL_EN_GEN_ID = EAD.CLID
		AND D18.ProgramID = EAD.ProgramID
		AND D18.SurveyDate < = @QuarterDate
		AND DataWarehouse.dbo.fnGetFormName( D18.SurveyID) LIKE '%DEMOGRAP%18%'
	LEFT JOIN DataWarehouse..Demographics_Survey D24
		ON D24.CL_EN_GEN_ID = EAD.CLID
		AND D24.ProgramID = EAD.ProgramID
		AND D24.SurveyDate < = @QuarterDate
		AND DataWarehouse.dbo.fnGetFormName(D24.SurveyID) LIKE '%DEMOGRAP%24%'

	LEFT JOIN DataWarehouse..UC_Client_Exclusion_YWCA YWCA 
		ON YWCA.CLID = EAD.CLID AND EAD.SiteID = 222
	LEFT JOIN DataWarehouse..Tribal_Survey TS
            ON TS.CL_EN_GEN_ID = EAD.CLID
            AND TS.ProgramID = EAD.ProgramID
WHERE
	YWCA.CLID IS NULL
	AND  DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) < 6574.5
	--AND (TS.CLIENT_TRIBAL_0_PARITY LIKE '%PRIMIP%' OR TS.CLIENT_TRIBAL_0_PARITY IS NULL)
GROUP BY 
	DataWarehouse.dbo.udf_StateVSTribal(A.State,PAS.SiteID)
	,PAS.SITE 
	,PAS.SiteID
	,DataWarehouse.dbo.udf_fn_GetCleanProg(PAS.ProgramID) 
	,[CLIENT_TRIBAL_0_PARITY]
		
UNION ALL

SELECT DISTINCT
	DataWarehouse.dbo.udf_StateVSTribal(P.Abbreviation,P.SiteID) [State]
	,P.SITE
	,P.SiteID
	,(CASE WHEN P.ProgramName LIKE '%BRONX%' AND P.Abbreviation = 'NY' THEN 1 END) [VNS]
	,DataWarehouse.dbo.udf_fn_GetCleanProg(P.ProgramID) ProgramName
	,CASE
		WHEN @ReportType = 'National' THEN 1
	END [National]
	,0,0,0,0,0,0,0,0,0,0,NULL
	
FROM DataWarehouse..UV_PAS P
	--INNER JOIN DataWarehouse..Tribal_Survey T
	--	ON T.SiteID = P.SiteID	
	--	AND T.CLIENT_TRIBAL_0_PARITY IS NOT NULL
	

UNION ALL

SELECT DISTINCT
	DataWarehouse.dbo.udf_StateVSTribal(P.Abbreviation,P.SiteID) [State]
	,P.SITE
	,P.SiteID
	,(CASE WHEN P.ProgramName LIKE '%BRONX%' AND P.Abbreviation = 'NY' THEN 1 END) [VNS]
	,DataWarehouse.dbo.udf_fn_GetCleanProg(P.ProgramID) ProgramName
	,CASE
		WHEN @ReportType = 'National' THEN 1
	END [National]
	,0,0,0,0,0,0,0,0,0,0,'Multiparous (pregnant with a second or subsequent child)'
	
FROM DataWarehouse..UV_PAS P
	INNER JOIN DataWarehouse..Tribal_Survey T
		ON T.SiteID = P.SiteID	
		AND T.CLIENT_TRIBAL_0_PARITY IS NOT NULL
UNION ALL

SELECT DISTINCT
	DataWarehouse.dbo.udf_StateVSTribal(P.Abbreviation,P.SiteID) [State]
	,P.SITE
	,P.SiteID
	,(CASE WHEN P.ProgramName LIKE '%BRONX%' AND P.Abbreviation = 'NY' THEN 1 END) [VNS]
	,DataWarehouse.dbo.udf_fn_GetCleanProg(P.ProgramID) ProgramName
	,CASE
		WHEN @ReportType = 'National' THEN 1
	END [National]
	,0,0,0,0,0,0,0,0,0,0,'Primiparous (pregnant with her first child)'
	
FROM DataWarehouse..UV_PAS P
	INNER JOIN DataWarehouse..Tribal_Survey T
		ON T.SiteID = P.SiteID	
		AND T.CLIENT_TRIBAL_0_PARITY IS NOT NULL
	
--OPTION(RECOMPILE)
END
GO
