USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[SSISPFS_Star]    Script Date: 11/16/2017 10:44:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Sheri Scott
-- Create date: 1/13/2016
-- Description:	Extract of [Star_Survey] data where the SiteID from [Star_Survey] is the
--				same as ExportPFSEntities SiteID and ExportProfileID is the same as the passed ProfileID
--				for Pay For Success where clients are over the age of 14
-- *********************************************
-- Modified by: Jingjing Gao
-- Modified on: 02/14/2017
-- Description: Per Kyla's ticket#[00019665]:JPAL Raw Data Extract Modification, remove the filter "PFS_STUDY_VULNERABLE_POP = 0" because JPAL want to include all 
--              clients regardless the clients is vulnerable or not. In addition, joining condition need to be changed. Use [CL_EN_GEN_ID] instead of [CLIENT_0_ID_NSO]
--              to join [dbo].[Clients] table.
-- =============================================
CREATE PROCEDURE [dbo].[SSISPFS_Star]
	@ProfileID INT
AS
BEGIN

	SET NOCOUNT ON;
	
	SELECT s.[SurveyResponseID]
      ,s.[ElementsProcessed]
      ,s.[SurveyID]
      ,s.[Master_SurveyID]
      ,s.[SurveyDate]
      ,s.[AuditDate]
      ,s.[CL_EN_GEN_ID]
      ,s.[SiteID]
      ,s.[ProgramID]
      ,s.[IA_StaffID]
      ,s.[ClientID]
      ,s.[RespondentID]
      ,s.[DW_AuditDate]
      ,s.[DataSource]
      ,s.[CLIENT_GLOBAL_FACTORS]
      ,s.[CLIENT_CAREGIVING_FRIENDS_FAM]
      ,s.[CLIENT_CAREGIVING_RISK_LEVEL]
      ,s.[CLIENT_CAREGIVING_SERVICES_GOALS]
      ,s.[CLIENT_CAREGIVING_STAGE_CHANGE]
      ,s.[CLIENT_CAREGIVING_UNDERSTANDS_RISK]
      ,s.[CLIENT_CHLD_CARE_FRIENDS_FAM]
      ,s.[CLIENT_CHLD_CARE_RISK_LEVEL]
      ,s.[CLIENT_CHLD_CARE_SERVICES_GOALS]
      ,s.[CLIENT_CHLD_CARE_STAGE_CHANGE]
      ,s.[CLIENT_CHLD_CARE_UNDERSTANDS_RISK]
      ,s.[CLIENT_CHLD_HEALTH_FRIENDS_FAM]
      ,s.[CLIENT_CHLD_HEALTH_RISK_LEVEL]
      ,s.[CLIENT_CHLD_HEALTH_SERVICES_GOALS]
      ,s.[CLIENT_CHLD_HEALTH_STAGE_CHANGE]
      ,s.[CLIENT_CHLD_HEALTH_UNDERSTANDS_RISK]
      ,s.[CLIENT_CHLD_WELL_FRIENDS_FAM]
      ,s.[CLIENT_CHLD_WELL_RISK_LEVEL]
      ,s.[CLIENT_CHLD_WELL_SERVICES_GOALS]
      ,s.[CLIENT_CHLD_WELL_STAGE_CHANGE]
      ,s.[CLIENT_CHLD_WELL_UNDERSTANDS_RISK]
      ,s.[CLIENT_COMM_SVCS_FRIENDS_FAM]
      ,s.[CLIENT_COMM_SVCS_RISK_LEVEL]
      ,s.[CLIENT_COMM_SVCS_SERVICES_GOALS]
      ,s.[CLIENT_COMM_SVCS_STAGE_CHANGE]
      ,s.[CLIENT_COMM_SVCS_UNDERSTANDS_RISK]
      ,s.[CLIENT_COMPLICATION_ILL_FRIENDS_FAM]
      ,s.[CLIENT_COMPLICATION_ILL_RISK_LEVEL]
      ,s.[CLIENT_COMPLICATION_ILL_SERVICES_GOALS]
      ,s.[CLIENT_COMPLICATION_ILL_STAGE_CHANGE]
      ,s.[CLIENT_COMPLICATION_ILL_UNDERSTANDS_RISK]
      ,s.[CLIENT_CRIMINAL_FRIENDS_FAM]
      ,s.[CLIENT_CRIMINAL_RISK_LEVEL]
      ,s.[CLIENT_CRIMINAL_SERVICES_GOALS]
      ,s.[CLIENT_CRIMINAL_STAGE_CHANGE]
      ,s.[CLIENT_CRIMINAL_UNDERSTANDS_RISK]
      ,s.[CLIENT_DISABILITY_FRIENDS_FAM]
      ,s.[CLIENT_DISABILITY_RISK_LEVEL]
      ,s.[CLIENT_DISABILITY_SERVICES_GOALS]
      ,s.[CLIENT_DISABILITY_STAGE_CHANGE]
      ,s.[CLIENT_DISABILITY_UNDERSTANDS_RISK]
      ,s.[CLIENT_ECONOMIC_FRIENDS_FAM]
      ,s.[CLIENT_ECONOMIC_RISK_LEVEL]
      ,s.[CLIENT_ECONOMIC_SERVICES_GOALS]
      ,s.[CLIENT_ECONOMIC_STAGE_CHANGE]
      ,s.[CLIENT_ECONOMIC_UNDERSTANDS_RISK]
      ,s.[CLIENT_EDUC_FRIENDS_FAM]
      ,s.[CLIENT_EDUC_RISK_LEVEL]
      ,s.[CLIENT_EDUC_SERVICES_GOALS]
      ,s.[CLIENT_EDUC_STAGE_CHANGE]
      ,s.[CLIENT_EDUC_UNDERSTANDS_RISK]
      ,s.[CLIENT_ENGLIT_FRIENDS_FAM]
      ,s.[CLIENT_ENGLIT_RISK_LEVEL]
      ,s.[CLIENT_ENGLIT_SERVICES_GOALS]
      ,s.[CLIENT_ENGLIT_STAGE_CHANGE]
      ,s.[CLIENT_ENGLIT_UNDERSTANDS_RISK]
      ,s.[CLIENT_ENVIRO_HEALTH_FRIENDS_FAM]
      ,s.[CLIENT_ENVIRO_HEALTH_RISK_LEVEL]
      ,s.[CLIENT_ENVIRO_HEALTH_SERVICES_GOALS]
      ,s.[CLIENT_ENVIRO_HEALTH_STAGE_CHANGE]
      ,s.[CLIENT_ENVIRO_HEALTH_UNDERSTANDS_RISK]
      ,s.[CLIENT_HLTH_SVCS_FRIENDS_FAM]
      ,s.[CLIENT_HLTH_SVCS_RISK_LEVEL]
      ,s.[CLIENT_HLTH_SVCS_SERVICES_GOALS]
      ,s.[CLIENT_HLTH_SVCS_STAGE_CHANGE]
      ,s.[CLIENT_HLTH_SVCS_UNDERSTANDS_RISK]
      ,s.[CLIENT_HOME_SAFETY_FRIENDS_FAM]
      ,s.[CLIENT_HOME_SAFETY_RISK_LEVEL]
      ,s.[CLIENT_HOME_SAFETY_SERVICES_GOALS]
      ,s.[CLIENT_HOME_SAFETY_STAGE_CHANGE]
      ,s.[CLIENT_HOME_SAFETY_UNDERSTANDS_RISK]
      ,s.[CLIENT_HOMELESS_FRIENDS_FAM]
      ,s.[CLIENT_HOMELESS_RISK_LEVEL]
      ,s.[CLIENT_HOMELESS_SERVICES_GOALS]
      ,s.[CLIENT_HOMELESS_STAGE_CHANGE]
      ,s.[CLIENT_HOMELESS_UNDERSTANDS_RISK]
      ,s.[CLIENT_IPV_FRIENDS_FAM]
      ,s.[CLIENT_IPV_RISK_LEVEL]
      ,s.[CLIENT_IPV_SERVICES_GOALS]
      ,s.[CLIENT_IPV_STAGE_CHANGE]
      ,s.[CLIENT_IPV_UNDERSTANDS_RISK]
      ,s.[CLIENT_LONELY_FRIENDS_FAM]
      ,s.[CLIENT_LONELY_RISK_LEVEL]
      ,s.[CLIENT_LONELY_SERVICES_GOALS]
      ,s.[CLIENT_LONELY_STAGE_CHANGE]
      ,s.[CLIENT_LONELY_UNDERSTANDS_RISK]
      ,s.[CLIENT_MENTAL_HEALTH_FRIENDS_FAM]
      ,s.[CLIENT_MENTAL_HEALTH_RISK_LEVEL]
      ,s.[CLIENT_MENTAL_HEALTH_SERVICES_GOALS]
      ,s.[CLIENT_MENTAL_HEALTH_STAGE_CHANGE]
      ,s.[CLIENT_MENTAL_HEALTH_UNDERSTANDS_RISK]
      ,s.[CLIENT_PREGPLAN_FRIENDS_FAM]
      ,s.[CLIENT_PREGPLAN_RISK_LEVEL]
      ,s.[CLIENT_PREGPLAN_SERVICES_GOALS]
      ,s.[CLIENT_PREGPLAN_STAGE_CHANGE]
      ,s.[CLIENT_PREGPLAN_UNDERSTANDS_RISK]
      ,s.[CLIENT_SUBSTANCE_FRIENDS_FAM]
      ,s.[CLIENT_SUBSTANCE_RISK_LEVEL]
      ,s.[CLIENT_SUBSTANCE_SERVICES_GOALS]
      ,s.[CLIENT_SUBSTANCE_STAGE_CHANGE]
      ,s.[CLIENT_SUBSTANCE_UNDERSTANDS_RISK]
      ,s.[CLIENT_UNSAFE_NTWK_FRIENDS_FAM]
      ,s.[CLIENT_UNSAFE_NTWK_RISK_LEVEL]
      ,s.[CLIENT_UNSAFE_NTWK_SERVICES_GOALS]
      ,s.[CLIENT_UNSAFE_NTWK_STAGE_CHANGE]
      ,s.[CLIENT_UNSAFE_NTWK_UNDERSTANDS_RISK]
      ,s.[CLIENT_PERSONAL_0_NAME_FIRST]
      ,s.[CLIENT_PERSONAL_0_NAME_LAST]
      ,s.[CLIENT_0_ID_NSO]
      ,s.[CLIENT_0_ID_AGENCY]
      ,s.[CLIENT_PERSONAL_0_DOB_INTAKE]
      ,s.[NURSE_PERSONAL_0_NAME]
		 FROM [DataWarehouse].[dbo].[Star_Survey] s
	INNER JOIN dbo.Clients c
	   ON c.Client_Id = s.[CL_EN_GEN_ID]
	WHERE s.SiteID IN (SELECT SiteID FROM [DataWarehouse].dbo.ExportEntities 
						WHERE ExportProfileID = @ProfileID)
	  --AND c.PFS_STUDY_VULNERABLE_POP = 0
  
END

GO
