USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[SSISDUA_MIHOPE_Custom_Edinburgh]    Script Date: 11/16/2017 10:44:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Jingjing
-- Create date: 03/10/2017
-- Description:	Extract of Edinburgh data where the SiteID from Edinburgh_Survey is the
--				same as ExportEntities SiteID and ExportProfileID is the same as the passed ProfileID
-- Export Requirements:
-- 1)	De-identified data for customer
-- 2)	Provide the same data set with identifiable data on the S drive for the NSO
-- 3)	Join with MIHOPE provided table to provide the MIHOPE ID with the corresponding NSO ID (which will be hashed)
-- 4)	We need to provide a table so they can cross reference EntityID with Nurse Name 
-- 5)	Parameter on the export – no SurveyDates or ProgramStartDates after 12/31/2016
-- 6)	Parameter on the export – only data from the following siteIDs and only data for the provided CLID/CL_EN_GENs/ClientId (SiteIDs: 289, 179, 185, 103, 163, 212, 251, 287)
-- =============================================
CREATE PROCEDURE [dbo].[SSISDUA_MIHOPE_Custom_Edinburgh]
	-- Add the parameters for the stored procedure here
	@ProfileID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SELECT [SurveyResponseID]
		  --,[ElementsProcessed]
		  ,[SurveyID]
		  ,[SurveyDate]
		  ,[AuditDate]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),[CL_EN_GEN_ID])) AS [CL_EN_GEN_ID]
		  ,StudyID
		  ,[SiteID]
		  ,[ProgramID]
		  --,[IA_StaffID]
		  --,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),[ClientID])) AS [ClientID]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),[CLIENT_PERSONAL_0_NAME_FIRST])) AS [CLIENT_PERSONAL_0_NAME_FIRST]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),[CLIENT_PERSONAL_0_NAME_LAST])) AS [CLIENT_PERSONAL_0_NAME_LAST]
		  --,[CLIENT_PERSONAL_0_DOB_INTAKE]
		  --,[CLIENT_EPDS_1_ABLE_TO_LAUGH]
		  --,[CLIENT_EPDS_1_ENJOY_THINGS]
		  --,[CLIENT_EPDS_1_BLAME_SELF]
		  --,[CLIENT_EPDS_1_ANXIOUS_WORRIED]
		  --,[CLIENT_EPDS_1_SCARED_PANICKY]
		  --,[CLIENT_EPDS_1_THINGS_GETTING_ON_TOP]
		  --,[CLIENT_EPDS_1_DIFFICULTY_SLEEPING]
		  --,[CLIENT_EPDS_1_SAD_MISERABLE]
		  --,[CLIENT_EPDS_1_BEEN_CRYING]
		  --,[CLIENT_EPDS_1_HARMING_SELF]
		  --,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),[CLIENT_0_ID_NSO])) AS [CLIENT_0_ID_NSO]
		  ,[NURSE_PERSONAL_0_NAME]
		  --,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),[CLIENT_0_ID_AGENCY])) AS [CLIENT_0_ID_AGENCY]
		  --,[DW_AuditDate]
		  --,[DataSource]
		  --,[LA_CTY_OQ10_EDPS]
		  --,[LA_CTY_PHQ9_SCORE_EDPS]
		  --,[LA_CTY_STRESS_INDEX_EDPS]
		  ,[CLIENT_EPS_TOTAL_SCORE]
		  --,[Master_SurveyID]
	  FROM [DataWarehouse].[dbo].[Edinburgh_Survey] s
	 	 INNER JOIN [DataWarehouse].[dbo].[MIHOPE_Custom_Extract_Clients] m
  ON s.CL_EN_GEN_ID = m.Clientid_NFP
	 WHERE SiteID IN (SELECT SiteID FROM [DataWarehouse].dbo.ExportEntities WHERE ExportProfileID = @ProfileID AND ExcludeTribal = 0 AND ISNULL(ExportDisabled,0) != 1)
	   AND ProgramID NOT IN (select ProgramID from dbo.Export_Program_Exclusions where ExportProfileID = @ProfileID)
	   AND CL_EN_GEN_ID NOT IN (select ISNULL(ClientID,'') from dbo.ExportExcludeClients where SiteID = s.SiteID)
	   AND CL_EN_GEN_ID IN (SELECT [Clientid_NFP] FROM [DataWarehouse].[dbo].[MIHOPE_Custom_Extract_Clients])
	  AND [SurveyDate] < '20170101'
	  ORDER BY SurveyDate
END

GO
