USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[usp_HRSA_MIECHV_Summary]    Script Date: 11/16/2017 10:44:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_HRSA_MIECHV_Summary]
(@StartDate DATE
 ,@EndDate Date
 ,@FundingType VARCHAR(MAX)
 ,@Teams VARCHAR(MAX)
 ,@NHV VARCHAR(MAX)) 
 AS

-------------------------------------------------------------------------------------------------
------for testing

--DECLARE @StartDate date			SET @StartDate = '10/1/2013'
--DECLARE @EndDate date				SET @EndDate = '9/30/2014'

----DECLARE @FundingType VARCHAR(MAX)	SET @FundingType = '1'	----Competitive
----DECLARE @FundingType VARCHAR(MAX)	SET @FundingType = '2'	----Formula
----DECLARE @FundingType VARCHAR(MAX)	SET @FundingType = '3'	----Tribal
--DECLARE @FundingType VARCHAR(MAX)	SET @FundingType = '1,2,3'	----all 3

--CA State ID = 5

------all teams
--DECLARE @Teams VARCHAR(MAX)	SET @Teams = '748,779,780,781,812,815,818,821,824,827,830,833,836,839,842,845,848,851,854,857,860,863,866,869,872,875,878,881,884,887,890,893,896,899,902,905,908,911,914,917,920,923,926,929,932,935,938,941,944,947,950,953,956,959,962,965,968,971,974,977,980,983,986,989,992,995,998,1001,1004,1007,1010,1013,1016,1019,1022,1025,1028,1031,1034,1037,1040,1043,1047,1049,1052,1055,1058,1061,1064,1067,1070,1073,1076,1079,1082,1085,1088,1091,1094,1097,1100,1103,1106,1109,1112,1115,1118,1121,1124,1127,1130,1133,1136,1139,1142,1145,1148,1151,1154,1157,1160,1163,1166,1169,1172,1175,1178,1181,1184,1187,1190,1193,1196,1199,1202,1205,1208,1211,1213,1217,1221,1224,1227,1230,1233,1236,1239,1242,1244,1247,1250,1253,1256,1259,1262,1265,1268,1271,1274,1277,1280,1283,1286,1289,1292,1295,1298,1301,1304,1307,1310,1313,1316,1319,1322,1325,1328,1331,1334,1337,1340,1343,1346,1349,1352,1355,1358,1361,1364,1367,1370,1373,1376,1379,1382,1385,1388,1391,1394,1397,1400,1404,1406,1409,1412,1415,1418,1421,1424,1427,1430,1433,1436,1439,1443,1446,1449,1452,1454,1457,1461,1463,1467,1469,1472,1475,1478,1481,1484,1487,1490,1493,1496,1499,1502,1505,1508,1511,1514,1517,1520,1523,1526,1529,1532,1535,1538,1554,1557,1560,1563,1566,1570,1573,1576,1581,1584,1587,1599,1602,1605,1608,1611,1617,1620,1623,1626,1638,1641,1644,1647,1651,1655,1658,1661,1664,1668,1671,1674,1677,1680,1683,1688,1694,1697,1700,1703,1706,1709,1712,1715,1718,1722,1727,1730,1739,1744,1746,1749,1752,1755,1758,1761,1764,1767,1770,1773,1776,1779,1782,1785,1790,1793,1796,1799,1802,1805,1808,1811,1814,1817,1820,1823,1826,1829,1832,1835,1838,1841,1844,1848,1851,1854,1857,1860,1863,1868,1871,1875,1879,1884,1887,1891,1894,1897,1900,1903,1906,1909,1912,1915,1918,1922,1925,1928,1931,1934,1937,1940,1943,1946,1949,1952,1955,1958,1961,1964,1967,1970,1973,1976,1979,1982,1985,1988,1992,1995,1998,2001,2004,2007,2010,2013,2016,2020,2023,2026,2032,2035,2038'
------all nurses, assigned and unassigned
--DECLARE @NHV VARCHAR(MAX)	SET @NHV = '-1,6165,6174,6254,6260,6262,6264,6272,6278,6282,6288,6296,6312,6320,6322,6324,6328,6338,6342,6371,6373,6375,6381,6385,6393,6395,6397,6401,6407,6409,6411,6413,6417,6419,6421,6438,6444,6448,6450,6460,6462,6464,6466,6468,6470,6472,6482,6488,6490,6492,6501,6503,6505,6507,6509,6515,6517,6521,6527,6531,6535,6611,6613,6615,6628,6630,6632,6636,6640,6642,6664,6666,6668,6685,6693,6695,6803,6807,6811,6847,6849,6851,6856,6882,6890,6892,6897,6901,6909,6913,6915,6917,6928,6932,6935,6947,6951,6968,6973,6975,6981,6985,6991,6996,7003,7005,7007,7009,7018,7036,7046,7048,7052,7054,7058,7060,7062,7066,7068,7071,7073,7078,7080,7082,7094,7096,7097,7102,7106,7107,7112,7113,7122,7124,7135,7137,7141,7143,7147,7153,7168,7170,7172,7199,7206,7212,7216,7225,7227,7229,7233,7238,7240,7243,7245,7247,7259,7265,7267,7271,7299,7301,7305,7310,7320,7329,7332,7344,7363,7382,7384,7392,7396,7402,7409,7430,7432,7436,7455,7463,7465,7468,7481,7484,7495,7497,7499,7505,7519,7524,7534,7537,7543,7550,7560,7565,7567,7568,7573,7574,7581,7583,7588,7600,7612,7619,7621,7625,7629,7632,7637,7641,7643,7645,7647,7649,7656,7658,7660,7662,7668,7675,7677,7680,7692,7694,7697,7702,7712,7713,7716,7718,7733,7735,7739,7750,7756,7761,7765,7767,7773,7775,7777,7779,7793,7804,7808,7809,7815,7822,7836,7839,7844,7880,7886,7893,7894,7909,7914,7918,7922,7924,7926,7933,7935,7942,7946,7948,7950,7952,7954,7956,7969,7971,7975,7982,7984,7986,7988,7990,7993,8002,8009,8042,8044,8046,8058,8064,8065,8069,8073,8086,8088,8114,8116,8118,8133,8135,8144,8148,8152,8154,8160,8171,8179,8194,8198,8210,8223,8257,8259,8265,8267,8277,8280,8284,8287,8290,8296,8298,8302,8304,8313,8315,8318,8323,8328,8332,8334,8336,8342,8344,8345,8346,8366,8374,8384,8385,8386,8387,8394,8398,8414,8419,8422,8423,8430,8432,8434,8435,8456,8462,8463,8465,8467,8482,8488,8519,8520,8521,8522,8526,8528,8533,8535,8539,8541,8548,8550,8552,8553,8554,8556,8558,8564,8568,8569,8571,8573,8574,8575,8580,8589,8594,8599,8600,8601,8602,8608,8609,8610,8611,8612,8614,8619,8620,8621,8622,8623,8631,8632,8637,8639,8641,8642,8644,8645,8647,8648,8649,8650,8651,8653,8654,8655,8661,8662,8664,8665,8671,8673,8674,8675,8676,8677,8679,8681,8683,8685,8694,8695,8696,8698,8702,8706,8707,8708,8713,8714,8718,8719,8720,8725,8726,8727,8735,8736,8737,8739,8741,8750,8751,8753,8754,8757,8759,8760,8770,8771,8775,8776,8778,8780,8782,8785,8788,8792,8795,8796,8807,8808,8813,8814,8816,8825,8826,8838,8840,8841,8849,8858,8861,8870,8872,8873,8878,8881,8885,8886,8887,8888,8891,8896,8897,8899,8900,8901,8903,8913,8916,8923,8926,8927,8933,8934,8939,8940,8942,8943,8945,8951,8952,8955,8961,8969,8973,8975,8979,8983,8985,8988,8993,8995,8998,8999,9000,9001,9003,9004,9005,9007,9019,9020,9022,9023,9024,9025,9026,9027,9029,9030,9032,9034,9035,9040,9043,9045,9049,9051,9052,9062,9067,9068,9069,9071,9075,9079,9084,9092,9093,9099,9100,9103,9110,9112,9113,9118,9120,9121,9126,9127,9130,9141,9142,9143,9145,9146,9147,9149,9151,9158,9159,9161,9170,9172,9173,9174,9175,9176,9178,9181,9182,9183,9184,9188,9189,9190,9194,9196,9197,9198,9199,9200,9206,9208,9209,9210,9212,9221,9229,9231,9233,9239,9241,9242,9245,9246,9249,9250,9252,9253,9255,9258,9259,9263,9264,9266,9267,9268,9270,9271,9272,9273,9274,9279,9281,9284,9285,9292,9302,9303,9305,9310,9311,9312,9313,9314,9317,9318,9319,9320,9321,9322,9323,9324,9325,9326,9328,9329,9336,9337,9340,9343,9344,9346,9347,9348,9351,9353,9354,9355,9357,9358,9359,9360,9361,9362,9363,9364,9368,9369,9371,9373,9374,9375,9376,9377,9378,9379,9380,9381,9384,9385,9389,9394,9396,9397,9398,9399,9401,9404,9405,9406,9407,9409,9410,9411,9412,9414,9415,9416,9417,9418,9423,9425,9427,9428,9434,9435,9436,9438,9443,9444,9445,9450,9452,9454,9459,9461,9462,9464,9466,9467,9470,9471,9478,9481,9482,9488,9490,9493,9494,9498,9499,9501,9502,9503,9506,9507,9511,9512,9515,9517,9519,9521,9522,9524,9525,9526,9532,9536,9538,9539,9540,9541,9542,9543,9544,9545,9549,9551,9552,9553,9554,9555,9557,9558,9559,9560,9561,9563,9564,9565,9566,9567,9569,9570,9571,9572,9573,9574,9575,9576,9577,9579,9580,9582,9583,9584,9585,9586,9588,9590,9591,9592,9593,9594,9595,9596,9597,9599,9600,9601,9602,9603,9606,9607,9608,9610,9612,9613,9614,9615,9616,9617,9618,9620,9621,9622,9623,9624,9625,9626,9627,9628,9629,9630,9631,9632,9633,9634,9637,9639,9655,9662,9663,9664,9665,9667,9668,9669,9673,9674,9675,9676,9677,9678,9679,9680,9681,9682,9683,9684,9685,9686,9691,9692,9694,9696,9698,9700,9702,9703,9705,9706,9707,9708,9712,9713,9716,9718,9719,9720,9723,9727,9728,9730,9732,9733,9734,9735,9736,9744,9745,9746,9752,9753,9757,9762,9766,9769,9770,9775,9776,9782,9783,9784,9791,9792,9793,9794,9796,9838,9872,10305,10306,10607,10657,10691,10701,10766,10767,11077,11106,11291,11322,11389,11543,11670,11681,11682,11700,11723,11729,11740,11796,11807,11815,11822,11825,11985,12056,12089,12520,12552,12570,12583,12587,12592,12638,12664,12706,12758,12826,12841,12843,12853,12900,12933,13078,13130,13145,13229,13249,13315,13330,13333,13350,13386,13405,13407,13424,13441,13459,13462,13466,13512,13513,13515,13553,13569,13624,13639,13742,13805,13813,13846,13862,13922,13945,13964,13972,13990,14010,14012,14015,14032,14090,14106,14108,14110,14169,14187,14212,14214,14215,14238,14248,14268,14286,14296,14304,14328,14354,14381,14382,14398,14410,14430,14435,14478,14501,14503,14528,14599,14600,14602,14611,14641,14650,14651,18431,18432,18438,18446,18450,18451,18452,18488,18512,18551,18566,18582,18592,18598,18610,18620,18624,18632,18633,18634,18638,18680,18687,18727,18746,18747,18772,18775,18777,18779,18796,18815,18817,18818,18827,18828,18857,18859,18868,18869,18871,18872,18873,18887,18904,18905,18906,18972,18979,19000,19011,19012,19044,19073,19077,19083,19105,19107,19130,19135,19137,19143,19144,19176,19194,19202,19203,19204,19224,19225,19229,19230,19235,19251,19258,19273,19274,19305,19319,19328,19367,19377,19381,19416,19424,19427,19433,19434,19436,19438,19447,19457,19476,19478,19489,19512,19516,19538,19564,19573,19582,19636,19671,19682,19683,19684,19693,19703,19704,19705,19709,19710,19719,19720,19728,19743,19746,19769,19778,19787,19797,19812,19834,19848,19849,19850,19862,19893,19904,19907,19913,19924,19938,19955,19956,19957,19958,19959,19960,19970,19973,19975,19976,19978,19980,19981,19982,20001,20003,20004,20007,20011,20013,20017,20043,20068,20104,20105,20107,20108,20109,20110,20111,20112,20113,20114,20115,20116,20117,20118,20119,20120,20121,20122,20159,20161,20188,20254,20255,20258,20267,20268,20292,20298,20299,20311,20312,20334,20362,20369,20374,20377,20378,20385,20386,20387,20406,20407,20465,20482,20483,20484,20487,20488,20489,20491,20492,20493,20494,20495,20497,20499,20517,20518,20525,20526,20527,20535,20536,20539,20543,20549,20569,20574,20579,20585,20607,20616,20647,20648,20654,20655,20656,20667,20668,20675,20696,20697,20698,20714,20728,20729,20733,20794,20797,20803,20805,20807,20808,20809,20810,20817,20818,20820,20821,20842,20846,20847,20896,20902,20904,20906,20911,20920,20921,20924,20930,20938,20942,20947,20948,20950,20955,20977,20979,20985,20986,20987,20988,20989,21000,21001,21002,21003,21005,21006,21007,21009,21031,21040,21042,21043,21045,21046,21052,21054,21055,21072,21074,21079,21098,21117,21121,21125,21126,21141,21144,21145,21151,21152,21176,21177,21178,21184,21185,21186,21205,21212,21217,21227,21228,21232,21250,21262,21264,21273,21274,21275,21297,21299,21308,21309,21310,21311,21316,21323,21331,21332,21341,21343,21344,21345,21359,21366,21367,21368,21370,21371,21372,21382,21383,21400,21401,21402,21405,21408,21427,21431,21433,21436,21437,21442,21453,21468,21470,21479,21480,21483,21485,21486,21493,21514,21532,21535,21536,21537,21546,21549,21550,21555,21556,21557,21561,21562,21565,21567,21569,21570,21571,21589,21592,21593,21642,21648,21652,21662,21663,21664,21665,21666,21667,21672,21673,21674,21686,21687,21688,21689,21690,21691,21693,21695,21698,21703,21712,21713,21742,21745,21754,21763,21764,21788,21792,21793,21795,21796,21797,21800,21802,21804,21815,21822,21823,21827,21834,21838,21840,21850,21862,21866,21868,21872,21892,21893,21894,21895,21896,21907,21910,21911,21912,21931,21932,21936,21951,21952,21958,21961,22007,22010,22011,22031,22037,22047,22062,22063,22072,22080,22098,22104,22114,22120,22127,22129,22130,22134,22143,22154,22155,22156,22158,22162,22166,22168,22176,22179,22201,22207,22208,22209,22241,22243,22244,22250,22253,22255,22256,22268,22270,22271,22272,22273,22281,22282,22285,22286,22293,22297,22305,22310,22315,22316,22319,22321,22325,22326,22330,22333,22334,22338,22356,22359,22371,22378,22379,22382,22383,22384,22397,22400,22430,22433,22477,22516,22517,22520,22521,22526,22540,22542,22543,22554,22560,22561,22565,22566,22572,22579,22586,22593,22601,22629,22633,22634,22642,22658,22682,22684,22687,22688,22697,22702,22703,22704,22705,22706,22709,22717,22729,22736,22737,22745,22753,22754,22758,22759,22760,22761,22767,22775,22777,22779,22783,22786,22790,22791,22792,22802,22803,22805,22829,22841,22844,22866,22878,22879,22880,22881,22900,22934,22943,22950,22975,22978,22984,22994,22999,23002,23004,23006,23025,23034,23035,23039,23044,23054,23058,23082,23104,23105,23127,23128,23131,23133,23134,23135,23150,23151,23157,23480,23485,23489,23490,23491,23511,23515,23516,23528,23529,23532,23533,23537,23547,23554,23555,23558,23559,23560,23562,23585,23586,23588,23598,23601,23602,23603,23605,23611,23615,23616,23617,23622,23623,23626,23628,23629,23630,23633,23635,23639,23640,23641,23642,23643,23652,23653,23660,23661,23663,23664,23666,23668,23669,23670,23673,23674,23675,23680,23684,23685,23686,23697,23700,23709,23710,23711,23719,23720,23721,23724,23728,23735,23738,23740,23741,23744,23752,23753,23754,23755,23766,23767,23771,23772,23788,23789,23793,23807,23808,23816,23819,23820,23828,23836,23837,23841,23855,23856,23884,23885,23888,23889,23892,23899,23900,23903,23904,23905,23908,23922,23931,23932,23933,23934,23935,23954,23955,23956,23958,23959,23960,23968,23969,23971,23974,23997,24000,24011,24017,24019,24021,24022,24023,24024,24025,24034,24035,24036,24043,24045,24067,24068,24074,24077,24087,24092,24093,24101,24106,24110,24112,24113,24114,24115,24117,24120,24126,24134,24139,24142,24143,24148,24151,24152,24156,24159,24160,24164,24167,24170,24175,24176,24178,24189,24190,24191,24192,24193,24194,24196,24208,24209,24216,24217,24218,24219,24220,24223,24225,24227,24228,24246,24250,24263,24264,24273,24274,24281,24292,24297,24298,24299,24300,24302,24304,24306,24311,24315,24316,24324,24326,24327,24328,24329,24334,24338,24341,24344,24351,24352,24354,24357,24367,24368,24369,24371,24386,24396,24397,24398,24400,24406,24408,24412,24417,24429,24438,24439,24442,24445,24453,24456,24479,24480,24484,24490,24492,24493,24494,24500,24504,24505,24530,24532,24537,24539,24553,24556,24562,24563,24564,24565,24572,24598,24601,24603,24604,24609,24614,24615,24622,24628,24631,24633,24637,24649,24651,24653,24654,24655,24656,24658,24659,24660,24663,24665,24679,24682,24688,24700,24706,24709,24713,24746,24760,24761,24774,24775,24776,24778,24779,24780,24787,24788,24790,24795,24796,24798,24819,24821,24822,24824,24825,24837,24838,24843,24844,24849,24850,24851,24859,24868,24869,24872,24873,24877,24879,24885,24888,24891,24893,24895,24902,24904,24906,24911,24915,24917,24918,24919,24920,24921,24922,24924,24925,24927,24928,24938,24946,24949,24950,24967,24970,24973,24975,24976,24978,24980,24989,24993,24999,25001,25006,25013,25026,25027,25029,25031,25038,25041,25042,25049,25051,25057,25068,25070,25077,25078,25082,25085,25091,25096,25100,25104,25106,25111,25132,25134,25135,25140,25145,25150,25152,25166,25167,25168,25170,25174,25175,25181,25186,25194,25203,25206,25212,25213,25217,25219,25222,25248,25256,25260,25263,25268,25273,25282,25285,25286,25288,25289,25291,25299,25300,25307,25317,25321,25327,25340,25347,25350,25353,25354,25357,25358,25359,25360,25361,25364,25378,25379,25381,25384,25387,25391,25395,25398,25399,25403,25407,25410,25411,25414,25416,25417,25424,25425,25436,25452,25463,25464,25469,25488,25489,25490,25491,25493,25496,25502,25504,25523,25525,25534,25535,25538,25545,25546,25552,25557,25561,25570,25579,25580,25589,25597,25598,25599,25600,25604,25612,25617,25619,25623,25624,25630,25637,25647,25653,25654,25657,25669,25682,25685,25686,25689,25690,25694,25696,25700,25706,25719,25720,25721,25724,25725,25726,25727,25736,25737,25738,25741,25742,25743,25744,25747,25748,25753,25754,25756,25757,25759,25767,25774,25785,25786,25787,25794,25817,25822,25824,25827,25830,25833,25840,25848,25853,25863,25864,25870,25871,25873,25880,25882,25890,25891,25892,25893,25894,25895,25896,25958,25960,25963,25965,25978,26000,26001,26002,26011,26013,26026,26027,26031,26032,26033,26034,26047,26056,26061,26065,26075,26079,26092,26093,26095,26096,26097,26101,26106,26107,26115,26118,26128,26130,26135,26140,26148,26150,26152,26154,26156,26164,26165,26166,26172,26174,26175,26176,26177,26179,26188,26197,26207,26209,26220,26221,26226,26231,26233,26236,26238,26239,26240,26251,26253,26255,26260,26265,26266,26268,26269,26270,26271,26273,26274,26280,26282,26283,26294,26296,26297,26301,26304,26308,26309,26318,26319,26330,26333,26335,26337,26338,26340,26341,26354,26355,26361,26363,26365,26367,26369,26377,26380,26384,26386,26391,26395,26396,26398,26400,26412,26415,26420,26423,26435,26436,26438,26439,26451,26454,26456,26464,26466,26469,26478,26480,26483,26485,26486,26496,26502,26505,26506,26526,26534,26536,26546,26558,26568,26571,26574,26575,26581,26584,26586,26587,26588,26593,26596,26601,26602,26605,26606,26607,26608,26611,26612,26613,26616,26618,26620,26625,26635,26637,26639,26640,26649,26652,26654,26658,26667,26668,26672,26674,26675,26676,26691,26693,26719,26730,26734,26739,26740,26743,26744,26746,26749,26753,26755,26756,26760,26763,26764,26765,26766,26767,26769,26771,26772,26774,26775,26776,26782,26792,26794,26806,26807,26809,26810,26816,26819,26862,26863,26864,26868,26877,26891,26897,26909,26910,26911,26914,26915,26917,26919,26920,26922,26926,26927,26929,26930,26935,26936,26939,26944,26952,26953,26956,26957,26959,26960,26967,26969,26971,26989,26994,26995,27001,27005,27009,27010,27013,27019,27022,27028,27032,27038,27039,27041,27043,27044,27045,27046,27050,27056,27075,27077,27079,27081,27083,27089,27090,27102,27106,27111,27113,27118,27119,27129,27132,27145,27155,27156,27157,27159,27191,27192,27198,27200,27201,27202,27205,27206,27207,27208,27210,27212,27213,27222,27224,27225,27228,27233,27241,27242,27250,27251,27252,27258,27271,27277,10000438,10000443'
------assigned
--DECLARE @NHV VARCHAR(MAX)	SET @NHV = '6165,6174,6254,6260,6262,6264,6272,6278,6282,6288,6296,6312,6320,6322,6324,6328,6338,6342,6371,6373,6375,6381,6385,6393,6395,6397,6401,6407,6409,6411,6413,6417,6419,6421,6438,6444,6448,6450,6460,6462,6464,6466,6468,6470,6472,6482,6488,6490,6492,6501,6503,6505,6507,6509,6515,6517,6521,6527,6531,6535,6611,6613,6615,6628,6630,6632,6636,6640,6642,6664,6666,6668,6685,6693,6695,6803,6807,6811,6847,6849,6851,6856,6882,6890,6892,6897,6901,6909,6913,6915,6917,6928,6932,6935,6947,6951,6968,6973,6975,6981,6985,6991,6996,7003,7005,7007,7009,7018,7036,7046,7048,7052,7054,7058,7060,7062,7066,7068,7071,7073,7078,7080,7082,7094,7096,7097,7102,7106,7107,7112,7113,7122,7124,7135,7137,7141,7143,7147,7153,7168,7170,7172,7199,7206,7212,7216,7225,7227,7229,7233,7238,7240,7243,7245,7247,7259,7265,7267,7271,7299,7301,7305,7310,7320,7329,7332,7344,7363,7382,7384,7392,7396,7402,7409,7430,7432,7436,7455,7463,7465,7468,7481,7484,7495,7497,7499,7505,7519,7524,7534,7537,7543,7550,7560,7565,7567,7568,7573,7574,7581,7583,7588,7600,7612,7619,7621,7625,7629,7632,7637,7641,7643,7645,7647,7649,7656,7658,7660,7662,7668,7675,7677,7680,7692,7694,7697,7702,7712,7713,7716,7718,7733,7735,7739,7750,7756,7761,7765,7767,7773,7775,7777,7779,7793,7804,7808,7809,7815,7822,7836,7839,7844,7880,7886,7893,7894,7909,7914,7918,7922,7924,7926,7933,7935,7942,7946,7948,7950,7952,7954,7956,7969,7971,7975,7982,7984,7986,7988,7990,7993,8002,8009,8042,8044,8046,8058,8064,8065,8069,8073,8086,8088,8114,8116,8118,8133,8135,8144,8148,8152,8154,8160,8171,8179,8194,8198,8210,8223,8257,8259,8265,8267,8277,8280,8284,8287,8290,8296,8298,8302,8304,8313,8315,8318,8323,8328,8332,8334,8336,8342,8344,8345,8346,8366,8374,8384,8385,8386,8387,8394,8398,8414,8419,8422,8423,8430,8432,8434,8435,8456,8462,8463,8465,8467,8482,8488,8519,8520,8521,8522,8526,8528,8533,8535,8539,8541,8548,8550,8552,8553,8554,8556,8558,8564,8568,8569,8571,8573,8574,8575,8580,8589,8594,8599,8600,8601,8602,8608,8609,8610,8611,8612,8614,8619,8620,8621,8622,8623,8631,8632,8637,8639,8641,8642,8644,8645,8647,8648,8649,8650,8651,8653,8654,8655,8661,8662,8664,8665,8671,8673,8674,8675,8676,8677,8679,8681,8683,8685,8694,8695,8696,8698,8702,8706,8707,8708,8713,8714,8718,8719,8720,8725,8726,8727,8735,8736,8737,8739,8741,8750,8751,8753,8754,8757,8759,8760,8770,8771,8775,8776,8778,8780,8782,8785,8788,8792,8795,8796,8807,8808,8813,8814,8816,8825,8826,8838,8840,8841,8849,8858,8861,8870,8872,8873,8878,8881,8885,8886,8887,8888,8891,8896,8897,8899,8900,8901,8903,8913,8916,8923,8926,8927,8933,8934,8939,8940,8942,8943,8945,8951,8952,8955,8961,8969,8973,8975,8979,8983,8985,8988,8993,8995,8998,8999,9000,9001,9003,9004,9005,9007,9019,9020,9022,9023,9024,9025,9026,9027,9029,9030,9032,9034,9035,9040,9043,9045,9049,9051,9052,9062,9067,9068,9069,9071,9075,9079,9084,9092,9093,9099,9100,9103,9110,9112,9113,9118,9120,9121,9126,9127,9130,9141,9142,9143,9145,9146,9147,9149,9151,9158,9159,9161,9170,9172,9173,9174,9175,9176,9178,9181,9182,9183,9184,9188,9189,9190,9194,9196,9197,9198,9199,9200,9206,9208,9209,9210,9212,9221,9229,9231,9233,9239,9241,9242,9245,9246,9249,9250,9252,9253,9255,9258,9259,9263,9264,9266,9267,9268,9270,9271,9272,9273,9274,9279,9281,9284,9285,9292,9302,9303,9305,9310,9311,9312,9313,9314,9317,9318,9319,9320,9321,9322,9323,9324,9325,9326,9328,9329,9336,9337,9340,9343,9344,9346,9347,9348,9351,9353,9354,9355,9357,9358,9359,9360,9361,9362,9363,9364,9368,9369,9371,9373,9374,9375,9376,9377,9378,9379,9380,9381,9384,9385,9389,9394,9396,9397,9398,9399,9401,9404,9405,9406,9407,9409,9410,9411,9412,9414,9415,9416,9417,9418,9423,9425,9427,9428,9434,9435,9436,9438,9443,9444,9445,9450,9452,9454,9459,9461,9462,9464,9466,9467,9470,9471,9478,9481,9482,9488,9490,9493,9494,9498,9499,9501,9502,9503,9506,9507,9511,9512,9515,9517,9519,9521,9522,9524,9525,9526,9532,9536,9538,9539,9540,9541,9542,9543,9544,9545,9549,9551,9552,9553,9554,9555,9557,9558,9559,9560,9561,9563,9564,9565,9566,9567,9569,9570,9571,9572,9573,9574,9575,9576,9577,9579,9580,9582,9583,9584,9585,9586,9588,9590,9591,9592,9593,9594,9595,9596,9597,9599,9600,9601,9602,9603,9606,9607,9608,9610,9612,9613,9614,9615,9616,9617,9618,9620,9621,9622,9623,9624,9625,9626,9627,9628,9629,9630,9631,9632,9633,9634,9637,9639,9655,9662,9663,9664,9665,9667,9668,9669,9673,9674,9675,9676,9677,9678,9679,9680,9681,9682,9683,9684,9685,9686,9691,9692,9694,9696,9698,9700,9702,9703,9705,9706,9707,9708,9712,9713,9716,9718,9719,9720,9723,9727,9728,9730,9732,9733,9734,9735,9736,9744,9745,9746,9752,9753,9757,9762,9766,9769,9770,9775,9776,9782,9783,9784,9791,9792,9793,9794,9796,9838,9872,10305,10306,10607,10657,10691,10701,10766,10767,11077,11106,11291,11322,11389,11543,11670,11681,11682,11700,11723,11729,11740,11796,11807,11815,11822,11825,11985,12056,12089,12520,12552,12570,12583,12587,12592,12638,12664,12706,12758,12826,12841,12843,12853,12900,12933,13078,13130,13145,13229,13249,13315,13330,13333,13350,13386,13405,13407,13424,13441,13459,13462,13466,13512,13513,13515,13553,13569,13624,13639,13742,13805,13813,13846,13862,13922,13945,13964,13972,13990,14010,14012,14015,14032,14090,14106,14108,14110,14169,14187,14212,14214,14215,14238,14248,14268,14286,14296,14304,14328,14354,14381,14382,14398,14410,14430,14435,14478,14501,14503,14528,14599,14600,14602,14611,14641,14650,14651,18431,18432,18438,18446,18450,18451,18452,18488,18512,18551,18566,18582,18592,18598,18610,18620,18624,18632,18633,18634,18638,18680,18687,18727,18746,18747,18772,18775,18777,18779,18796,18815,18817,18818,18827,18828,18857,18859,18868,18869,18871,18872,18873,18887,18904,18905,18906,18972,18979,19000,19011,19012,19044,19073,19077,19083,19105,19107,19130,19135,19137,19143,19144,19176,19194,19202,19203,19204,19224,19225,19229,19230,19235,19251,19258,19273,19274,19305,19319,19328,19367,19377,19381,19416,19424,19427,19433,19434,19436,19438,19447,19457,19476,19478,19489,19512,19516,19538,19564,19573,19582,19636,19671,19682,19683,19684,19693,19703,19704,19705,19709,19710,19719,19720,19728,19743,19746,19769,19778,19787,19797,19812,19834,19848,19849,19850,19862,19893,19904,19907,19913,19924,19938,19955,19956,19957,19958,19959,19960,19970,19973,19975,19976,19978,19980,19981,19982,20001,20003,20004,20007,20011,20013,20017,20043,20068,20104,20105,20107,20108,20109,20110,20111,20112,20113,20114,20115,20116,20117,20118,20119,20120,20121,20122,20159,20161,20188,20254,20255,20258,20267,20268,20292,20298,20299,20311,20312,20334,20362,20369,20374,20377,20378,20385,20386,20387,20406,20407,20465,20482,20483,20484,20487,20488,20489,20491,20492,20493,20494,20495,20497,20499,20517,20518,20525,20526,20527,20535,20536,20539,20543,20549,20569,20574,20579,20585,20607,20616,20647,20648,20654,20655,20656,20667,20668,20675,20696,20697,20698,20714,20728,20729,20733,20794,20797,20803,20805,20807,20808,20809,20810,20817,20818,20820,20821,20842,20846,20847,20896,20902,20904,20906,20911,20920,20921,20924,20930,20938,20942,20947,20948,20950,20955,20977,20979,20985,20986,20987,20988,20989,21000,21001,21002,21003,21005,21006,21007,21009,21031,21040,21042,21043,21045,21046,21052,21054,21055,21072,21074,21079,21098,21117,21121,21125,21126,21141,21144,21145,21151,21152,21176,21177,21178,21184,21185,21186,21205,21212,21217,21227,21228,21232,21250,21262,21264,21273,21274,21275,21297,21299,21308,21309,21310,21311,21316,21323,21331,21332,21341,21343,21344,21345,21359,21366,21367,21368,21370,21371,21372,21382,21383,21400,21401,21402,21405,21408,21427,21431,21433,21436,21437,21442,21453,21468,21470,21479,21480,21483,21485,21486,21493,21514,21532,21535,21536,21537,21546,21549,21550,21555,21556,21557,21561,21562,21565,21567,21569,21570,21571,21589,21592,21593,21642,21648,21652,21662,21663,21664,21665,21666,21667,21672,21673,21674,21686,21687,21688,21689,21690,21691,21693,21695,21698,21703,21712,21713,21742,21745,21754,21763,21764,21788,21792,21793,21795,21796,21797,21800,21802,21804,21815,21822,21823,21827,21834,21838,21840,21850,21862,21866,21868,21872,21892,21893,21894,21895,21896,21907,21910,21911,21912,21931,21932,21936,21951,21952,21958,21961,22007,22010,22011,22031,22037,22047,22062,22063,22072,22080,22098,22104,22114,22120,22127,22129,22130,22134,22143,22154,22155,22156,22158,22162,22166,22168,22176,22179,22201,22207,22208,22209,22241,22243,22244,22250,22253,22255,22256,22268,22270,22271,22272,22273,22281,22282,22285,22286,22293,22297,22305,22310,22315,22316,22319,22321,22325,22326,22330,22333,22334,22338,22356,22359,22371,22378,22379,22382,22383,22384,22397,22400,22430,22433,22477,22516,22517,22520,22521,22526,22540,22542,22543,22554,22560,22561,22565,22566,22572,22579,22586,22593,22601,22629,22633,22634,22642,22658,22682,22684,22687,22688,22697,22702,22703,22704,22705,22706,22709,22717,22729,22736,22737,22745,22753,22754,22758,22759,22760,22761,22767,22775,22777,22779,22783,22786,22790,22791,22792,22802,22803,22805,22829,22841,22844,22866,22878,22879,22880,22881,22900,22934,22943,22950,22975,22978,22984,22994,22999,23002,23004,23006,23025,23034,23035,23039,23044,23054,23058,23082,23104,23105,23127,23128,23131,23133,23134,23135,23150,23151,23157,23480,23485,23489,23490,23491,23511,23515,23516,23528,23529,23532,23533,23537,23547,23554,23555,23558,23559,23560,23562,23585,23586,23588,23598,23601,23602,23603,23605,23611,23615,23616,23617,23622,23623,23626,23628,23629,23630,23633,23635,23639,23640,23641,23642,23643,23652,23653,23660,23661,23663,23664,23666,23668,23669,23670,23673,23674,23675,23680,23684,23685,23686,23697,23700,23709,23710,23711,23719,23720,23721,23724,23728,23735,23738,23740,23741,23744,23752,23753,23754,23755,23766,23767,23771,23772,23788,23789,23793,23807,23808,23816,23819,23820,23828,23836,23837,23841,23855,23856,23884,23885,23888,23889,23892,23899,23900,23903,23904,23905,23908,23922,23931,23932,23933,23934,23935,23954,23955,23956,23958,23959,23960,23968,23969,23971,23974,23997,24000,24011,24017,24019,24021,24022,24023,24024,24025,24034,24035,24036,24043,24045,24067,24068,24074,24077,24087,24092,24093,24101,24106,24110,24112,24113,24114,24115,24117,24120,24126,24134,24139,24142,24143,24148,24151,24152,24156,24159,24160,24164,24167,24170,24175,24176,24178,24189,24190,24191,24192,24193,24194,24196,24208,24209,24216,24217,24218,24219,24220,24223,24225,24227,24228,24246,24250,24263,24264,24273,24274,24281,24292,24297,24298,24299,24300,24302,24304,24306,24311,24315,24316,24324,24326,24327,24328,24329,24334,24338,24341,24344,24351,24352,24354,24357,24367,24368,24369,24371,24386,24396,24397,24398,24400,24406,24408,24412,24417,24429,24438,24439,24442,24445,24453,24456,24479,24480,24484,24490,24492,24493,24494,24500,24504,24505,24530,24532,24537,24539,24553,24556,24562,24563,24564,24565,24572,24598,24601,24603,24604,24609,24614,24615,24622,24628,24631,24633,24637,24649,24651,24653,24654,24655,24656,24658,24659,24660,24663,24665,24679,24682,24688,24700,24706,24709,24713,24746,24760,24761,24774,24775,24776,24778,24779,24780,24787,24788,24790,24795,24796,24798,24819,24821,24822,24824,24825,24837,24838,24843,24844,24849,24850,24851,24859,24868,24869,24872,24873,24877,24879,24885,24888,24891,24893,24895,24902,24904,24906,24911,24915,24917,24918,24919,24920,24921,24922,24924,24925,24927,24928,24938,24946,24949,24950,24967,24970,24973,24975,24976,24978,24980,24989,24993,24999,25001,25006,25013,25026,25027,25029,25031,25038,25041,25042,25049,25051,25057,25068,25070,25077,25078,25082,25085,25091,25096,25100,25104,25106,25111,25132,25134,25135,25140,25145,25150,25152,25166,25167,25168,25170,25174,25175,25181,25186,25194,25203,25206,25212,25213,25217,25219,25222,25248,25256,25260,25263,25268,25273,25282,25285,25286,25288,25289,25291,25299,25300,25307,25317,25321,25327,25340,25347,25350,25353,25354,25357,25358,25359,25360,25361,25364,25378,25379,25381,25384,25387,25391,25395,25398,25399,25403,25407,25410,25411,25414,25416,25417,25424,25425,25436,25452,25463,25464,25469,25488,25489,25490,25491,25493,25496,25502,25504,25523,25525,25534,25535,25538,25545,25546,25552,25557,25561,25570,25579,25580,25589,25597,25598,25599,25600,25604,25612,25617,25619,25623,25624,25630,25637,25647,25653,25654,25657,25669,25682,25685,25686,25689,25690,25694,25696,25700,25706,25719,25720,25721,25724,25725,25726,25727,25736,25737,25738,25741,25742,25743,25744,25747,25748,25753,25754,25756,25757,25759,25767,25774,25785,25786,25787,25794,25817,25822,25824,25827,25830,25833,25840,25848,25853,25863,25864,25870,25871,25873,25880,25882,25890,25891,25892,25893,25894,25895,25896,25958,25960,25963,25965,25978,26000,26001,26002,26011,26013,26026,26027,26031,26032,26033,26034,26047,26056,26061,26065,26075,26079,26092,26093,26095,26096,26097,26101,26106,26107,26115,26118,26128,26130,26135,26140,26148,26150,26152,26154,26156,26164,26165,26166,26172,26174,26175,26176,26177,26179,26188,26197,26207,26209,26220,26221,26226,26231,26233,26236,26238,26239,26240,26251,26253,26255,26260,26265,26266,26268,26269,26270,26271,26273,26274,26280,26282,26283,26294,26296,26297,26301,26304,26308,26309,26318,26319,26330,26333,26335,26337,26338,26340,26341,26354,26355,26361,26363,26365,26367,26369,26377,26380,26384,26386,26391,26395,26396,26398,26400,26412,26415,26420,26423,26435,26436,26438,26439,26451,26454,26456,26464,26466,26469,26478,26480,26483,26485,26486,26496,26502,26505,26506,26526,26534,26536,26546,26558,26568,26571,26574,26575,26581,26584,26586,26587,26588,26593,26596,26601,26602,26605,26606,26607,26608,26611,26612,26613,26616,26618,26620,26625,26635,26637,26639,26640,26649,26652,26654,26658,26667,26668,26672,26674,26675,26676,26691,26693,26719,26730,26734,26739,26740,26743,26744,26746,26749,26753,26755,26756,26760,26763,26764,26765,26766,26767,26769,26771,26772,26774,26775,26776,26782,26792,26794,26806,26807,26809,26810,26816,26819,26862,26863,26864,26868,26877,26891,26897,26909,26910,26911,26914,26915,26917,26919,26920,26922,26926,26927,26929,26930,26935,26936,26939,26944,26952,26953,26956,26957,26959,26960,26967,26969,26971,26989,26994,26995,27001,27005,27009,27010,27013,27019,27022,27028,27032,27038,27039,27041,27043,27044,27045,27046,27050,27056,27075,27077,27079,27081,27083,27089,27090,27102,27106,27111,27113,27118,27119,27129,27132,27145,27155,27156,27157,27159,27191,27192,27198,27200,27201,27202,27205,27206,27207,27208,27210,27212,27213,27222,27224,27225,27228,27233,27241,27242,27250,27251,27252,27258,27271,27277,10000438,10000443'
------unassigned
--DECLARE @NHV VARCHAR(MAX)	SET @NHV = '-1'

------for testing
------------===========================================================================================

DECLARE @ReportYear VARCHAR(50)
SET @ReportYear =
				CASE
						WHEN  (@StartDate BETWEEN '10/1/2008' AND '9/30/2009') THEN '2008-09'
						WHEN  (@StartDate BETWEEN '10/1/2009' AND '9/30/2010') THEN '2009-10'
						WHEN  (@StartDate BETWEEN '10/1/2010' AND '9/30/2011') THEN '2010-11'
						WHEN  (@StartDate BETWEEN '10/1/2011' AND '9/30/2012') THEN '2011-12'
						WHEN  (@StartDate BETWEEN '10/1/2012' AND '9/30/2013') THEN '2012-13'
						WHEN  (@StartDate BETWEEN '10/1/2013' AND '9/30/2014') THEN '2013-14'
						WHEN  (@StartDate BETWEEN '10/1/2014' AND '9/30/2015') THEN '2014-15'
						WHEN  (@StartDate BETWEEN '10/1/2015' AND '9/30/2016') THEN '2015-16'
						WHEN  (@StartDate BETWEEN '10/1/2016' AND '9/30/2017') THEN '2016-17'
						WHEN  (@StartDate BETWEEN '10/1/2017' AND '9/30/2018') THEN '2017-18'
						WHEN  (@StartDate BETWEEN '10/1/2018' AND '9/30/2019') THEN '2018-19'
						WHEN  (@StartDate BETWEEN '10/1/2019' AND '9/30/2020') THEN '2019-20'
					END


----CTEs
;WITH StfToClientByEndDate AS
(	SELECT StaffID, CLID, ProgramID, EndDate, EntityID 
		,RANK() OVER(PARTITION BY CLID, ProgramID ORDER BY EndDate DESC) Ranking
	FROM 
	(	----staff to client records, current and history
		SELECT StaffID, CLID, ProgramID, NULL EndDate, Entity_Id EntityID FROM StaffxClient
		UNION ALL
		SELECT StaffID, CLID, ProgramID, EndDate, Entity_Id EntityID FROM StaffxClientHx
	)sxc
	WHERE ISNULL( sxc.EndDate, DATEADD(DAY,1,@EndDate) ) >= @StartDate
)
--===========================================================================================
,DemographicsSurvey AS
(	SELECT MAX(SurveyResponseID) latestSurveyResponseID, CL_EN_GEN_ID CLID, ProgramID 
	FROM Demographics_Survey 
	WHERE SurveyDate < @EndDate
		AND (DataWarehouse.dbo.fnGetFormName(SurveyID) = 'Demographics: Pregnancy Intake'
			OR DataWarehouse.dbo.fnGetFormName(SurveyID) = 'Demographics Update: Infancy 12 Months'
			OR DataWarehouse.dbo.fnGetFormName(SurveyID) = 'Demographics Update: Toddler 24 Months')
	GROUP BY CL_EN_GEN_ID, ProgramID 
)
--===========================================================================================
,GovtCommSrvcsSurvey_child AS
(	SELECT MAX(SurveyResponseID) latestSurveyResponseID, CL_EN_GEN_ID CLID, ProgramID 
	FROM Govt_Comm_Srvcs_Survey ----do not filter surveys by date, per Kyla Krause 9/11/2014
	WHERE (DataWarehouse.dbo.fnGetFormName(SurveyID) = 'Use of Government & Community Services-Birth'			----used for child
			OR DataWarehouse.dbo.fnGetFormName(SurveyID) = 'Use of Government & Community Services-Infancy 12'	----child & client
			OR DataWarehouse.dbo.fnGetFormName(SurveyID) = 'Use of Government & Community Services-Toddler 24')	----child & client
	GROUP BY CL_EN_GEN_ID, ProgramID 
)	
,GovtCommSrvcsSurvey_client AS
(	SELECT MAX(SurveyResponseID) latestSurveyResponseID, CL_EN_GEN_ID CLID, ProgramID 
	FROM Govt_Comm_Srvcs_Survey ----do not filter surveys by date, per Kyla Krause 9/11/2014
	WHERE (DataWarehouse.dbo.fnGetFormName(SurveyID) = 'Use of Government & Community Services-Intake'			----used for client
			OR DataWarehouse.dbo.fnGetFormName(SurveyID) = 'Use of Government & Community Services-Infancy 12'	----child & client
			OR DataWarehouse.dbo.fnGetFormName(SurveyID) = 'Use of Government & Community Services-Toddler 24')	----child & client
	GROUP BY CL_EN_GEN_ID, ProgramID 
)
----===========================================================================================

SELECT DISTINCT
	PAS.AGENCY_INFO_0_NAME SiteName
	,PAS.SiteID [Agencies Site_ID]
	,PAS.[StateID] [State]
	,PAS.Abbreviation
	,EAD.CLID
	,EAD.ProgramID
	,EAD.ProgramStartDate

---------------------------------------------
---Newly Enrolled and Served
---------------------------------------------
	,hm.[Newly Enrolled MIECHV During Reporting Period]
	,hm.[MIECHV Served During Reporting Period]
	,hm.[MIECHV Infants Born During Reporting Period]
	,hm.[MIECHV Infants Served During Reporting Period]
	,hm.INFANT_BIRTH_0_DOB
	,hm.[Pregnant during reporting period]

---------------------------------------------
----Enrollees and Children: Insurance Status
---------------------------------------------	
	
	----Unknown Insurance
	,CASE WHEN GCClient.CL_EN_GEN_ID IS NULL 
				THEN 1 ELSE 0 
	END [Client Insurance - Unknown]	
	,CASE WHEN GCChild.CL_EN_GEN_ID IS NULL 
			AND hm.INFANT_BIRTH_0_DOB <= @EndDate 
				THEN 1 ELSE 0 
	END [Child Insurance - Unknown]	

	----No Insurance	   
	,CASE WHEN (GCClient.SERVICE_USE_0_MEDICAID_CLIENT NOT IN (2,5) OR GCClient.SERVICE_USE_0_MEDICAID_CLIENT IS NULL)
				AND (GCClient.SERVICE_USE_0_SCHIP_CLIENT NOT IN (2,5) OR GCClient.SERVICE_USE_0_SCHIP_CLIENT IS NULL)
				AND (GCClient.[SERVICE_USE_MILITARY_INS_CLIENT ] NOT IN (2,5) OR GCClient.[SERVICE_USE_MILITARY_INS_CLIENT ] IS NULL)
				AND (GCClient.SERVICE_USE_0_PRIVATE_INSURANCE_CLIENT NOT IN (2,5) OR GCClient.SERVICE_USE_0_PRIVATE_INSURANCE_CLIENT IS NULL)
				AND GCClient.CL_EN_GEN_ID IS NOT NULL
					THEN 1 ELSE 0
	END [Client Insurance - None]	
	,CASE WHEN (GCChild.SERVICE_USE_0_MEDICAID_CHILD NOT IN (2,5) OR GCChild.SERVICE_USE_0_MEDICAID_CHILD IS NULL)
				AND (GCChild.SERVICE_USE_0_SCHIP_CHILD NOT IN (2,5) OR GCChild.SERVICE_USE_0_SCHIP_CHILD IS NULL)
				AND (GCChild.[SERVICE_USE_MILITARY_INS_CHILD] NOT IN (2,5) OR GCChild.[SERVICE_USE_MILITARY_INS_CHILD] IS NULL)
				AND (GCChild.SERVICE_USE_0_PRIVATE_INSURANCE_CHILD NOT IN (2,5) OR GCChild.SERVICE_USE_0_PRIVATE_INSURANCE_CHILD IS NULL)
				AND GCChild.CL_EN_GEN_ID IS NOT NULL
				AND hm.INFANT_BIRTH_0_DOB <= @EndDate
					THEN 1 ELSE 0 
	END [Child Insurance - None]
	
	----Medicaid	  		
	,CASE WHEN GCClient.SERVICE_USE_0_MEDICAID_CLIENT IN (2,5) 
				OR GCClient.SERVICE_USE_0_SCHIP_CLIENT IN (2,5) 
					THEN 1 ELSE 0 
	END [Medicaid Client]	
	,CASE WHEN (GCChild.SERVICE_USE_0_MEDICAID_CHILD IN (2,5) 
				OR GCChild.SERVICE_USE_0_SCHIP_CHILD IN (2,5)) 
				AND hm.INFANT_BIRTH_0_DOB <= @EndDate 
					THEN 1 ELSE 0 
	END [Medicaid Child]		
	
	----Private Insurance 
	,CASE WHEN GCClient.SERVICE_USE_0_PRIVATE_INSURANCE_CLIENT IN (2,5) 
					THEN 1 ELSE 0 
	END [Private Client]	
	,CASE WHEN (GCChild.SERVICE_USE_0_PRIVATE_INSURANCE_CHILD IN (2,5)) 
				AND hm.INFANT_BIRTH_0_DOB <= @EndDate 
					THEN 1 ELSE 0 
	END [Private Child]	
	
	----Military Insurance
	,CASE WHEN GCClient.[SERVICE_USE_MILITARY_INS_CLIENT ] IN (2,5) 
				THEN 1 ELSE 0 
	END [Military Client]	
	,CASE WHEN GCChild.SERVICE_USE_MILITARY_INS_CHILD IN (2,5) 
				AND hm.INFANT_BIRTH_0_DOB <= @EndDate 
					THEN 1 ELSE 0 
	END [Military Child]	
	
	--Rollup these values into a single column that you can group by
	----Unknown Insurance
	,CASE 
		WHEN GCClient.CL_EN_GEN_ID IS NULL THEN 'Unknown/Did Not Report'
		WHEN (GCClient.SERVICE_USE_0_MEDICAID_CLIENT NOT IN (2,5) OR GCClient.SERVICE_USE_0_MEDICAID_CLIENT IS NULL)
				AND (GCClient.SERVICE_USE_0_SCHIP_CLIENT NOT IN (2,5) OR GCClient.SERVICE_USE_0_SCHIP_CLIENT IS NULL)
				AND (GCClient.[SERVICE_USE_MILITARY_INS_CLIENT ] NOT IN (2,5) OR GCClient.[SERVICE_USE_MILITARY_INS_CLIENT ] IS NULL)
				AND (GCClient.SERVICE_USE_0_PRIVATE_INSURANCE_CLIENT NOT IN (2,5) OR GCClient.SERVICE_USE_0_PRIVATE_INSURANCE_CLIENT IS NULL)
				AND GCClient.CL_EN_GEN_ID IS NOT NULL THEN 'No Insurance Coverage'
		WHEN GCClient.SERVICE_USE_0_MEDICAID_CLIENT IN (2,5) 
				OR GCClient.SERVICE_USE_0_SCHIP_CLIENT IN (2,5) THEN 'Medicaid/SCHIP'
		WHEN GCClient.SERVICE_USE_0_PRIVATE_INSURANCE_CLIENT IN (2,5) THEN 'Private or Other'
		WHEN GCClient.[SERVICE_USE_MILITARY_INS_CLIENT ] IN (2,5) THEN 'Tri-Care(Military)'
		
	END AS Client_Insurance_Status	


---------------------------------------------------
----Selected Characteristics by Ethnicity and Race
---------------------------------------------------
	----Client Marital Status
	,ISNULL(DD.CLIENT_MARITAL_0_STATUS,'Unknown') CLIENT_MARITAL_0_STATUS
	
	----Education Level
	,CASE
			WHEN DD.CLIENT_SCHOOL_MIDDLE_HS = 'Yes - high school or GED program (includes alternative and technical programs)'
				OR (DD.CLIENT_EDUCATION_0_HS_GED LIKE '%NO%' 
					AND DD.CLIENT_EDUCATION_1_ENROLLED_CURRENT = 'YES')
						THEN 'Currently enrolled in high school'
			WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 4748.25 AND 6939.75
				AND (DD.CLIENT_EDUCATION_1_ENROLLED_CURRENT LIKE '%NO%' 
					OR DD.CLIENT_SCHOOL_MIDDLE_HS LIKE '%NOT%')
						THEN 'Of high school age, not enrolled'
			WHEN (DD.CLIENT_EDUCATION_0_HS_GED LIKE '%NO%' 
					AND (DD.CLIENT_EDUCATION_1_ENROLLED_CURRENT LIKE '%NO%' 
						OR DD.CLIENT_SCHOOL_MIDDLE_HS LIKE '%NOT%'))
				AND (DD.CLIENT_SCHOOL_MIDDLE_HS <>'Yes - high school or GED program (includes alternative and technical programs)'
					OR DD.CLIENT_SCHOOL_MIDDLE_HS LIKE '%MIDDLE%')
						THEN 'Less than HS diploma'
			WHEN DD.CLIENT_EDUCATION_0_HS_GED LIKE '%GED%'
					THEN 'GED'
			WHEN DD.CLIENT_EDUCATION_0_HS_GED LIKE '%HIGH%'
					THEN 'HS diploma'
			WHEN DD.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%SOME COLLEGE%'
					THEN 'Some college/training'
			WHEN DD.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%ASSOC%'
				OR DD.CLIENT_EDUCATION_0_HS_GED LIKE '%VOCA%'
				OR DD.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%VOCA%'
					THEN 'Technical Training Certification, Associate''s Degree'
			WHEN DD.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%BACH%'
				OR DD.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%MAST%'
				OR DD.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%DOCT%'
					THEN 'Bachelor''s Degree, or higher'
			ELSE 'Unknown/Did Not Report'
	END [Education Level]  	
	,CASE
		WHEN DD.CLIENT_SCHOOL_MIDDLE_HS = 'Yes - high school or GED program (includes alternative and technical programs)'
		OR (DD.CLIENT_EDUCATION_0_HS_GED LIKE '%NO%' 
			AND DD.CLIENT_EDUCATION_1_ENROLLED_CURRENT = 'YES')
				THEN 1
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 4748.25 AND 6939.75
		AND (DD.CLIENT_EDUCATION_1_ENROLLED_CURRENT LIKE '%NO%' 
			OR DD.CLIENT_SCHOOL_MIDDLE_HS LIKE '%NOT%')
				THEN 2
		WHEN (DD.CLIENT_EDUCATION_0_HS_GED LIKE '%NO%' 
		AND (DD.CLIENT_EDUCATION_1_ENROLLED_CURRENT LIKE '%NO%' 
			OR DD.CLIENT_SCHOOL_MIDDLE_HS LIKE '%NOT%'))
				THEN 3
		WHEN DD.CLIENT_EDUCATION_0_HS_GED LIKE '%GED%'
			THEN 4
		WHEN DD.CLIENT_EDUCATION_0_HS_GED LIKE '%HIGH%'
			THEN 5
		WHEN DD.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%SOME COLLEGE%'
			THEN 6
		WHEN DD.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%ASSOC%'
			OR DD.CLIENT_EDUCATION_0_HS_GED LIKE '%VOCA%'
			OR DD.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%VOCA%'
				THEN 7
		WHEN DD.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%BACH%'
			OR DD.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%MAST%'
			OR DD.CLIENT_EDUCATION_1_HIGHER_EDUC_COMP LIKE '%DOCT%'
				THEN 8
		ELSE 10
	END [Education Level Sorting]
	
	----Client Age
	,CASE
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 0 AND 3652.49 THEN 'Under 10'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 3652.5 AND 5478.74 THEN '10-14' 
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 5478.75 AND 6574.49 THEN '15-17'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 6574.5 AND 7304.99 THEN '18-19'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 7305 AND 8035.49 THEN '20-21'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 8035.5 AND 9131.24 THEN '22-24'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 9131.25 AND 10957.49 THEN '25-29'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 10957.5 AND 12783.74 THEN '30-34'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 12783.75 AND 16436.24 THEN '35-44'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 16436.25 AND 20088.74 THEN '45-54'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 20088.75 AND 23741.24 THEN '55-64'
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) >= 23741.25 THEN '65+'
		ELSE 'Unknown/Did Not Report'
	 END [Clients Age]
	,CASE
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 0 AND 3652.49 THEN 1
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 3652.5 AND 5478.74 THEN 2
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 5478.75 AND 6574.49 THEN 3
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 6574.5 AND 7304.99 THEN 4
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 7305 AND 8035.49 THEN 5
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 8035.5 AND 9131.24 THEN 6
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 9131.25 AND 10957.49 THEN 7
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 10957.5 AND 12783.74 THEN 8
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 12783.75 AND 16436.24 THEN 9
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 16436.25 AND 20088.74 THEN 10
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) BETWEEN 20088.75 AND 23741.24 THEN 11
		WHEN DATEDIFF(DAY,C.DOB,EAD.ProgramStartDate) >= 23741.25 THEN 12
		ELSE 13
	 END [Clients Age Sorting] 
	 
	 ----Child Age
	,CASE
		WHEN hm.[MIECHV Infants Served During Reporting Period] = 1 
			AND hm.[Child Age at End of Quarter] < 1 
				THEN 'Under 1 year' 
		WHEN hm.[MIECHV Infants Served During Reporting Period] = 1 
			AND hm.[Child Age at End of Quarter] BETWEEN 1 AND 2 
				THEN '1-2 years'
		WHEN hm.[MIECHV Infants Served During Reporting Period] = 1 
			AND hm.[Child Age at End of Quarter] > 2 
				THEN 'Over 2 years' 
		WHEN hm.[MIECHV Infants Served During Reporting Period] = 1 
			AND hm.[Child Age at End of Quarter] IS NULL
				THEN 'Unknown' 
	END	[Child Age at End of Quarter]
	
	----Child Gender	
   ,IsNull(hm.INFANT_PERSONAL_0_GENDER, 'Unknown') INFANT_PERSONAL_0_GENDER
   
	----Ethnicity
	,CASE WHEN hm.[Home visits during reporting period] >= 1 
		THEN 
			CASE 
				WHEN C.DEMO_CLIENT_INTAKE_0_ETHNICITY = 'Hispanic or Latina'
					THEN 1 ELSE 0 
		   END 
	END [Hispanic or Latino]
	,CASE WHEN hm.[Home visits during reporting period] >= 1 
		THEN 
			CASE 
				WHEN C.DEMO_CLIENT_INTAKE_0_ETHNICITY = 'Not Hispanic or Latina'
					THEN 1 ELSE 0 
		   END 
	END [Not Hispanic or Latino]
	,CASE WHEN hm.[Home visits during reporting period] >= 1 
		THEN 
			CASE 
				WHEN C.DEMO_CLIENT_INTAKE_0_ETHNICITY ='Declined to self-identify'
					THEN 1 ELSE 0 
		   END 
	END [Declined Ethnicity]
	,CASE WHEN hm.[Home visits during reporting period] >= 1 
		THEN 
			CASE 
				WHEN C.DEMO_CLIENT_INTAKE_0_ETHNICITY IS NULL
					THEN 1 ELSE 0 
		   END 
	END [Unrecorded Ethnicity]
	
	,CASE
		WHEN hm.[Home visits during reporting period] >= 1 
		THEN 
			CASE 
				WHEN C.DEMO_CLIENT_INTAKE_0_ETHNICITY IS NULL THEN 'Unrecorded'
				ELSE C.DEMO_CLIENT_INTAKE_0_ETHNICITY				
			END 
		END AS ClientEthnicity
	
   ----Race
	,CASE WHEN hm.[Home visits during reporting period] >= 1 
		THEN 
			CASE 
				WHEN C.DEMO_CLIENT_INTAKE_0_RACE LIKE '%AMERICAN INDIAN%' 
				AND C.DEMO_CLIENT_INTAKE_0_RACE NOT LIKE '%;%'
					THEN 1 ELSE 0
		   END 
	END [American Indian]
	,CASE WHEN hm.[Home visits during reporting period] >= 1 
		THEN 
			CASE 
				WHEN C.DEMO_CLIENT_INTAKE_0_RACE LIKE '%Asian%' 
				AND C.DEMO_CLIENT_INTAKE_0_RACE NOT LIKE '%;%'
					THEN 1 ELSE 0 
		   END 
	END [Asian]
	,CASE WHEN hm.[Home visits during reporting period] >= 1 
		THEN 
			CASE 
				WHEN C.DEMO_CLIENT_INTAKE_0_RACE LIKE '%Black%' 
				AND C.DEMO_CLIENT_INTAKE_0_RACE NOT LIKE '%;%'
					THEN 1 ELSE 0 
		   END 
	END [Black]
	,CASE WHEN hm.[Home visits during reporting period] >= 1 
		THEN 
			CASE 
				WHEN C.DEMO_CLIENT_INTAKE_0_RACE LIKE '%Native Hawaiian%' 
				AND C.DEMO_CLIENT_INTAKE_0_RACE NOT LIKE '%;%'
					THEN 1 ELSE 0 
		   END 
	END [Native Hawaiian]
	,CASE WHEN hm.[Home visits during reporting period] >= 1 
		THEN 
			CASE 
				WHEN C.DEMO_CLIENT_INTAKE_0_RACE LIKE '%White%' 
				AND C.DEMO_CLIENT_INTAKE_0_RACE NOT LIKE '%;%'
					THEN 1 ELSE 0 
		   END 
	END [White]
	,CASE WHEN hm.[Home visits during reporting period] >= 1 
		THEN 
			CASE 
				WHEN C.DEMO_CLIENT_INTAKE_0_RACE LIKE '%;%'
					THEN 1 ELSE 0 
		   END 
	END [More than one race]
	,CASE WHEN hm.[Home visits during reporting period] >= 1 
		THEN 
			CASE 
				WHEN C.DEMO_CLIENT_INTAKE_0_RACE = 'Declined to self-identify'
					THEN 1 ELSE 0
		   END 
	END [Declined Race]
	,CASE WHEN hm.[Home visits during reporting period] >= 1 
		THEN 
			CASE 
				WHEN C.DEMO_CLIENT_INTAKE_0_RACE IS NULL
					THEN 1 ELSE 0 
		   END 
	END [Unrecorded Race]
	
	,CASE
		WHEN hm.[Home visits during reporting period] >= 1 
			THEN 
				CASE
					WHEN C.DEMO_CLIENT_INTAKE_0_RACE IS NOT NULL
						THEN 
							CASE	
								WHEN C.DEMO_CLIENT_INTAKE_0_RACE NOT LIKE '%;%' THEN C.DEMO_CLIENT_INTAKE_0_RACE 
								ELSE 'More Than One Race'
							END
 						ELSE 'Unrecorded'
				END
		END AS ClientRace
 
---------------------------------------------------
----Employment Status
---------------------------------------------------
	,CASE
		WHEN DD.CLIENT_WORKING_0_CURRENTLY_WORKING LIKE '%FULL%' 
			THEN 'Employed Full-Time'
		WHEN DD.CLIENT_WORKING_0_CURRENTLY_WORKING LIKE '%part%' 
			THEN 'Employed Part-Time'
		WHEN DD.CLIENT_WORKING_0_CURRENTLY_WORKING LIKE '%no%' 
			THEN 'Not Employed'
		WHEN DD.CLIENT_WORKING_0_CURRENTLY_WORKING IS NOT NULL
			THEN 'Other'
		ELSE 'Unknown/Did Not Report'
	END [Employment Status]

---------------------------------------------------
----Education/Training Status
---------------------------------------------------
	,CASE
		WHEN DD.CLIENT_EDUCATION_1_ENROLLED_FTPT LIKE '%TIME%' 
			OR DD.CLIENT_SCHOOL_MIDDLE_HS <> 'NOT ENROLLED' 
				THEN 'Student/Trainee'
		WHEN DD.CLIENT_EDUCATION_1_ENROLLED_CURRENT LIKE '%NO%' 
			OR DD.CLIENT_SCHOOL_MIDDLE_HS = 'NOT ENROLLED' 
				THEN 'Not a Student/Trainee'
		WHEN DD.CLIENT_EDUCATION_1_ENROLLED_CURRENT IS NOT NULL
			OR DD.CLIENT_SCHOOL_MIDDLE_HS IS NOT NULL
				THEN 'Other'
		ELSE 'Unknown/Did Not Report'
	END [Education/Training Status]
		
---------------------------------------------------
----Primary Language
---------------------------------------------------
	,CASE WHEN hm.[MIECHV Infants Served During Reporting Period] = 1 THEN
		CASE
			WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%english%' 
				OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%ENGLISH%'
					THEN 'English'
			WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Spanish%' 
				OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%Spanish%'
					THEN 'Spanish'
			WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Arabic%' 
				OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%Arabic%'
					THEN 'Arabic'
			WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Russian%' 
				OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%Russian%'
					THEN 'Russian'
			WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Vietnamese%' 
				OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%Vietnamese%'
					THEN 'Vietnamese'
			WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Cantonese%' 
				OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%cantonese%' 
				OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%chinese%'
					THEN 'Chinese*'
			WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%French%' 
				OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%french%' 
					THEN 'French'
			WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Italian%' 
				OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%italian%' 
					THEN 'Italian'
			WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Japanese%' 
				OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%japanese%' 
					THEN 'Japanese'
			WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Korean%' 
				OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%korean%' 
					THEN 'Korean'
			WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Polish%' 
				OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%polish%' 
					THEN 'Polish'
			WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Tagalog%' 
				OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%tagalog%' 
					THEN 'Tagalog'
			WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE LIKE '%Tribal Languages%' 
				OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC LIKE '%tribal%' 
					THEN 'Tribal Languages'
			WHEN C.DEMO_CLIENT_INTAKE_0_LANGUAGE IS NOT NULL 
				OR C.CLIENT_PERSONAL_LANGUAGE_1_DESC IS NOT NULL
					THEN 'Other'
			ELSE 'Unknown/Did Not Report'
		END
	END  [Primary Language]
		
---------------------------------------------
----Priority Populations
---------------------------------------------
	,CASE WHEN EAD.ProgramStartDate BETWEEN @StartDate AND @EndDate
		THEN
			CASE WHEN DD.CLIENT_INCOME_1_LOW_INCOME_QUALIFY = 'Yes' 
				THEN 1 
				ELSE 0 
			END 
		ELSE 0
	END LowIncomeCriteria
	,CASE WHEN EAD.ProgramStartDate BETWEEN @StartDate AND @EndDate
		THEN
			CASE WHEN DATEDIFF(YY, C.DOB, EAD.ProgramStartDate) < 21 
				THEN 1 
				ELSE 0 
			END 
		ELSE 0
	END PregnantUnder21
	,CASE WHEN EAD.ProgramStartDate BETWEEN @StartDate AND @EndDate
		THEN
			CASE WHEN HHI.CLIENT_SUBSTANCE_CIG_1_LAST_48 > 0 
				THEN 1 
				ELSE 0 
			END 
		ELSE 0
	END TobaccoUser
	,CASE WHEN EAD.ProgramStartDate BETWEEN @StartDate AND @EndDate
		THEN
			CASE WHEN DD.CLIENT_MILITARY <> 'None' AND DD.CLIENT_MILITARY IS NOT NULL 
				THEN 1 
				ELSE 0 
			END 
		ELSE 0
	END Military

---------------------------------------------
---Family Retention and Home Visits
---------------------------------------------
	,hm.[Currently Rcv Svcs]	 
	,hm.[Home visits during reporting period]
	
	,hm.FundingType
	,@ReportYear
	
FROM UV_EADT EAD
----------Team parm selection
	JOIN DataWarehouse.dbo.udf_ParseMultiParam(@Teams) parmTeams ON parmTeams.Value = EAD.ProgramID		----report selection for teams
----------MIECHV funded
JOIN DBO.udf_HRSA_MIECHV_ServedEnrolled_v3(@StartDate, @EndDate,@FundingType,@Teams) HM
		ON HM.CLID = EAD.CLID
		AND HM.ProgramID = EAD.ProgramID
		AND HM.[Served During Reporting Period] = 1	
							
	JOIN Clients C ON C.Client_Id = EAD.CLID  
	JOIN UV_PAS PAS ON PAS.ProgramID = EAD.ProgramID  

	LEFT JOIN DemographicsSurvey ds ON ds.CLID = EAD.CLID
										AND ds.ProgramID = EAD.ProgramID
	LEFT JOIN Demographics_Survey DD ON DD.SurveyResponseID = ds.latestSurveyResponseID ----filter on latest survey
															
	----govt child
	LEFT JOIN GovtCommSrvcsSurvey_child gschild ON gschild.CLID = EAD.CLID
										AND gschild.ProgramID = EAD.ProgramID	
	LEFT JOIN Govt_Comm_Srvcs_Survey GCChild ON GCChild.SurveyResponseID = gschild.latestSurveyResponseID ----filter on latest survey
	----govt client
	LEFT JOIN GovtCommSrvcsSurvey_client gsclient ON gsclient.CLID = EAD.CLID
										AND gsclient.ProgramID = EAD.ProgramID	
	LEFT JOIN Govt_Comm_Srvcs_Survey GCClient ON GCClient.SurveyResponseID = gsclient.latestSurveyResponseID ----filter on latest survey

	LEFT JOIN Health_Habits_Survey HHI ON HHI.CL_EN_GEN_ID = EAD.CLID
														AND HHI.ProgramID = EAD.ProgramID
														AND HHI.SurveyDate < = @EndDate
														AND DataWarehouse.dbo.fnGetFormName(HHI.SurveyID) LIKE '%INTAKE%'	
														AND EAD.ProgramStartDate BETWEEN @StartDate AND @EndDate
	----------NHV parm selection
	LEFT JOIN StfToClientByEndDate sc ON sc.CLID = EAD.CLID
							AND sc.ProgramID = EAD.ProgramID
							AND sc.Ranking = 1
	LEFT JOIN dbo.fn_FID_Staff_list('1/1/1900',@EndDate) S ON S.Entity_ID = sc.EntityID
														AND S.ProgramID = sc.ProgramID																
	JOIN DataWarehouse.dbo.udf_ParseMultiParam(@NHV) parmNHV ON parmNHV.Value = CASE						----report selection for nurses
																					WHEN sc.EntityID > 0 
																					THEN sc.EntityID		----specific NHV selected
																					ELSE -1					----Unassigned NHV selected
																				END
	
WHERE ISNULL( EAD.EndDate, GETDATE() ) >= @StartDate AND EAD.ProgramStartDate <= @EndDate
		AND EAD.RankingLatest = 1

UNION ALL
SELECT
	Null SiteName	
	,0 [Agencies Site_ID]	
	,NULL [State]	
	,NULL Abbreviation
	,NULL CLID	
	,NULL ProgramID	
	,NULL ProgramStartDate	
	,0 [Newly Enrolled MIECHV During Reporting Period]	
	,0 [MIECHV Served During Reporting Period]	
	,0 [MIECHV Infants Born During Reporting Period]	
	,0 [MIECHV Infants Served During Reporting Period]	
	,NULL INFANT_BIRTH_0_DOB	
	,0 [Pregnant during reporting period]	
	,0 [Client Insurance - Unknown]
	,0 [Child Insurance - Unknown]
	,0 [Client Insurance - None]	
	,0 [Child Insurance - None]	
	,0 [Medicaid Client]	
	,0 [Medicaid Child]	
	,0 [Private Client]	
	,0 [Private Child]	
	,0 [Military Client]	
	,0 [Military Child]	
	,'Unknown/Did Not Report' Client_Insurance_Status
	,'Single - never married' CLIENT_MARITAL_0_STATUS	
	,'Currently enrolled in high school' [Education Level]	
	,1 [Education Level Sorting]	
	,'Under 10' [Clients Age]	
	,1 [Clients Age Sorting]	
	,'Under 1 year' [Child Age at End of Quarter]	
	,'Male' INFANT_PERSONAL_0_GENDER	
	,0 [Hispanic or Latino]	
	,0 [Not Hispanic or Latino]	
	,0 [Declined Ethnicity]	
	,0 [Unrecorded Ethnicity]
	,'Hispanic or Latina' ClientEthnicity	
	,0 [American Indian]	
	,0 Asian	
	,0 Black	
	,0 [Native Hawaiian]	
	,0 White	
	,0 [More than one race]	
	,0 [Declined Race]	
	,0 [Unrecorded Race]
	, 'White' ClientRace	
	,'Employed Full-Time' [Employment Status]	
	,'Student/Trainee' [Education/Training Status]	
	,'English' [Primary Language]	
	,0 LowIncomeCriteria	
	,0 PregnantUnder21	
	,0 TobaccoUser	
	,0 Military	
	,NULL [Currently Rcv Svcs]	
	,0 [Home visits during reporting period]
	,0 FundingType
	,@ReportYear


UNION ALL
SELECT
	Null SiteName	
	,0 [Agencies Site_ID]	
	,NULL [State]	
	,NULL Abbreviation
	,NULL CLID	
	,NULL ProgramID	
	,NULL ProgramStartDate	
	,0 [Newly Enrolled MIECHV During Reporting Period]	
	,0 [MIECHV Served During Reporting Period]	
	,0 [MIECHV Infants Born During Reporting Period]	
	,0 [MIECHV Infants Served During Reporting Period]	
	,NULL INFANT_BIRTH_0_DOB	
	,0 [Pregnant during reporting period]	
	,0 [Client Insurance - Unknown]
	,0 [Child Insurance - Unknown]
	,0 [Client Insurance - None]	
	,0 [Child Insurance - None]	
	,0 [Medicaid Client]	
	,0 [Medicaid Child]	
	,0 [Private Client]	
	,0 [Private Child]	
	,0 [Military Client]	
	,0 [Military Child]	
	,'Medicaid/SCHIP' Client_Insurance_Status
	,'Widowed' CLIENT_MARITAL_0_STATUS	
	,'Of high school age, not enrolled' [Education Level]	
	,2 [Education Level Sorting]	
	,'10-14' [Clients Age]	
	,2 [Clients Age Sorting]	
	,'1-2 years' [Child Age at End of Quarter]	
	,'Female' INFANT_PERSONAL_0_GENDER	
	,0 [Hispanic or Latino]	
	,0 [Not Hispanic or Latino]	
	,0 [Declined Ethnicity]	
	,0 [Unrecorded Ethnicity]	
	,'Not Hispanic or Latina' ClientEthnicity
	,0 [American Indian]	
	,0 Asian	
	,0 Black	
	,0 [Native Hawaiian]	
	,0 White	
	,0 [More than one race]	
	,0 [Declined Race]	
	,0 [Unrecorded Race]
	, 'Declined to self-identify' ClientRace		
	,'Employed Part-Time' [Employment Status]	
	,'Not a Student/Trainee' [Education/Training Status]	
	,'Spanish' [Primary Language]	
	,0 LowIncomeCriteria	
	,0 PregnantUnder21	
	,0 TobaccoUser	
	,0 Military	
	,NULL [Currently Rcv Svcs]	
	,0 [Home visits during reporting period]
	,0 FundingType
	,@ReportYear

UNION ALL
SELECT
	Null SiteName	
	,0 [Agencies Site_ID]	
	,NULL [State]	
	,NULL Abbreviation
	,NULL CLID	
	,NULL ProgramID	
	,NULL ProgramStartDate	
	,0 [Newly Enrolled MIECHV During Reporting Period]	
	,0 [MIECHV Served During Reporting Period]	
	,0 [MIECHV Infants Born During Reporting Period]	
	,0 [MIECHV Infants Served During Reporting Period]	
	,NULL INFANT_BIRTH_0_DOB	
	,0 [Pregnant during reporting period]	
	,0 [Client Insurance - Unknown]
	,0 [Child Insurance - Unknown]
	,0 [Client Insurance - None]	
	,0 [Child Insurance - None]	
	,0 [Medicaid Client]	
	,0 [Medicaid Child]	
	,0 [Private Client]	
	,0 [Private Child]	
	,0 [Military Client]	
	,0 [Military Child]	
	,'No Insurance Coverage' Client_Insurance_Status
	,'Divorced' CLIENT_MARITAL_0_STATUS	
	,'Less than HS diploma' [Education Level]	
	,3 [Education Level Sorting]	
	,'15-17' [Clients Age]	
	,3 [Clients Age Sorting]	
	,'Under 1 year' [Child Age at End of Quarter]	
	,NULL INFANT_PERSONAL_0_GENDER	
	,0 [Hispanic or Latino]	
	,0 [Not Hispanic or Latino]	
	,0 [Declined Ethnicity]	
	,0 [Unrecorded Ethnicity]	
	,'Unrecorded' ClientEthnicity
	,0 [American Indian]	
	,0 Asian	
	,0 Black	
	,0 [Native Hawaiian]	
	,0 White	
	,0 [More than one race]	
	,0 [Declined Race]	
	,0 [Unrecorded Race]
	, 'Unrecorded' ClientRace		
	,'Not Employed' [Employment Status]	
	,'Unknown/Did Not Report' [Education/Training Status]	
	,'Arabic' [Primary Language]	
	,0 LowIncomeCriteria	
	,0 PregnantUnder21	
	,0 TobaccoUser	
	,0 Military	
	,NULL [Currently Rcv Svcs]	
	,0 [Home visits during reporting period]
	,0 FundingType
	,@ReportYear

UNION ALL
SELECT
	Null SiteName	
	,0 [Agencies Site_ID]	
	,NULL [State]	
	,NULL Abbreviation
	,NULL CLID	
	,NULL ProgramID	
	,NULL ProgramStartDate	
	,0 [Newly Enrolled MIECHV During Reporting Period]	
	,0 [MIECHV Served During Reporting Period]	
	,0 [MIECHV Infants Born During Reporting Period]	
	,0 [MIECHV Infants Served During Reporting Period]	
	,NULL INFANT_BIRTH_0_DOB	
	,0 [Pregnant during reporting period]	
	,0 [Client Insurance - Unknown]
	,0 [Child Insurance - Unknown]
	,0 [Client Insurance - None]	
	,0 [Child Insurance - None]	
	,0 [Medicaid Client]	
	,0 [Medicaid Child]	
	,0 [Private Client]	
	,0 [Private Child]	
	,0 [Military Client]	
	,0 [Military Child]	
	,'Private or Other' Client_Insurance_Status
	,'Married (legal or common law)' CLIENT_MARITAL_0_STATUS	
	,'GED' [Education Level]	
	,4 [Education Level Sorting]	
	,'18-19' [Clients Age]	
	,4 [Clients Age Sorting]	
	,'1-2 years' [Child Age at End of Quarter]	
	,NULL INFANT_PERSONAL_0_GENDER	
	,0 [Hispanic or Latino]	
	,0 [Not Hispanic or Latino]	
	,0 [Declined Ethnicity]	
	,0 [Unrecorded Ethnicity]	
	,'Declined to self-identify' ClientEthnicity
	,0 [American Indian]	
	,0 Asian	
	,0 Black	
	,0 [Native Hawaiian]	
	,0 White	
	,0 [More than one race]	
	,0 [Declined Race]	
	,0 [Unrecorded Race]	
	, 'Asian' ClientRace	
	,'Unknown/Did Not Report' [Employment Status]	
	,NULL [Education/Training Status]	
	,'Russian' [Primary Language]	
	,0 LowIncomeCriteria	
	,0 PregnantUnder21	
	,0 TobaccoUser	
	,0 Military	
	,NULL [Currently Rcv Svcs]	
	,0 [Home visits during reporting period]
	,0 FundingType
	,@ReportYear

UNION ALL
SELECT
	Null SiteName	
	,0 [Agencies Site_ID]	
	,NULL [State]	
	,NULL Abbreviation
	,NULL CLID	
	,NULL ProgramID	
	,NULL ProgramStartDate	
	,0 [Newly Enrolled MIECHV During Reporting Period]	
	,0 [MIECHV Served During Reporting Period]	
	,0 [MIECHV Infants Born During Reporting Period]	
	,0 [MIECHV Infants Served During Reporting Period]	
	,NULL INFANT_BIRTH_0_DOB	
	,0 [Pregnant during reporting period]	
	,0 [Client Insurance - Unknown]
	,0 [Child Insurance - Unknown]
	,0 [Client Insurance - None]	
	,0 [Child Insurance - None]	
	,0 [Medicaid Client]	
	,0 [Medicaid Child]	
	,0 [Private Client]	
	,0 [Private Child]	
	,0 [Military Client]	
	,0 [Military Child]	
	,'Tri-Care(Military)' Client_Insurance_Status
	,'Separated' CLIENT_MARITAL_0_STATUS	
	,'HS diploma' [Education Level]	
	,5 [Education Level Sorting]	
	,'20-21' [Clients Age]	
	,5 [Clients Age Sorting]	
	,'Over 2 years' [Child Age at End of Quarter]	
	,NULL INFANT_PERSONAL_0_GENDER	
	,0 [Hispanic or Latino]	
	,0 [Not Hispanic or Latino]	
	,0 [Declined Ethnicity]	
	,0 [Unrecorded Ethnicity]	
	,'Declined to self-identify' ClientEthnicity
	,0 [American Indian]	
	,0 Asian	
	,0 Black	
	,0 [Native Hawaiian]	
	,0 White	
	,0 [More than one race]	
	,0 [Declined Race]	
	,0 [Unrecorded Race]	
	, 'Black or African American' ClientRace	
	,NULL [Employment Status]	
	,NULL [Education/Training Status]	
	,'Vietnamese' [Primary Language]	
	,0 LowIncomeCriteria	
	,0 PregnantUnder21	
	,0 TobaccoUser	
	,0 Military	
	,NULL [Currently Rcv Svcs]	
	,0 [Home visits during reporting period]
	,0 FundingType
	,@ReportYear

UNION ALL
SELECT
	Null SiteName	
	,0 [Agencies Site_ID]	
	,NULL [State]	
	,NULL Abbreviation
	,NULL CLID	
	,NULL ProgramID	
	,NULL ProgramStartDate	
	,0 [Newly Enrolled MIECHV During Reporting Period]	
	,0 [MIECHV Served During Reporting Period]	
	,0 [MIECHV Infants Born During Reporting Period]	
	,0 [MIECHV Infants Served During Reporting Period]	
	,NULL INFANT_BIRTH_0_DOB	
	,0 [Pregnant during reporting period]	
	,0 [Client Insurance - Unknown]
	,0 [Child Insurance - Unknown]
	,0 [Client Insurance - None]	
	,0 [Child Insurance - None]	
	,0 [Medicaid Client]	
	,0 [Medicaid Child]	
	,0 [Private Client]	
	,0 [Private Child]	
	,0 [Military Client]	
	,0 [Military Child]	
	,'Unknown/Did Not Report' Client_Insurance_Status
	,'Unknown' CLIENT_MARITAL_0_STATUS	
	,'Some college/training' [Education Level]	
	,6 [Education Level Sorting]	
	,'22-24' [Clients Age]	
	,6 [Clients Age Sorting]	
	,NULL [Child Age at End of Quarter]	
	,NULL INFANT_PERSONAL_0_GENDER	
	,0 [Hispanic or Latino]	
	,0 [Not Hispanic or Latino]	
	,0 [Declined Ethnicity]	
	,0 [Unrecorded Ethnicity]	
	,'Declined to self-identify' ClientEthnicity
	,0 [American Indian]	
	,0 Asian	
	,0 Black	
	,0 [Native Hawaiian]	
	,0 White	
	,0 [More than one race]	
	,0 [Declined Race]	
	,0 [Unrecorded Race]	
	, 'American Indian or Alaska Native' ClientRace	
	,NULL [Employment Status]	
	,NULL [Education/Training Status]	
	,'Other' [Primary Language]	
	,0 LowIncomeCriteria	
	,0 PregnantUnder21	
	,0 TobaccoUser	
	,0 Military	
	,NULL [Currently Rcv Svcs]	
	,0 [Home visits during reporting period]
	,0 FundingType
	,@ReportYear

UNION ALL
SELECT
	Null SiteName	
	,0 [Agencies Site_ID]	
	,NULL [State]	
	,NULL Abbreviation
	,NULL CLID	
	,NULL ProgramID	
	,NULL ProgramStartDate	
	,0 [Newly Enrolled MIECHV During Reporting Period]	
	,0 [MIECHV Served During Reporting Period]	
	,0 [MIECHV Infants Born During Reporting Period]	
	,0 [MIECHV Infants Served During Reporting Period]	
	,NULL INFANT_BIRTH_0_DOB	
	,0 [Pregnant during reporting period]	
	,0 [Client Insurance - Unknown]
	,0 [Child Insurance - Unknown]
	,0 [Client Insurance - None]	
	,0 [Child Insurance - None]	
	,0 [Medicaid Client]	
	,0 [Medicaid Child]	
	,0 [Private Client]	
	,0 [Private Child]	
	,0 [Military Client]	
	,0 [Military Child]	
	,'Unknown/Did Not Report' Client_Insurance_Status
	,NULL CLIENT_MARITAL_0_STATUS	
	,'Technical Training Certification, Associate''s Degree' [Education Level]	
	,7 [Education Level Sorting]	
	,'25-29' [Clients Age]	
	,7 [Clients Age Sorting]	
	,NULL [Child Age at End of Quarter]	
	,NULL INFANT_PERSONAL_0_GENDER	
	,0 [Hispanic or Latino]	
	,0 [Not Hispanic or Latino]	
	,0 [Declined Ethnicity]	
	,0 [Unrecorded Ethnicity]	
	,'Declined to self-identify' ClientEthnicity
	,0 [American Indian]	
	,0 Asian	
	,0 Black	
	,0 [Native Hawaiian]	
	,0 White	
	,0 [More than one race]	
	,0 [Declined Race]	
	,0 [Unrecorded Race]	
	, 'More Than One Race' ClientRace	
	,NULL [Employment Status]	
	,NULL [Education/Training Status]	
	,'Chinese*' [Primary Language]	
	,0 LowIncomeCriteria	
	,0 PregnantUnder21	
	,0 TobaccoUser	
	,0 Military	
	,NULL [Currently Rcv Svcs]	
	,0 [Home visits during reporting period]
	,0 FundingType
	,@ReportYear

UNION ALL
SELECT
	Null SiteName	
	,0 [Agencies Site_ID]	
	,NULL [State]	
	,NULL Abbreviation
	,NULL CLID	
	,NULL ProgramID	
	,NULL ProgramStartDate	
	,0 [Newly Enrolled MIECHV During Reporting Period]	
	,0 [MIECHV Served During Reporting Period]	
	,0 [MIECHV Infants Born During Reporting Period]	
	,0 [MIECHV Infants Served During Reporting Period]	
	,NULL INFANT_BIRTH_0_DOB	
	,0 [Pregnant during reporting period]	
	,0 [Client Insurance - Unknown]
	,0 [Child Insurance - Unknown]
	,0 [Client Insurance - None]	
	,0 [Child Insurance - None]	
	,0 [Medicaid Client]	
	,0 [Medicaid Child]	
	,0 [Private Client]	
	,0 [Private Child]	
	,0 [Military Client]	
	,0 [Military Child]	
	,'Unknown/Did Not Report' Client_Insurance_Status
	,NULL CLIENT_MARITAL_0_STATUS	
	,'Bachelor''s Degree, or higher' [Education Level]	
	,8 [Education Level Sorting]	
	,'30-34' [Clients Age]	
	,8 [Clients Age Sorting]	
	,NULL [Child Age at End of Quarter]	
	,NULL INFANT_PERSONAL_0_GENDER	
	,0 [Hispanic or Latino]	
	,0 [Not Hispanic or Latino]	
	,0 [Declined Ethnicity]	
	,0 [Unrecorded Ethnicity]	
	,'Declined to self-identify' ClientEthnicity
	,0 [American Indian]	
	,0 Asian	
	,0 Black	
	,0 [Native Hawaiian]	
	,0 White	
	,0 [More than one race]	
	,0 [Declined Race]	
	,0 [Unrecorded Race]
	, 'Native Hawaiian or other Pacific Islander' ClientRace		
	,NULL [Employment Status]	
	,NULL [Education/Training Status]	
	,'French' [Primary Language]	
	,0 LowIncomeCriteria	
	,0 PregnantUnder21	
	,0 TobaccoUser	
	,0 Military	
	,NULL [Currently Rcv Svcs]	
	,0 [Home visits during reporting period]
	,0 FundingType
	,@ReportYear

UNION ALL
SELECT
	Null SiteName	
	,0 [Agencies Site_ID]	
	,NULL [State]	
	,NULL Abbreviation
	,NULL CLID	
	,NULL ProgramID	
	,NULL ProgramStartDate	
	,0 [Newly Enrolled MIECHV During Reporting Period]	
	,0 [MIECHV Served During Reporting Period]	
	,0 [MIECHV Infants Born During Reporting Period]	
	,0 [MIECHV Infants Served During Reporting Period]	
	,NULL INFANT_BIRTH_0_DOB	
	,0 [Pregnant during reporting period]	
	,0 [Client Insurance - Unknown]
	,0 [Child Insurance - Unknown]
	,0 [Client Insurance - None]	
	,0 [Child Insurance - None]	
	,0 [Medicaid Client]	
	,0 [Medicaid Child]	
	,0 [Private Client]	
	,0 [Private Child]	
	,0 [Military Client]	
	,0 [Military Child]	
	,'Unknown/Did Not Report' Client_Insurance_Status
	,NULL CLIENT_MARITAL_0_STATUS	
	,'Other' [Education Level]	
	,9 [Education Level Sorting]	
	,'35-44' [Clients Age]	
	,9 [Clients Age Sorting]	
	,NULL [Child Age at End of Quarter]	
	,NULL INFANT_PERSONAL_0_GENDER	
	,0 [Hispanic or Latino]	
	,0 [Not Hispanic or Latino]	
	,0 [Declined Ethnicity]	
	,0 [Unrecorded Ethnicity]	
	,'Declined to self-identify' ClientEthnicity
	,0 [American Indian]	
	,0 Asian	
	,0 Black	
	,0 [Native Hawaiian]	
	,0 White	
	,0 [More than one race]	
	,0 [Declined Race]	
	,0 [Unrecorded Race]	
	, 'Unrecorded' ClientRace		
	,NULL [Employment Status]	
	,NULL [Education/Training Status]	
	,'Italian' [Primary Language]	
	,0 LowIncomeCriteria	
	,0 PregnantUnder21	
	,0 TobaccoUser	
	,0 Military	
	,NULL [Currently Rcv Svcs]	
	,0 [Home visits during reporting period]
	,0 FundingType
	,@ReportYear

UNION ALL
SELECT
	Null SiteName	
	,0 [Agencies Site_ID]	
	,NULL [State]	
	,NULL Abbreviation
	,NULL CLID	
	,NULL ProgramID	
	,NULL ProgramStartDate	
	,0 [Newly Enrolled MIECHV During Reporting Period]	
	,0 [MIECHV Served During Reporting Period]	
	,0 [MIECHV Infants Born During Reporting Period]	
	,0 [MIECHV Infants Served During Reporting Period]	
	,NULL INFANT_BIRTH_0_DOB	
	,0 [Pregnant during reporting period]	
	,0 [Client Insurance - Unknown]
	,0 [Child Insurance - Unknown]
	,0 [Client Insurance - None]	
	,0 [Child Insurance - None]	
	,0 [Medicaid Client]	
	,0 [Medicaid Child]	
	,0 [Private Client]	
	,0 [Private Child]	
	,0 [Military Client]	
	,0 [Military Child]	
	,'Unknown/Did Not Report' Client_Insurance_Status
	,NULL CLIENT_MARITAL_0_STATUS	
	,'Unknown/Did Not Report' [Education Level]	
	,10 [Education Level Sorting]	
	,'45-54' [Clients Age]	
	,10 [Clients Age Sorting]	
	,NULL [Child Age at End of Quarter]	
	,NULL INFANT_PERSONAL_0_GENDER	
	,0 [Hispanic or Latino]	
	,0 [Not Hispanic or Latino]	
	,0 [Declined Ethnicity]	
	,0 [Unrecorded Ethnicity]	
	,'Declined to self-identify' ClientEthnicity
	,0 [American Indian]	
	,0 Asian	
	,0 Black	
	,0 [Native Hawaiian]	
	,0 White	
	,0 [More than one race]	
	,0 [Declined Race]	
	,0 [Unrecorded Race]	
	, 'Unrecorded' ClientRace		
	,NULL [Employment Status]	
	,NULL [Education/Training Status]	
	,'Japanese' [Primary Language]	
	,0 LowIncomeCriteria	
	,0 PregnantUnder21	
	,0 TobaccoUser	
	,0 Military	
	,NULL [Currently Rcv Svcs]	
	,0 [Home visits during reporting period]
	,0 FundingType
	,@ReportYear

UNION ALL
SELECT
	Null SiteName	
	,0 [Agencies Site_ID]	
	,NULL [State]	
	,NULL Abbreviation
	,NULL CLID	
	,NULL ProgramID	
	,NULL ProgramStartDate	
	,0 [Newly Enrolled MIECHV During Reporting Period]	
	,0 [MIECHV Served During Reporting Period]	
	,0 [MIECHV Infants Born During Reporting Period]	
	,0 [MIECHV Infants Served During Reporting Period]	
	,NULL INFANT_BIRTH_0_DOB	
	,0 [Pregnant during reporting period]	
	,0 [Client Insurance - Unknown]
	,0 [Child Insurance - Unknown]
	,0 [Client Insurance - None]	
	,0 [Child Insurance - None]	
	,0 [Medicaid Client]	
	,0 [Medicaid Child]	
	,0 [Private Client]	
	,0 [Private Child]	
	,0 [Military Client]	
	,0 [Military Child]	
	,'Unknown/Did Not Report' Client_Insurance_Status
	,NULL CLIENT_MARITAL_0_STATUS	
	,NULL [Education Level]	
	,NULL [Education Level Sorting]	
	,'55-64' [Clients Age]	
	,11 [Clients Age Sorting]	
	,NULL [Child Age at End of Quarter]	
	,NULL INFANT_PERSONAL_0_GENDER	
	,0 [Hispanic or Latino]	
	,0 [Not Hispanic or Latino]	
	,0 [Declined Ethnicity]	
	,0 [Unrecorded Ethnicity]	
	,'Declined to self-identify' ClientEthnicity
	,0 [American Indian]	
	,0 Asian	
	,0 Black	
	,0 [Native Hawaiian]	
	,0 White	
	,0 [More than one race]	
	,0 [Declined Race]	
	,0 [Unrecorded Race]	
	, 'Unrecorded' ClientRace		
	,NULL [Employment Status]	
	,NULL [Education/Training Status]	
	,'Korean' [Primary Language]	
	,0 LowIncomeCriteria	
	,0 PregnantUnder21	
	,0 TobaccoUser	
	,0 Military	
	,NULL [Currently Rcv Svcs]	
	,0 [Home visits during reporting period]
	,0 FundingType
	,@ReportYear

UNION ALL
SELECT
	Null SiteName	
	,0 [Agencies Site_ID]	
	,NULL [State]	
	,NULL Abbreviation
	,NULL CLID	
	,NULL ProgramID	
	,NULL ProgramStartDate	
	,0 [Newly Enrolled MIECHV During Reporting Period]	
	,0 [MIECHV Served During Reporting Period]	
	,0 [MIECHV Infants Born During Reporting Period]	
	,0 [MIECHV Infants Served During Reporting Period]	
	,NULL INFANT_BIRTH_0_DOB	
	,0 [Pregnant during reporting period]	
	,0 [Client Insurance - Unknown]
	,0 [Child Insurance - Unknown]
	,0 [Client Insurance - None]	
	,0 [Child Insurance - None]	
	,0 [Medicaid Client]	
	,0 [Medicaid Child]	
	,0 [Private Client]	
	,0 [Private Child]	
	,0 [Military Client]	
	,0 [Military Child]	
	,'Unknown/Did Not Report' Client_Insurance_Status
	,NULL CLIENT_MARITAL_0_STATUS	
	,NULL [Education Level]	
	,NULL [Education Level Sorting]	
	,'65+' [Clients Age]	
	,12 [Clients Age Sorting]	
	,NULL [Child Age at End of Quarter]	
	,NULL INFANT_PERSONAL_0_GENDER	
	,0 [Hispanic or Latino]	
	,0 [Not Hispanic or Latino]	
	,0 [Declined Ethnicity]	
	,0 [Unrecorded Ethnicity]	
	,'Declined to self-identify' ClientEthnicity
	,0 [American Indian]	
	,0 Asian	
	,0 Black	
	,0 [Native Hawaiian]	
	,0 White	
	,0 [More than one race]	
	,0 [Declined Race]	
	,0 [Unrecorded Race]
	, 'Unrecorded' ClientRace			
	,NULL [Employment Status]	
	,NULL [Education/Training Status]	
	,'Polish' [Primary Language]	
	,0 LowIncomeCriteria	
	,0 PregnantUnder21	
	,0 TobaccoUser	
	,0 Military	
	,NULL [Currently Rcv Svcs]	
	,0 [Home visits during reporting period]
	,0 FundingType
	,@ReportYear

UNION ALL
SELECT
	Null SiteName	
	,0 [Agencies Site_ID]	
	,NULL [State]	
	,NULL Abbreviation
	,NULL CLID	
	,NULL ProgramID	
	,NULL ProgramStartDate	
	,0 [Newly Enrolled MIECHV During Reporting Period]	
	,0 [MIECHV Served During Reporting Period]	
	,0 [MIECHV Infants Born During Reporting Period]	
	,0 [MIECHV Infants Served During Reporting Period]	
	,NULL INFANT_BIRTH_0_DOB	
	,0 [Pregnant during reporting period]	
	,0 [Client Insurance - Unknown]
	,0 [Child Insurance - Unknown]
	,0 [Client Insurance - None]	
	,0 [Child Insurance - None]	
	,0 [Medicaid Client]	
	,0 [Medicaid Child]	
	,0 [Private Client]	
	,0 [Private Child]	
	,0 [Military Client]	
	,0 [Military Child]	
	,'Unknown/Did Not Report' Client_Insurance_Status
	,NULL CLIENT_MARITAL_0_STATUS	
	,NULL [Education Level]	
	,NULL [Education Level Sorting]	
	,'Unknown/Did Not Report' [Clients Age]	
	,13 [Clients Age Sorting]	
	,NULL [Child Age at End of Quarter]	
	,NULL INFANT_PERSONAL_0_GENDER	
	,0 [Hispanic or Latino]	
	,0 [Not Hispanic or Latino]	
	,0 [Declined Ethnicity]	
	,0 [Unrecorded Ethnicity]	
	,'Declined to self-identify' ClientEthnicity
	,0 [American Indian]	
	,0 Asian	
	,0 Black	
	,0 [Native Hawaiian]	
	,0 White	
	,0 [More than one race]	
	,0 [Declined Race]	
	,0 [Unrecorded Race]	
	, 'Unrecorded' ClientRace		
	,NULL [Employment Status]	
	,NULL [Education/Training Status]	
	,'Tagalog' [Primary Language]	
	,0 LowIncomeCriteria	
	,0 PregnantUnder21	
	,0 TobaccoUser	
	,0 Military	
	,NULL [Currently Rcv Svcs]	
	,0 [Home visits during reporting period]
	,0 FundingType
	,@ReportYear

--UNION ALL
--SELECT
--	Null SiteName	
--	,0 [Agencies Site_ID]	
--	,NULL [State]	
--	,NULL Abbreviation
--	,NULL CLID	
--	,NULL ProgramID	
--	,NULL ProgramStartDate	
--	,0 [Newly Enrolled MIECHV During Reporting Period]	
--	,0 [MIECHV Served During Reporting Period]	
--	,0 [MIECHV Infants Born During Reporting Period]	
--	,0 [MIECHV Infants Served During Reporting Period]	
--	,NULL INFANT_BIRTH_0_DOB	
--	,0 [Pregnant during reporting period]	
--	,0 [Client Insurance - Unknown]
--	,0 [Child Insurance - Unknown]
--	,0 [Client Insurance - None]	
--	,0 [Child Insurance - None]	
--	,0 [Medicaid Client]	
--	,0 [Medicaid Child]	
--	,0 [Private Client]	
--	,0 [Private Child]	
--	,0 [Military Client]	
--	,0 [Military Child]	
--	,NULL Client_Insurance_Status
--	,NULL CLIENT_MARITAL_0_STATUS	
--	,NULL [Education Level]	
--	,NULL [Education Level Sorting]	
--	,NULL [Clients Age]	
--	,NULL [Clients Age Sorting]	
--	,NULL [Child Age at End of Quarter]	
--	,NULL INFANT_PERSONAL_0_GENDER	
--	,0 [Hispanic or Latino]	
--	,0 [Not Hispanic or Latino]	
--	,0 [Declined Ethnicity]	
--	,0 [Unrecorded Ethnicity]	
--	,NULL ClientEthnicity
--	,0 [American Indian]	
--	,0 Asian	
--	,0 Black	
--	,0 [Native Hawaiian]	
--	,0 White	
--	,0 [More than one race]	
--	,0 [Declined Race]	
--	,0 [Unrecorded Race]	
--	, NULL ClientRace	
--	,NULL [Employment Status]	
--	,NULL [Education/Training Status]	
--	,'Tribal Languages' [Primary Language]	
--	,0 LowIncomeCriteria	
--	,0 PregnantUnder21	
--	,0 TobaccoUser	
--	,0 Military	
--	,NULL [Currently Rcv Svcs]	
--	,0 [Home visits during reporting period]
--	,0 FundingType
--	,@ReportYear

--UNION ALL
--SELECT
--	Null SiteName	
--	,0 [Agencies Site_ID]	
--	,NULL [State]	
--	,NULL Abbreviation
--	,NULL CLID	
--	,NULL ProgramID	
--	,NULL ProgramStartDate	
--	,0 [Newly Enrolled MIECHV During Reporting Period]	
--	,0 [MIECHV Served During Reporting Period]	
--	,0 [MIECHV Infants Born During Reporting Period]	
--	,0 [MIECHV Infants Served During Reporting Period]	
--	,NULL INFANT_BIRTH_0_DOB	
--	,0 [Pregnant during reporting period]	
--	,0 [Client Insurance - Unknown]
--	,0 [Child Insurance - Unknown]
--	,0 [Client Insurance - None]	
--	,0 [Child Insurance - None]	
--	,0 [Medicaid Client]	
--	,0 [Medicaid Child]	
--	,0 [Private Client]	
--	,0 [Private Child]	
--	,0 [Military Client]	
--	,0 [Military Child]	
--	,NULL Client_Insurance_Status
--	,NULL CLIENT_MARITAL_0_STATUS	
--	,NULL [Education Level]	
--	,NULL [Education Level Sorting]	
--	,NULL [Clients Age]	
--	,NULL [Clients Age Sorting]	
--	,NULL [Child Age at End of Quarter]	
--	,NULL INFANT_PERSONAL_0_GENDER	
--	,0 [Hispanic or Latino]	
--	,0 [Not Hispanic or Latino]	
--	,0 [Declined Ethnicity]	
--	,0 [Unrecorded Ethnicity]	
--	,NULL ClientEthnicity
--	,0 [American Indian]	
--	,0 Asian	
--	,0 Black	
--	,0 [Native Hawaiian]	
--	,0 White	
--	,0 [More than one race]	
--	,0 [Declined Race]	
--	,0 [Unrecorded Race]	
--	, NULL ClientRace	
--	,NULL [Employment Status]	
--	,NULL [Education/Training Status]	
--	,'Unknown/Did Not Report' [Primary Language]	
--	,0 LowIncomeCriteria	
--	,0 PregnantUnder21	
--	,0 TobaccoUser	
--	,0 Military	
--	,NULL [Currently Rcv Svcs]	
--	,0 [Home visits during reporting period]
--	,0 FundingType
--	,@ReportYear
GO
