USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[usp_Fidelity_aHVES]    Script Date: 11/16/2017 10:44:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Fidelity_aHVES]

AS



IF OBJECT_ID('dbo.UC_Fidelity_aHVES', 'U') IS NOT NULL TRUNCATE TABLE dbo.UC_Fidelity_aHVES;



INSERT INTO UC_Fidelity_aHVES
SELECT 
	HVES.CL_EN_GEN_ID 	
	,HVES.ProgramID
	,HVES.SiteID
	,HVES.SurveyDate
	,HVES.SurveyResponseID
	,HVES.NURSE_PERSONAL_0_NAME
	,HVES.CLIENT_TIME_0_START_VISIT	
	,HVES.CLIENT_COMPLETE_0_VISIT
	,HVES.CLIENT_TIME_1_DURATION_VISIT
	,HVES.Survey
	,RANK() OVER(Partition By HVES.NURSE_PERSONAL_0_NAME,HVES.SurveyDate,HVES.CLIENT_TIME_0_START_VISIT,HVES.ProgramID,HVES.SiteID Order By HVES.CL_EN_GEN_ID,HVES.SurveyResponseID DESC) Rank_dup
	,SUM(1) OVER(Partition By HVES.NURSE_PERSONAL_0_NAME,HVES.SurveyDate,HVES.CLIENT_TIME_0_START_VISIT,HVES.ProgramID,HVES.SiteID) Count_dup

	,CASE WHEN TS.CL_EN_GEN_ID IS NOT NULL THEN 1 ELSE 0 END Tribal
	,CASE WHEN TS.CLIENT_TRIBAL_0_PARITY = 'Primiparous (pregnant with her first child)' THEN 1
		  WHEN TS.CLIENT_TRIBAL_0_PARITY = 'Multiparous (pregnant with a second or subsequent child)' THEN 2 END Tribal_PM

FROM 
	(SELECT 
		HVE.CL_EN_GEN_ID
		,HVE.ProgramID
		,HVE.SiteID
		,HVE.SurveyDate
		,HVE.SurveyResponseID
		,HVE.NURSE_PERSONAL_0_NAME
		,HVE.CLIENT_TIME_0_START_VISIT
		,HVE.CLIENT_COMPLETE_0_VISIT
		,HVE.CLIENT_TIME_1_DURATION_VISIT
		,'HVES' Survey
	FROM Home_Visit_Encounter_Survey HVE

	UNION

	SELECT
		HV.CL_EN_GEN_ID
		,HV.ProgramID
		,HV.SiteID
		,HV.SurveyDate
		,HV.SurveyResponseID
		,HV.NURSE_PERSONAL_0_NAME
		,HV.CLIENT_TIME_0_START_ALT CLIENT_TIME_0_START_VISIT
		,'Completed' CLIENT_COMPLETE_0_VISIT
		,HV.CLIENT_TIME_1_DURATION_ALT
		,'AES' Survey
	FROM Alternative_Encounter_Survey HV
	WHERE HV.CLIENT_TALKED_0_WITH_ALT LIKE 'CLIENT;%' OR HV.CLIENT_TALKED_0_WITH_ALT = 'CLIENT') HVES

LEFT JOIN Tribal_Survey TS
	ON HVES.CL_EN_GEN_ID = TS.CL_EN_GEN_ID
	AND HVES.ProgramID = TS.ProgramID
	
	LEFT JOIN dbo.UC_Client_Exclusion_YWCA YWCA 
		ON YWCA.CLID = HVES.CL_EN_GEN_ID
		AND HVES.SiteID = 222
WHERE 
HVES.NURSE_PERSONAL_0_NAME IS NOT NULL
AND YWCA.CLID IS NULL
GO
