USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[usp_QrtlyRpt_DMH39]    Script Date: 11/16/2017 10:44:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_QrtlyRpt_DMH39] 

AS
BEGIN

---------------------------------------------------------------------------------
Select Staffid as 'Nurse', CLID as 'Client', ProgramID 
into #Populationprep
from dbo.StaffxClient
where Staffid in

(2844
,9985
,9571
,8965
,8966
,9979
,9935
,9931
,9878
,8814
,8916
,9553
,9958
,8692
,8691
,9500
,1533
,10054
,2855
,8690
,8812
,11652
,8813
,8694
,8810
,8809
,9572
,8811
,11266
,2841
,9988
)

Insert into #Populationprep
Select Staffid as 'Nurse', CLID as 'Client', ProgramID

From dbo.StaffxClientHx

where

StartDate >= '2011-01-01' and EndDate <= '2014-03-31'
and Staffid in

(2844
,9985
,9571
,8965
,8966
,9979
,9935
,9931
,9878
,8814
,8916
,9553
,9958
,8692
,8691
,9500
,1533
,10054
,2855
,8690
,8812
,11652
,8813
,8694
,8810
,8809
,9572
,8811
,11266
,2841
,9988)

Select

	Distinct(Client) as 'Client'
	, Nurse
	, ProgramID 
	
Into #Population

From

	#Populationprep
	
Group By

	ProgramID
	, Nurse
	, Client

----------------------------------------------------------------------------------
--Time Frame
------------
Declare @Start date
Declare @End Date
Set @Start = '2011-01-01'
Set @End = '2014-03-31'

----------------------------------------------------------------------------------


Declare	@Quarter INT
Declare	@QuarterYear INT
Declare @QuarterDate VARCHAR(50)

Set @Quarter = 1
Set @QuarterYear = 2011
SET @QuarterDate =	(
						CASE 
							WHEN @Quarter = 1 THEN '3/31/'+CAST(@QuarterYear AS VARCHAR(4)) 
							WHEN @Quarter IN (2,5) THEN '6/30/'+CAST(@QuarterYear AS VARCHAR(4)) 
							WHEN @Quarter = 3 THEN '9/30/'+CAST(@QuarterYear AS VARCHAR(4)) 
							WHEN @Quarter = 4 THEN '12/31/'+CAST(@QuarterYear AS VARCHAR(4)) 
						END
					)
DECLARE @QuarterStart DATE SET @QuarterStart = DATEADD(DD,1,DATEADD(M,-3,CAST(@QuarterDate AS DATE))) 

SET NOCOUNT ON;

SELECT 

	#Population.Nurse
	, PAS.ProgramID
	, GC.CL_EN_GEN_ID
	, DataWarehouse.dbo.udf_StateVSTribal(A.State,PAS.SiteID) [State]
	, PAS.Site 
	, PAS.SiteID
	, PAS.ProgramName

	,MAX(CASE WHEN GC.[SERVICE_USE_0_ADOPTION_CLIENT] IN (2,5) THEN 1 END) [ADOPTION_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_ALCOHOL_ABUSE_CLIENT] IN (2,5) THEN 1 END) [ALCOHOL_ABUSE_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_BIRTH_EDUC_CLASS_CLIENT] IN (2,5) THEN 1 END) [BIRTH_EDUC_CLASS_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_CHARITY_CLIENT] IN (2,5) THEN 1 END) [CHARITY_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_CHILD_CARE_CLIENT] IN (2,5) THEN 1 END) [CHILD_CARE_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_CHILD_SUPPORT_CLIENT] IN (2,5) THEN 1 END) [CHILD_SUPPORT_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_CPS_CHILD] IN (2,5) THEN 1 END) [CPS_CHILD] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_CPS_CLIENT] IN (2,5) THEN 1 END) [CPS_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_DENTAL_CHILD] IN (2,5) THEN 1 END) [DENTAL_CHILD]
	,MAX(CASE WHEN GC.[SERVICE_USE_0_DENTAL_CLIENT] IN (2,5) THEN 1 END) [DENTAL_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_DEVELOPMENTAL_DISABILITY_CLIENT] IN (2,5) THEN 1 END) [DEVELOPMENTAL_DISABILITY_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_DRUG_ABUSE_CLIENT] IN (2,5) THEN 1 END) [DRUG_ABUSE_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_FOODSTAMP_CLIENT] IN (2,5) THEN 1 END) [FOODSTAMP_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_GED_CLIENT] IN (2,5) THEN 1 END) [GED_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_HIGHER_EDUC_CLIENT] IN (2,5) THEN 1 END) [HIGHER_EDUC_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_HOUSING_CLIENT] IN (2,5) THEN 1 END) [HOUSING_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_INTERVENTION] IN (2,5) THEN 1 END) [INTERVENTION] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_IPV_CLIENT] IN (2,5) THEN 1 END) [IPV_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_JOB_TRAINING_CLIENT] IN (2,5) THEN 1 END) [JOB_TRAINING_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_LACTATION_CLIENT] IN (2,5) THEN 1 END) [LACTATION_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_LEGAL_CLIENT] IN (2,5) THEN 1 END) [LEGAL_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_MEDICAID_CHILD] IN (2,5) THEN 1 END) [MEDICAID_CHILD] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_MEDICAID_CLIENT] IN (2,5) THEN 1 END) [MEDICAID_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_MENTAL_CLIENT] IN (2,5) THEN 1 END) [MENTAL_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_PATERNITY_CLIENT] IN (2,5) THEN 1 END) [PATERNITY_CLIENT] 
	,ISNULL(MAX(CASE WHEN GC.[SERVICE_USE_0_PCP_CLIENT] IN (2,5) OR GC.[SERVICE_USE_0_PCP_WELL_CLIENT] IN (2,5) OR GC.SERVICE_USE_PCP_CLIENT_POSTPARTUM IN (2,5) OR GC.SERVICE_USE_PCP_CLIENT_WELLWOMAN IN (2,5) OR GC.SERVICE_USE_PCP_CLIENT_PRENATAL IN (2,5) THEN 1 END),0) [PCP_CLIENT] 
	,ISNULL(MAX(CASE WHEN GC.[SERVICE_USE_0_PCP_SICK_CHILD] IN (2,5) OR GC.[SERVICE_USE_0_PCP_WELL_CHILD] IN (2,5) THEN 1 END),0) [PCP_SICK_CHILD] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_PCP_WELL_CHILD] IN (2,5) THEN 1 END) [PCP_WELL_CHILD] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_PCP_WELL_CLIENT] IN (2,5) THEN 1 END) [PCP_WELL_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_PREVENT_INJURY_CLIENT] IN (2,5) THEN 1 END) [PREVENT_INJURY_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_PRIVATE_INSURANCE_CHILD] IN (2,5) THEN 1 END) [PRIVATE_INSURANCE_CHILD] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_PRIVATE_INSURANCE_CLIENT] IN (2,5) THEN 1 END) [PRIVATE_INSURANCE_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_RELATIONSHIP_COUNSELING_CLIENT] IN (2,5) THEN 1 END) [RELATIONSHIP_COUNSELING_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_SCHIP_CHILD] IN (2,5) THEN 1 END) [SCHIP_CHILD] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_SCHIP_CLIENT] IN (2,5) THEN 1 END) [SCHIP_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_SMOKE_CLIENT] IN (2,5) THEN 1 END) [SMOKE_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_SOCIAL_SECURITY_CLIENT] IN (2,5) THEN 1 END) [SOCIAL_SECURITY_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_SPECIAL_NEEDS_CHILD] IN (2,5) THEN 1 END) [SPECIAL_NEEDS_CHILD] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_SPECIAL_NEEDS_CLIENT] IN (2,5) THEN 1 END) [SPECIAL_NEEDS_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_SUBSID_CHILD_CARE_CLIENT] IN (2,5) THEN 1 END) [SUBSID_CHILD_CARE_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_TANF_CLIENT] IN (2,5) THEN 1 END) [TANF_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_TRANSPORTATION_CLIENT] IN (2,5) THEN 1 END) [TRANSPORTATION_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_UNEMPLOYMENT_CLIENT] IN (2,5) THEN 1 END) [UNEMPLOYMENT_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_WIC_CLIENT] IN (2,5) THEN 1 END) [WIC_CLIENT] 
	,MAX(CASE WHEN GC.[SERVICE_USE_0_OTHER1] IN (2,5) 
			OR GC.[SERVICE_USE_0_CHILD_OTHER1] IN (2,5)
			OR GC.[SERVICE_USE_0_OTHER2] IN (2,5) 
			OR GC.[SERVICE_USE_0_CHILD_OTHER2] IN (2,5) 
			OR GC.[SERVICE_USE_0_OTHER3] IN (2,5)  
			OR GC.[SERVICE_USE_0_CHILD_OTHER3] IN (2,5) THEN 1 END) [OTHER] 
	,CASE 
		WHEN MS_GC.SurveyName LIKE '%BIRT%'	THEN 'During Pregnancy'
		WHEN MS_GC.SurveyName LIKE '%INTAK%' THEN 'At Intake'
		WHEN MS_GC.SurveyName LIKE '%6%' THEN '0-6 Months'
		WHEN MS_GC.SurveyName LIKE '%12%' THEN '7-12 Months'
		WHEN MS_GC.SurveyName LIKE '%18%' THEN '13-18 Months'
		WHEN MS_GC.SurveyName LIKE '%24%' THEN '19-24 Months'
	END [Time point]
	,MAX(
		CASE
			WHEN [SERVICE_USE_0_TANF_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_FOODSTAMP_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_SOCIAL_SECURITY_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_UNEMPLOYMENT_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_SUBSID_CHILD_CARE_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_IPV_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_CPS_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_CPS_CHILD] IN (2,5)
				OR GC.[SERVICE_USE_0_MENTAL_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_RELATIONSHIP_COUNSELING_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_SMOKE_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_ALCOHOL_ABUSE_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_DRUG_ABUSE_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_MEDICAID_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_MEDICAID_CHILD] IN (2,5)
				OR GC.[SERVICE_USE_0_SCHIP_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_SCHIP_CHILD] IN (2,5)
				OR GC.[SERVICE_USE_0_SPECIAL_NEEDS_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_SPECIAL_NEEDS_CHILD] IN (2,5)
				OR GC.[SERVICE_USE_0_PCP_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_PCP_SICK_CHILD] IN (2,5)
				OR GC.[SERVICE_USE_0_PCP_WELL_CHILD] IN (2,5)
				OR GC.[SERVICE_USE_0_DEVELOPMENTAL_DISABILITY_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_WIC_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_CHILD_CARE_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_JOB_TRAINING_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_HOUSING_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_TRANSPORTATION_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_PREVENT_INJURY_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_BIRTH_EDUC_CLASS_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_LACTATION_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_GED_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_HIGHER_EDUC_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_CHARITY_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_LEGAL_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_PATERNITY_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_CHILD_SUPPORT_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_ADOPTION_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_OTHER1] IN (2,5)
				OR GC.[SERVICE_USE_0_CHILD_OTHER1] IN (2,5)
				OR GC.[SERVICE_USE_0_OTHER2] IN (2,5)
				OR GC.[SERVICE_USE_0_CHILD_OTHER2] IN (2,5)
				OR GC.[SERVICE_USE_0_OTHER3] IN (2,5)
				OR GC.[SERVICE_USE_0_CHILD_OTHER3] IN (2,5)
				OR GC.[SERVICE_USE_0_PRIVATE_INSURANCE_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_PRIVATE_INSURANCE_CHILD] IN (2,5)
				OR GC.[SERVICE_USE_0_DENTAL_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_INTERVENTION] IN (2,5)
				OR GC.[SERVICE_USE_0_PCP_WELL_CLIENT] IN (2,5)
				OR GC.[SERVICE_USE_0_DENTAL_CHILD] IN (2,5)
      THEN 1
     END) [At least 1 service used]
     
Into #Tableprep      
     
FROM DataWarehouse..Clients C

	INNER JOIN DataWarehouse..Govt_Comm_Srvcs_Survey GC
		ON GC.CL_EN_GEN_ID = C.Client_Id
		AND YEAR(GC.SurveyDate) = @QuarterYear
		AND GC.SurveyDate < = @End
		
	Inner Join #Population on #Population.Client = GC.CL_EN_GEN_ID and #Population.ProgramID = GC.ProgramID		
		
	INNER JOIN DataWarehouse..Mstr_surveys MS_GC
		ON MS_GC.SurveyID = GC.SurveyID

	INNER JOIN DataWarehouse..ProgramsAndSites PAS
		ON PAS.ProgramID = GC.ProgramID 
			AND PAS.ProgramName LIKE '%NURSE%'
			AND PAS.ProgramName NOT LIKE '%TEST%'
			AND PAS.ProgramName NOT LIKE '%TRAIN%'
			AND PAS.ProgramName NOT LIKE '%PROOF%'
			AND PAS.ProgramName NOT LIKE '%DEMO%'
			AND PAS.Site NOT LIKE '%TEST%'
			AND PAS.Site NOT LIKE '%TRAIN%'
			AND PAS.Site NOT LIKE '%DEMO%'
			AND PAS.Site NOT LIKE '%PROOF%'
	INNER JOIN DataWarehouse..Agencies A
		ON A.Site_ID = PAS.SiteID

	LEFT JOIN DataWarehouse..UC_Client_Exclusion_YWCA YWCA 
		ON YWCA.CLID = GC.CL_EN_GEN_ID AND GC.SiteID = 222
	LEFT JOIN DataWarehouse..Tribal_Survey TS
		ON TS.CL_EN_GEN_ID = GC.CL_EN_GEN_ID
		AND TS.ProgramID = GC.ProgramID
WHERE
	YWCA.CLID IS NULL
	AND GC.SurveyDate < = @End	

GROUP BY 

	Nurse
	, PAS.ProgramID
	, GC.CL_EN_GEN_ID
	, DataWarehouse.dbo.udf_StateVSTribal(A.State,PAS.SiteID)
	, PAS.Site
	, PAS.SiteID
	, PAS.ProgramName
	, MS_GC.SurveyName
	
------------------------------------------------------------------------------------

Select 

(Case
	When Nurse in (8966, 99791, 8965, 2844, 9985, 9571, 9979)
	then
	'1'
	When Nurse in (9931)
	then
	'3'
	When Nurse in (8810, 9572, 8809, 8694, 8813, 8812, 9988, 2841, 11266, 8811, 9935, 8690, 11652)
	then
	'4'
	When Nurse in (8916, 9958, 9553, 8814)
	then
	'6'
	When Nurse in (9878)
	then
	'7'
	When Nurse in (2855, 8692, 1533, 10054, 9500, 8691)
	then
	'8'
	else
	'0'
	end) as 'Spa'
, (FName + ' ' + LName) as 'Name'
, Nurse
, #Tableprep.ProgramID
, CL_EN_GEN_ID
, [ADOPTION_CLIENT] 
, [ALCOHOL_ABUSE_CLIENT] 
, [BIRTH_EDUC_CLASS_CLIENT] 
, [CHARITY_CLIENT] 
, [CHILD_CARE_CLIENT] 
, [CHILD_SUPPORT_CLIENT] 
, [CPS_CHILD] 
, [CPS_CLIENT] 
, [DENTAL_CHILD]
, [DENTAL_CLIENT] 
, [DEVELOPMENTAL_DISABILITY_CLIENT] 
, [DRUG_ABUSE_CLIENT] 
, [FOODSTAMP_CLIENT] 
, [GED_CLIENT] 
, [HIGHER_EDUC_CLIENT] 
, [HOUSING_CLIENT] 
, [INTERVENTION] 
, [IPV_CLIENT] 
, [JOB_TRAINING_CLIENT] 
, [LACTATION_CLIENT] 
, [LEGAL_CLIENT] 
, [MEDICAID_CHILD] 
, [MEDICAID_CLIENT] 
, [MENTAL_CLIENT] 
, [PATERNITY_CLIENT] 
, [PCP_CLIENT] 
, [PCP_SICK_CHILD] 
, [PCP_WELL_CHILD] 
, [PCP_WELL_CLIENT] 
, [PREVENT_INJURY_CLIENT] 
, [PRIVATE_INSURANCE_CHILD] 
, [PRIVATE_INSURANCE_CLIENT] 
, [RELATIONSHIP_COUNSELING_CLIENT] 
, [SCHIP_CHILD] 
, [SCHIP_CLIENT] 
, [SMOKE_CLIENT] 
, [SOCIAL_SECURITY_CLIENT] 
, [SPECIAL_NEEDS_CHILD] 
, [SPECIAL_NEEDS_CLIENT] 
, [SUBSID_CHILD_CARE_CLIENT] 
, [TANF_CLIENT] 
, [TRANSPORTATION_CLIENT] 
, [UNEMPLOYMENT_CLIENT] 
, [WIC_CLIENT] 
, [OTHER] 
, [Time point]
, [At least 1 service used]

From #Tableprep
left join UV_PAS on UV_pas.ProgramID = #Tableprep.ProgramID
left join Staff on Staff.StaffID = #Tableprep.Nurse 


	
-------------------------------------------------------------------------------------
Drop Table #Populationprep
Drop Table #Population
Drop Table #Tableprep	

End
GO
