USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[File_Star]    Script Date: 11/16/2017 10:44:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Michael Osborn
-- Create date: 09/24/2013
-- Description:	Extract of Star data where the SiteID from Star Survey is the
--				same as ExportEntities SiteID and ExportProfileID is the same as the passed ProfileID
-- =============================================
CREATE PROCEDURE [dbo].[File_Star]
	-- Add the parameters for the stored procedure here
	@SiteID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
--DECLARE @ProfileID INT --Testing
--SET @ProfileID = 27    --Testing

SELECT [SurveyResponseID]
      ,[ElementsProcessed]
      ,[SurveyID]
      ,[Master_SurveyID]
      ,[SurveyDate]
      ,[AuditDate]
      ,[CL_EN_GEN_ID]
      ,[SiteID]
      ,[ProgramID]
      ,[IA_StaffID]
      ,[ClientID]
      ,[RespondentID]
      ,[DW_AuditDate]
      ,[DataSource]
      ,[CLIENT_GLOBAL_FACTORS]
      ,[CLIENT_CAREGIVING_FRIENDS_FAM]
      ,[CLIENT_CAREGIVING_RISK_LEVEL]
      ,[CLIENT_CAREGIVING_SERVICES_GOALS]
      ,[CLIENT_CAREGIVING_STAGE_CHANGE]
      ,[CLIENT_CAREGIVING_UNDERSTANDS_RISK]
      ,[CLIENT_CHLD_CARE_FRIENDS_FAM]
      ,[CLIENT_CHLD_CARE_RISK_LEVEL]
      ,[CLIENT_CHLD_CARE_SERVICES_GOALS]
      ,[CLIENT_CHLD_CARE_STAGE_CHANGE]
      ,[CLIENT_CHLD_CARE_UNDERSTANDS_RISK]
      ,[CLIENT_CHLD_HEALTH_FRIENDS_FAM]
      ,[CLIENT_CHLD_HEALTH_RISK_LEVEL]
      ,[CLIENT_CHLD_HEALTH_SERVICES_GOALS]
      ,[CLIENT_CHLD_HEALTH_STAGE_CHANGE]
      ,[CLIENT_CHLD_HEALTH_UNDERSTANDS_RISK]
      ,[CLIENT_CHLD_WELL_FRIENDS_FAM]
      ,[CLIENT_CHLD_WELL_RISK_LEVEL]
      ,[CLIENT_CHLD_WELL_SERVICES_GOALS]
      ,[CLIENT_CHLD_WELL_STAGE_CHANGE]
      ,[CLIENT_CHLD_WELL_UNDERSTANDS_RISK]
      ,[CLIENT_COMM_SVCS_FRIENDS_FAM]
      ,[CLIENT_COMM_SVCS_RISK_LEVEL]
      ,[CLIENT_COMM_SVCS_SERVICES_GOALS]
      ,[CLIENT_COMM_SVCS_STAGE_CHANGE]
      ,[CLIENT_COMM_SVCS_UNDERSTANDS_RISK]
      ,[CLIENT_COMPLICATION_ILL_FRIENDS_FAM]
      ,[CLIENT_COMPLICATION_ILL_RISK_LEVEL]
      ,[CLIENT_COMPLICATION_ILL_SERVICES_GOALS]
      ,[CLIENT_COMPLICATION_ILL_STAGE_CHANGE]
      ,[CLIENT_COMPLICATION_ILL_UNDERSTANDS_RISK]
      ,[CLIENT_CRIMINAL_FRIENDS_FAM]
      ,[CLIENT_CRIMINAL_RISK_LEVEL]
      ,[CLIENT_CRIMINAL_SERVICES_GOALS]
      ,[CLIENT_CRIMINAL_STAGE_CHANGE]
      ,[CLIENT_CRIMINAL_UNDERSTANDS_RISK]
      ,[CLIENT_DISABILITY_FRIENDS_FAM]
      ,[CLIENT_DISABILITY_RISK_LEVEL]
      ,[CLIENT_DISABILITY_SERVICES_GOALS]
      ,[CLIENT_DISABILITY_STAGE_CHANGE]
      ,[CLIENT_DISABILITY_UNDERSTANDS_RISK]
      ,[CLIENT_ECONOMIC_FRIENDS_FAM]
      ,[CLIENT_ECONOMIC_RISK_LEVEL]
      ,[CLIENT_ECONOMIC_SERVICES_GOALS]
      ,[CLIENT_ECONOMIC_STAGE_CHANGE]
      ,[CLIENT_ECONOMIC_UNDERSTANDS_RISK]
      ,[CLIENT_EDUC_FRIENDS_FAM]
      ,[CLIENT_EDUC_RISK_LEVEL]
      ,[CLIENT_EDUC_SERVICES_GOALS]
      ,[CLIENT_EDUC_STAGE_CHANGE]
      ,[CLIENT_EDUC_UNDERSTANDS_RISK]
      ,[CLIENT_ENGLIT_FRIENDS_FAM]
      ,[CLIENT_ENGLIT_RISK_LEVEL]
      ,[CLIENT_ENGLIT_SERVICES_GOALS]
      ,[CLIENT_ENGLIT_STAGE_CHANGE]
      ,[CLIENT_ENGLIT_UNDERSTANDS_RISK]
      ,[CLIENT_ENVIRO_HEALTH_FRIENDS_FAM]
      ,[CLIENT_ENVIRO_HEALTH_RISK_LEVEL]
      ,[CLIENT_ENVIRO_HEALTH_SERVICES_GOALS]
      ,[CLIENT_ENVIRO_HEALTH_STAGE_CHANGE]
      ,[CLIENT_ENVIRO_HEALTH_UNDERSTANDS_RISK]
      ,[CLIENT_HLTH_SVCS_FRIENDS_FAM]
      ,[CLIENT_HLTH_SVCS_RISK_LEVEL]
      ,[CLIENT_HLTH_SVCS_SERVICES_GOALS]
      ,[CLIENT_HLTH_SVCS_STAGE_CHANGE]
      ,[CLIENT_HLTH_SVCS_UNDERSTANDS_RISK]
      ,[CLIENT_HOME_SAFETY_FRIENDS_FAM]
      ,[CLIENT_HOME_SAFETY_RISK_LEVEL]
      ,[CLIENT_HOME_SAFETY_SERVICES_GOALS]
      ,[CLIENT_HOME_SAFETY_STAGE_CHANGE]
      ,[CLIENT_HOME_SAFETY_UNDERSTANDS_RISK]
      ,[CLIENT_HOMELESS_FRIENDS_FAM]
      ,[CLIENT_HOMELESS_RISK_LEVEL]
      ,[CLIENT_HOMELESS_SERVICES_GOALS]
      ,[CLIENT_HOMELESS_STAGE_CHANGE]
      ,[CLIENT_HOMELESS_UNDERSTANDS_RISK]
      ,[CLIENT_IPV_FRIENDS_FAM]
      ,[CLIENT_IPV_RISK_LEVEL]
      ,[CLIENT_IPV_SERVICES_GOALS]
      ,[CLIENT_IPV_STAGE_CHANGE]
      ,[CLIENT_IPV_UNDERSTANDS_RISK]
      ,[CLIENT_LONELY_FRIENDS_FAM]
      ,[CLIENT_LONELY_RISK_LEVEL]
      ,[CLIENT_LONELY_SERVICES_GOALS]
      ,[CLIENT_LONELY_STAGE_CHANGE]
      ,[CLIENT_LONELY_UNDERSTANDS_RISK]
      ,[CLIENT_MENTAL_HEALTH_FRIENDS_FAM]
      ,[CLIENT_MENTAL_HEALTH_RISK_LEVEL]
      ,[CLIENT_MENTAL_HEALTH_SERVICES_GOALS]
      ,[CLIENT_MENTAL_HEALTH_STAGE_CHANGE]
      ,[CLIENT_MENTAL_HEALTH_UNDERSTANDS_RISK]
      ,[CLIENT_PREGPLAN_FRIENDS_FAM]
      ,[CLIENT_PREGPLAN_RISK_LEVEL]
      ,[CLIENT_PREGPLAN_SERVICES_GOALS]
      ,[CLIENT_PREGPLAN_STAGE_CHANGE]
      ,[CLIENT_PREGPLAN_UNDERSTANDS_RISK]
      ,[CLIENT_SUBSTANCE_FRIENDS_FAM]
      ,[CLIENT_SUBSTANCE_RISK_LEVEL]
      ,[CLIENT_SUBSTANCE_SERVICES_GOALS]
      ,[CLIENT_SUBSTANCE_STAGE_CHANGE]
      ,[CLIENT_SUBSTANCE_UNDERSTANDS_RISK]
      ,[CLIENT_UNSAFE_NTWK_FRIENDS_FAM]
      ,[CLIENT_UNSAFE_NTWK_RISK_LEVEL]
      ,[CLIENT_UNSAFE_NTWK_SERVICES_GOALS]
      ,[CLIENT_UNSAFE_NTWK_STAGE_CHANGE]
      ,[CLIENT_UNSAFE_NTWK_UNDERSTANDS_RISK]
      ,[CLIENT_PERSONAL_0_NAME_FIRST]
      ,[CLIENT_PERSONAL_0_NAME_LAST]
      ,[CLIENT_0_ID_NSO]
      ,[CLIENT_0_ID_AGENCY]
      ,[CLIENT_PERSONAL_0_DOB_INTAKE]
      ,[NURSE_PERSONAL_0_NAME]
  FROM [DataWarehouse].[dbo].[Star_Survey]
  WHERE SiteID IN(@SiteID)
END


GO
