USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[SSISPFSDUA_ReferralsToNFP]    Script Date: 11/16/2017 10:44:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Sheri Scott
-- Create date: 1/13/2016
-- Description:	Extract of ReferralsToNFP data where the SiteID from [Referrals_to_NFP_Survey] is the
--				same as Export,s.[Entities SiteID and ExportProfileID is the same as the passed ProfileID
--				for Pay For Success where clients are over the age of 14
-- =============================================
CREATE PROCEDURE [dbo].[SSISPFSDUA_ReferralsToNFP]
	@ProfileID INT
AS
BEGIN

	SET NOCOUNT ON;
	
	SELECT s.[SurveyResponseID]
		  ,s.[ElementsProcessed]
		  ,s.[SurveyID]
		  ,s.[SurveyDate]
		  ,s.[AuditDate]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CL_EN_GEN_ID])) AS [CL_EN_GEN_ID]
		  ,s.[SiteID]
		  ,s.[ProgramID]
		  ,s.[IA_StaffID]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[ClientID])) AS [ClientID]
		  ,s.[RespondentID]
		  ,s.[REFERRAL_PROSPECT_0_SOURCE_CODE]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[REFERRAL_SOURCE_PRIMARY_0_NAME])) AS [REFERRAL_SOURCE_PRIMARY_0_NAME]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[REFERRAL_SOURCE_PRIMARY_1_LOCATION])) AS [REFERRAL_SOURCE_PRIMARY_1_LOCATION]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[REFERRAL_SOURCE_SECONDARY_0_NAME])) AS [REFERRAL_SOURCE_SECONDARY_0_NAME]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[REFERRAL_SOURCE_SECONDARY_1_LOCATION])) AS [REFERRAL_SOURCE_SECONDARY_1_LOCATION]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[REFERRAL_PROSPECT_0_NOTES])) AS [REFERRAL_PROSPECT_0_NOTES]
		  ,s.[REFERRAL_PROSPECT_DEMO_1_PLANG]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[REFERRAL_PROSPECT_DEMO_1_NAME_FIRST])) AS [REFERRAL_PROSPECT_DEMO_1_NAME_FIRST]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[REFERRAL_PROSPECT_DEMO_0_NAME_LAST])) AS [REFERRAL_PROSPECT_DEMO_0_NAME_LAST]
		  ,s.[REFERRAL_PROSPECT_DEMO_1_DOB]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[REFERRAL_PROSPECT_DEMO_1_STREET])) AS [REFERRAL_PROSPECT_DEMO_1_STREET]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[REFERRAL_PROSPECT_DEMO_1_STREET2])) AS [REFERRAL_PROSPECT_DEMO_1_STREET2]
		  ,s.[REFERRAL_PROSPECT_DEMO_1_ZIP]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[REFERRAL_PROSPECT_DEMO_1_WORK])) AS [REFERRAL_PROSPECT_DEMO_1_WORK]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[REFERRAL_PROSPECT_DEMO_1_PHONE_HOME])) AS [REFERRAL_PROSPECT_DEMO_1_PHONE_HOME]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[REFERRAL_PROSPECT_DEMO_1_CELL])) AS [REFERRAL_PROSPECT_DEMO_1_CELL]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[REFERRAL_PROSPECT_DEMO_1_EMAIL])) AS [REFERRAL_PROSPECT_DEMO_1_EMAIL]
		  ,s.[REFERRAL_PROSPECT_DEMO_1_EDD]
		  ,s.[REFERRAL_PROSPECT_0_WAIT_LIST]
		  ,s.[REFERRAL_PROSPECT_0_FOLLOWUP_NURSE]
		  ,s.[DW_AuditDate]
		  ,s.[DataSource]
		  ,s.[LA_CTY_REFERRAL_SCHOOL]
		  ,s.[LA_CTY_REFERRAL_SOURCE_OTH]
		  ,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_0_ID_NSO])) AS [CLIENT_0_ID_NSO]
		  ,s.[Master_SurveyID]
	FROM [DataWarehouse].[dbo].[Referrals_to_NFP_Survey] s
	INNER JOIN dbo.Clients c ON c.Client_Id = s.CLIENT_0_ID_NSO
	WHERE s.SiteID IN (SELECT SiteID FROM [DataWarehouse].dbo.ExportEntities 
						WHERE ExportProfileID = @ProfileID)
	AND c.[PFS_STUDY_VULNERABLE_POP] = 0

END


GO
