USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[usp_Staff_Update_Survey]    Script Date: 11/16/2017 10:44:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_Staff_Update_Survey]
(@ProgramID VARCHAR(MAX))

AS

SELECT 
	--S.Entity_Id,
	SUS.CL_EN_GEN_ID Entity_Id
	,S.Full_Name
	,SUS.ProgramID
	,SUS.NURSE_TEAM_START_DATE
	,S.START_DATE HireDate
	,SUS.NURSE_PRIMARY_ROLE
	,SUS.NURSE_PRIMARY_ROLE_FTE
	,SUS.NURSE_SECONDARY_ROLE
	,SUS.NURSE_SECONDARY_ROLE_FTE
	,SUS.SurveyDate PPSU_Date
	,SUS.NURSE_STATUS_TERM_REASON
	,P.Site
	,P.Team_Name
	,P.[US State]
FROM 
	(SELECT 
		ProgramID
		,CL_EN_GEN_ID
		,NURSE_TEAM_START_DATE
		,NURSE_PRIMARY_ROLE
		,NURSE_PRIMARY_ROLE_FTE
		,NURSE_SECONDARY_ROLE
		,NURSE_SECONDARY_ROLE_FTE
		,NURSE_STATUS_TERM_REASON
		,NURSE_STATUS_0_CHANGE_TERMINATE_DATE
		,SurveyDate
		,RANK() OVER(PARTITION BY CL_EN_GEN_ID,ProgramID ORDER BY SurveyDate DESC,SurveyResponseID DESC) LastSurvey
	FROM Staff_Update_Survey) SUS 

JOIN IA_Staff S
		ON S.Entity_Id = SUS.CL_EN_GEN_ID
		
JOIN UV_PAS P ON SUS.ProgramID = P.Program_ID_Staff_Supervision OR SUS.ProgramID = P.ProgramID
WHERE P.ProgramID IN(SELECT * FROM udf_ParseMultiParam(@ProgramID))
AND SUS.NURSE_PRIMARY_ROLE_FTE IS NOT NULL
AND SUS.NURSE_STATUS_0_CHANGE_TERMINATE_DATE IS NULL
AND SUS.LastSurvey = 1
GO
