USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[SSISPFSDUA_DANCE]    Script Date: 11/16/2017 10:44:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Create date: 1/12/2016
-- Description:	Extract of dance data where the SiteID from dance is the
--				same as ExportPFSEntities SiteID and ExportProfileID is the same as the passed ProfileID
--				for Pay For Success where clients are over the age of 14
-- =============================================
CREATE PROCEDURE [dbo].[SSISPFSDUA_DANCE]
	@ProfileID INT
AS
BEGIN

	SET NOCOUNT ON;

	SELECT s.[SurveyResponseID]
		,s.[ElementsProcessed]
		,s.[SurveyID]
		,s.[Master_SurveyID]
		,s.[SurveyDate]
		,s.[AuditDate]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CL_EN_GEN_ID])) AS [CL_EN_GEN_ID]
		,s.[SiteID]
		,s.[ProgramID]
		,s.[IA_StaffID]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[ClientID])) AS [ClientID]
		,s.[DW_AuditDate]
		,s.[DataSource]
		,s.[CLIENT_CAC_NA]
		,s.[CLIENT_CI_NA]
		,s.[CLIENT_EPA_NA]
		,s.[CLIENT_NCCO_NA]
		,s.[CLIENT_NI_NA]
		,s.[CLIENT_NT_NA]
		,s.[CLIENT_NVC_NA]
		,s.[CLIENT_PC_NA]
		,s.[CLIENT_PO_NA]
		,s.[CLIENT_PRA_NA]
		,s.[CLIENT_RP_NA]
		,s.[CLIENT_SCA_NA]
		,s.[CLIENT_SE_NA]
		,s.[CLIENT_VE_NA]
		,s.[CLIENT_VEC_NA]
		,s.[CLIENT_VISIT_VARIABLES]
		,s.[CLIENT_LS_NA]
		,s.[CLIENT_RD_NA]
		,s.[CLIENT_VQ_NA]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_0_ID_NSO])) AS [CLIENT_0_ID_NSO]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_PERSONAL_0_NAME_FIRST])) AS [CLIENT_PERSONAL_0_NAME_FIRST]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_PERSONAL_0_NAME_LAST])) AS [CLIENT_PERSONAL_0_NAME_LAST]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_CAC_COMMENTS])) AS [CLIENT_CAC_COMMENTS]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_CI_COMMENTS])) AS [CLIENT_CI_COMMENTS]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_EPA_COMMENTS])) AS [CLIENT_EPA_COMMENTS]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_LS_COMMENTS])) AS [CLIENT_LS_COMMENTS]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_NCCO_COMMENTS])) AS [CLIENT_NCCO_COMMENTS]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_NI_COMMENTS])) AS [CLIENT_NI_COMMENTS]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_NT_COMMENTS])) AS [CLIENT_NT_COMMENTS]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_NVC_COMMENTS])) AS [CLIENT_NVC_COMMENTS]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_PC_COMMENTS])) AS [CLIENT_PC_COMMENTS]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_PO_COMMENTS])) AS [CLIENT_PO_COMMENTS]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_PRA_COMMENTS])) AS [CLIENT_PRA_COMMENTS]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_RD_COMMENTS])) AS [CLIENT_RD_COMMENTS]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_RP_COMMENTS])) AS [CLIENT_RP_COMMENTS]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_SCA_COMMENTS])) AS [CLIENT_SCA_COMMENTS]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_SE_COMMENTS])) AS [CLIENT_SE_COMMENTS]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_VE_COMMENTS])) AS [CLIENT_VE_COMMENTS]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_VEC_COMMENTS])) AS [CLIENT_VEC_COMMENTS]
		,HASHBYTES('SHA1',CONVERT(NVARCHAR(4000),s.[CLIENT_VQ_COMMENTS])) AS [CLIENT_VQ_COMMENTS]
		,s.[CLIENT_ACTIVITY_DURATION]
		,s.[CLIENT_CAC_PER]
		,s.[CLIENT_CHILD_AGE]
		,s.[CLIENT_CHILD_DURATION]
		,s.[CLIENT_CI_PER]
		,s.[CLIENT_EPA_PER]
		,s.[CLIENT_LS_PER]
		,s.[CLIENT_NCCO_PER]
		,s.[CLIENT_NI_PER]
		,s.[CLIENT_NT_PER]
		,s.[CLIENT_NVC_PER]
		,s.[CLIENT_PC_PER]
		,s.[CLIENT_PO_PER]
		,s.[CLIENT_PRA_PER]
		,s.[CLIENT_RD_PER]
		,s.[CLIENT_RP_PER]
		,s.[CLIENT_SCA_PER]
		,s.[CLIENT_SE_PER]
		,s.[CLIENT_VE_PER]
		,s.[CLIENT_VEC_PER]
		,s.[CLIENT_VQ_PER]
		,s.[NURSE_PERSONAL_0_NAME]
	FROM dbo.[DANCE_survey] s
	INNER JOIN dbo.Clients c 
	ON c.Client_Id = s.CL_EN_GEN_ID
	WHERE SiteID in (SELECT SiteID FROM [DataWarehouse].dbo.ExportEntities 
					  WHERE ExportProfileID = @ProfileID)
	AND c.PFS_STUDY_VULNERABLE_POP = 0
  
END


GO
