DROP VIEW [survey_views].[Supplemental_Discharge_Information]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view  [survey_views].[Supplemental_Discharge_Information] as
select 
  
    fr.survey_response_id     as SurveyResponseID,
    1                         as ElementsProcessed,
    sq.master_survey_id       as SurveyID,
    dk.date_actual            as SurveyDate,
    xp.source_auditdate       as AuditDate,
    dc.client_key             as CL_EN_GEN_ID,
    xp.site_id                as SiteID,
    xp.programid              as ProgramID, 
    dn.nurse_id               as IA_StaffID,
    dc.client_id              as ClientID,
    null                      as RespondentID,
max(case sq.pseudonym when 'CLIENT_0_ID_AGENCY ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_0_ID_AGENCY,
max(case sq.pseudonym when 'Client_0_ID_NSO ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as Client_0_ID_NSO,
max(case sq.pseudonym when 'CLIENT_CAREGIVING_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CAREGIVING_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_CAREGIVING_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CAREGIVING_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_CAREGIVING_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CAREGIVING_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_CAREGIVING_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CAREGIVING_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_CAREGIVING_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CAREGIVING_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_CHLD_CARE_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CHLD_CARE_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_CHLD_CARE_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CHLD_CARE_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_CHLD_CARE_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CHLD_CARE_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_CHLD_CARE_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CHLD_CARE_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_CHLD_CARE_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CHLD_CARE_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_CHLD_HEALTH_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CHLD_HEALTH_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_CHLD_HEALTH_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CHLD_HEALTH_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_CHLD_HEALTH_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CHLD_HEALTH_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_CHLD_HEALTH_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CHLD_HEALTH_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_CHLD_HEALTH_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CHLD_HEALTH_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_CHLD_WELL_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CHLD_WELL_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_CHLD_WELL_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CHLD_WELL_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_CHLD_WELL_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CHLD_WELL_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_CHLD_WELL_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CHLD_WELL_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_CHLD_WELL_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CHLD_WELL_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_COMM_SVCS_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_COMM_SVCS_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_COMM_SVCS_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_COMM_SVCS_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_COMM_SVCS_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_COMM_SVCS_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_COMM_SVCS_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_COMM_SVCS_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_COMM_SVCS_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_COMM_SVCS_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_COMPLICATION_ILL_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_COMPLICATION_ILL_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_COMPLICATION_ILL_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_COMPLICATION_ILL_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_COMPLICATION_ILL_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_COMPLICATION_ILL_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_COMPLICATION_ILL_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_COMPLICATION_ILL_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_COMPLICATION_ILL_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_COMPLICATION_ILL_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_CRIMINAL_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CRIMINAL_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_CRIMINAL_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CRIMINAL_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_CRIMINAL_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CRIMINAL_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_CRIMINAL_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CRIMINAL_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_CRIMINAL_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_CRIMINAL_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_DISABILITY_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_DISABILITY_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_DISABILITY_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_DISABILITY_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_DISABILITY_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_DISABILITY_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_DISABILITY_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_DISABILITY_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_DISABILITY_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_DISABILITY_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_ECONOMIC_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_ECONOMIC_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_ECONOMIC_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_ECONOMIC_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_ECONOMIC_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_ECONOMIC_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_ECONOMIC_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_ECONOMIC_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_ECONOMIC_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_ECONOMIC_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_EDUC_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_EDUC_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_EDUC_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_EDUC_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_EDUC_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_EDUC_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_EDUC_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_EDUC_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_EDUC_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_EDUC_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_ENGLIT_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_ENGLIT_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_ENGLIT_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_ENGLIT_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_ENGLIT_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_ENGLIT_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_ENGLIT_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_ENGLIT_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_ENGLIT_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_ENGLIT_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_ENVIRO_HEALTH_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_ENVIRO_HEALTH_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_ENVIRO_HEALTH_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_ENVIRO_HEALTH_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_ENVIRO_HEALTH_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_ENVIRO_HEALTH_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_ENVIRO_HEALTH_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_ENVIRO_HEALTH_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_ENVIRO_HEALTH_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_ENVIRO_HEALTH_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_GLOBAL_FACTORS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_GLOBAL_FACTORS,
max(case sq.pseudonym when 'CLIENT_HLTH_SVCS_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_HLTH_SVCS_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_HLTH_SVCS_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_HLTH_SVCS_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_HLTH_SVCS_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_HLTH_SVCS_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_HLTH_SVCS_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_HLTH_SVCS_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_HLTH_SVCS_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_HLTH_SVCS_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_HOME_SAFETY_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_HOME_SAFETY_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_HOME_SAFETY_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_HOME_SAFETY_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_HOME_SAFETY_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_HOME_SAFETY_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_HOME_SAFETY_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_HOME_SAFETY_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_HOME_SAFETY_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_HOME_SAFETY_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_HOMELESS_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_HOMELESS_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_HOMELESS_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_HOMELESS_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_HOMELESS_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_HOMELESS_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_HOMELESS_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_HOMELESS_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_HOMELESS_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_HOMELESS_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_IPV_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_IPV_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_IPV_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_IPV_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_IPV_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_IPV_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_IPV_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_IPV_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_IPV_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_IPV_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_LONELY_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_LONELY_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_LONELY_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_LONELY_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_LONELY_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_LONELY_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_LONELY_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_LONELY_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_LONELY_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_LONELY_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_MENTAL_HEALTH_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_MENTAL_HEALTH_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_MENTAL_HEALTH_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_MENTAL_HEALTH_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_MENTAL_HEALTH_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_MENTAL_HEALTH_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_MENTAL_HEALTH_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_MENTAL_HEALTH_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_MENTAL_HEALTH_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_MENTAL_HEALTH_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_PERSONAL_0_DOB_INTAKE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_PERSONAL_0_DOB_INTAKE,
max(case sq.pseudonym when 'CLIENT_PERSONAL_0_NAME_FIRST ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_PERSONAL_0_NAME_FIRST,
max(case sq.pseudonym when 'CLIENT_PERSONAL_0_NAME_LAST ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_PERSONAL_0_NAME_LAST,
max(case sq.pseudonym when 'CLIENT_PREGPLAN_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_PREGPLAN_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_PREGPLAN_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_PREGPLAN_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_PREGPLAN_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_PREGPLAN_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_PREGPLAN_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_PREGPLAN_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_PREGPLAN_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_PREGPLAN_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_SUBSTANCE_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_SUBSTANCE_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_SUBSTANCE_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_SUBSTANCE_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_SUBSTANCE_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_SUBSTANCE_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_SUBSTANCE_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_SUBSTANCE_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_SUBSTANCE_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_SUBSTANCE_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'CLIENT_UNSAFE_NTWK_FRIENDS_FAM ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_UNSAFE_NTWK_FRIENDS_FAM,
max(case sq.pseudonym when 'CLIENT_UNSAFE_NTWK_RISK_LEVEL ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_UNSAFE_NTWK_RISK_LEVEL,
max(case sq.pseudonym when 'CLIENT_UNSAFE_NTWK_SERVICES_GOALS ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_UNSAFE_NTWK_SERVICES_GOALS,
max(case sq.pseudonym when 'CLIENT_UNSAFE_NTWK_STAGE_CHANGE ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_UNSAFE_NTWK_STAGE_CHANGE,
max(case sq.pseudonym when 'CLIENT_UNSAFE_NTWK_UNDERSTANDS_RISK ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as CLIENT_UNSAFE_NTWK_UNDERSTANDS_RISK,
max(case sq.pseudonym when 'NURSE_PERSONAL_0_NAME ' then coalesce(fr.text_response,cast(fr.numeric_response as varchar),cast(fr.date_response as varchar), cast(fr.boolean_response as varchar)) else null end) as NURSE_PERSONAL_0_NAME

   from fact_survey_response fr  
   
    inner join dim_survey_question      sq on fr.survey_question_key          = sq.survey_question_key
    inner join  dim_date                dk on fr.survey_date_key              = dk.date_key
    inner join  xref_organization       xo on fr.organization_key             = xo.organization_key
    inner join  xref_program            xp on xo.programid                    = xp.programid
    inner join  dim_client              dc on dc.client_key                   = fr.client_key
    left  join  dim_nurse               dn on dn.nurse_key                    = fr.nurse_key -- all fsr have nurse id's?
  
  where 
    sq.survey_name = 'Supplemental Discharge Information'
  
  group by 
  
    fr.survey_response_id,
    sq.master_survey_id, 
    dk.date_actual,     
    xp.source_auditdate,
    dc.client_key,
    xp.site_id,  
    xp.programid,
    dn.nurse_id,
    dc.client_id
GO
