DROP PROCEDURE [survey_views].[usp_select_MN_6_Months_Infant]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_MN_6_Months_Infant] as  begin  select * from survey_views.MN_6_Months_Infant end 
GO
