DROP PROCEDURE [survey_views].[usp_select_MN_Child_Intake]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_MN_Child_Intake] as  begin  select * from survey_views.MN_Child_Intake end 
GO
