DROP PROCEDURE [survey_views].[usp_select_Nurse_Assessment]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_Nurse_Assessment] as  begin  select * from survey_views.Nurse_Assessment end 
GO
