USE [dwh_test]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [survey_views].[usp_select_Infant_Birth] 
	@p_Encrypt			bit = 1,
	@p_Profile_Id		int = null,
	@p_exclude_tribal	bit	= 0
as 
begin  

select 
s.[SurveyResponseID]
      ,s.[ElementsProcessed]
      ,s.[SurveyID]
      ,s.[SurveyDate]
      ,s.[AuditDate]
      ,s.[CL_EN_GEN_ID]
      ,s.[SiteID]
      ,s.[ProgramID]
      ,s.[IA_StaffID]
      ,survey_views.f_hash_field(@p_Encrypt, s.[ClientID]) as [ClientID]
      ,s.[RespondentID]
      ,survey_views.f_hash_field(@p_Encrypt, s.[INFANT_0_ID_NSO]) as [INFANT_0_ID_NSO]
      ,survey_views.f_hash_field(@p_Encrypt, s.[INFANT_PERSONAL_0_FIRST NAME]) as [INFANT_PERSONAL_0_FIRST NAME]
      ,s.[INFANT_BIRTH_0_DOB]
      ,survey_views.f_hash_field(@p_Encrypt, s.[CLIENT_0_ID_NSO]) as [CLIENT_0_ID_NSO]
      ,survey_views.f_hash_field(@p_Encrypt, s.[CLIENT_PERSONAL_0_NAME_FIRST]) as [CLIENT_PERSONAL_0_NAME_FIRST]
      ,survey_views.f_hash_field(@p_Encrypt, s.[CLIENT_PERSONAL_0_NAME_LAST]) as [CLIENT_PERSONAL_0_NAME_LAST]
      ,s.[NURSE_PERSONAL_0_NAME]
      ,s.[INFANT_BIRTH_1_MULTIPLE_BIRTHS]
      ,s.[INFANT_PERSONAL_0_ETHNICITY]
      ,s.[INFANT_PERSONAL_0_RACE]
      ,s.[INFANT_PERSONAL_0_GENDER]
      ,s.[INFANT_BIRTH_1_WEIGHT_GRAMS]
      ,s.[INFANT_BIRTH_1_WEIGHT_POUNDS]
      ,s.[INFANT_BIRTH_1_GEST_AGE]
      ,s.[INFANT_BIRTH_1_NICU]
      ,s.[INFANT_BIRTH_1_NICU_DAYS]
      ,s.[CLIENT_WEIGHT_0_PREG_GAIN]
      ,s.[INFANT_BREASTMILK_0_EVER_BIRTH]
      ,survey_views.f_hash_field(@p_Encrypt, s.[INFANT_0_ID_NSO2]) as [INFANT_0_ID_NSO2]
      ,survey_views.f_hash_field(@p_Encrypt, s.[INFANT_PERSONAL_0_FIRST NAME2]) as [INFANT_PERSONAL_0_FIRST NAME2]
      ,s.[INFANT_BIRTH_0_DOB2]
      ,s.[INFANT_PERSONAL_0_ETHNICITY2]
      ,s.[INFANT_PERSONAL_0_ETHNICITY3]
      ,s.[INFANT_PERSONAL_0_RACE2]
      ,s.[INFANT_PERSONAL_0_RACE3]
      ,s.[INFANT_PERSONAL_0_GENDER2]
      ,s.[INFANT_BIRTH_1_WEIGHT_GRAMS2]
      ,s.[INFANT_BIRTH_1_GEST_AGE2]
      ,s.[INFANT_BIRTH_1_NICU2]
      ,s.[INFANT_BIRTH_1_NICU_DAYS2]
      ,survey_views.f_hash_field(@p_Encrypt, s.[INFANT_0_ID_NSO3]) as [INFANT_0_ID_NSO3]
      ,s.[INFANT_BIRTH_0_DOB3]
      ,s.[INFANT_PERSONAL_0_GENDER3]
      ,s.[INFANT_BIRTH_1_WEIGHT_GRAMS3]
      ,s.[INFANT_BIRTH_1_WEIGHT_POUNDS3]
      ,s.[INFANT_BIRTH_1_GEST_AGE3]
      ,s.[INFANT_BIRTH_1_NICU3]
      ,s.[INFANT_BIRTH_1_NICU_DAYS3]
      ,s.[INFANT_BREASTMILK_0_EVER_BIRTH2]
      ,s.[INFANT_BREASTMILK_0_EVER_BIRTH3]
      ,s.[INFANT_BIRTH_1_WEIGHT_MEASURE]
      ,s.[INFANT_BIRTH_1_WEIGHT_OUNCES]
      ,s.[INFANT_BIRTH_1_WEIGHT_CONVERT_GRAMS]
      ,s.[INFANT_BIRTH_1_WEIGHT_MEASURE2]
      ,s.[INFANT_BIRTH_1_WEIGHT_MEASURE3]
      ,s.[INFANT_BIRTH_1_WEIGHT_OUNCES3]
      ,s.[INFANT_BIRTH_1_WEIGHT_POUNDS2]
      ,s.[INFANT_BIRTH_1_WEIGHT_OUNCES2]
      ,survey_views.f_hash_field(@p_Encrypt, s.[INFANT_PERSONAL_0_FIRST NAME3]) as [INFANT_PERSONAL_0_FIRST NAME3]
      ,survey_views.f_hash_field(@p_Encrypt, s.[CLIENT_0_ID_AGENCY]) as [CLIENT_0_ID_AGENCY]
      ,survey_views.f_hash_field(@p_Encrypt, s.[INFANT_PERSONAL_0_LAST NAME]) as [INFANT_PERSONAL_0_LAST NAME]
     -- ,s.[DW_AuditDate]
     -- ,s.[DataSource]
      ,s.[INFANT_BIRTH_0_CLIENT_ER]
      ,s.[INFANT_BIRTH_0_CLIENT_URGENT CARE]
      ,s.[INFANT_BIRTH_1_NICU_R2]
      ,s.[INFANT_BIRTH_1_NICU_R2_2]
      ,s.[INFANT_BIRTH_1_NICU_R2_3]
      ,s.[INFANT_BIRTH_1_NURSERY_R2]
      ,s.[INFANT_BIRTH_1_NURSERY_R2_2]
      ,s.[INFANT_BIRTH_1_NURSERY_R2_3]
      ,s.[INFANT_BIRTH_0_CLIENT_ER_TIMES]
      ,s.[INFANT_BIRTH_0_CLIENT_URGENT CARE_TIMES]
      ,s.[INFANT_BIRTH_1_NICU_DAYS_R2]
      ,s.[INFANT_BIRTH_1_NICU_DAYS_R2_2]
      ,s.[INFANT_BIRTH_1_NICU_DAYS_R2_3]
      ,s.[INFANT_BIRTH_1_NURSERY_DAYS_R2]
      ,s.[INFANT_BIRTH_1_NURSERY_DAYS_R2_2]
      ,s.[INFANT_BIRTH_1_NURSERY_DAYS_R2_3]
      ,s.[INFANT_BIRTH_1_NICU_NURSERY_PURPOSE]
      ,s.[INFANT_BIRTH_1_NICU_NURSERY_PURPOSE2]
      ,s.[INFANT_BIRTH_1_NICU_NURSERY_PURPOSE3]
      ,s.[INFANT_BIRTH_1_DELIVERY]
      ,s.[INFANT_BIRTH_1_HEARING_SCREEN]
      ,s.[INFANT_BIRTH_1_HEARING_SCREEN2]
      ,s.[INFANT_BIRTH_1_HEARING_SCREEN3]
      ,s.[INFANT_BIRTH_1_LABOR]
      ,s.[INFANT_BIRTH_1_NEWBORN_SCREEN]
      ,s.[INFANT_BIRTH_1_NEWBORN_SCREEN2]
      ,s.[INFANT_BIRTH_1_NEWBORN_SCREEN3]
      ,survey_views.f_hash_field(@p_Encrypt, s.[INFANT_BIRTH_1_NICU_NURSERY_PURPOSE_OTHER]) as [INFANT_BIRTH_1_NICU_NURSERY_PURPOSE_OTHER]
      ,survey_views.f_hash_field(@p_Encrypt, s.[INFANT_BIRTH_1_NICU_NURSERY_PURPOSE_OTHER2]) as [INFANT_BIRTH_1_NICU_NURSERY_PURPOSE_OTHER2]
      ,survey_views.f_hash_field(@p_Encrypt, s.[INFANT_BIRTH_1_NICU_NURSERY_PURPOSE_OTHER3]) as [INFANT_BIRTH_1_NICU_NURSERY_PURPOSE_OTHER3]
      --,s.[Master_SurveyID]
      ,s.[INFANT_BIRTH_1_WEIGHT_CONVERT_GRAMS2]
      ,s.[INFANT_BIRTH_1_WEIGHT_CONVERT_GRAMS3]
      --,s.[LastModified]  
      --,s.[Archive_Record]
      ,s.[INFANT_INSURANCE_TYPE]
      ,s.[INFANT_INSURANCE_TYPE2]
      ,s.[INFANT_INSURANCE_TYPE3]
      ,s.[INFANT_BIRTH_COSLEEP]
      ,s.[INFANT_BIRTH_COSLEEP2]
      ,s.[INFANT_BIRTH_COSLEEP3]
      ,s.[INFANT_BIRTH_READ]
      ,s.[INFANT_BIRTH_READ2]
      ,s.[INFANT_BIRTH_READ3]
      ,s.[INFANT_BIRTH_SLEEP_BACK]
      ,s.[INFANT_BIRTH_SLEEP_BACK2]
      ,s.[INFANT_BIRTH_SLEEP_BACK3]
      ,s.[INFANT_BIRTH_SLEEP_BEDDING]
      ,s.[INFANT_BIRTH_SLEEP_BEDDING2]
      ,s.[INFANT_BIRTH_SLEEP_BEDDING3]
      ,s.[INFANT_INSURANCE]
      ,s.[INFANT_INSURANCE2]
      ,s.[INFANT_INSURANCE3]
      ,s.[INFANT_INSURANCE_OTHER]
      ,s.[INFANT_INSURANCE_OTHER2]
      ,s.[INFANT_INSURANCE_OTHER3] 
 from survey_views.Infant_Birth s 
 where
 s.SiteID in (select s.siteid from survey_views.f_get_sites_for_profile_id(@p_Profile_Id, @p_exclude_tribal) s)




 end 
GO
