DROP PROCEDURE [survey_views].[usp_select_New_Hire_V2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_New_Hire_V2] as  begin  select * from survey_views.New_Hire_V2 end 
GO
