DROP PROCEDURE [survey_views].[usp_select_Community_Advisory_Board_Meeting]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_Community_Advisory_Board_Meeting] as  begin  select * from survey_views.Community_Advisory_Board_Meeting end 
GO
