DROP PROCEDURE [survey_views].[usp_update_ExportProfile]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [survey_views].[usp_update_ExportProfile]
	@p_export_profile_id int,
	@p_result char(1)
AS
BEGIN
	SET NOCOUNT ON;





END
GO
