DROP PROCEDURE [survey_views].[usp_select_Clinical_IPV_Assessment]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_Clinical_IPV_Assessment] as  begin  select * from survey_views.Clinical_IPV_Assessment end 
GO
