USE [dwh_test]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_Education_Registration] as  begin  select * from survey_views.Education_Registration end 
GO
