DROP PROCEDURE [survey_views].[usp_select_NFP_Tribal_Project]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_NFP_Tribal_Project] as  begin  select * from survey_views.NFP_Tribal_Project end 
GO
