DROP PROCEDURE [survey_views].[usp_select_Agency_Profile_Update]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_Agency_Profile_Update] as  begin  select * from survey_views.Agency_Profile_Update end 
GO
