DROP PROCEDURE [survey_views].[usp_select_Unknown]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_Unknown] as  begin  select * from survey_views.Unknown end 
GO
