USE [dwh_test]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [survey_views].[usp_select_STAR_Framework] 
	@p_Encrypt			bit = 1,
	@p_Profile_Id		int = null,
	@p_exclude_tribal	bit	= 0
as 
begin  

set nocount on;

select 
s.[SurveyResponseID]
      ,s.[ElementsProcessed]
      ,s.[SurveyID]
      --,s.[Master_SurveyID]
      ,s.[SurveyDate]
      ,s.[AuditDate]
      ,s.[CL_EN_GEN_ID]
      ,s.[SiteID]
      ,s.[ProgramID]
      ,s.[IA_StaffID]
      ,s.[ClientID]
      ,s.[RespondentID]
      --,s.[DW_AuditDate]
      --,s.[DataSource]
      ,s.[CLIENT_GLOBAL_FACTORS]
      ,s.[CLIENT_CAREGIVING_FRIENDS_FAM]
      ,s.[CLIENT_CAREGIVING_RISK_LEVEL]
      ,s.[CLIENT_CAREGIVING_SERVICES_GOALS]
      ,s.[CLIENT_CAREGIVING_STAGE_CHANGE]
      ,s.[CLIENT_CAREGIVING_UNDERSTANDS_RISK]
      ,s.[CLIENT_CHLD_CARE_FRIENDS_FAM]
      ,s.[CLIENT_CHLD_CARE_RISK_LEVEL]
      ,s.[CLIENT_CHLD_CARE_SERVICES_GOALS]
      ,s.[CLIENT_CHLD_CARE_STAGE_CHANGE]
      ,s.[CLIENT_CHLD_CARE_UNDERSTANDS_RISK]
      ,s.[CLIENT_CHLD_HEALTH_FRIENDS_FAM]
      ,s.[CLIENT_CHLD_HEALTH_RISK_LEVEL]
      ,s.[CLIENT_CHLD_HEALTH_SERVICES_GOALS]
      ,s.[CLIENT_CHLD_HEALTH_STAGE_CHANGE]
      ,s.[CLIENT_CHLD_HEALTH_UNDERSTANDS_RISK]
      ,s.[CLIENT_CHLD_WELL_FRIENDS_FAM]
      ,s.[CLIENT_CHLD_WELL_RISK_LEVEL]
      ,s.[CLIENT_CHLD_WELL_SERVICES_GOALS]
      ,s.[CLIENT_CHLD_WELL_STAGE_CHANGE]
      ,s.[CLIENT_CHLD_WELL_UNDERSTANDS_RISK]
      ,s.[CLIENT_COMM_SVCS_FRIENDS_FAM]
      ,s.[CLIENT_COMM_SVCS_RISK_LEVEL]
      ,s.[CLIENT_COMM_SVCS_SERVICES_GOALS]
      ,s.[CLIENT_COMM_SVCS_STAGE_CHANGE]
      ,s.[CLIENT_COMM_SVCS_UNDERSTANDS_RISK]
      ,s.[CLIENT_COMPLICATION_ILL_FRIENDS_FAM]
      ,s.[CLIENT_COMPLICATION_ILL_RISK_LEVEL]
      ,s.[CLIENT_COMPLICATION_ILL_SERVICES_GOALS]
      ,s.[CLIENT_COMPLICATION_ILL_STAGE_CHANGE]
      ,s.[CLIENT_COMPLICATION_ILL_UNDERSTANDS_RISK]
      ,s.[CLIENT_CRIMINAL_FRIENDS_FAM]
      ,s.[CLIENT_CRIMINAL_RISK_LEVEL]
      ,s.[CLIENT_CRIMINAL_SERVICES_GOALS]
      ,s.[CLIENT_CRIMINAL_STAGE_CHANGE]
      ,s.[CLIENT_CRIMINAL_UNDERSTANDS_RISK]
      ,s.[CLIENT_DISABILITY_FRIENDS_FAM]
      ,s.[CLIENT_DISABILITY_RISK_LEVEL]
      ,s.[CLIENT_DISABILITY_SERVICES_GOALS]
      ,s.[CLIENT_DISABILITY_STAGE_CHANGE]
      ,s.[CLIENT_DISABILITY_UNDERSTANDS_RISK]
      ,s.[CLIENT_ECONOMIC_FRIENDS_FAM]
      ,s.[CLIENT_ECONOMIC_RISK_LEVEL]
      ,s.[CLIENT_ECONOMIC_SERVICES_GOALS]
      ,s.[CLIENT_ECONOMIC_STAGE_CHANGE]
      ,s.[CLIENT_ECONOMIC_UNDERSTANDS_RISK]
      ,s.[CLIENT_EDUC_FRIENDS_FAM]
      ,s.[CLIENT_EDUC_RISK_LEVEL]
      ,s.[CLIENT_EDUC_SERVICES_GOALS]
      ,s.[CLIENT_EDUC_STAGE_CHANGE]
      ,s.[CLIENT_EDUC_UNDERSTANDS_RISK]
      ,s.[CLIENT_ENGLIT_FRIENDS_FAM]
      ,s.[CLIENT_ENGLIT_RISK_LEVEL]
      ,s.[CLIENT_ENGLIT_SERVICES_GOALS]
      ,s.[CLIENT_ENGLIT_STAGE_CHANGE]
      ,s.[CLIENT_ENGLIT_UNDERSTANDS_RISK]
      ,s.[CLIENT_ENVIRO_HEALTH_FRIENDS_FAM]
      ,s.[CLIENT_ENVIRO_HEALTH_RISK_LEVEL]
      ,s.[CLIENT_ENVIRO_HEALTH_SERVICES_GOALS]
      ,s.[CLIENT_ENVIRO_HEALTH_STAGE_CHANGE]
      ,s.[CLIENT_ENVIRO_HEALTH_UNDERSTANDS_RISK]
      ,s.[CLIENT_HLTH_SVCS_FRIENDS_FAM]
      ,s.[CLIENT_HLTH_SVCS_RISK_LEVEL]
      ,s.[CLIENT_HLTH_SVCS_SERVICES_GOALS]
      ,s.[CLIENT_HLTH_SVCS_STAGE_CHANGE]
      ,s.[CLIENT_HLTH_SVCS_UNDERSTANDS_RISK]
      ,s.[CLIENT_HOME_SAFETY_FRIENDS_FAM]
      ,s.[CLIENT_HOME_SAFETY_RISK_LEVEL]
      ,s.[CLIENT_HOME_SAFETY_SERVICES_GOALS]
      ,s.[CLIENT_HOME_SAFETY_STAGE_CHANGE]
      ,s.[CLIENT_HOME_SAFETY_UNDERSTANDS_RISK]
      ,s.[CLIENT_HOMELESS_FRIENDS_FAM]
      ,s.[CLIENT_HOMELESS_RISK_LEVEL]
      ,s.[CLIENT_HOMELESS_SERVICES_GOALS]
      ,s.[CLIENT_HOMELESS_STAGE_CHANGE]
      ,s.[CLIENT_HOMELESS_UNDERSTANDS_RISK]
      ,s.[CLIENT_IPV_FRIENDS_FAM]
      ,s.[CLIENT_IPV_RISK_LEVEL]
      ,s.[CLIENT_IPV_SERVICES_GOALS]
      ,s.[CLIENT_IPV_STAGE_CHANGE]
      ,s.[CLIENT_IPV_UNDERSTANDS_RISK]
      ,s.[CLIENT_LONELY_FRIENDS_FAM]
      ,s.[CLIENT_LONELY_RISK_LEVEL]
      ,s.[CLIENT_LONELY_SERVICES_GOALS]
      ,s.[CLIENT_LONELY_STAGE_CHANGE]
      ,s.[CLIENT_LONELY_UNDERSTANDS_RISK]
      ,s.[CLIENT_MENTAL_HEALTH_FRIENDS_FAM]
      ,s.[CLIENT_MENTAL_HEALTH_RISK_LEVEL]
      ,s.[CLIENT_MENTAL_HEALTH_SERVICES_GOALS]
      ,s.[CLIENT_MENTAL_HEALTH_STAGE_CHANGE]
      ,s.[CLIENT_MENTAL_HEALTH_UNDERSTANDS_RISK]
      ,s.[CLIENT_PREGPLAN_FRIENDS_FAM]
      ,s.[CLIENT_PREGPLAN_RISK_LEVEL]
      ,s.[CLIENT_PREGPLAN_SERVICES_GOALS]
      ,s.[CLIENT_PREGPLAN_STAGE_CHANGE]
      ,s.[CLIENT_PREGPLAN_UNDERSTANDS_RISK]
      ,s.[CLIENT_SUBSTANCE_FRIENDS_FAM]
      ,s.[CLIENT_SUBSTANCE_RISK_LEVEL]
      ,s.[CLIENT_SUBSTANCE_SERVICES_GOALS]
      ,s.[CLIENT_SUBSTANCE_STAGE_CHANGE]
      ,s.[CLIENT_SUBSTANCE_UNDERSTANDS_RISK]
      ,s.[CLIENT_UNSAFE_NTWK_FRIENDS_FAM]
      ,s.[CLIENT_UNSAFE_NTWK_RISK_LEVEL]
      ,s.[CLIENT_UNSAFE_NTWK_SERVICES_GOALS]
      ,s.[CLIENT_UNSAFE_NTWK_STAGE_CHANGE]
      ,s.[CLIENT_UNSAFE_NTWK_UNDERSTANDS_RISK]
      ,s.[CLIENT_PERSONAL_0_NAME_FIRST]
      ,s.[CLIENT_PERSONAL_0_NAME_LAST]
      ,s.[CLIENT_0_ID_NSO]
      ,s.[CLIENT_0_ID_AGENCY]
      ,s.[CLIENT_PERSONAL_0_DOB_INTAKE]
      ,s.[NURSE_PERSONAL_0_NAME]

from survey_views.STAR_Framework  s
where
s.SiteID in (select s.siteid from survey_views.f_get_sites_for_profile_id(@p_Profile_Id, @p_exclude_tribal) s)




end 
GO
