DROP PROCEDURE [survey_views].[usp_select_TX_THV_Supplemental_Data_Form]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_TX_THV_Supplemental_Data_Form] as  begin  select * from survey_views.TX_THV_Supplemental_Data_Form end 
GO
