USE [dwh_test]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_Goodwill_Indy_Additional_Referral_Data] as  begin  select * from survey_views.Goodwill_Indy_Additional_Referral_Data end 
GO
