USE [dwh_test]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_Profile_Of_Program_Staff_UPDATE] as  begin  select * from survey_views.Profile_Of_Program_Staff_UPDATE end 
GO
