DROP PROCEDURE [survey_views].[usp_select_Staff_Team_to_Team_Transfer_Request]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_Staff_Team_to_Team_Transfer_Request] as  begin  select * from survey_views.Staff_Team_to_Team_Transfer_Request end 
GO
