DROP PROCEDURE [survey_views].[usp_select_TEST_CASE_ASSESSMENT]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_TEST_CASE_ASSESSMENT] as  begin  select * from survey_views.TEST_CASE_ASSESSMENT end 
GO
