DROP PROCEDURE [survey_views].[usp_select_MN_18_Months_Toddler]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_MN_18_Months_Toddler] as  begin  select * from survey_views.MN_18_Months_Toddler end 
GO
