DROP PROCEDURE [survey_views].[usp_select_New_Hire_Form]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_New_Hire_Form] as  begin  select * from survey_views.New_Hire_Form end 
GO
