DROP PROCEDURE [survey_views].[usp_select_NFP_Los_Angeles__Outreach_Marketing]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_NFP_Los_Angeles__Outreach_Marketing] as  begin  select * from survey_views.NFP_Los_Angeles__Outreach_Marketing end 
GO
