DROP PROCEDURE [survey_views].[usp_select_Demographics_Update]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_Demographics_Update] as  begin  select * from survey_views.Demographics_Update end 
GO
