USE [dwh_test]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_Joint_Visit_Observation_Form] as  begin  select * from survey_views.Joint_Visit_Observation_Form end 
GO
