DROP PROCEDURE [survey_views].[usp_select_Telehealth_Pilot_Form]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_Telehealth_Pilot_Form] as  begin  select * from survey_views.Telehealth_Pilot_Form end 
GO
