USE [dwh_test]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [survey_views].[usp_select_MN_24_Month_Toddler] as  begin  select * from survey_views.MN_24_Month_Toddler end 
GO
