USE [dwh_test]
GO
/****** Object:  StoredProcedure [survey_views].[usp_etl_select_Client_Funding]    Script Date: 11/27/2017 1:27:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [survey_views].[usp_etl_select_Client_Funding]  
(
 @p_export_profile_id int,
  @p_entity_filter char(5)=null,
  @p_etl_session_token varchar(50)=null

)
as
begin


set nocount on;
declare		@_rec_count int;
declare		@_my_name varchar(256);
set			@_my_name = OBJECT_NAME(@@PROCID);


declare  @_hash_profile   char(10);


set   @_hash_profile   = (select top 1 isnull('SA',hash_policy) from survey_views.f_get_survey_etl_work() where ExportProfileID=@p_export_profile_id);

begin transaction


select 

vbase. SurveyResponseID,
vbase.ElementsProcessed,
vbase.SurveyID,
vbase.SurveyDate,
vbase.AuditDate,
vbase.CL_EN_GEN_ID,
vbase.SiteID,
vbase.ProgramID,
vbase.IA_StaffID,
vbase.ClientID,
vbase.RespondentID,
vbase.CLIENT_FUNDING_0_SOURCE_MIECHVP_COM,
vbase.CLIENT_FUNDING_0_SOURCE_MIECHVP_FORM,
--vbase.CLIENT_FUNDING_0_SOURCE_OTHER,
--vbase.CLIENT_FUNDING_0_SOURCE_OTHER_TXT,
vbase.CLIENT_FUNDING_1_END_MIECHVP_COM,
vbase.CLIENT_FUNDING_1_END_MIECHVP_FORM,
--vbase.CLIENT_FUNDING_1_END_OTHER,
vbase.CLIENT_FUNDING_1_START_MIECHVP_COM,
vbase.CLIENT_FUNDING_1_START_MIECHVP_FORM,
--vbase.CLIENT_FUNDING_1_START_OTHER,
vbase.NURSE_PERSONAL_0_NAME,
--vbase.DW_AuditDate,
--vbase.DataSource,
vbase.CLIENT_FUNDING_0_SOURCE_MIECHVP_TRIBAL,
vbase.CLIENT_FUNDING_1_END_MIECHVP_TRIBAL,
vbase.CLIENT_FUNDING_1_START_MIECHVP_TRIBAL,
vbase.CLIENT_FUNDING_0_SOURCE_OTHER1,
vbase.CLIENT_FUNDING_0_SOURCE_OTHER2,
vbase.CLIENT_FUNDING_0_SOURCE_OTHER3,
vbase.CLIENT_FUNDING_1_END_OTHER1,
vbase.CLIENT_FUNDING_1_END_OTHER2,
vbase.CLIENT_FUNDING_1_END_OTHER3,
vbase.CLIENT_FUNDING_1_START_OTHER1,
vbase.CLIENT_FUNDING_1_START_OTHER2,
vbase.CLIENT_FUNDING_1_START_OTHER3,
--vbase.Master_SurveyID,
vbase.CLIENT_FUNDING_0_SOURCE_PFS,
vbase.CLIENT_FUNDING_1_END_PFS,
vbase.CLIENT_FUNDING_1_START_PFS,
--vbase.Archive_Record,
vbase.CLIENT_FUNDING_0_SOURCE_OTHER4,
vbase.CLIENT_FUNDING_0_SOURCE_OTHER5,
vbase.CLIENT_FUNDING_0_SOURCE_OTHER6,
vbase.CLIENT_FUNDING_1_END_OTHER4,
vbase.CLIENT_FUNDING_1_END_OTHER5,
vbase.CLIENT_FUNDING_1_END_OTHER6,
vbase.CLIENT_FUNDING_1_START_OTHER4,
vbase.CLIENT_FUNDING_1_START_OTHER5,
vbase.CLIENT_FUNDING_1_START_OTHER6

from survey_views.f_select_Client_Funding_Source(@_hash_profile,@p_export_profile_id) vbase


		if @p_etl_session_token is not null
		begin

			declare @_completed datetime=getdate();
		
			insert into survey_views.survey_export_sessions (session_token, extract_procedure, number_of_records, time_completed, survey_name, file_name, export_profile_id, profile_name, site_id, agency_name)
			select 
			@p_etl_session_token,
			@_my_name,
			count(responses.SurveyResponseID) as [Count],
			@_completed,
			'Client_Funding_Survey',
			'Client_Funding.txt',
			ep.ExportProfileID,
			ep.ProfileName,
			ee.SiteID,
			ee.AgencyName

			from survey_views.ExportEntities ee 
			 inner join survey_views.f_select_Client_Funding_Source(@_hash_profile,@p_export_profile_id) responses 
														on responses.SiteID=ee.SiteID
			 inner join survey_views.ExportProfile ep	on ee.ExportProfileID=ep.ExportProfileID
			where
				ee.ExportProfileID=@p_export_profile_id
			group by
			ep.ExportProfileID,
			ep.ProfileName,
			ee.AgencyName,
			ee.SiteID;


		end


commit transaction



end;


GO
