USE [dwh_test]
GO
/****** Object:  View [survey_views].[NFP_Los_Angeles_Outreach_Marketing]    Script Date: 11/27/2017 1:27:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [survey_views].[NFP_Los_Angeles_Outreach_Marketing] as select * from survey_views.f_select_NFP_Los_Angeles_Outreach_Marketing(null,null)
GO
