USE [dwh_test]
GO
/****** Object:  UserDefinedFunction [survey_views].[f_select_Agency_Profile_Update]    Script Date: 11/27/2017 1:27:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [survey_views].[f_select_Agency_Profile_Update]
(
	@p_requested_security_policy char(10)=null,
	@p_export_profile_id int=null
)
RETURNS 
@result TABLE 
(
SurveyResponseID bigint, 
ElementsProcessed int, 
SurveyID int, 
SurveyDate date, 
AuditDate datetime2, 
CL_EN_GEN_ID bigint, 
SiteID int, 
ProgramID int, 
IA_StaffID int, 
ClientID varchar(20), 
RespondentID int, 
AGENCY_FUNDING01_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING01_1_AMOUNT varchar(256), 
AGENCY_FUNDING01_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING01_1_END_DATE varchar(256), 
AGENCY_FUNDING01_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING01_1_START_DATE varchar(256), 
AGENCY_FUNDING01_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING02_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING02_1_AMOUNT varchar(256), 
AGENCY_FUNDING02_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING02_1_END_DATE varchar(256), 
AGENCY_FUNDING02_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING02_1_START_DATE varchar(256), 
AGENCY_FUNDING02_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING03_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING03_1_AMOUNT varchar(256), 
AGENCY_FUNDING03_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING03_1_END_DATE varchar(256), 
AGENCY_FUNDING03_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING03_1_START_DATE varchar(256), 
AGENCY_FUNDING03_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING04_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING04_1_AMOUNT varchar(256), 
AGENCY_FUNDING04_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING04_1_END_DATE varchar(256), 
AGENCY_FUNDING04_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING04_1_START_DATE varchar(256), 
AGENCY_FUNDING04_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING05_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING05_1_AMOUNT varchar(256), 
AGENCY_FUNDING05_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING05_1_END_DATE varchar(256), 
AGENCY_FUNDING05_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING05_1_START_DATE varchar(256), 
AGENCY_FUNDING05_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING06_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING06_1_AMOUNT varchar(256), 
AGENCY_FUNDING06_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING06_1_END_DATE varchar(256), 
AGENCY_FUNDING06_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING06_1_START_DATE varchar(256), 
AGENCY_FUNDING06_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING07_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING07_1_AMOUNT varchar(256), 
AGENCY_FUNDING07_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING07_1_END_DATE varchar(256), 
AGENCY_FUNDING07_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING07_1_START_DATE varchar(256), 
AGENCY_FUNDING07_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING08_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING08_1_AMOUNT varchar(256), 
AGENCY_FUNDING08_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING08_1_END_DATE varchar(256), 
AGENCY_FUNDING08_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING08_1_START_DATE varchar(256), 
AGENCY_FUNDING08_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING09_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING09_1_AMOUNT varchar(256), 
AGENCY_FUNDING09_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING09_1_END_DATE varchar(256), 
AGENCY_FUNDING09_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING09_1_START_DATE varchar(256), 
AGENCY_FUNDING09_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING10_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING10_1_AMOUNT varchar(256), 
AGENCY_FUNDING10_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING10_1_END_DATE varchar(256), 
AGENCY_FUNDING10_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING10_1_START_DATE varchar(256), 
AGENCY_FUNDING10_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING11_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING11_1_AMOUNT varchar(256), 
AGENCY_FUNDING11_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING11_1_END_DATE varchar(256), 
AGENCY_FUNDING11_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING11_1_START_DATE varchar(256), 
AGENCY_FUNDING11_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING12_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING12_1_AMOUNT varchar(256), 
AGENCY_FUNDING12_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING12_1_END_DATE varchar(256), 
AGENCY_FUNDING12_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING12_1_START_DATE varchar(256), 
AGENCY_FUNDING12_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING13_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING13_1_AMOUNT varchar(256), 
AGENCY_FUNDING13_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING13_1_END_DATE varchar(256), 
AGENCY_FUNDING13_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING13_1_START_DATE varchar(256), 
AGENCY_FUNDING13_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING14_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING14_1_AMOUNT varchar(256), 
AGENCY_FUNDING14_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING14_1_END_DATE varchar(256), 
AGENCY_FUNDING14_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING14_1_START_DATE varchar(256), 
AGENCY_FUNDING14_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING15_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING15_1_AMOUNT varchar(256), 
AGENCY_FUNDING15_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING15_1_END_DATE varchar(256), 
AGENCY_FUNDING15_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING15_1_START_DATE varchar(256), 
AGENCY_FUNDING15_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING16_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING16_1_AMOUNT varchar(256), 
AGENCY_FUNDING16_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING16_1_END_DATE varchar(256), 
AGENCY_FUNDING16_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING16_1_START_DATE varchar(256), 
AGENCY_FUNDING16_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING17_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING17_1_AMOUNT varchar(256), 
AGENCY_FUNDING17_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING17_1_END_DATE varchar(256), 
AGENCY_FUNDING17_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING17_1_START_DATE varchar(256), 
AGENCY_FUNDING17_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING18_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING18_1_AMOUNT varchar(256), 
AGENCY_FUNDING18_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING18_1_END_DATE varchar(256), 
AGENCY_FUNDING18_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING18_1_START_DATE varchar(256), 
AGENCY_FUNDING18_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING19_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING19_1_AMOUNT varchar(256), 
AGENCY_FUNDING19_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING19_1_END_DATE varchar(256), 
AGENCY_FUNDING19_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING19_1_START_DATE varchar(256), 
AGENCY_FUNDING19_MEDICAID_TYPE varchar(256), 
AGENCY_FUNDING20_0_FUNDER_NAME varchar(256), 
AGENCY_FUNDING20_1_AMOUNT varchar(256), 
AGENCY_FUNDING20_1_DF_GRANT_TYPE varchar(256), 
AGENCY_FUNDING20_1_END_DATE varchar(256), 
AGENCY_FUNDING20_1_FUNDER_TYPE varchar(256), 
AGENCY_FUNDING20_1_START_DATE varchar(256), 
AGENCY_FUNDING20_MEDICAID_TYPE varchar(256), 
AGENCY_INFO_1_CONTRACT_CAPACITY_FTE varchar(256), 
AGENCY_INFO_1_FUNDED_CAPACITY_FTE varchar(256), 
AGENCY_INFO_BOARD_0_MEETING_DATE01 varchar(256), 
AGENCY_INFO_BOARD_0_MEETING_DATE02 varchar(256), 
AGENCY_INFO_BOARD_0_MEETING_DATE03 varchar(256), 
AGENCY_INFO_BOARD_0_MEETING_DATE04 varchar(256), 
AGENCY_RESEARCH_0_INVOLVEMENT varchar(256), 
AGENCY_RESEARCH01_0_PROJECT_NAME varchar(256), 
AGENCY_RESEARCH01_1_APPROVAL varchar(256), 
AGENCY_RESEARCH01_1_END_DATE varchar(256), 
AGENCY_RESEARCH01_1_PI1 varchar(256), 
AGENCY_RESEARCH01_1_PROJECT_DESCRIPTION varchar(256), 
AGENCY_RESEARCH01_1_START_DATE varchar(256)
)
as
begin

insert into @result
select 
  
    fr.survey_response_id     as SurveyResponseID,
    1                         as ElementsProcessed,
    sq.master_survey_id       as SurveyID,
    dk.date_actual            as SurveyDate,
    xp.source_auditdate       as AuditDate,
    dc.client_key             as CL_EN_GEN_ID,
    xp.site_id                as SiteID,
    xp.programid              as ProgramID, 
    dn.nurse_id               as IA_StaffID,
    dc.client_id              as ClientID,
    null                      as RespondentID,
max(case sq.pseudonym when 'AGENCY_FUNDING01_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING01_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING01_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING01_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING01_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING01_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING01_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING01_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING01_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING01_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING01_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING01_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING01_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING01_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING02_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING02_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING02_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING02_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING02_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING02_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING02_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING02_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING02_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING02_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING02_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING02_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING02_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING02_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING03_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING03_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING03_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING03_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING03_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING03_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING03_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING03_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING03_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING03_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING03_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING03_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING03_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING03_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING04_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING04_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING04_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING04_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING04_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING04_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING04_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING04_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING04_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING04_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING04_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING04_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING04_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING04_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING05_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING05_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING05_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING05_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING05_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING05_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING05_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING05_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING05_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING05_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING05_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING05_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING05_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING05_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING06_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING06_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING06_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING06_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING06_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING06_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING06_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING06_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING06_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING06_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING06_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING06_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING06_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING06_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING07_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING07_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING07_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING07_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING07_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING07_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING07_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING07_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING07_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING07_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING07_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING07_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING07_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING07_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING08_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING08_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING08_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING08_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING08_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING08_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING08_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING08_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING08_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING08_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING08_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING08_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING08_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING08_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING09_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING09_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING09_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING09_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING09_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING09_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING09_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING09_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING09_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING09_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING09_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING09_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING09_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING09_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING10_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING10_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING10_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING10_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING10_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING10_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING10_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING10_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING10_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING10_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING10_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING10_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING10_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING10_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING11_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING11_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING11_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING11_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING11_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING11_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING11_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING11_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING11_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING11_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING11_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING11_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING11_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING11_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING12_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING12_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING12_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING12_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING12_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING12_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING12_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING12_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING12_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING12_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING12_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING12_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING12_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING12_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING13_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING13_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING13_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING13_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING13_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING13_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING13_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING13_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING13_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING13_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING13_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING13_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING13_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING13_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING14_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING14_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING14_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING14_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING14_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING14_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING14_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING14_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING14_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING14_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING14_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING14_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING14_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING14_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING15_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING15_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING15_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING15_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING15_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING15_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING15_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING15_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING15_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING15_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING15_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING15_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING15_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING15_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING16_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING16_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING16_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING16_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING16_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING16_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING16_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING16_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING16_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING16_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING16_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING16_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING16_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING16_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING17_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING17_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING17_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING17_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING17_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING17_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING17_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING17_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING17_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING17_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING17_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING17_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING17_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING17_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING18_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING18_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING18_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING18_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING18_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING18_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING18_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING18_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING18_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING18_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING18_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING18_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING18_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING18_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING19_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING19_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING19_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING19_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING19_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING19_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING19_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING19_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING19_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING19_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING19_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING19_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING19_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING19_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING20_0_FUNDER_NAME ' then  secured_value else null end) as AGENCY_FUNDING20_0_FUNDER_NAME,
max(case sq.pseudonym when 'AGENCY_FUNDING20_1_AMOUNT ' then  secured_value else null end) as AGENCY_FUNDING20_1_AMOUNT,
max(case sq.pseudonym when 'AGENCY_FUNDING20_1_DF_GRANT_TYPE ' then  secured_value else null end) as AGENCY_FUNDING20_1_DF_GRANT_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING20_1_END_DATE ' then  secured_value else null end) as AGENCY_FUNDING20_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING20_1_FUNDER_TYPE ' then  secured_value else null end) as AGENCY_FUNDING20_1_FUNDER_TYPE,
max(case sq.pseudonym when 'AGENCY_FUNDING20_1_START_DATE ' then  secured_value else null end) as AGENCY_FUNDING20_1_START_DATE,
max(case sq.pseudonym when 'AGENCY_FUNDING20_MEDICAID_TYPE ' then  secured_value else null end) as AGENCY_FUNDING20_MEDICAID_TYPE,
max(case sq.pseudonym when 'AGENCY_INFO_1_CONTRACT_CAPACITY_FTE ' then  secured_value else null end) as AGENCY_INFO_1_CONTRACT_CAPACITY_FTE,
max(case sq.pseudonym when 'AGENCY_INFO_1_FUNDED_CAPACITY_FTE ' then  secured_value else null end) as AGENCY_INFO_1_FUNDED_CAPACITY_FTE,
max(case sq.pseudonym when 'AGENCY_INFO_BOARD_0_MEETING_DATE01 ' then  secured_value else null end) as AGENCY_INFO_BOARD_0_MEETING_DATE01,
max(case sq.pseudonym when 'AGENCY_INFO_BOARD_0_MEETING_DATE02 ' then  secured_value else null end) as AGENCY_INFO_BOARD_0_MEETING_DATE02,
max(case sq.pseudonym when 'AGENCY_INFO_BOARD_0_MEETING_DATE03 ' then  secured_value else null end) as AGENCY_INFO_BOARD_0_MEETING_DATE03,
max(case sq.pseudonym when 'AGENCY_INFO_BOARD_0_MEETING_DATE04 ' then  secured_value else null end) as AGENCY_INFO_BOARD_0_MEETING_DATE04,
max(case sq.pseudonym when 'AGENCY_RESEARCH_0_INVOLVEMENT ' then  secured_value else null end) as AGENCY_RESEARCH_0_INVOLVEMENT,
max(case sq.pseudonym when 'AGENCY_RESEARCH01_0_PROJECT_NAME ' then  secured_value else null end) as AGENCY_RESEARCH01_0_PROJECT_NAME,
max(case sq.pseudonym when 'AGENCY_RESEARCH01_1_APPROVAL ' then  secured_value else null end) as AGENCY_RESEARCH01_1_APPROVAL,
max(case sq.pseudonym when 'AGENCY_RESEARCH01_1_END_DATE ' then  secured_value else null end) as AGENCY_RESEARCH01_1_END_DATE,
max(case sq.pseudonym when 'AGENCY_RESEARCH01_1_PI1 ' then  secured_value else null end) as AGENCY_RESEARCH01_1_PI1,
max(case sq.pseudonym when 'AGENCY_RESEARCH01_1_PROJECT_DESCRIPTION ' then  secured_value else null end) as AGENCY_RESEARCH01_1_PROJECT_DESCRIPTION,
max(case sq.pseudonym when 'AGENCY_RESEARCH01_1_START_DATE ' then  secured_value else null end) as AGENCY_RESEARCH01_1_START_DATE


   from survey_views.f_secure_fact_survey_response('Agency Profile Update',@p_requested_security_policy,@p_export_profile_id) fr  
 
     inner join dim_survey_question      sq on fr.survey_question_key          = sq.survey_question_key
    inner join  dim_date                dk on fr.survey_date_key              = dk.date_key
    inner join  xref_organization       xo on fr.organization_key             = xo.organization_key
    inner join  xref_program            xp on xo.programid                    = xp.programid
    inner join  dim_client              dc on dc.client_key                   = fr.client_key
    left  join  dim_nurse               dn on dn.nurse_key                    = fr.nurse_key -- all fsr have nurse id's?
  
   
  
  group by 
  
    fr.survey_response_id,
    sq.master_survey_id, 
    dk.date_actual,     
    xp.source_auditdate,
    dc.client_key,
    xp.site_id,  
    xp.programid,
    dn.nurse_id,
    dc.client_id;


return;
 
 
 
 end
 
GO
