USE [dwh_test]
GO
/****** Object:  View [survey_views].[New_Hire_V2]    Script Date: 11/27/2017 1:27:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [survey_views].[New_Hire_V2] as select * from survey_views.f_select_New_Hire_V2(null,null)
GO
