USE [dwh_test]
GO
/****** Object:  Table [survey_views].[ExportEntities]    Script Date: 11/27/2017 1:28:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [survey_views].[ExportEntities](
	[ExportProfileID] [int] NOT NULL,
	[ExportEntitiesID] [bigint] IDENTITY(1,1) NOT NULL,
	[SiteID] [int] NULL,
	[AgencyName] [nvarchar](200) NULL,
	[State] [varchar](2) NULL,
	[ExcludeTribal] [int] NULL,
	[ExportDisabled] [bit] NULL,
 CONSTRAINT [PK_ExportEntities] PRIMARY KEY CLUSTERED 
(
	[ExportEntitiesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [survey_views].[ExportEntities] ON 

INSERT [survey_views].[ExportEntities] ([ExportProfileID], [ExportEntitiesID], [SiteID], [AgencyName], [State], [ExcludeTribal], [ExportDisabled]) VALUES (1, 1042, 288, N'ADH Nurse-Family Partnership', N'AR', 0, NULL)
INSERT [survey_views].[ExportEntities] ([ExportProfileID], [ExportEntitiesID], [SiteID], [AgencyName], [State], [ExcludeTribal], [ExportDisabled]) VALUES (3, 1044, 170, N'Care Ring NFP', N'NC', 0, NULL)
INSERT [survey_views].[ExportEntities] ([ExportProfileID], [ExportEntitiesID], [SiteID], [AgencyName], [State], [ExcludeTribal], [ExportDisabled]) VALUES (4, 1045, 289, N'Goodwill Indy NFP', N'IN', 0, NULL)
GO
SET IDENTITY_INSERT [survey_views].[ExportEntities] OFF
