USE [dwh_test]
GO
/****** Object:  UserDefinedFunction [survey_views].[f_select_Infant_Birth]    Script Date: 11/27/2017 1:27:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [survey_views].[f_select_Infant_Birth]
(
	@p_requested_security_policy char(10)=null,
	@p_export_profile_id int=null
)
RETURNS 
@result TABLE 
(
SurveyResponseID int, 
ElementsProcessed int, 
SurveyID int, 
SurveyDate date, 
AuditDate datetime2, 
CL_EN_GEN_ID bigint, 
SiteID int, 
ProgramID int, 
IA_StaffID int, 
ClientID varchar(20), 
RespondentID int, 
CLIENT_0_ID_AGENCY varchar(256), 
CLIENT_0_ID_NSO varchar(256), 
CLIENT_PERSONAL_0_NAME_FIRST varchar(256), 
CLIENT_PERSONAL_0_NAME_LAST varchar(256), 
CLIENT_WEIGHT_0_PREG_GAIN varchar(256), 
INFANT_0_ID_NSO varchar(256), 
INFANT_0_ID_NSO2 varchar(256), 
INFANT_0_ID_NSO3 varchar(256), 
INFANT_BIRTH_0_CLIENT_ER varchar(256), 
INFANT_BIRTH_0_CLIENT_ER_TIMES varchar(256), 
[INFANT_BIRTH_0_CLIENT_URGENT CARE] varchar(256), 
[INFANT_BIRTH_0_CLIENT_URGENT CARE_TIMES] varchar(256), 
INFANT_BIRTH_0_DOB varchar(256), 
INFANT_BIRTH_0_DOB2 varchar(256), 
INFANT_BIRTH_0_DOB3 varchar(256), 
INFANT_BIRTH_1_DELIVERY varchar(256), 
INFANT_BIRTH_1_GEST_AGE varchar(256), 
INFANT_BIRTH_1_GEST_AGE2 varchar(256), 
INFANT_BIRTH_1_GEST_AGE3 varchar(256), 
INFANT_BIRTH_1_HEARING_SCREEN varchar(256), 
INFANT_BIRTH_1_HEARING_SCREEN2 varchar(256), 
INFANT_BIRTH_1_HEARING_SCREEN3 varchar(256), 
INFANT_BIRTH_1_LABOR varchar(256), 
INFANT_BIRTH_1_MULTIPLE_BIRTHS varchar(256), 
INFANT_BIRTH_1_NEWBORN_SCREEN varchar(256), 
INFANT_BIRTH_1_NEWBORN_SCREEN2 varchar(256), 
INFANT_BIRTH_1_NEWBORN_SCREEN3 varchar(256), 
INFANT_BIRTH_1_NICU varchar(256), 
INFANT_BIRTH_1_NICU_DAYS varchar(256), 
INFANT_BIRTH_1_NICU_DAYS_R2 varchar(256), 
INFANT_BIRTH_1_NICU_DAYS_R2_2 varchar(256), 
INFANT_BIRTH_1_NICU_DAYS_R2_3 varchar(256), 
INFANT_BIRTH_1_NICU_DAYS2 varchar(256), 
INFANT_BIRTH_1_NICU_DAYS3 varchar(256), 
INFANT_BIRTH_1_NICU_NURSERY_PURPOSE varchar(256), 
INFANT_BIRTH_1_NICU_NURSERY_PURPOSE_OTHER varchar(256), 
INFANT_BIRTH_1_NICU_NURSERY_PURPOSE_OTHER2 varchar(256), 
INFANT_BIRTH_1_NICU_NURSERY_PURPOSE_OTHER3 varchar(256), 
INFANT_BIRTH_1_NICU_NURSERY_PURPOSE2 varchar(256), 
INFANT_BIRTH_1_NICU_NURSERY_PURPOSE3 varchar(256), 
INFANT_BIRTH_1_NICU_R2 varchar(256), 
INFANT_BIRTH_1_NICU_R2_2 varchar(256), 
INFANT_BIRTH_1_NICU_R2_3 varchar(256), 
INFANT_BIRTH_1_NICU2 varchar(256), 
INFANT_BIRTH_1_NICU3 varchar(256), 
INFANT_BIRTH_1_NURSERY_DAYS_R2 varchar(256), 
INFANT_BIRTH_1_NURSERY_DAYS_R2_2 varchar(256), 
INFANT_BIRTH_1_NURSERY_DAYS_R2_3 varchar(256), 
INFANT_BIRTH_1_NURSERY_R2 varchar(256), 
INFANT_BIRTH_1_NURSERY_R2_2 varchar(256), 
INFANT_BIRTH_1_NURSERY_R2_3 varchar(256), 
INFANT_BIRTH_1_WEIGHT_CONVERT_GRAMS varchar(256), 
INFANT_BIRTH_1_WEIGHT_CONVERT_GRAMS2 varchar(256), 
INFANT_BIRTH_1_WEIGHT_CONVERT_GRAMS3 varchar(256), 
INFANT_BIRTH_1_WEIGHT_GRAMS varchar(256), 
INFANT_BIRTH_1_WEIGHT_GRAMS2 varchar(256), 
INFANT_BIRTH_1_WEIGHT_GRAMS3 varchar(256), 
INFANT_BIRTH_1_WEIGHT_MEASURE varchar(256), 
INFANT_BIRTH_1_WEIGHT_MEASURE2 varchar(256), 
INFANT_BIRTH_1_WEIGHT_MEASURE3 varchar(256), 
INFANT_BIRTH_1_WEIGHT_OUNCES varchar(256), 
INFANT_BIRTH_1_WEIGHT_OUNCES2 varchar(256), 
INFANT_BIRTH_1_WEIGHT_OUNCES3 varchar(256), 
INFANT_BIRTH_1_WEIGHT_POUNDS varchar(256), 
INFANT_BIRTH_1_WEIGHT_POUNDS2 varchar(256), 
INFANT_BIRTH_1_WEIGHT_POUNDS3 varchar(256), 
INFANT_BIRTH_COSLEEP varchar(256), 
INFANT_BIRTH_COSLEEP2 varchar(256), 
INFANT_BIRTH_COSLEEP3 varchar(256), 
INFANT_BIRTH_READ varchar(256), 
INFANT_BIRTH_READ2 varchar(256), 
INFANT_BIRTH_READ3 varchar(256), 
INFANT_BIRTH_SLEEP_BACK varchar(256), 
INFANT_BIRTH_SLEEP_BACK2 varchar(256), 
INFANT_BIRTH_SLEEP_BACK3 varchar(256), 
INFANT_BIRTH_SLEEP_BEDDING varchar(256), 
INFANT_BIRTH_SLEEP_BEDDING2 varchar(256), 
INFANT_BIRTH_SLEEP_BEDDING3 varchar(256), 
INFANT_BREASTMILK_0_EVER_BIRTH varchar(256), 
INFANT_BREASTMILK_0_EVER_BIRTH2 varchar(256), 
INFANT_BREASTMILK_0_EVER_BIRTH3 varchar(256), 
INFANT_INSURANCE varchar(256), 
INFANT_INSURANCE_OTHER varchar(256), 
INFANT_INSURANCE_OTHER2 varchar(256), 
INFANT_INSURANCE_OTHER3 varchar(256), 
INFANT_INSURANCE_TYPE varchar(256), 
INFANT_INSURANCE_TYPE2 varchar(256), 
INFANT_INSURANCE_TYPE3 varchar(256), 
INFANT_INSURANCE2 varchar(256), 
INFANT_INSURANCE3 varchar(256), 
INFANT_PERSONAL_0_ETHNICITY varchar(256), 
INFANT_PERSONAL_0_ETHNICITY2 varchar(256), 
INFANT_PERSONAL_0_ETHNICITY3 varchar(256), 
[INFANT_PERSONAL_0_FIRST NAME] varchar(256), 
[INFANT_PERSONAL_0_FIRST NAME2] varchar(256), 
[INFANT_PERSONAL_0_FIRST NAME3] varchar(256), 
INFANT_PERSONAL_0_GENDER varchar(256), 
INFANT_PERSONAL_0_GENDER2 varchar(256), 
INFANT_PERSONAL_0_GENDER3 varchar(256), 
[INFANT_PERSONAL_0_LAST NAME] varchar(256), 
INFANT_PERSONAL_0_RACE varchar(256), 
INFANT_PERSONAL_0_RACE2 varchar(256), 
INFANT_PERSONAL_0_RACE3 varchar(256), 
NURSE_PERSONAL_0_NAME varchar(256)
)
as
begin

insert into @result
select 
  
    fr.survey_response_id     as SurveyResponseID,
    1                         as ElementsProcessed,
    sq.master_survey_id       as SurveyID,
    dk.date_actual            as SurveyDate,
    xp.source_auditdate       as AuditDate,
    dc.client_key             as CL_EN_GEN_ID,
    xp.site_id                as SiteID,
    xp.programid              as ProgramID, 
    dn.nurse_id               as IA_StaffID,
    dc.client_id              as ClientID,
    null                      as RespondentID,
	max(case sq.pseudonym when 'CLIENT_0_ID_AGENCY ' then  secured_value else null end) as CLIENT_0_ID_AGENCY,
	max(case sq.pseudonym when 'CLIENT_0_ID_NSO ' then  secured_value else null end) as CLIENT_0_ID_NSO,
	max(case sq.pseudonym when 'CLIENT_PERSONAL_0_NAME_FIRST ' then  secured_value else null end) as CLIENT_PERSONAL_0_NAME_FIRST,
	max(case sq.pseudonym when 'CLIENT_PERSONAL_0_NAME_LAST ' then  secured_value else null end) as CLIENT_PERSONAL_0_NAME_LAST,
	max(case sq.pseudonym when 'CLIENT_WEIGHT_0_PREG_GAIN ' then  secured_value else null end) as CLIENT_WEIGHT_0_PREG_GAIN,
	max(case sq.pseudonym when 'INFANT_0_ID_NSO ' then  secured_value else null end) as INFANT_0_ID_NSO,
	max(case sq.pseudonym when 'INFANT_0_ID_NSO2 ' then  secured_value else null end) as INFANT_0_ID_NSO2,
	max(case sq.pseudonym when 'INFANT_0_ID_NSO3 ' then  secured_value else null end) as INFANT_0_ID_NSO3,
	max(case sq.pseudonym when 'INFANT_BIRTH_0_CLIENT_ER ' then  secured_value else null end) as INFANT_BIRTH_0_CLIENT_ER,
	max(case sq.pseudonym when 'INFANT_BIRTH_0_CLIENT_ER_TIMES ' then  secured_value else null end) as INFANT_BIRTH_0_CLIENT_ER_TIMES,
	max(case sq.pseudonym when 'INFANT_BIRTH_0_CLIENT_URGENT CARE ' then  secured_value else null end) as [INFANT_BIRTH_0_CLIENT_URGENT CARE],
	max(case sq.pseudonym when 'INFANT_BIRTH_0_CLIENT_URGENT CARE_TIMES ' then  secured_value else null end) as [INFANT_BIRTH_0_CLIENT_URGENT CARE_TIMES],
	max(case sq.pseudonym when 'INFANT_BIRTH_0_DOB ' then  secured_value else null end) as INFANT_BIRTH_0_DOB,
	max(case sq.pseudonym when 'INFANT_BIRTH_0_DOB2 ' then  secured_value else null end) as INFANT_BIRTH_0_DOB2,
	max(case sq.pseudonym when 'INFANT_BIRTH_0_DOB3 ' then  secured_value else null end) as INFANT_BIRTH_0_DOB3,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_DELIVERY ' then  secured_value else null end) as INFANT_BIRTH_1_DELIVERY,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_GEST_AGE ' then  secured_value else null end) as INFANT_BIRTH_1_GEST_AGE,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_GEST_AGE2 ' then  secured_value else null end) as INFANT_BIRTH_1_GEST_AGE2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_GEST_AGE3 ' then  secured_value else null end) as INFANT_BIRTH_1_GEST_AGE3,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_HEARING_SCREEN ' then  secured_value else null end) as INFANT_BIRTH_1_HEARING_SCREEN,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_HEARING_SCREEN2 ' then  secured_value else null end) as INFANT_BIRTH_1_HEARING_SCREEN2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_HEARING_SCREEN3 ' then  secured_value else null end) as INFANT_BIRTH_1_HEARING_SCREEN3,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_LABOR ' then  secured_value else null end) as INFANT_BIRTH_1_LABOR,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_MULTIPLE_BIRTHS ' then  secured_value else null end) as INFANT_BIRTH_1_MULTIPLE_BIRTHS,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NEWBORN_SCREEN ' then  secured_value else null end) as INFANT_BIRTH_1_NEWBORN_SCREEN,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NEWBORN_SCREEN2 ' then  secured_value else null end) as INFANT_BIRTH_1_NEWBORN_SCREEN2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NEWBORN_SCREEN3 ' then  secured_value else null end) as INFANT_BIRTH_1_NEWBORN_SCREEN3,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NICU ' then  secured_value else null end) as INFANT_BIRTH_1_NICU,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NICU_DAYS ' then  secured_value else null end) as INFANT_BIRTH_1_NICU_DAYS,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NICU_DAYS_R2 ' then  secured_value else null end) as INFANT_BIRTH_1_NICU_DAYS_R2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NICU_DAYS_R2_2 ' then  secured_value else null end) as INFANT_BIRTH_1_NICU_DAYS_R2_2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NICU_DAYS_R2_3 ' then  secured_value else null end) as INFANT_BIRTH_1_NICU_DAYS_R2_3,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NICU_DAYS2 ' then  secured_value else null end) as INFANT_BIRTH_1_NICU_DAYS2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NICU_DAYS3 ' then  secured_value else null end) as INFANT_BIRTH_1_NICU_DAYS3,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NICU_NURSERY_PURPOSE ' then  secured_value else null end) as INFANT_BIRTH_1_NICU_NURSERY_PURPOSE,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NICU_NURSERY_PURPOSE_OTHER ' then  secured_value else null end) as INFANT_BIRTH_1_NICU_NURSERY_PURPOSE_OTHER,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NICU_NURSERY_PURPOSE_OTHER2 ' then  secured_value else null end) as INFANT_BIRTH_1_NICU_NURSERY_PURPOSE_OTHER2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NICU_NURSERY_PURPOSE_OTHER3 ' then  secured_value else null end) as INFANT_BIRTH_1_NICU_NURSERY_PURPOSE_OTHER3,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NICU_NURSERY_PURPOSE2 ' then  secured_value else null end) as INFANT_BIRTH_1_NICU_NURSERY_PURPOSE2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NICU_NURSERY_PURPOSE3 ' then  secured_value else null end) as INFANT_BIRTH_1_NICU_NURSERY_PURPOSE3,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NICU_R2 ' then  secured_value else null end) as INFANT_BIRTH_1_NICU_R2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NICU_R2_2 ' then  secured_value else null end) as INFANT_BIRTH_1_NICU_R2_2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NICU_R2_3 ' then  secured_value else null end) as INFANT_BIRTH_1_NICU_R2_3,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NICU2 ' then  secured_value else null end) as INFANT_BIRTH_1_NICU2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NICU3 ' then  secured_value else null end) as INFANT_BIRTH_1_NICU3,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NURSERY_DAYS_R2 ' then  secured_value else null end) as INFANT_BIRTH_1_NURSERY_DAYS_R2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NURSERY_DAYS_R2_2 ' then  secured_value else null end) as INFANT_BIRTH_1_NURSERY_DAYS_R2_2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NURSERY_DAYS_R2_3 ' then  secured_value else null end) as INFANT_BIRTH_1_NURSERY_DAYS_R2_3,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NURSERY_R2 ' then  secured_value else null end) as INFANT_BIRTH_1_NURSERY_R2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NURSERY_R2_2 ' then  secured_value else null end) as INFANT_BIRTH_1_NURSERY_R2_2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_NURSERY_R2_3 ' then  secured_value else null end) as INFANT_BIRTH_1_NURSERY_R2_3,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_WEIGHT_CONVERT_GRAMS ' then  secured_value else null end) as INFANT_BIRTH_1_WEIGHT_CONVERT_GRAMS,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_WEIGHT_CONVERT_GRAMS2 ' then  secured_value else null end) as INFANT_BIRTH_1_WEIGHT_CONVERT_GRAMS2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_WEIGHT_CONVERT_GRAMS3 ' then  secured_value else null end) as INFANT_BIRTH_1_WEIGHT_CONVERT_GRAMS3,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_WEIGHT_GRAMS ' then  secured_value else null end) as INFANT_BIRTH_1_WEIGHT_GRAMS,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_WEIGHT_GRAMS2 ' then  secured_value else null end) as INFANT_BIRTH_1_WEIGHT_GRAMS2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_WEIGHT_GRAMS3 ' then  secured_value else null end) as INFANT_BIRTH_1_WEIGHT_GRAMS3,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_WEIGHT_MEASURE ' then  secured_value else null end) as INFANT_BIRTH_1_WEIGHT_MEASURE,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_WEIGHT_MEASURE2 ' then  secured_value else null end) as INFANT_BIRTH_1_WEIGHT_MEASURE2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_WEIGHT_MEASURE3 ' then  secured_value else null end) as INFANT_BIRTH_1_WEIGHT_MEASURE3,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_WEIGHT_OUNCES ' then  secured_value else null end) as INFANT_BIRTH_1_WEIGHT_OUNCES,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_WEIGHT_OUNCES2 ' then  secured_value else null end) as INFANT_BIRTH_1_WEIGHT_OUNCES2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_WEIGHT_OUNCES3 ' then  secured_value else null end) as INFANT_BIRTH_1_WEIGHT_OUNCES3,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_WEIGHT_POUNDS ' then  secured_value else null end) as INFANT_BIRTH_1_WEIGHT_POUNDS,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_WEIGHT_POUNDS2 ' then  secured_value else null end) as INFANT_BIRTH_1_WEIGHT_POUNDS2,
	max(case sq.pseudonym when 'INFANT_BIRTH_1_WEIGHT_POUNDS3 ' then  secured_value else null end) as INFANT_BIRTH_1_WEIGHT_POUNDS3,
	max(case sq.pseudonym when 'INFANT_BIRTH_COSLEEP ' then  secured_value else null end) as INFANT_BIRTH_COSLEEP,
	max(case sq.pseudonym when 'INFANT_BIRTH_COSLEEP2 ' then  secured_value else null end) as INFANT_BIRTH_COSLEEP2,
	max(case sq.pseudonym when 'INFANT_BIRTH_COSLEEP3 ' then  secured_value else null end) as INFANT_BIRTH_COSLEEP3,
	max(case sq.pseudonym when 'INFANT_BIRTH_READ ' then  secured_value else null end) as INFANT_BIRTH_READ,
	max(case sq.pseudonym when 'INFANT_BIRTH_READ2 ' then  secured_value else null end) as INFANT_BIRTH_READ2,
	max(case sq.pseudonym when 'INFANT_BIRTH_READ3 ' then  secured_value else null end) as INFANT_BIRTH_READ3,
	max(case sq.pseudonym when 'INFANT_BIRTH_SLEEP_BACK ' then  secured_value else null end) as INFANT_BIRTH_SLEEP_BACK,
	max(case sq.pseudonym when 'INFANT_BIRTH_SLEEP_BACK2 ' then  secured_value else null end) as INFANT_BIRTH_SLEEP_BACK2,
	max(case sq.pseudonym when 'INFANT_BIRTH_SLEEP_BACK3 ' then  secured_value else null end) as INFANT_BIRTH_SLEEP_BACK3,
	max(case sq.pseudonym when 'INFANT_BIRTH_SLEEP_BEDDING ' then  secured_value else null end) as INFANT_BIRTH_SLEEP_BEDDING,
	max(case sq.pseudonym when 'INFANT_BIRTH_SLEEP_BEDDING2 ' then  secured_value else null end) as INFANT_BIRTH_SLEEP_BEDDING2,
	max(case sq.pseudonym when 'INFANT_BIRTH_SLEEP_BEDDING3 ' then  secured_value else null end) as INFANT_BIRTH_SLEEP_BEDDING3,
	max(case sq.pseudonym when 'INFANT_BREASTMILK_0_EVER_BIRTH ' then  secured_value else null end) as INFANT_BREASTMILK_0_EVER_BIRTH,
	max(case sq.pseudonym when 'INFANT_BREASTMILK_0_EVER_BIRTH2 ' then  secured_value else null end) as INFANT_BREASTMILK_0_EVER_BIRTH2,
	max(case sq.pseudonym when 'INFANT_BREASTMILK_0_EVER_BIRTH3 ' then  secured_value else null end) as INFANT_BREASTMILK_0_EVER_BIRTH3,
	max(case sq.pseudonym when 'INFANT_INSURANCE ' then  secured_value else null end) as INFANT_INSURANCE,
	max(case sq.pseudonym when 'INFANT_INSURANCE_OTHER ' then  secured_value else null end) as INFANT_INSURANCE_OTHER,
	max(case sq.pseudonym when 'INFANT_INSURANCE_OTHER2 ' then  secured_value else null end) as INFANT_INSURANCE_OTHER2,
	max(case sq.pseudonym when 'INFANT_INSURANCE_OTHER3 ' then  secured_value else null end) as INFANT_INSURANCE_OTHER3,
	max(case sq.pseudonym when 'INFANT_INSURANCE_TYPE ' then  secured_value else null end) as INFANT_INSURANCE_TYPE,
	max(case sq.pseudonym when 'INFANT_INSURANCE_TYPE2 ' then  secured_value else null end) as INFANT_INSURANCE_TYPE2,
	max(case sq.pseudonym when 'INFANT_INSURANCE_TYPE3 ' then  secured_value else null end) as INFANT_INSURANCE_TYPE3,
	max(case sq.pseudonym when 'INFANT_INSURANCE2 ' then  secured_value else null end) as INFANT_INSURANCE2,
	max(case sq.pseudonym when 'INFANT_INSURANCE3 ' then  secured_value else null end) as INFANT_INSURANCE3,
	max(case sq.pseudonym when 'INFANT_PERSONAL_0_ETHNICITY ' then  secured_value else null end) as INFANT_PERSONAL_0_ETHNICITY,
	max(case sq.pseudonym when 'INFANT_PERSONAL_0_ETHNICITY2 ' then  secured_value else null end) as INFANT_PERSONAL_0_ETHNICITY2,
	max(case sq.pseudonym when 'INFANT_PERSONAL_0_ETHNICITY3 ' then  secured_value else null end) as INFANT_PERSONAL_0_ETHNICITY3,
	max(case sq.pseudonym when 'INFANT_PERSONAL_0_FIRST NAME ' then  secured_value else null end) as [INFANT_PERSONAL_0_FIRST NAME],
	max(case sq.pseudonym when 'INFANT_PERSONAL_0_FIRST NAME2 ' then  secured_value else null end) as [INFANT_PERSONAL_0_FIRST NAME2],
	max(case sq.pseudonym when 'INFANT_PERSONAL_0_FIRST NAME3 ' then  secured_value else null end) as [INFANT_PERSONAL_0_FIRST NAME3],
	max(case sq.pseudonym when 'INFANT_PERSONAL_0_GENDER ' then  secured_value else null end) as INFANT_PERSONAL_0_GENDER,
	max(case sq.pseudonym when 'INFANT_PERSONAL_0_GENDER2 ' then  secured_value else null end) as INFANT_PERSONAL_0_GENDER2,
	max(case sq.pseudonym when 'INFANT_PERSONAL_0_GENDER3 ' then  secured_value else null end) as INFANT_PERSONAL_0_GENDER3,
	max(case sq.pseudonym when 'INFANT_PERSONAL_0_LAST NAME ' then  secured_value else null end) as [INFANT_PERSONAL_0_LAST NAME],
	max(case sq.pseudonym when 'INFANT_PERSONAL_0_RACE ' then  secured_value else null end) as INFANT_PERSONAL_0_RACE,
	max(case sq.pseudonym when 'INFANT_PERSONAL_0_RACE2 ' then  secured_value else null end) as INFANT_PERSONAL_0_RACE2,
	max(case sq.pseudonym when 'INFANT_PERSONAL_0_RACE3 ' then  secured_value else null end) as INFANT_PERSONAL_0_RACE3,
	max(case sq.pseudonym when 'NURSE_PERSONAL_0_NAME ' then  secured_value else null end) as NURSE_PERSONAL_0_NAME


  from survey_views.f_secure_fact_survey_response('Infant Birth',@p_requested_security_policy,@p_export_profile_id) fr 
   
    inner join dim_survey_question      sq on fr.survey_question_key          = sq.survey_question_key
    inner join  dim_date                dk on fr.survey_date_key              = dk.date_key
    inner join  xref_organization       xo on fr.organization_key             = xo.organization_key
    inner join  xref_program            xp on xo.programid                    = xp.programid
    inner join  dim_client              dc on dc.client_key                   = fr.client_key
    left  join  dim_nurse               dn on dn.nurse_key                    = fr.nurse_key -- all fsr have nurse id's?
  
  where 
    sq.survey_name = 'Infant Birth'
  
  group by 
  
    fr.survey_response_id,
    sq.master_survey_id, 
    dk.date_actual,     
    xp.source_auditdate,
    dc.client_key,
    xp.site_id,  
    xp.programid,
    dn.nurse_id,
    dc.client_id;

	return;

end

GO
