USE [dwh_test]
GO
/****** Object:  Table [survey_views].[ExportProfile]    Script Date: 11/27/2017 1:28:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [survey_views].[ExportProfile](
	[ExportProfileID] [int] IDENTITY(1,1) NOT NULL,
	[ProfileName] [nvarchar](200) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[ExportTypeID] [int] NULL,
	[EntityID] [bigint] NULL,
	[Active] [bit] NULL,
	[Web3FTPPath] [nvarchar](200) NULL,
	[Web3FTPFolder] [nvarchar](100) NULL,
	[IsSingleSite] [bit] NULL,
	[ExportDT] [datetime] NULL,
	[PublicKey] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [survey_views].[ExportProfile] ON 

INSERT [survey_views].[ExportProfile] ([ExportProfileID], [ProfileName], [StartDate], [EndDate], [ExportTypeID], [EntityID], [Active], [Web3FTPPath], [Web3FTPFolder], [IsSingleSite], [ExportDT], [PublicKey]) VALUES (1, N'Arkansas DOH', CAST(N'2012-10-17' AS Date), NULL, 0, NULL, 0, N'\\web3\UserFolders', N'AR_DOH', 0, CAST(N'2017-11-08T01:00:57.897' AS DateTime), NULL)
INSERT [survey_views].[ExportProfile] ([ExportProfileID], [ProfileName], [StartDate], [EndDate], [ExportTypeID], [EntityID], [Active], [Web3FTPPath], [Web3FTPFolder], [IsSingleSite], [ExportDT], [PublicKey]) VALUES (2, N'Brighter Futures NFP', CAST(N'2011-06-29' AS Date), NULL, 0, NULL, 0, N'\\web3\UserFolders', N'daytonoh', 0, CAST(N'2016-03-08T12:15:34.877' AS DateTime), NULL)
INSERT [survey_views].[ExportProfile] ([ExportProfileID], [ProfileName], [StartDate], [EndDate], [ExportTypeID], [EntityID], [Active], [Web3FTPPath], [Web3FTPFolder], [IsSingleSite], [ExportDT], [PublicKey]) VALUES (3, N'Care Ring NFP', CAST(N'2011-12-14' AS Date), NULL, 0, NULL, 0, N'\\web3\UserFolders', N'Care_Ring', 0, CAST(N'2017-11-08T01:21:30.870' AS DateTime), NULL)
SET IDENTITY_INSERT [survey_views].[ExportProfile] OFF
