USE [dwh_test]
GO
/****** Object:  Table [survey_views].[pseudo_security]    Script Date: 11/27/2017 1:28:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [survey_views].[pseudo_security](
	[pseudonym] [varchar](150) NULL,
	[policy_codifier] [char](10) NULL
) ON [PRIMARY]
GO
INSERT [survey_views].[pseudo_security] ([pseudonym], [policy_codifier]) VALUES (N'Address1', N'DUA       ')
INSERT [survey_views].[pseudo_security] ([pseudonym], [policy_codifier]) VALUES (N'Address2', N'DUA       ')
INSERT [survey_views].[pseudo_security] ([pseudonym], [policy_codifier]) VALUES (N'CaseNumber', N'DUA       ')
GO
