USE [dwh_test]
GO
/****** Object:  UserDefinedFunction [survey_views].[f_select_Home_Visit_Encounter]    Script Date: 11/27/2017 1:27:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [survey_views].[f_select_Home_Visit_Encounter]
(
	@p_requested_security_policy char(10)=null,
	@p_export_profile_id int=null
)
RETURNS 
@result TABLE 
(
SurveyResponseID int, 
ElementsProcessed int, 
SurveyID int, 
SurveyDate date, 
AuditDate datetime2, 
CL_EN_GEN_ID bigint, 
SiteID int, 
ProgramID int, 
IA_StaffID int, 
ClientID varchar(20), 
RespondentID int, 
CLIENT_0_ID_AGENCY varchar(256), 
CLIENT_0_ID_NSO varchar(256), 
CLIENT_ATTENDEES_0_AT_VISIT varchar(256), 
CLIENT_ATTENDEES_0_OTHER_VISIT_DESC varchar(256), 
CLIENT_CHILD_DEVELOPMENT_CONCERN varchar(256), 
CLIENT_CHILD_INJURY_0_PREVENTION varchar(256), 
CLIENT_COMPLETE_0_VISIT varchar(256), 
CLIENT_CONFLICT_0_CLIENT_VISIT varchar(256), 
CLIENT_CONFLICT_1_GRNDMTHR_VISIT varchar(256), 
CLIENT_CONFLICT_1_PARTNER_VISIT varchar(256), 
CLIENT_CONT_HLTH_INS varchar(256), 
CLIENT_CONTENT_0_PERCENT_VISIT varchar(256), 
CLIENT_DOMAIN_0_ENVIRONHLTH_VISIT varchar(256), 
CLIENT_DOMAIN_0_FRNDFAM_VISIT varchar(256), 
CLIENT_DOMAIN_0_LIFECOURSE_VISIT varchar(256), 
CLIENT_DOMAIN_0_MATERNAL_VISIT varchar(256), 
CLIENT_DOMAIN_0_PERSHLTH_VISIT varchar(256), 
CLIENT_DOMAIN_0_TOTAL_VISIT varchar(256), 
CLIENT_INVOLVE_0_CLIENT_VISIT varchar(256), 
CLIENT_INVOLVE_1_GRNDMTHR_VISIT varchar(256), 
CLIENT_INVOLVE_1_PARTNER_VISIT varchar(256), 
CLIENT_IPV_0_SAFETY_PLAN varchar(256), 
CLIENT_LOCATION_0_VISIT varchar(256), 
CLIENT_NO_REFERRAL varchar(256), 
CLIENT_PERSONAL_0_DOB_INTAKE varchar(256), 
CLIENT_PERSONAL_0_NAME_FIRST varchar(256), 
CLIENT_PERSONAL_0_NAME_LAST varchar(256), 
CLIENT_PLANNED_VISIT_SCH varchar(256), 
CLIENT_PRENATAL_VISITS varchar(256), 
CLIENT_PRENATAL_VISITS_WEEKS varchar(256), 
CLIENT_SCREENED_SRVCS varchar(256), 
CLIENT_TIME_0_START_VISIT varchar(256), 
CLIENT_TIME_1_DURATION_VISIT varchar(256), 
CLIENT_TIME_1_END_VISIT varchar(256), 
CLIENT_TIME_FROM_AMPM varchar(256), 
CLIENT_TIME_FROM_HR varchar(256), 
CLIENT_TIME_FROM_MIN varchar(256), 
CLIENT_TIME_TO_AMPM varchar(256), 
CLIENT_TIME_TO_HR varchar(256), 
CLIENT_TIME_TO_MIN varchar(256), 
CLIENT_UNDERSTAND_0_CLIENT_VISIT varchar(256), 
CLIENT_UNDERSTAND_1_GRNDMTHR_VISIT varchar(256), 
CLIENT_UNDERSTAND_1_PARTNER_VISIT varchar(256), 
CLIENT_VISIT_SCHEDULE varchar(256), 
INFANT_HEALTH_ER_0_HAD_VISIT varchar(256), 
INFANT_HEALTH_ER_1_INGEST_DATE1 varchar(256), 
INFANT_HEALTH_ER_1_INGEST_DATE2 varchar(256), 
INFANT_HEALTH_ER_1_INGEST_DATE3 varchar(256), 
INFANT_HEALTH_ER_1_INGEST_DAYS1 varchar(256), 
INFANT_HEALTH_ER_1_INGEST_DAYS2 varchar(256), 
INFANT_HEALTH_ER_1_INGEST_DAYS3 varchar(256), 
INFANT_HEALTH_ER_1_INGEST_ERvsUC1 varchar(256), 
INFANT_HEALTH_ER_1_INGEST_ERvsUC2 varchar(256), 
INFANT_HEALTH_ER_1_INGEST_ERvsUC3 varchar(256), 
INFANT_HEALTH_ER_1_INGEST_TREAT1 varchar(256), 
INFANT_HEALTH_ER_1_INGEST_TREAT2 varchar(256), 
INFANT_HEALTH_ER_1_INGEST_TREAT3 varchar(256), 
INFANT_HEALTH_ER_1_INJ_DATE1 varchar(256), 
INFANT_HEALTH_ER_1_INJ_DATE2 varchar(256), 
INFANT_HEALTH_ER_1_INJ_DATE3 varchar(256), 
INFANT_HEALTH_ER_1_INJ_DAYS1 varchar(256), 
INFANT_HEALTH_ER_1_INJ_DAYS2 varchar(256), 
INFANT_HEALTH_ER_1_INJ_DAYS3 varchar(256), 
INFANT_HEALTH_ER_1_INJ_ERvsUC1 varchar(256), 
INFANT_HEALTH_ER_1_INJ_ERvsUC2 varchar(256), 
INFANT_HEALTH_ER_1_INJ_ERvsUC3 varchar(256), 
INFANT_HEALTH_ER_1_INJ_TREAT1 varchar(256), 
INFANT_HEALTH_ER_1_INJ_TREAT2 varchar(256), 
INFANT_HEALTH_ER_1_INJ_TREAT3 varchar(256), 
INFANT_HEALTH_ER_1_OTHER varchar(256), 
INFANT_HEALTH_ER_1_OTHER_ERvsUC1 varchar(256), 
INFANT_HEALTH_ER_1_OTHER_ERvsUC2 varchar(256), 
INFANT_HEALTH_ER_1_OTHER_ERvsUC3 varchar(256), 
INFANT_HEALTH_ER_1_OTHER_REASON1 varchar(256), 
INFANT_HEALTH_ER_1_OTHER_REASON2 varchar(256), 
INFANT_HEALTH_ER_1_OTHER_REASON3 varchar(256), 
INFANT_HEALTH_ER_1_OTHERDT1 varchar(256), 
INFANT_HEALTH_ER_1_OTHERDT2 varchar(256), 
INFANT_HEALTH_ER_1_OTHERDT3 varchar(256), 
INFANT_HEALTH_ER_1_TYPE varchar(256), 
INFANT_HEALTH_HOSP_0_HAD_VISIT varchar(256), 
INFANT_HEALTH_HOSP_1_INGEST_DATE1 varchar(256), 
INFANT_HEALTH_HOSP_1_INGEST_DATE2 varchar(256), 
INFANT_HEALTH_HOSP_1_INGEST_DATE3 varchar(256), 
INFANT_HEALTH_HOSP_1_INJ_DATE1 varchar(256), 
INFANT_HEALTH_HOSP_1_INJ_DATE2 varchar(256), 
INFANT_HEALTH_HOSP_1_INJ_DATE3 varchar(256), 
INFANT_HEALTH_HOSP_1_TYPE varchar(256), 
INFANT_HEALTH_PROVIDER_0_APPT_DETAILSR2 varchar(256), 
INFANT_HEALTH_PROVIDER_0_APPT_R2 varchar(256), 
NURSE_MILEAGE_0_VIS varchar(256), 
NURSE_PERSONAL_0_NAME varchar(256)

)
as
begin

insert into @result
select 
  
    fr.survey_response_id     as SurveyResponseID,
    1                         as ElementsProcessed,
    sq.master_survey_id       as SurveyID,
    dk.date_actual            as SurveyDate,
    xp.source_auditdate       as AuditDate,
    dc.client_key             as CL_EN_GEN_ID,
    xp.site_id                as SiteID,
    xp.programid              as ProgramID, 
    dn.nurse_id               as IA_StaffID,
    dc.client_id              as ClientID,
    null                      as RespondentID,
	max(case sq.pseudonym when 'CLIENT_0_ID_AGENCY ' then  secured_value else null end) as CLIENT_0_ID_AGENCY,
	max(case sq.pseudonym when 'CLIENT_0_ID_NSO ' then  secured_value else null end) as CLIENT_0_ID_NSO,
	max(case sq.pseudonym when 'CLIENT_ATTENDEES_0_AT_VISIT ' then  secured_value else null end) as CLIENT_ATTENDEES_0_AT_VISIT,
	max(case sq.pseudonym when 'CLIENT_ATTENDEES_0_OTHER_VISIT_DESC ' then  secured_value else null end) as CLIENT_ATTENDEES_0_OTHER_VISIT_DESC,
	max(case sq.pseudonym when 'CLIENT_CHILD_DEVELOPMENT_CONCERN ' then  secured_value else null end) as CLIENT_CHILD_DEVELOPMENT_CONCERN,
	max(case sq.pseudonym when 'CLIENT_CHILD_INJURY_0_PREVENTION ' then  secured_value else null end) as CLIENT_CHILD_INJURY_0_PREVENTION,
	max(case sq.pseudonym when 'CLIENT_COMPLETE_0_VISIT ' then  secured_value else null end) as CLIENT_COMPLETE_0_VISIT,
	max(case sq.pseudonym when 'CLIENT_CONFLICT_0_CLIENT_VISIT ' then  secured_value else null end) as CLIENT_CONFLICT_0_CLIENT_VISIT,
	max(case sq.pseudonym when 'CLIENT_CONFLICT_1_GRNDMTHR_VISIT ' then  secured_value else null end) as CLIENT_CONFLICT_1_GRNDMTHR_VISIT,
	max(case sq.pseudonym when 'CLIENT_CONFLICT_1_PARTNER_VISIT ' then  secured_value else null end) as CLIENT_CONFLICT_1_PARTNER_VISIT,
	max(case sq.pseudonym when 'CLIENT_CONT_HLTH_INS ' then  secured_value else null end) as CLIENT_CONT_HLTH_INS,
	max(case sq.pseudonym when 'CLIENT_CONTENT_0_PERCENT_VISIT ' then  secured_value else null end) as CLIENT_CONTENT_0_PERCENT_VISIT,
	max(case sq.pseudonym when 'CLIENT_DOMAIN_0_ENVIRONHLTH_VISIT ' then  secured_value else null end) as CLIENT_DOMAIN_0_ENVIRONHLTH_VISIT,
	max(case sq.pseudonym when 'CLIENT_DOMAIN_0_FRNDFAM_VISIT ' then  secured_value else null end) as CLIENT_DOMAIN_0_FRNDFAM_VISIT,
	max(case sq.pseudonym when 'CLIENT_DOMAIN_0_LIFECOURSE_VISIT ' then  secured_value else null end) as CLIENT_DOMAIN_0_LIFECOURSE_VISIT,
	max(case sq.pseudonym when 'CLIENT_DOMAIN_0_MATERNAL_VISIT ' then  secured_value else null end) as CLIENT_DOMAIN_0_MATERNAL_VISIT,
	max(case sq.pseudonym when 'CLIENT_DOMAIN_0_PERSHLTH_VISIT ' then  secured_value else null end) as CLIENT_DOMAIN_0_PERSHLTH_VISIT,
	max(case sq.pseudonym when 'CLIENT_DOMAIN_0_TOTAL_VISIT ' then  secured_value else null end) as CLIENT_DOMAIN_0_TOTAL_VISIT,
	max(case sq.pseudonym when 'CLIENT_INVOLVE_0_CLIENT_VISIT ' then  secured_value else null end) as CLIENT_INVOLVE_0_CLIENT_VISIT,
	max(case sq.pseudonym when 'CLIENT_INVOLVE_1_GRNDMTHR_VISIT ' then  secured_value else null end) as CLIENT_INVOLVE_1_GRNDMTHR_VISIT,
	max(case sq.pseudonym when 'CLIENT_INVOLVE_1_PARTNER_VISIT ' then  secured_value else null end) as CLIENT_INVOLVE_1_PARTNER_VISIT,
	max(case sq.pseudonym when 'CLIENT_IPV_0_SAFETY_PLAN ' then  secured_value else null end) as CLIENT_IPV_0_SAFETY_PLAN,
	max(case sq.pseudonym when 'CLIENT_LOCATION_0_VISIT ' then  secured_value else null end) as CLIENT_LOCATION_0_VISIT,
	max(case sq.pseudonym when 'CLIENT_NO_REFERRAL ' then  secured_value else null end) as CLIENT_NO_REFERRAL,
	max(case sq.pseudonym when 'CLIENT_PERSONAL_0_DOB_INTAKE ' then  secured_value else null end) as CLIENT_PERSONAL_0_DOB_INTAKE,
	max(case sq.pseudonym when 'CLIENT_PERSONAL_0_NAME_FIRST ' then  secured_value else null end) as CLIENT_PERSONAL_0_NAME_FIRST,
	max(case sq.pseudonym when 'CLIENT_PERSONAL_0_NAME_LAST ' then  secured_value else null end) as CLIENT_PERSONAL_0_NAME_LAST,
	max(case sq.pseudonym when 'CLIENT_PLANNED_VISIT_SCH ' then  secured_value else null end) as CLIENT_PLANNED_VISIT_SCH,
	max(case sq.pseudonym when 'CLIENT_PRENATAL_VISITS ' then  secured_value else null end) as CLIENT_PRENATAL_VISITS,
	max(case sq.pseudonym when 'CLIENT_PRENATAL_VISITS_WEEKS ' then  secured_value else null end) as CLIENT_PRENATAL_VISITS_WEEKS,
	max(case sq.pseudonym when 'CLIENT_SCREENED_SRVCS ' then  secured_value else null end) as CLIENT_SCREENED_SRVCS,
	max(case sq.pseudonym when 'CLIENT_TIME_0_START_VISIT ' then  secured_value else null end) as CLIENT_TIME_0_START_VISIT,
	max(case sq.pseudonym when 'CLIENT_TIME_1_DURATION_VISIT ' then  secured_value else null end) as CLIENT_TIME_1_DURATION_VISIT,
	max(case sq.pseudonym when 'CLIENT_TIME_1_END_VISIT ' then  secured_value else null end) as CLIENT_TIME_1_END_VISIT,
	max(case sq.pseudonym when 'CLIENT_TIME_FROM_AMPM ' then  secured_value else null end) as CLIENT_TIME_FROM_AMPM,
	max(case sq.pseudonym when 'CLIENT_TIME_FROM_HR ' then  secured_value else null end) as CLIENT_TIME_FROM_HR,
	max(case sq.pseudonym when 'CLIENT_TIME_FROM_MIN ' then  secured_value else null end) as CLIENT_TIME_FROM_MIN,
	max(case sq.pseudonym when 'CLIENT_TIME_TO_AMPM ' then  secured_value else null end) as CLIENT_TIME_TO_AMPM,
	max(case sq.pseudonym when 'CLIENT_TIME_TO_HR ' then  secured_value else null end) as CLIENT_TIME_TO_HR,
	max(case sq.pseudonym when 'CLIENT_TIME_TO_MIN ' then  secured_value else null end) as CLIENT_TIME_TO_MIN,
	max(case sq.pseudonym when 'CLIENT_UNDERSTAND_0_CLIENT_VISIT ' then  secured_value else null end) as CLIENT_UNDERSTAND_0_CLIENT_VISIT,
	max(case sq.pseudonym when 'CLIENT_UNDERSTAND_1_GRNDMTHR_VISIT ' then  secured_value else null end) as CLIENT_UNDERSTAND_1_GRNDMTHR_VISIT,
	max(case sq.pseudonym when 'CLIENT_UNDERSTAND_1_PARTNER_VISIT ' then  secured_value else null end) as CLIENT_UNDERSTAND_1_PARTNER_VISIT,
	max(case sq.pseudonym when 'CLIENT_VISIT_SCHEDULE ' then  secured_value else null end) as CLIENT_VISIT_SCHEDULE,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_0_HAD_VISIT ' then  secured_value else null end) as INFANT_HEALTH_ER_0_HAD_VISIT,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INGEST_DATE1 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INGEST_DATE1,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INGEST_DATE2 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INGEST_DATE2,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INGEST_DATE3 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INGEST_DATE3,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INGEST_DAYS1 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INGEST_DAYS1,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INGEST_DAYS2 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INGEST_DAYS2,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INGEST_DAYS3 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INGEST_DAYS3,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INGEST_ERvsUC1 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INGEST_ERvsUC1,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INGEST_ERvsUC2 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INGEST_ERvsUC2,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INGEST_ERvsUC3 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INGEST_ERvsUC3,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INGEST_TREAT1 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INGEST_TREAT1,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INGEST_TREAT2 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INGEST_TREAT2,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INGEST_TREAT3 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INGEST_TREAT3,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INJ_DATE1 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INJ_DATE1,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INJ_DATE2 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INJ_DATE2,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INJ_DATE3 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INJ_DATE3,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INJ_DAYS1 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INJ_DAYS1,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INJ_DAYS2 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INJ_DAYS2,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INJ_DAYS3 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INJ_DAYS3,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INJ_ERvsUC1 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INJ_ERvsUC1,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INJ_ERvsUC2 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INJ_ERvsUC2,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INJ_ERvsUC3 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INJ_ERvsUC3,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INJ_TREAT1 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INJ_TREAT1,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INJ_TREAT2 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INJ_TREAT2,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_INJ_TREAT3 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_INJ_TREAT3,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_OTHER ' then  secured_value else null end) as INFANT_HEALTH_ER_1_OTHER,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_OTHER_ERvsUC1 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_OTHER_ERvsUC1,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_OTHER_ERvsUC2 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_OTHER_ERvsUC2,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_OTHER_ERvsUC3 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_OTHER_ERvsUC3,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_OTHER_REASON1 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_OTHER_REASON1,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_OTHER_REASON2 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_OTHER_REASON2,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_OTHER_REASON3 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_OTHER_REASON3,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_OTHERDT1 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_OTHERDT1,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_OTHERDT2 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_OTHERDT2,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_OTHERDT3 ' then  secured_value else null end) as INFANT_HEALTH_ER_1_OTHERDT3,
	max(case sq.pseudonym when 'INFANT_HEALTH_ER_1_TYPE ' then  secured_value else null end) as INFANT_HEALTH_ER_1_TYPE,
	max(case sq.pseudonym when 'INFANT_HEALTH_HOSP_0_HAD_VISIT ' then  secured_value else null end) as INFANT_HEALTH_HOSP_0_HAD_VISIT,
	max(case sq.pseudonym when 'INFANT_HEALTH_HOSP_1_INGEST_DATE1 ' then  secured_value else null end) as INFANT_HEALTH_HOSP_1_INGEST_DATE1,
	max(case sq.pseudonym when 'INFANT_HEALTH_HOSP_1_INGEST_DATE2 ' then  secured_value else null end) as INFANT_HEALTH_HOSP_1_INGEST_DATE2,
	max(case sq.pseudonym when 'INFANT_HEALTH_HOSP_1_INGEST_DATE3 ' then  secured_value else null end) as INFANT_HEALTH_HOSP_1_INGEST_DATE3,
	max(case sq.pseudonym when 'INFANT_HEALTH_HOSP_1_INJ_DATE1 ' then  secured_value else null end) as INFANT_HEALTH_HOSP_1_INJ_DATE1,
	max(case sq.pseudonym when 'INFANT_HEALTH_HOSP_1_INJ_DATE2 ' then  secured_value else null end) as INFANT_HEALTH_HOSP_1_INJ_DATE2,
	max(case sq.pseudonym when 'INFANT_HEALTH_HOSP_1_INJ_DATE3 ' then  secured_value else null end) as INFANT_HEALTH_HOSP_1_INJ_DATE3,
	max(case sq.pseudonym when 'INFANT_HEALTH_HOSP_1_TYPE ' then  secured_value else null end) as INFANT_HEALTH_HOSP_1_TYPE,
	max(case sq.pseudonym when 'INFANT_HEALTH_PROVIDER_0_APPT_DETAILSR2 ' then  secured_value else null end) as INFANT_HEALTH_PROVIDER_0_APPT_DETAILSR2,
	max(case sq.pseudonym when 'INFANT_HEALTH_PROVIDER_0_APPT_R2 ' then  secured_value else null end) as INFANT_HEALTH_PROVIDER_0_APPT_R2,
	max(case sq.pseudonym when 'NURSE_MILEAGE_0_VIS ' then  secured_value else null end) as NURSE_MILEAGE_0_VIS,
	max(case sq.pseudonym when 'NURSE_PERSONAL_0_NAME ' then  secured_value else null end) as NURSE_PERSONAL_0_NAME


   from survey_views.f_secure_fact_survey_response('Home Visit Encounter',@p_requested_security_policy,@p_export_profile_id) fr  
   
    inner join dim_survey_question      sq on fr.survey_question_key          = sq.survey_question_key
    inner join  dim_date                dk on fr.survey_date_key              = dk.date_key
    inner join  xref_organization       xo on fr.organization_key             = xo.organization_key
    inner join  xref_program            xp on xo.programid                    = xp.programid
    inner join  dim_client              dc on dc.client_key                   = fr.client_key
    left  join  dim_nurse               dn on dn.nurse_key                    = fr.nurse_key -- all fsr have nurse id's?
    
  group by 
  
    fr.survey_response_id,
    sq.master_survey_id, 
    dk.date_actual,     
    xp.source_auditdate,
    dc.client_key,
    xp.site_id,  
    xp.programid,
    dn.nurse_id,
    dc.client_id;

return;

end



GO
