USE [dwh_test]
GO
/****** Object:  StoredProcedure [survey_views].[usp_etl_select_Edinburgh]    Script Date: 11/27/2017 1:27:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [survey_views].[usp_etl_select_Edinburgh]  
(
 @p_export_profile_id int,
  @p_entity_filter char(5)=null,
  @p_etl_session_token varchar(50)=null
)
as
begin


set nocount on;
declare		@_rec_count int;
declare		@_my_name varchar(256);
set			@_my_name = OBJECT_NAME(@@PROCID);


declare  @_hash_profile   char(10);


set   @_hash_profile   = (select top 1 isnull('SA',hash_policy) from survey_views.f_get_survey_etl_work() where ExportProfileID=@p_export_profile_id);

begin transaction


	select 

	vbase. SurveyResponseID,
	vbase.ElementsProcessed,
	vbase.SurveyID,
	vbase.SurveyDate,
	vbase.AuditDate,
	vbase.CL_EN_GEN_ID,
	vbase.SiteID,
	vbase.ProgramID,
	vbase.IA_StaffID,
	vbase.ClientID,
	vbase.RespondentID,
	vbase.CLIENT_PERSONAL_0_NAME_FIRST,
	vbase.CLIENT_PERSONAL_0_NAME_LAST,
	vbase.CLIENT_PERSONAL_0_DOB_INTAKE,
	vbase.CLIENT_EPDS_1_ABLE_TO_LAUGH,
	vbase.CLIENT_EPDS_1_ENJOY_THINGS,
	vbase.CLIENT_EPDS_1_BLAME_SELF,
	vbase.CLIENT_EPDS_1_ANXIOUS_WORRIED,
	vbase.CLIENT_EPDS_1_SCARED_PANICKY,
	vbase.CLIENT_EPDS_1_THINGS_GETTING_ON_TOP,
	vbase.CLIENT_EPDS_1_DIFFICULTY_SLEEPING,
	vbase.CLIENT_EPDS_1_SAD_MISERABLE,
	vbase.CLIENT_EPDS_1_BEEN_CRYING,
	vbase.CLIENT_EPDS_1_HARMING_SELF,
	vbase.CLIENT_0_ID_NSO,
	vbase.NURSE_PERSONAL_0_NAME,
	vbase.CLIENT_0_ID_AGENCY,
	--vbase.DW_AuditDate,
	--vbase.DataSource,
	--vbase.LA_CTY_OQ10_EDPS,
	--vbase.LA_CTY_PHQ9_SCORE_EDPS,
	--vbase.LA_CTY_STRESS_INDEX_EDPS,
	vbase.CLIENT_EPS_TOTAL_SCORE
	--vbase.Master_SurveyID

	from survey_views.f_select_Edinburgh_Postnatal_Depression_Scale(@_hash_profile,@p_export_profile_id) vbase

		if @p_etl_session_token is not null
		begin

			declare @_completed datetime=getdate();
		
			insert into survey_views.survey_export_sessions (session_token, extract_procedure, number_of_records, time_completed, survey_name, file_name, export_profile_id, profile_name, site_id, agency_name)
			select 
			@p_etl_session_token,
			@_my_name,
			count(responses.SurveyResponseID) as [Count],
			@_completed,
			'Edinburgh_Survey',
			'Edinburgh.txt',
			ep.ExportProfileID,
			ep.ProfileName,
			ee.SiteID,
			ee.AgencyName

			from survey_views.ExportEntities ee 
			 inner join survey_views.f_select_Edinburgh_Postnatal_Depression_Scale(@_hash_profile,@p_export_profile_id) responses 
														on responses.SiteID=ee.SiteID
			 inner join survey_views.ExportProfile ep	on ee.ExportProfileID=ep.ExportProfileID
			where
				ee.ExportProfileID=@p_export_profile_id
			group by
			ep.ExportProfileID,
			ep.ProfileName,
			ee.AgencyName,
			ee.SiteID;


		end


commit transaction;

 
end;


GO
